<div>
    <span class="my_text1" style="text-align:center;font-size:17px">Տեղի ունեցավ սխալ</span>
    <br />
    <br />
    <br />
    <div>
        <div class="col-sm-5"></div>
        <button onclick="CloseBPDialog('errorsession');" class=" btn btn-sm btn-success"><span class="glyphicon glyphicon-ok"></span>&nbsp;OK</button>
    </div>
</div>

