@{ Layout = null; }
<form style="width:440px" ng-controller="CardRenewOrderCtrl" ng-init="getCardRenewOrder(selectedOrderId)">
    <loading-control scopevariable="order.Id"></loading-control>
    <div ng-show="order" ng-if="order.Quality == 3" class="menu-bar dialog-menu light-green " style="margin-left:-5px;margin-top:0">
        <ul id="menu" class="dialog-menu">
            <li class="root-menu-item-5"
                ng-controller="PopUpCtrl" ng-click="params={removableorder:order};openWindow('/RemovalOrder/RemovalOrder','Հեռացման հայտ','removalOrder',callbackgetPaymentOrder)">
                <span id="h-menu-item-5"><img id="h-menu-icon-5" class="h-menu-icon cancelButton" alt="">Հեռացման հայտ</span>
            </li>
        </ul>
    </div>
    <div class="product-details bhoechie-tab-content" style="width: 100%;padding-left:10px">
        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Հայտի համար</div>
            <div class="product-detail-cell product-detail-value">{{order.Id}}</div>
        </div>
        @* Վերաթողարկման ա/թ վերաթողարկում նույն տեսակի քարտով*@
        <div class="product-detail-row" ng-if="!order.RenewWithCardNewType">
            <div class="product-detail-cell product-detail-lable">Վերաթողարկման ա/թ</div>
            <div class="product-detail-cell product-detail-value">{{order.OperationDateString}}</div>
        </div>
        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Քարտի համար</div>
            <div class="product-detail-cell product-detail-value">{{order.Card.CardNumber}}</div>
        </div>

        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Քարտի տեսակ և արժույթ</div>
            <div class="product-detail-cell product-detail-value">{{order.Card.CardType}} {{order.Currency}}</div>
        </div>
        @* Նոր քարտի համար, վերաթողարկում այլ տեսակի քարտով*@
        <div class="product-detail-row" ng-if="order.RenewWithCardNewType">
            <div class="product-detail-cell product-detail-lable">Նոր քարտի համար</div>
            <div class="product-detail-cell product-detail-value">{{order.CardNewNumber}}</div>
        </div>
        @* Նոր քարտի տեսակ և արժույթ  վերաթողարկում այլ տեսակի քարտով *@
        <div class="product-detail-row" ng-if="order.RenewWithCardNewType">
            <div class="product-detail-cell product-detail-lable">Նոր քարտի տեսակ և արժույթ </div>
            <div class="product-detail-cell product-detail-value">{{order.CardNewTypeAndCurrency}}</div>
        </div>

        @* Վարկային գիծ  եթե   վերաթողարկվող քարտը ունի Վարկային գիծ  *@

        <div class="product-detail-row" ng-if="order.WithCreditLineClosing !== null">
            <div class="product-detail-cell product-detail-lable">Վարկային գիծ </div>
            <div class="product-detail-cell product-detail-value" ng-if="!order.WithCreditLineClosing">Երկարաձգում</div>
            <div class="product-detail-cell product-detail-value" ng-if="order.WithCreditLineClosing">Դադարեցում</div>
        </div>
        @* PIN-ի ստացման եղանակ  վերաթողարկում այլ տեսակի քարտով *@
        <div class="product-detail-row" ng-if="order.RenewWithCardNewType">
            <div class="product-detail-cell product-detail-lable">PIN-ի ստացման եղանակ</div>
            <div class="product-detail-cell product-detail-value">{{(order.CardPINCodeReceivingType==1)?"PIN կոդի ծրարով":(order.CardPINCodeReceivingType==2)? "SMS-ի միջոցով":""}}</div>
        </div>

        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Մուտքագրման ա/թ</div>
            <div class="product-detail-cell product-detail-value">{{order.RegistrationDateString}}</div>
        </div>

        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Գործառնական օր</div>
            <div class="product-detail-cell product-detail-value">{{order.OperationDateString}}</div>
        </div>

        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Նկարագրություն</div>
            <div class="product-detail-cell product-detail-value">{{order.Description}} {{(order.RenewWithCardNewType) ? "այլ տեսակով":"նույն տեսակով"}}</div>
        </div>

        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Կարգավիճակ</div>
            <div ng-if="order.Quality==30" class="product-detail-cell product-detail-value greenStyle">{{order.QualityDescription}}</div>
            <div ng-if="order.Quality==31" class="product-detail-cell product-detail-value redStyle">{{order.QualityDescription}}</div>
            <div ng-if="order.Quality!=31 && order.Quality!=30" class="product-detail-cell product-detail-value">{{order.QualityDescription}}</div>
        </div>
    </div>
</form>
