@{
    Layout = null;
}

<form style="width:800px" ng-controller="BondOrderCtrl" data-ng-init="getBondOrder(selectedOrderId)">
    <loading-control style="margin-left:20em" scopevariable="orderDetails"></loading-control>
    <div ng-show="orderDetails" class="product-details bhoechie-tab-content" style="min-width:800px;padding-left:10px">
        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Հայտի համար</div>
            <div class="product-detail-cell product-detail-value">{{orderDetails.Id}}</div>
        </div>

        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Մուտքագրման ա/թ</div>
            <div class="product-detail-cell product-detail-value">{{orderDetails.RegistrationDateString}}</div>
        </div>

        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Հայտի համար</div>
            <div class="product-detail-cell product-detail-value">{{orderDetails.Bond.DocumentNumber}}</div>
        </div>

        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Գործառնական օր</div>
            <div class="product-detail-cell product-detail-value">{{orderDetails.OperationDateString}}</div>
        </div>
        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Արժեթղթի տեսակ</div>
            <div class="product-detail-cell product-detail-value">{{orderDetails.Bond.ShareType == 1 ? 'Պարտատոմս':'Բաժնետոմս'}}</div>
        </div>
        <div class="product-detail-row" ng-if="orderDetails.Bond.ShareType == 2 && orderDetails.Bond.SecuringMoney == true">
            <div class="product-detail-cell product-detail-lable">Ընթացիկ հաշիվ</div>
            <div class="product-detail-cell product-detail-value">{{orderDetails.Bond.AccountForBond.AccountNumber}}</div>
        </div>

        <div class="product-detail-row" ng-if="orderDetails.Bond.ShareType == 1">
            <div class="product-detail-cell product-detail-lable">Ընթացիկ հաշիվ</div>
            <div class="product-detail-cell product-detail-value">{{orderDetails.Bond.AccountForCoupon.AccountNumber}}</div>
        </div>

        <div class="product-detail-row" ng-if="orderDetails.Currency != 'AMD' && orderDetails.Bond.ShareType == 1">
            <div class="product-detail-cell product-detail-lable">Ընթացիկ հաշիվ արտարժույթային</div>
            <div class="product-detail-cell product-detail-value">{{orderDetails.Bond.AccountForBond.AccountNumber}}</div>
        </div>
        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">ԱՄՏԾ</div>
            <div class="product-detail-cell product-detail-value">{{orderDetails.Bond.ISIN}}</div>
        </div>
        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Պարտատոմսի քանակ</div>
            <div class="product-detail-cell product-detail-value">{{orderDetails.Bond.BondCount}}</div>
        </div>
        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Անվանական արժեք</div>
            <div class="product-detail-cell product-detail-value">{{orderDetails.Bond.UnitPrice}}</div>
        </div>
        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Արժեթղթերի հաշվի առկայություն</div>
            <div class="product-detail-cell product-detail-value">{{orderDetails.Bond.ShareType == 2 && orderDetails.Bond.CustomerDepositaryAccount.AccountNumber == 0 ? 'Առկա չէ' : orderDetails.Bond.DepositaryAccountExistenceTypeDescription}}</div>
        </div>
        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Արժեթղթերի հաշիվ</div>
            <div class="product-detail-cell product-detail-value">{{orderDetails.Bond.CustomerDepositaryAccount.AccountNumber}}</div>
        </div>
        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Արժեթղթերի հաշվի նկարագրություն</div>
            <div class="product-detail-cell product-detail-value">{{orderDetails.Bond.CustomerDepositaryAccount.Description}}</div>
        </div>

        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Կարգավիճակ</div>
            <div ng-if="orderDetails.Quality==30" class="product-detail-cell product-detail-value greenStyle">{{orderDetails.QualityDescription}}</div>
            <div ng-if="orderDetails.Quality==31" class="product-detail-cell product-detail-value redStyle">{{orderDetails.QualityDescription}}</div>
            <div ng-if="orderDetails.Quality!=31 && orderDetails.Quality!=30" class="product-detail-cell product-detail-value">{{orderDetails.QualityDescription}}</div>
        </div>
    </div>
    <div style="clear:both;color:#6F6A6A;font-weight:bold;margin-left:10px">Կատարվել է {{selectedSourceDescription}}-ի միջոցով</div>
</form>
