@{
    Layout = null;
}
<style type="text/css">
    #BondOrderForm .ui-widget input {
        font-family: 'webly_semibold';
    }
</style>


<div id="bondOrderSaveLoad" class="overlay hidden">
    <img class="loader-image non-selectable" src="../../Content/Images/invisible.png" />
</div>
<form ng-controller="BondOrderCtrl" name="BondOrderForm" id="BondOrderForm" role="form" style="min-width:600px;min-height:570px;" novalidate class="form-horizontal" data-ng-init="initBondOrder()" labels-required>

    <div id="BondOrder_menu" class="menu-bar dialog-menu light-green">
        <ul id="menu" class="dialog-menu">
            <li class="root-menu-item-4 " ng-click="BondOrderForm.$setSubmitted();BondOrderForm.$valid  && saveBondOrder();">
                <span id="h-menu-item-4"><img id="h-menu-icon-4" class="submitButton h-menu-icon">Պահպանել</span>
            </li>
            <li class="root-menu-item-6" ng-if="bondOrder.Bond.DepositaryAccountExistenceType != 1">
                <span id="h-menu-item-6" onclick="return false;">
                    <img id="h-menu-icon-6" class="h-menu-icon printButton">Փաստաթղթեր
                    <img id="arrow-down" class="arrowButton">
                </span>
                <ul >
                    <li id="v-menuItem-6.1" ng-click="getBondContract(bondOrder.Bond.AccountForCoupon.AccountNumber,bondOrder.Bond.AccountForBond.AccountNumber,bondOrder.RegistrationDate)">
                        <span>Արժեթղթերի պահառության պայմանագիր</span>
                    </li>
                    <li id="v-menuItem-6.1" ng-click="printBondCustomerCard(bondOrder.Bond.AccountForCoupon.AccountNumber,bondOrder.Bond.AccountForBond.AccountNumber)">
                        <span>Հաշվետիրոջ քարտ</span>
                    </li>

                </ul>
            </li>
            <li class="root-menu-item-5 " onclick="CloseBPDialog('newbondorder')">
                <span id="h-menu-item-5"><img id="h-menu-icon-5" class="h-menu-icon cancelButton">Հրաժարվել</span>
            </li>



        
        </ul>
        <div id="right-menu" style="display:none;">
        </div>
    </div>

    <div class="col-sm-7" style="padding:0;padding-left:5px;">

        <div class="col-sm-12" style="max-width:650px">

            <div style="max-width:630px">
                <errors></errors>
            </div>


            <div class="form-group">
                <label class="tab_title col-sm-5 " for="RegistrationDate">Մուտքագրման ա/թ</label>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="multiple_columns col-sm-12">
                            <input disabled="disabled" type="date" class="form-control tab_title unstyled" style="text-align: left;" id="RegistrationDate" name="RegistrationDate" ng-model="bondOrder.RegistrationDate" required>
                        </div>
                    </div>

                    <div class="row">
                        <ng-messages ng-if="BondOrderForm.$submitted || BondOrderForm.RegistrationDate.$dirty"
                                     for="BondOrderForm.RegistrationDate.$error">
                            <ng-message when="required" class="errors">
                                Մուտքագրման ա/թը մուտքագրված չէ
                            </ng-message>

                        </ng-messages>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <label class="tab_title col-sm-5 " for="FilialCode">Մասնաճյուղ</label>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="multiple_columns col-sm-12">
                            <input disabled="disabled" class="form-control tab_title unstyled" style="text-align: left;" id="FilialCode" name="FilialCode" ng-model="bondOrder.Bond.FilialCode" required>
                        </div>
                    </div>

                    <div class="row">
                        <ng-messages ng-if="BondOrderForm.$submitted || BondOrderForm.FilialCode.$dirty"
                                     for="BondOrderForm.FilialCode.$error">
                            <ng-message when="required" class="errors">
                                Մասնաճյուղը մուտքագրված չէ
                            </ng-message>

                        </ng-messages>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="tab_title col-sm-5 " for="DocumentNumber">Հայտի համար</label>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="multiple_columns col-sm-12">
                            <input disabled="disabled" class="form-control tab_title unstyled" style="text-align: left;" id="DocumentNumber" name="DocumentNumber" ng-model="bondOrder.Bond.DocumentNumber" required>
                        </div>
                    </div>

                    <div class="row">
                        <ng-messages ng-if="BondOrderForm.$submitted || BondOrderForm.DocumentNumber.$dirty"
                                     for="BondOrderForm.DocumentNumber.$error">
                            <ng-message when="required" class="errors">
                                Հայտի համարը մուտքագրված չէ
                            </ng-message>

                        </ng-messages>
                    </div>
                </div>
            </div>



            <div class="panel panel-success" style="margin-bottom: 10px;">
                <div class="panel-heading">Պարտատոմսերի տեղեկատվություն</div>
                <div class="panel-body" style="padding-bottom: 10px; padding-top: 10px;" data-ng-init="getBondIssues()">
                    <div class="form-group">
                        <label class="tab_title col-sm-5 " for="ISIN">Պարտատոմսի ԱՄՏԾ</label>
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="multiple_columns col-sm-12">
                                    <loading-control scopevariable="bondIssuesList"></loading-control>
                                    <select ng-model="bondOrder.Bond.BondIssueId" name="BondIssueId" id="BondIssueId" ng-change="bondIssueChange()" class="form-control" style="text-align: left;"
                                            data-ng-options="bondIssueItem.ID as bondIssueItem.ISIN + ' ' + bondIssueItem.Currency for bondIssueItem in bondIssuesList" required>
                                        <option value="" hidden>Ընտրեք...</option>
                                    </select>


                                </div>
                                <span ng-if="bondIssue != undefined" style="left:1pt; color: #337AB7; cursor:pointer;vertical-align:central;" ng-controller="PopUpCtrl" ng-click="params={ProductId:bondIssue.ID , hideButton: true};openWindow('/BondIssue/BondIssueDetails','Մանրամասն դիտարկում ','oneBondIssueDetails')" class="glyphicon glyphicon-info-sign" />
                            </div>


                            <div class="row">
                                <ng-messages ng-if="BondOrderForm.$submitted || BondOrderForm.BondIssueId.$dirty"
                                             for="BondOrderForm.BondIssueId.$error">
                                    <ng-message when="required" class="errors">
                                        ԱՄՏԾ-ն մուտքագրված չէ
                                    </ng-message>

                                </ng-messages>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="tab_title col-sm-5 " for="NonDistributedBondCount">Չտեղաբաշխված պարտատոմսերի քանակ<span class='redStyle'>*</span></label>
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="multiple_columns col-sm-12">
                                    <input disabled="disabled" class="form-control tab_title unstyled" style="text-align: left;" id="NonDistributedBondCount" name="NonDistributedBondCount"
                                           ng-model="NonDistributedBondCount" onkeypress='return event.charCode >= 48 && event.charCode <= 57'  required />

                                </div>
                            </div>
                            <div class="row">
                                <ng-messages ng-if="BondOrderForm.$submitted || BondOrderForm.NonDistributedBondCount.$dirty"
                                             for="BondOrderForm.NonDistributedBondCount.$error">
                                    <ng-message when="required" class="errors">
                                        Չտեղաբաշխված պարտատոմսերի քանակը մուտքագրված չէ
                                    </ng-message>

                                </ng-messages>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="tab_title col-sm-5 " for="BondCount">Ձեռք բերվող պարտատոմսերի քանակ</label>
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="multiple_columns col-sm-12">
                                    <input class="form-control tab_title unstyled" style="text-align: left;" ng-blur="calculateTotalPrice()"
                                           id="NominalPrice" name="BondCount" ng-model="bondOrder.Bond.BondCount" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                                           maxlength="10" required />
                                </div>
                            </div>

                            <div class="row">
                                <ng-messages ng-if="BondOrderForm.$submitted || BondOrderForm.BondCount.$dirty"
                                             for="BondOrderForm.BondCount.$error">
                                    <ng-message when="required" class="errors">
                                        Ձեռք բերվող պարտատոմսերի քանակը մուտքագրված չէ
                                    </ng-message>
                                    <ng-message when="fcsa-number" class="errors">
                                        Ձեռք բերվող պարտատոմսերի քանակը սխալ է լրացված
                                    </ng-message>
                                </ng-messages>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="tab_title col-sm-5 " for="UnitPrice">Մեկ պարտատոմսի ձեռքբերման գին</label>
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="multiple_columns col-sm-12">
                                    <input type="text" class="form-control tab_title unstyled" fcsa-number="{ maxDecimals: 4 }" disabled="disabled" style="text-align: left;" id="UnitPrice" name="UnitPrice" ng-model="bondOrder.Bond.UnitPrice" required />
                                </div>
                            </div>

                            <div class="row">
                                <ng-messages ng-if="BondOrderForm.$submitted || BondOrderForm.UnitPrice.$dirty"
                                             for="BondOrderForm.UnitPrice.$error">
                                    <ng-message when="required" class="errors">
                                        Մեկ պարտատոմսի ձեռքբերման գինը մուտքագրված չէ
                                    </ng-message>
                                    <ng-message when="fcsa-number" class="errors">
                                        Մեկ պարտատոմսի ձեռքբերման գինը  սխալ է լրացված
                                    </ng-message>

                                </ng-messages>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="tab_title col-sm-5 " for="TotalPrice">Ձեռքբերվող պարտատոմսերի ընդհանուր գումար</label>
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="multiple_columns col-sm-12">
                                    <input type="text" class="form-control tab_title unstyled" fcsa-number="{ maxDecimals: 10 }" disabled="disabled" style="text-align: left;" id="TotalPrice" name="TotalPrice" ng-model="bondOrder.Bond.TotalPrice" required />
                                </div>
                            </div>

                            <div class="row">
                                <ng-messages ng-if="BondOrderForm.$submitted || BondOrderForm.TotalPrice.$dirty"
                                             for="BondOrderForm.UnitPrice.$error">
                                    <ng-message when="required" class="errors">
                                        Ձեռքբերվող պարտատոմսերի ընդհանուր գումարը մուտքագրված չէ
                                    </ng-message>
                                    <ng-message when="fcsa-number" class="errors">
                                        Ձեռքբերվող պարտատոմսերի ընդհանուր գումարը սխալ է լրացված
                                    </ng-message>
                                </ng-messages>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="panel panel-success" style="margin-bottom: 10px;">
                <div class="panel-heading">Հաշիվների տեղեկատվություն</div>
                <div class="panel-body" style="padding-bottom: 10px; padding-top: 10px;">


                    <paymentaccount accounts="couponRepaymentAccounts"
                                    accountselectname="couponRepaymentAccount"
                                    account="bondOrder.Bond.AccountForCoupon"
                                    check="0"
                                    nameforaccount="'Ընթացիկ հաշիվ AMD'"
                                    nameforcurrency=""
                                    showloading="false"
                                    selectedcurrency="AMD"
                                    formname="BondOrderForm">
                    </paymentaccount>

                    <div class="row">
                        <div class="col-sm-5"></div>
                        <ng-messages ng-if="BondOrderForm.$submitted || BondOrderForm.AccountForCoupon.$dirty"
                                     for="BondOrderForm.couponRepaymentAccount.$error">
                            <ng-message when="required" class="errors">
                                Ընթացիկ հաշիվ AMD - ն  մուտքագրված չէ
                            </ng-message>

                        </ng-messages>
                    </div>



                    <paymentaccount ng-if="bondOrder.Currency != undefined && bondOrder.Currency != 'AMD'" accounts="bondRepaymentAccounts"
                                    accountselectname="bondRepaymentAccount"
                                    account="bondOrder.Bond.AccountForBond"
                                    check="0"
                                    nameforaccount="'Ընթացիկ հաշիվ (արտարժութային)'"
                                    nameforcurrency=""
                                    showloading="false"
                                    formname="BondOrderForm">
                    </paymentaccount>

                    <div class="row">
                        <div class="col-sm-5"></div>
                        <ng-messages ng-if="BondOrderForm.$submitted || BondOrderForm.AccountForBond.$dirty"
                                     for="BondOrderForm.bondRepaymentAccount.$error">
                            <ng-message when="required" class="errors">
                                Ընթացիկ հաշիվ (արտարժութային) - ն  մուտքագրված չէ
                            </ng-message>

                        </ng-messages>
                    </div>


                </div>
            </div>

            <div class="panel panel-success" style="margin-bottom: 10px; ">
                <div class="panel-heading">Արժեթղթերի հաշվի տեղեկատվություն</div>
                <div class="panel-body" style="padding-bottom: 10px; padding-top: 10px;">

                    <div class="form-group" ng-if="bondOrder.Bond.DepositaryAccountExistenceType != 1">
                        <label class="tab_title col-sm-5 ">Արժեթղթերի հաշվի առկայություն<span class='redStyle'>*</span></label>

                        <div class="col-sm-6">
                            <div class="row">
                                <div class="multiple_columns col-sm-12">
                                    <input type="radio" value="2" class="checkbox-inline" style="width:initial"
                                           name="DepositaryAccountExistenceType" ng-model="bondOrder.Bond.DepositaryAccountExistenceType" required/>

                                    <label for="DepositaryAccountExistenceType" style="font-size:12px" class="tab_title">Առկա է</label>


                                    <br />
                                    <input type="radio" value="3" class="checkbox-inline" style="width:initial"
                                         name="DepositaryAccountExistenceType" ng-model="bondOrder.Bond.DepositaryAccountExistenceType" required/>
                                    <label style="font-size:12px" for="ttt" class="tab_title"> Առկա չէ</label>


                                </div>
                            </div>

                            <div class="row">
                                    <ng-messages ng-if="BondOrderForm.$submitted || BondOrderForm.DepositaryAccountExistenceType.$dirty"
                                                 for="BondOrderForm.DepositaryAccountExistenceType.$error">
                                        <ng-message when="required" class="errors">
                                            Արժեթղթերի հաշվի առկայությունը մուտքագրված չէ
                                        </ng-message>

                                    </ng-messages>
                                </div>
                        </div>
                    </div>




                    <div class="form-group" data-ng-init="getDepositoryAccountOperators();" ng-if="bondOrder.Bond.DepositaryAccountExistenceType != undefined && bondOrder.Bond.DepositaryAccountExistenceType != 3">
                        <label class="tab_title col-sm-5 " for="DepositaryAccountDescription">Արժեթղթերի հաշիվը  հաշվառող անձի անվանում<span class='redStyle'>*</span></label>

                        <div class="col-sm-6">
                            <div class="row">
                                <div class="multiple_columns col-sm-12">

                               
                                    <loading-control scopevariable="banks"></loading-control>

                                    <select ng-if="bondOrder.Bond.DepositaryAccountExistenceType == 2" chosen data-ng-model="bondOrder.Bond.CustomerDepositaryAccount.BankCode" 
                                            name="DepositaryAccountDescription" id="DepositaryAccountDescriptionNew" class="form-control" required 
                                            style="max-width:100%;" data-ng-options="k as v for (k,v) in depositoryAccountOperators" data-placeholder="Ընտրեք...">
                                        <option value="" hidden>Ընտրեք...</option>
                                    </select>

                                    <input ng-if="bondOrder.Bond.DepositaryAccountExistenceType == 1" class="form-control tab_title unstyled" style="text-align: left;" ng-disabled="bondOrder.Bond.DepositaryAccountExistenceType == 1"
                                           id="DepositaryAccountDescription" name="DepositaryAccountDescription" ng-model="bondOrder.Bond.CustomerDepositaryAccount.Description" required />

                                </div>
                            </div>

                            <div class="row">
                                <ng-messages ng-if="BondOrderForm.$submitted || BondOrderForm.DepositaryAccountDescription.$dirty"
                                             for="BondOrderForm.CustomerDepositaryAccountDescription.$error">
                                    <ng-message when="required" class="errors">
                                        Արժեթղթերի հաշիվը  հաշվառող անձի անվանումը մուտքագրված չէ
                                    </ng-message>

                                </ng-messages>
                            </div>
                        </div>
                    </div>


                    <div class="form-group" ng-if="bondOrder.Bond.DepositaryAccountExistenceType != undefined && bondOrder.Bond.DepositaryAccountExistenceType != 3">
                        <label class="tab_title col-sm-5 " for="DepositaryAccount">Արժեթղթերի հաշիվ<span class='redStyle'>*</span></label>

                        <div class="col-sm-6">
                            <div class="row">
                                <div class="multiple_columns col-sm-12">
                                    <input class="form-control tab_title unstyled" style="text-align: left;" ng-disabled="bondOrder.Bond.DepositaryAccountExistenceType == 1"
                                           id="DepositaryAccount" name="DepositaryAccount" ng-model="bondOrder.Bond.CustomerDepositaryAccount.AccountNumber" type="number" required />

                                </div>
                            </div>

                            <div class="row">
                                <ng-messages ng-if="BondOrderForm.$submitted || BondOrderForm.DepositaryAccount.$dirty"
                                             for="BondOrderForm.DepositaryAccount.$error">
                                    <ng-message when="required" class="errors">
                                        Արժեթղթերի հաշիվը մուտքագրված չէ
                                    </ng-message>

                                </ng-messages>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-success" style="margin-bottom: 10px; " ng-if="bondOrder.Bond.DepositaryAccountExistenceType != 1">
                <div class="panel-heading">
                    Փաստաթղթերի կցում

                </div>
                <div class="panel-body" style="padding-bottom: 10px; padding-top: 10px;">
                    <div class="product-container-header">

                        &nbsp;&nbsp;&nbsp;
                        <i class="add-new-product " data-toggle="tooltip" data-trigger="hover" data-placement="bottom" title="Նոր փաստաթուղթ"
                           ng-click="newFile();"></i>

                    </div>
                    <div class="form-group">
                        <div ng-repeat="counter in attachmentsCounter">
                            <div class="col-sm-4">

                                <div>
                                    <label class="tab_title col-sm-5">Ֆայլ</label>
                                    <div flow-init="{singleFile:true}"
                                         flow-files-submitted="$flow.upload()"
                                         flow-files-added="convertfile($files, $event, $flow, $index)"
                                         flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1,pdf:1}[$file.getExtension()]"
                                         flow-file-success="$file.msg = $message"
                                         flow-name="obj.flow">
                                        <div class="thumbnail ng-hide" ng-show="!$flow.files.length" style="margin-bottom:5px">
                                            <img src="~/Content/Images/blog-no-image.png" style="max-width:150px;max-height:150px;min-height:150px;min-width:150px;" />
                                        </div>
                                        <div class="thumbnail" ng-show="$flow.files.length" style="margin-bottom:5px">
                                            <img flow-img="$flow.files[0]" style="max-width:150px;max-height:150px;min-height:150px;min-width:150px;" ng-if="$flow.files[0].getExtension() != 'pdf' " />
                                            <img src="~/Content/Images/pdf.png" style="max-width:150px;max-height:150px;" ng-if="$flow.files[0].getExtension() == 'pdf' " />
                                            <div class="additionalInfoLabel">
                                                Ֆայլի անվանում` <b>{{$flow.files[0].name}}</b>
                                            </div>

                                            <div ng-if="$flow.files[0].size > 307200" style="color:red;">
                                                <span class="glyphicon glyphicon-warning-sign "> Կցված ֆայլի չափը մեծ է 300kb-ից:</span>
                                            </div>
                                        </div>
                                        <div>
                                            <span class="btn btn-sm btn-primary ng-hide" ng-show="!$flow.files.length" flow-btn="" style="min-width:110.78px;"><span class="glyphicon glyphicon-upload"></span>&nbsp;Կցել ֆայլ<input type="file" style="visibility: hidden; position: absolute;"></span>
                                            <span class="btn btn-sm btn-info" ng-show="$flow.files.length" flow-btn=""><span class="glyphicon glyphicon-refresh"></span>&nbsp;Փոխել ֆայլը<input type="file" style="visibility: hidden; position: absolute;"></span>
                                            <span class="btn btn-sm btn-danger" ng-show="$flow.files.length" ng-click="$flow.cancel();removeFile($index);" style="min-width:110.78px;">
                                                <span class="glyphicon glyphicon-trash"></span>&nbsp;
                                                Հեռացնել
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</form>













