<script type="text/javascript">
    $("#phoneBankingContractContent").mCustomScrollbar({
        theme: "rounded-dark",
        scrollButtons: {
            scrollAmount: 200,
            enable: true
        },
        mouseWheel: {
            scrollAmount: 200
        }
    });
</script>
<div id="PhoneBankingContract" ng-controller="PhoneBankingContractCtrl" data-ng-init="getPhoneBankingContract();">
    <div class="product-container" id="AllPhoneBankingContract" ng-show="hideBlank!='true'  || phoneBankingContract">
        <div class="header-title">
            <a ui-sref="phonebankingcontractdetails({ phoneBankingContract : phoneBankingContract })" style="color:black;">Հեռախոսային բանկինգ</a>
            <div class="product-collapse tipB fa fa-chevron-down" data-original-title="Թաքցնել" onclick="CollapseProductContainer(this)"></div>
        </div>
        <div class="product-collapsable-section">
            <div class="product-container-header">
                <div ng-if="!phoneBankingContract">
                    <i class="add-new-product tipB" ng-controller="PopUpCtrl" ng-click="openWindow('/PhoneBankingContract/PhoneBankingContractOrder','Հեռախոսային Բանկինգի պայմանագրի մուտքագրում','newphonebankingcontractorder')" data-original-title="Նոր Հեռախոսային Բանկինգի պայմանագիր"></i>
                </div>
            </div>
            <div>

            </div>
            <div class="product-content-table custom-scroll" id="phoneBankingContractContent" ng-class="{'product-content-table-full_height' : hideBlank!='true' }">
                <div ng-if="phoneBankingContract==undefined">
                    <loading></loading>
                </div>
                <table class="table table-condensed table-hover" style="background-color:white; margin-top:0px !important;">
                    <tbody>
                        <tr ng-if="phoneBankingContract" ng-class="{'selected':$index == selectedRow}" ng-dblclick="openPhoneBankingContractDetails();" style="cursor: pointer;" data-ng-init="getPhoneBankingRequests()">
                            <td class="col-sm-3" id="phoneBankingContractRow_{{$index}}">
                                <span class="tab_text">Համար` </span> {{ ::phoneBankingContract.Id }}
                                <br /> <span class="tab_text">Պայմանագրի ա/թ` </span> <span class="tab_title">{{ ::phoneBankingContract.ContractDateString }}</span>
                                <br /> <span class="tab_text">Կարգավիճակ` </span> <span class="tab_title">{{ ::phoneBankingContract.StatusDescription}}</span>
                            </td>
                            <td class="col-sm-1 click_toggle" context="contextPhoneBankingContract" id="contextMenu"><div id="contextMenu"></div> </td>
                        </tr>
                        <tr ng-if="phoneBankingContract==undefined || (phoneBankingContract!=undefined && phoneBankingContract.length < 1)">
                            <td colspan="3" style="text-align:center">Առկա չէ հեռախոսային բանկինգ</td>
                        </tr>
                    </tbody>
                </table>
                <ul id="contextPhoneBankingContract" class="dropdown-menu">
                    <li ng-if="hasPBRequests"><a href="" ng-controller="PopUpCtrl" ng-click="openWindow('PhoneBankingContract/GetPhoneBankingContractPendingRequests','Հեռախոսային բանկինգ ծառայության ակտիվացում','phoneBankingPendingRequests');">Ծառայությունների ակտիվացում</a></li>
                    <li><a style="color: black;text-decoration:none!important ;" ui-sref="phonebankingcontractdetails({ phoneBankingContract : phoneBankingContract })">Մանրամասն դիտարկում</a></li>                    
                </ul>
            </div>
        </div>
    </div>
</div>

