@{
    Layout = null;
}
<style>
    #tblReestrDetails table, #tblReestrDetails th, #tblReestrDetails td {
        border: 1px solid #cecece;
        border-collapse: collapse;
    }

    #tblReestrDetails table {
        border-collapse: collapse;
    }

        #tblReestrDetails table .top #tblReestrDetails td {
            font-size: 13px;
        }

        #tblReestrDetails table #tblReestrDetails tr {
            height: 30px;
        }

    #tblReestrDetails .form-horizontal {
        margin-top: -22px;
    }
</style>
<div class=" col-md-11">
    <br />
    <div>
        <form style="min-width:650px" ng-controller="PaymentOrderCtrl" role="form" class="form-horizontal">

            @*<div id="paymentorder_menu" class="menu-bar dialog-menu light-green">
                <ul id="menu" class="dialog-menu">
                    <li class="root-menu-item-3 " ng-if="isOrderDetails!=true" ng-click="$parent.filterSelected=true;checkReestrTransferAdditionalDetails()">
                        <span id="h-menu-item-3"><img id="h-menu-icon-3" class="h-menu-icon applicationButton">Ստուգել</span>
                    </li>
                    <li class="root-menu-item-5 " onclick="CloseBPDialog('reestrDetails')">
                        <span id="h-menu-item-5"><img id="h-menu-icon-5" class="h-menu-icon cancelButton">Հրաժարվել</span>
                    </li>
                </ul>
                <div id="right-menu" style="display:none;">
                </div>
            </div>*@
            <div class="col-sm-8" style="font-size:13px" ng-init="sumAmount=0;filterSelected=false">
                <div class="product-detail-row">
                    <div class="product-detail-cell product-detail-lable">Դեբետագրվող հաշիվ</div>
                    <div class="product-detail-cell product-detail-value">
                        {{DebitAccount.AccountNumber}} {{DebitAccount.Currency}}
                    </div>
                </div>

            </div>
            <div class="form-group" ng-if="forCashin!=true && isOrderDetails==true" ng-init="$parent.transactionConfirmStatus='0'">
                <label class="tab_title col-sm-4">Գործարքի կատարման նշում</label>
                <div class="col-sm-3">
                    <div class="row">
                        <select data-ng-model="$parent.transactionConfirmStatus" ng-change="$parent.filterSelected=true" name="transactionConfirmStatus" id="transactionConfirmStatus" class="form-control">
                            <option value="0" style="margin-left:25px">Բոլորը</option>
                            <option value="1">Կատարված</option>
                            <option value="2">Չկատարված</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group" ng-if="forCashin!=true && isOrderDetails!=true" ng-init="$parent.transactionCheckStatus='0'">
                <label class="tab_title col-sm-4">Ստուգման կարգավիճակ</label>
                <div class="col-sm-3">
                    <div class="row">
                        <select data-ng-model="$parent.transactionCheckStatus" ng-change="$parent.filterSelected=true" name="transactionCheckStatus" id="transactionCheckStatus" class="form-control">
                            <option value="0" style="margin-left:25px">Բոլորը</option>
                            <option value="1">Ստուգում անցած</option>
                            <option value="2">Ստուգում չանցած</option>
                        </select>
                    </div>
                </div>
            </div>
            <div ng-if="showPaymentType" ng-init="getTypeOfPaymentDescriptions()"></div>
            <div ng-if="forCashin!=true && isOrderDetails!=true" ng-init="initReestrTransferAdditionalDetails()"></div>
            <br /><br />
            <table id="tblReestrDetails" cellspacing="0" cellpadding="0" border="0" style="width:700px;height:450px; ">

                <tbody style=" overflow-y: scroll; height: 400px; position: absolute;">
                    <tr class="product-container-header">
                        <td style="text-align:center;width: 10%;">Տող N</td>
                        <td style="text-align:center;width: 25%;">{{forCashin==true?'Նկարագրություն':'Ստացող'}}</td>
                        <td style="text-align:center;width: 25%;">Կրեդիտագրվող հաշիվ</td>
                        <td style="text-align:center;width: 25%;">Գումար</td>
                        <td style="text-align:center;width: 15%;" ng-if="forCashin!=true && isOrderDetails!=true">Ստուգված</td>
                        <td style="text-align:center;width: 15%;" ng-if="forCashin!=true && isOrderDetails==true">Գործարքի կատարման նշում</td>
                        <td style="text-align:center;width: 25%;" ng-if="showPaymentType==true">Արգելադրման նպատակ</td>
                    </tr>
                    <tr ng-repeat="reestrTransferAdditionalDetail in order.ReestrTransferAdditionalDetails | reestrDetails:transactionConfirmStatus | reestrDetails2:transactionCheckStatus" ng-style="{ backgroundColor : reestrTransferAdditionalDetail.NonValidate==true ?'#e67878':''}">
                        <td style="text-align:center;width: 10%;">{{$index+1}}&nbsp;&nbsp;</td>
                        <td style="text-align:center"> {{::reestrTransferAdditionalDetail.Description}}&nbsp;&nbsp; </td>
                        <td style="text-align:right">{{::reestrTransferAdditionalDetail.CreditAccount.AccountNumber}}&nbsp;&nbsp;</td>
                        <td style="text-align:right" ng-init="filterSelected==false?($parent.sumAmount=$parent.sumAmount+reestrTransferAdditionalDetail.Amount):''">
                            {{::reestrTransferAdditionalDetail.Amount | number:2}}&nbsp;&nbsp;
                        </td>
                        <td style="text-align:center;width: 10%;" ng-if="forCashin!=true && isOrderDetails!=true">
                            <span ng-if="reestrTransferAdditionalDetail.CardClosed==false && reestrTransferAdditionalDetail.CardHasDAHK==false" class="glyphicon glyphicon-ok greenStyle"></span>
                            <span ng-if="reestrTransferAdditionalDetail.CardClosed==true || reestrTransferAdditionalDetail.CardHasDAHK==true" title="{{::reestrTransferAdditionalDetail.WarningDescription}}" class="glyphicon glyphicon-warning-sign" style="color:#c3a509"></span>
                            &nbsp;&nbsp;
                        </td>
                        <td style="text-align:center;width: 10%;" ng-if="forCashin!=true && isOrderDetails==true">
                            <span ng-if="reestrTransferAdditionalDetail.TransactionsGroupNumber!=null" class="glyphicon glyphicon-ok greenStyle"></span>
                            <span ng-if="reestrTransferAdditionalDetail.TransactionsGroupNumber==null" class="glyphicon glyphicon-remove" style="color:red">
                            </span>
                            &nbsp;&nbsp;
                        </td>
                        <td ng-if="showPaymentType==true">

                            <select ng-if="reestrTransferAdditionalDetail.CardHasDAHK==true && $parent.showPaymentType==true" ng-init="reestrTransferAdditionalDetail.PaymentType=undefined"
                                    ng-model="reestrTransferAdditionalDetail.PaymentType"
                                    name="PaymentType" id="PaymentType" class="form-control" style="width:120px"
                                    data-ng-options="k as v for (k,v) in typeOfPaymentDescriptions">
                                <option value="" hidden="hidden" style=" margin-left:25px">Ընտրեք...</option>

                            </select>


                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:center">&nbsp;</td>
                        <td style="text-align:center">&nbsp;</td>
                        <td style="text-align:right">&nbsp;</td>
                        <td style="text-align:right">Ընդամենը` {{sumAmount | number:2}}&nbsp;&nbsp;</td>
                        <td style="text-align:right" ng-if="forCashin!=true">&nbsp;</td>
                        <td style="text-align:right" ng-if="showPaymentType==true">&nbsp;</td>
                    </tr>
                </tbody>
            </table>


            <br />
        </form>
    </div>
</div>


