
<style>
    .td_style {
        border: 1px solid #dddddd;
        text-align: left;
    }
    .selected {
        background-color: #eef6e7 !important;
    }

    .custom-scroll::-webkit-scrollbar {
        width: 8px;
    }

    .custom-scroll::-webkit-scrollbar-track {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }

    .custom-scroll::-webkit-scrollbar-thumb {
        background-image: -webkit-gradient(linear, 40% 0%, 75% 84%, from(#4D9C41), to(#19911D), color-stop(.6,#57ad5d));
        background-color: #FFF;
        border-radius: 10px;
        outline: 1px solid slategrey;
    }

    #HbDocTable tr th, #HbDocTable tr td {
        word-break: break-word;
    }
    /*.thead-width-min {
        width: calc(100% - 8px);
    }
    .thead-width-max{
        width:100%;
    }*/
    .selected {
        background-color: #def1ce !important;
    }
    .click_toggle_menu_selected {
        background-position: right top !important;
    }
    .maximize-dialog {
        display: none;
    }
    .removedMsg{
        color:red !important;
    }
    .notRemovedMsg {
        color: black !important;
    }

    .unreadRow {
        font-weight:bold;
    }

    .readRow {
        font-weight: bold;
    }


    #HBDocumentsMessagesWithBankForm {
        margin: 0 auto;
    }

    /*.minimize-dialog {
        display: none;
    }*/
</style>
<div id="HBDocumentsMessagesWithBankForm" class="overlay hidden">
    <img class="loader-image non-selectable" src="../../Content/Images/invisible.png" />
</div>
<form ng-controller="HBDocumentsCtrl" name="HBDocumentsMessagesWithBankForm" id="HBDocumentsMessagesWithBankForm" role="form" ng-init="getBankCode();sendMsgToAll = true;" style="width:1200px !important;height:700px;">
    <div class="menu-bar dialog-menu light-green ">
        <ul id="menu" class="dialog-menu">
            <li class="root-menu-item-5 " ng-controller="PopUpCtrl" ng-click="chooseOperationType(1);openHBDocumentSendMessage();">
                @*params={message:selectedMsg};*@
                <span id="h-menu-item-5"><img style="width: 40px;height: 40px;margin-top: 0px;" id="h-menu-icon-5" class="h-menu-icon" src="~/Content/Images/reply.png">Պատասխանել/Դիտել</span>
            </li>

            <li class="root-menu-item-5 " ng-click="markAsRead();">
                <span id="h-menu-item-5"><img style="width: 40px;height: 32px;margin-top: 5px;" id="h-menu-icon-5" class="h-menu-icon" src="~/Content/Images/mark as read.png">Նշել որպես կարդացված</span>
            </li>
            <li class="root-menu-item-4 " ng-controller="PopUpCtrl" ng-click="chooseOperationType(2);params={message:selectedMsg};openWindow('/HomeBankingDocuments/HBDocumentSendMessage','«Home Banking» համակարգի հաղորդագրություններ','HBDocumentSendMessageForm')">
                <span id="h-menu-item-4"><img style="width: 40px;height: 32px;margin-top: 5px;" id="h-menu-icon-4" class="h-menu-icon" src="~/Content/Images/new msg.png">Նոր հաղորդագրություն</span>
            </li>
            <li class="root-menu-item-3 " ng-show="sendMsgToAll" ng-controller="PopUpCtrl" ng-click="chooseOperationType(3);params={message:selectedMsg};openWindow('/HomeBankingDocuments/HBDocumentSendMessage','«Home Banking» համակարգի հաղորդագրություններ','HBDocumentSendMessageForm')">
                <span id="h-menu-item-3"><img style="width: 40px;height: 40px;margin-top: 0px;" id="h-menu-icon-3" class="h-menu-icon" src="~/Content/Images/reply.png">Նոր հաղորդագրություն բոլոր հաճախորդներին</span>
            </li>

        </ul>
    </div>
    <table style="width:71% !important;height:7%;margin-left:6px;">
        <tbody>
            <tr>
                <td style="width:18%">
                    <input type="number" class="form-control" name="customerNumber" id="customerNumber" placeholder="Հաճախորդի համար" title="Հաճախորդի համար" ng-model="messageSearch.CustomerNumber" ng-dblclick="searchHBMsgCustomers()"/>
                </td>
                <td style="width:16%">
                    <select data-toggle="tooltip"
                            data-trigger="hover" data-placement="top" @*title="Ֆիլտրացում ըստ մասնաճյուղի"*@ ng-model="messageSearch.ReadOrUnReadMsg"
                            name="filialCode" id="filialCode" class="form-control select-font" ng-change="changeReadOrUnReadMsg()">
                        <option value="">Ընտրեք տեսակը</option>
                        <option value="0">Կարդացված</option>
                        <option value="1">Չկարդացված</option>
                    </select>
                </td>
                <td style="width:15%">
                    <input type="date" name="startDate" class="form-control" id="msgStartDate" title="Սկիզբ" placeholder="Ամսաթվի սկիզբ" ng-model="messageSearch.StartDate" ng-change="checkMsgStartDate();"/>
                </td>
                <td style="width:15%">
                    <input type="date" name="endDate" class="form-control" id="msgEndDate" title="Վերջ" placeholder="Ամսաթվի վերջ" ng-model="messageSearch.EndDate" ng-change="checkMsgEndDate();" />
                </td>
                <td class="tabletd filters" style="border:none !important;width:2%">
                    <button type="button" class="btn btn-primary" ng-click="getSearchedMessages()" style="height:33px;"><span class="glyphicon glyphicon-search"></span> Որոնում</button>
                </td>
                <td class="tabletd filters" style="border:none !important;width:2%"><button type="button" style="height:33px;width:50px" class="btn btn-primary" ng-click="resetMsgFilters()" data-toggle="tooltip" title="Դատարկել որոնման դաշտերը"><span class="glyphicon glyphicon-trash"></span></button></td>
            </tr>

        </tbody>
    </table>
    <table style="width:36% !important;height:10%;margin-left:6px;">
        <tbody>
            <tr>
                <td style="width:14%">
                    <select data-toggle="tooltip"
                            data-trigger="hover" data-placement="top" @*title="Ֆիլտրացում ըստ հաղորդագրության տեսակի"*@ ng-model="messageSearch.ReceivedOrSentMsg"
                            name="filialCode" id="filialCode" class="form-control select-font" ng-change="changeReceivedOrSentMsg()">
                        <option value="">Ընտրեք տեսակը</option>
                        <option value="1">Ստացված</option>
                        <option value="2">Ուղարկված</option>
                    </select>
                </td>
                <td style="width:23%">
                    <usersetnumber setnumber="messageSearch.SetNumber" formname="HBDocumentTransactionRejectForm" withoutlabel="true"></usersetnumber>
                </td>

            </tr>
        </tbody>
    </table>
    <div style="width:70%;border-collapse: collapse;height:510px;margin-left:12px;float:left;border: 2px solid #A9A9A9;">
        <table style="width:100% !important;overflow-x:hidden;height:476px" id="HbDocTable">
            <thead style="display:block;" ng-class="messages.length > 7? 'thead-width-min':'thead-width-max'">
                <tr class="product-container-header" style="display: table; width: 100%; table-layout: fixed;">
                    <th class="td_style" style="text-align:center;width:20%" @*ng-click="SortMsgValues('FullName');"*@>Անուն Ազգանուն/անվանում</th>
                    <th class="td_style" style="text-align:center;width:19%" @*ng-click="SortMsgValues('CustomerNumber');"*@>Հաճախորդի համար</th>
                    <th class="td_style" style="text-align:center;width:16%" @*ng-click="SortMsgValues('CustomerSubject');"*@>Վերնագիր</th>
                    <th class="td_style" style="text-align:center;width:15%" @*ng-click="SortMsgValues('SendDate');"*@>Ամսաթիվ</th>
                    <th class="td_style" style="text-align:center;width:20%" @*ng-click="SortMsgValues('CustomerMessage');"*@>Հաղորդագրություն</th>
                    <th class="td_style" style="text-align:center;width:10%" @*ng-click="SortMsgValues('SetNumber');"*@>ՊԿ</th>
                </tr>
            </thead>
            <tbody id="tableBody" style="border-collapse: collapse;overflow-y:auto;overflow-x:hidden;display:block;height:91% !important;" class="custom-scroll">
                <tr ng-repeat="msg in messages | orderBy:msgSortField:msgReverseOrder" ng-class="{'selected':msg == selectedRowMsg}" ng-click="setClickedMsgRowInfo(msg);getMessageUploadedFiles(msg.ID)" style="cursor: pointer;text-align:center; display: table; width: 100%;" >
                    <td class="td_style" ng-class="{'removedMsg':msg.MessageStatus == -1,'notRemovedMsg':msg.MessageStatus != -1 ,'unreadRow':msg.MessageStatus == 1,'readRow':msg.MessageStatus != 1}" style="font-family:'Arial Armenian';width:20%" ng-mousemove="showMsgDescriptionFullText($event,msg.FullName)" ng-mouseleave="hideMsgDescriptionFullText();">{{ ::msg.FullName | limitTo : 20 }}</td>
                    <td class="td_style" ng-class="{'removedMsg':msg.MessageStatus == -1,'notRemovedMsg':msg.MessageStatus != -1 ,'unreadRow':msg.MessageStatus == 1,'readRow':msg.MessageStatus != 1}" style="width:19%">{{ ::msg.CustomerNumber }}</td>
                    <td class="td_style" ng-class="{'removedMsg':msg.MessageStatus == -1,'notRemovedMsg':msg.MessageStatus != -1 ,'unreadRow':msg.MessageStatus == 1,'readRow':msg.MessageStatus != 1}" style="font-family:'Arial Armenian';width:16%" ng-mousemove="showMsgDescriptionFullText($event,msg.CustomerSubject)" ng-mouseleave="hideMsgDescriptionFullText();">{{ ::msg.CustomerSubject | limitTo : 20 }}</td>
                    <td class="td_style" ng-class="{'removedMsg':msg.MessageStatus == -1,'notRemovedMsg':msg.MessageStatus != -1 ,'unreadRow':msg.MessageStatus == 1,'readRow':msg.MessageStatus != 1}" style="width:15%">{{ ::msg.SendDate | date: 'dd/MM/yyyy' }}</td>
                    <td class="td_style" ng-class="{'removedMsg':msg.MessageStatus == -1,'notRemovedMsg':msg.MessageStatus != -1 ,'unreadRow':msg.MessageStatus == 1,'readRow':msg.MessageStatus != 1}" style="font-family:'Arial Armenian';width:20%;max-width:200px;" ng-mousemove="showMsgDescriptionFullText($event,msg.CustomerMessage)" ng-mouseleave="hideMsgDescriptionFullText();">{{ ::msg.CustomerMessage | limitTo : 20 }}</td>
                    <td class="td_style" ng-class="{'removedMsg':msg.MessageStatus == -1,'notRemovedMsg':msg.MessageStatus != -1 ,'unreadRow':msg.MessageStatus == 1,'readRow':msg.MessageStatus != 1}" style="width:10%">{{ ::msg.SetNumber }}</td>
                </tr>
            </tbody>
            <tfoot style="width: calc(100%);display:block">
                <tr class="product-container-header" style="display: table;">
                    <td>
                        <div class="col-lg-10" style="margin-left:27%">
                            <div style="margin-left:auto;margin-right:auto">
                                <div class="col-sm-1 td"><button style="padding: 3px; margin: -2px;" id="btnpagination" class="buttonClass" title="Սկիզբ" type="button" ng-disabled="messageSearch.PageNumber <= 1 || msgAllCount == 0" ng-click="messageSearch.PageNumber = 1; backToFirstMsgPage()"><span class="fa fa-fast-backward"></span></button></div>
                                <div class="col-sm-1 td"><button style="padding: 3px; margin: -2px" id="btnpagination" class="buttonClass" title="Հետ" type="button" ng-disabled="messageSearch.PageNumber <= 1 || msgAllCount == 0" ng-click="messageSearch.PageNumber = messageSearch.PageNumber - 1 ; backOneMsgPage()"><span class="fa fa-backward"></span></button></div>
                                <div class="col-sm-1 td">Էջ <input class="ui-pg-input" type="number" name="id" ng-model="messageSearch.PageNumber" ng-keypress="($event.charCode==13)?getNextSearchedMessages():return" style="width : 50px; height : 21px;" /></div>
                                <div class="col-sm-1 td">Էջերի քանակ {{msgPageCount}}</div>
                                <div class="col-sm-1 td"><button style="padding: 3px; margin: -2px" id="btnpagination" class="buttonClass" title="Առաջ" type="button" ng-disabled="messageSearch.PageNumber == msgPageCount || msgAllCount == 0" ng-click="messageSearch.PageNumber = messageSearch.PageNumber + 1 ; moveForwardOneMsgPage()"><span class="fa fa-forward"></span></button></div>
                                <div class="col-sm-1 td"><button style="padding: 3px; margin: -2px" id="btnpagination" class="buttonClass" title="Վերջ" type="button" ng-disabled="messageSearch.PageNumber == msgPageCount || msgAllCount == 0" ng-click="messageSearch.PageNumber = msgPageCount ; goToLastMsgPage()"><span class="fa fa-fast-forward"></span></button></div>
                            </div>

                        </div>
                    </td>

                </tr>
            </tfoot>
        </table>

    </div>
    <div style="border-collapse: collapse;height:510px;width:20%;margin-left:12px;float:left;border: 2px solid #A9A9A9;">
        <div>
            <table>
                <thead class="product-container-header">
                    <tr>
                        <th colspan="2" class="td_style" style="text-align:center">Կցված ֆայլեր</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div style="border-collapse: collapse;height:436px;width:100%;overflow:auto">
            <table class="scrollTable" style="border-collapse: collapse;;width:100%;">
                <tbody style="height:100%;">
                    <tr ng-repeat="file in files" ng-class="{'selected':file == selectedRowFile}" ng-click="setClickedRowFileInfo(file);" style="height:20px;">
                        <td class="td_style" style="font-family:'Arial Armenian';width:20%">{{ ::file.Id }}</td>
                        <td class="td_style">{{ ::file.FileName }}</td>
                    </tr>
                </tbody>

            </table>
        </div>
        <div>
            <table>
                <tfoot>
                    <tr>
                        <td colspan="2">
                            <button type="button" class="buttonClass" style="width:100%" ng-click="showFile();"><span class="glyphicon glyphicon-eye-open" style="font-weight:bold;"></span> Դիտարկել</button>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <span class="tooltiptext showElementMsgDescription" id="showElementMsgDescription" style="display:none;font-family:'Arial Armenian'" ng-model="elementMsgDescription">{{ elementMsgDescription }}</span>
</form>

