@{
    Layout = null;
}

<form style="width:850px" ng-controller="SecuritiesTradingCtrl" data-ng-init="GetSentSecuritiesTradingOrder(type, orderId)">
    
    <div ng-show="SecuritiesOrderDetails" class="product-details bhoechie-tab-content" style="min-width:800px;padding-left:10px">
        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Հայտի համար</div>
            <div class="product-detail-cell product-detail-value">{{order.Id}}</div>
        </div>

        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Մուտքագրման ա/թ</div>
            <div class="product-detail-cell product-detail-value">{{order.RegistrationDateString}}</div>
        </div>

        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Գործառնական օր</div>
            <div class="product-detail-cell product-detail-value">{{order.OperationDateToString}}</div>
        </div>
    </div>
    <div style="clear:both;color:#6F6A6A;font-weight:bold;margin-left:10px">Կատարվել է {{selectedSourceDescription}}-ի միջոցով</div>
</form>
