@{
    Layout = null;
}
<form style="width:500px" ng-controller="LoanProductActivationOrderCtrl" ng-init="getLoanProductActivationOrder(selectedOrderId);IsCreditLineActivateOnApiGate(selectedOrderId)">
    <loading-control style="margin-left:20em" scopevariable="order.Id"></loading-control>
    <div id="transitPaymentOrder_menu" class="menu-bar dialog-menu light-green " style="margin-left:-5px;margin-top:0" ng-if="$root.SessionProperties.IsCalledFromHB != true">
        <ul id="menu" class="dialog-menu">
            <li class="root-menu-item-5 " ng-if="order.Quality!=undefined && order.Quality !=31 && order.Quality !=30 && order.Quality !=32 && order.Quality !=40 && order.Quality !=41 && order.Quality !=6 && order.Quality !=50" ng-controller="PopUpCtrl" ng-click="params={removableorder:order};openWindow('/RemovalOrder/RemovalOrder','Հրաժարման հայտ','removalOrder')">
                <span id="h-menu-item-5"><img id="h-menu-icon-5" class="h-menu-icon closeAccountButton">Հրաժարման հայտ</span>
            </li>
        </ul>
    </div>

    <div ng-show="order.Id" class="product-details bhoechie-tab-content" style="min-width:500px;">
        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Հայտի համար</div>
            <div class="product-detail-cell product-detail-value">{{order.Id}}</div>
        </div>
        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Մուտքագրման ա/թ</div>
            <div class="product-detail-cell product-detail-value">{{order.RegistrationDateString}}</div>
        </div>
        <div class="product-detail-row" ng-if="$root.SessionProperties.IsCalledFromHB != true">
            <div class="product-detail-cell product-detail-lable">Գործառնական օր</div>
            <div class="product-detail-cell product-detail-value">{{order.OperationDateString}}</div>
        </div>
        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Տեսակ</div>
            <div class="product-detail-cell product-detail-value"><span ng-if="order.Type!=111">{{product.ProductTypeDescription}}</span> <span ng-if="order.Type==111">{{product.TypeDescription}}</span></div>
        </div>
        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Պայմանագրային գումար</div>
            <div class="product-detail-cell product-detail-value">{{product.StartCapitalString}} {{product.Currency}}</div>
        </div>
        <div class="product-detail-row" ng-if="order.Type!=109 && order.Type!=110 && order.Type!=111">
            <div class="product-detail-cell product-detail-lable">Վարկային հաշիվ</div>
            <div class="product-detail-cell product-detail-value">{{product.LoanAccount.AccountNumber}} {{product.LoanAccount.Currency}}</div>
        </div>
        
        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Քարտի համար</div>
            <div class="product-detail-cell product-detail-value">{{order.Description}}</div>
        </div>

        <div ng-if="isApiGate==0" class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Ակտիվացման եղանակ</div>
            <div class="product-detail-cell product-detail-value">APIGate</div>
        </div>
        <div ng-if="isApiGate==1" class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Ակտիվացման եղանակ</div>
            <div class="product-detail-cell product-detail-value">ARCA ֆայլով</div>
        </div>
        <div ng-if="order.Type!=111" class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Ընթացիկ հաշիվ</div>
            <div class="product-detail-cell product-detail-value">{{product.ConnectAccount.AccountNumber}} {{product.ConnectAccount.Currency}}</div>
        </div>
        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Տոկոսադրույք</div>
            <div class="product-detail-cell product-detail-value">{{product.InterestRate*100|number:2}}%</div>
        </div>
        <div ng-if="order.Type!=111" class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Միջնորդավճար</div>
            <div class="product-detail-cell product-detail-value">{{order.FeeAmount | number:2}} {{order.FeeAccount.Currency}}</div>
        </div>
        <div ng-if="order.Type!=111" class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Միջնորդավճարի գանձման հաշիվ</div>
            <div class="product-detail-cell product-detail-value">{{order.FeeAccount.AccountNumber}}  {{order.FeeAccount.Currency}} {{order.FeeAccount.AccountTypeDescription}}</div>
        </div>
        <div ng-if="order.Type!=111" class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Միջնորդավճար ԱԱՀ-ով</div>
            <div class="product-detail-cell product-detail-value">{{order.FeeAmountWithTax | number:2}} {{order.FeeAccountWithTax.Currency}}</div>
        </div>
        <div ng-if="order.Type==74" class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Միջնորդավճարի(ԱԱՀ-ով) գանձման հաշիվ</div>
            <div class="product-detail-cell product-detail-value">{{order.FeeAccountWithTax.AccountNumber}}  {{order.FeeAccountWithTax.Currency}} {{order.FeeAccountWithTax.AccountTypeDescription}}</div>
        </div>
        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Կարգավիճակ</div>
            <div ng-if="order.Quality==30" class="product-detail-cell product-detail-value greenStyle">{{ order.QualityDescription }}</div>
            <div ng-if="order.Quality==31" class="product-detail-cell product-detail-value redStyle">{{ order.QualityDescription }}</div>
            <div ng-if="order.Quality!=31 && order.Quality!=30" class="product-detail-cell product-detail-value">{{ order.QualityDescription }}</div>
        </div>
        <div ng-if="order.Quality==31" ng-controller="OrderCtrl" ng-init="getOrderRejectHistory(selectedOrderId)" class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Մերժման պատճառ`</div>
            <div class="product-detail-cell product-detail-value"><span class="redStyle">{{ rejectHistory.ReasonDescription }}</span></div>
        </div>
        <div class="product-detail-row" ng-if="$root.SessionProperties.IsCalledFromHB != true">
            <div class="product-detail-cell my_text1 ">Կատարվել է {{selectedSourceDescription}}-ի միջոցով</div>
        </div>
    </div>
</form>