@{
    Layout = null;
}
<style>
    #criminalDetails {
            overflow-x:hidden;
            overflow-y:visible;
            width:900px;
    }


    #criminalsTable td, th {
        border: 1px solid #cecece;
        min-width: 100px;
        font-size: 12px;
        overflow-x:hidden;
    }

    #criminalsTable th {
       text-align:center;
    }

    #criminalsTable top th {
        font-size: 12px;
    }

    #tbl table .top td {
        font-size: 12px;
    }

    .redBackground {
        background-color: rosybrown;
    }
</style>

<div id="criminalDetails" ng-controller="CriminalsCtrl" ng-init="getCriminalCheckResults()">
    <div id="newaccount_menu" class="menu-bar dialog-menu light-green" >
        <ul id="menu" class="dialog-menu">
            <li class="root-menu-item-4 " ng-click="updateTransferVerifiedStatus(transfer.Id,3)" ng-if="transfer.Verified==2">
                <span id="h-menu-item-4"><img id="h-menu-icon-4" class="submitButton h-menu-icon">Նշել գործարքը թույլատրելի</span>
            </li>
            <li class="root-menu-item-4 " ng-click="updateTransferVerifiedStatus(transfer.Id,2)" ng-if="transfer.Verified==3">
                <span id="h-menu-item-4"><img id="h-menu-icon-4" class="submitButton h-menu-icon">Նշել գործարքը կասկածելի</span>
            </li>
            <li class="root-menu-item-5 " onclick="CloseBPDialog('CriminalsList')">
                <span id="h-menu-item-5"><img id="h-menu-icon-5" class="h-menu-icon cancelButton">Հրաժարվել</span>
            </li>
        </ul>
        <div id="right-menu" style="display:none;">
        </div>
    </div>
    <div id="mainView" >
        <div style="max-width:530px">
            <errors></errors>
        </div>

        <div class="product-container"  style="overflow-x:scroll; width:890px; overflow-y:auto;">
            <div class="header-title">
                Կասկածելի անձանց ցուցակ
                
            </div>
            <div class="product-collapsable-section" style="min-width:1900px;">
                <div class="product-content-table" style="min-height:100px;padding:0px">
                    <table id="criminalsTable" class="table table-condensed table-hover" style="background-color:white; margin-top:0px !important; table-layout:auto;">
                        <thead>
                            <tr  class="product-container-header">
                                <th>N</th>
                                <th >Անուն1</th>
                                <th >Անուն2</th>
                                <th >Անուն3</th>
                                <th >Անուն4</th>
                                <th >Անձնագիր</th>
                                <th >Երկիր</th>
                                <th >Քաղաք</th>
                                <th >Հասցե</th>
                                <th >GAKA</th>
                                <th >LAKA</th>
                                <th >SOURCE</th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="findData in criminalsList | groupBy: 'FindData' ">
                            <tr>
                                <td colspan="12" style="text-align:left;background-color:green;color:white;">{{findData[0].FindData}}</td>
                            </tr>
                            <tr ng-repeat="criminalDetail in findData"  class="">
                                <td style="text-align:left;width:auto;">{{::criminalDetail.Id}}</td>
                                <td style="text-align:left;width:auto;">{{::criminalDetail.Name1}}</td>
                                <td style="text-align:left;width:auto;">{{::criminalDetail.Name2}}</td>
                                <td style="text-align:left;width:auto;">{{::criminalDetail.Name3}}</td>
                                <td style="text-align:left;width:auto;">{{::criminalDetail.Name4}}</td>
                                <td style="text-align:left;width:auto;">{{::criminalDetail.Passport}}</td>
                                <td style="text-align:left;width:auto;">{{::criminalDetail.Country}}</td>
                                <td style="text-align:left;width:auto;">{{::criminalDetail.City}}</td>
                                <td style="text-align:left;width:auto;">{{::criminalDetail.Address}}</td>
                                <td style="text-align:left;width:auto;">{{::criminalDetail.Gaka}}</td>
                                <td style="text-align:left;width:auto;">{{::criminalDetail.Laka}}</td>
                                <td style="text-align:left;width:auto;">{{::criminalDetail.Source}}</td>
                            </tr>
                            <tr ng-if="criminalsList.length==0">
                                <td colspan="12" style="text-align:center">Տվյալներ առկա չեն</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
   
</div>
<script type="text/javascript">
    $("#criminalsTable").mCustomScrollbar({
        theme: "rounded-dark",
        scrollButtons: {
            scrollAmount: 200,
            enable: true
        },
        mouseWheel: {
            scrollAmount: 200
        }
    });
</script>
