    <form  ng-controller="CashOrderCtrl" ng-init="getCashOrder(selectedOrderId);getCashOrderTypes()" style="width:500px">
        <loading-control class="col-sm-12" scopevariable="cashTypes"></loading-control>

        <div ng-if="order.Quality !=31 && order.Quality !=30 && order.Quality !=32 && order.Quality !=40 && order.Quality !=41 && order.Quality !=6 && order.Quality !=50 && $root.SessionProperties.IsCalledFromHB != true" id="cashOrderDetails_menu" class="menu-bar dialog-menu light-green " style="margin-left:-5px;margin-top:0">
            <ul id="menu" class="dialog-menu">
                <li class="root-menu-item-5 " ng-if="order.Quality !=31 && order.Quality !=30 && order.Quality !=32 && order.Quality !=40 && order.Quality !=41 && order.Quality !=6 && order.Quality !=50"  ng-controller="PopUpCtrl" ng-click="params={removableorder:order};openWindow('/RemovalOrder/RemovalOrder','Հրաժարման հայտ','removalOrder',callbackgetCashOrder)">
                    <span id="h-menu-item-5"><img id="h-menu-icon-5" class="h-menu-icon closeAccountButton">Հրաժարման հայտ</span>
                </li>

            </ul>
        </div>  

        <div class="product-details bhoechie-tab-content" style="min-width:500px;padding-left:10px">
            <div class="product-detail-row">
                <div class="product-detail-cell product-detail-lable">Հայտի համար</div>
                <div class="product-detail-cell product-detail-value">{{order.Id}}</div>
            </div>
             
            <div class="product-detail-row">
                <div class="product-detail-cell product-detail-lable">Մուտքագրման ա/թ</div>
                <div class="product-detail-cell product-detail-value">{{order.RegistrationDateString}}</div>
            </div>

            <div class="product-detail-row" ng-if="$root.SessionProperties.IsCalledFromHB != true">
                <div class="product-detail-cell product-detail-lable">Գործառնական օր</div>
                <div class="product-detail-cell product-detail-value">{{order.OperationDateString}}</div>
            </div>

            <div class="product-detail-row">
                <div class="product-detail-cell product-detail-lable">Հայտի տեսակ</div>
                <div class="product-detail-cell product-detail-value">{{cashTypes[order.SubType]}}</div>
            </div>


            <div class="product-detail-row">
                <div class="product-detail-cell product-detail-lable">Գումար</div>
                <div class="product-detail-cell product-detail-value">{{order.AmountString}} {{order.Currency}}</div>
            </div>


            <div class="product-detail-row">
                <div class="product-detail-cell product-detail-lable">Գումարի ստացման մասնաճյուղ</div>
                <div class="product-detail-cell product-detail-value">{{order.CashFillial}}</div>
            </div>

            <div class="product-detail-row">
                <div class="product-detail-cell product-detail-lable">Գումարի ստացման օրը</div>
                <div class="product-detail-cell product-detail-value">{{order.CashDateString}}</div>
            </div>

            <div class="product-detail-row">
                <div class="product-detail-cell product-detail-lable">Կարգավիճակ</div>
                <div ng-if="order.Quality==30" class="product-detail-cell product-detail-value greenStyle">{{order.QualityDescription}}</div>
                <div ng-if="order.Quality==31" class="product-detail-cell product-detail-value redStyle">{{order.QualityDescription}}</div>
                <div ng-if="order.Quality!=31 && order.Quality!=30" class="product-detail-cell product-detail-value">{{order.QualityDescription}}</div>
            </div>

            <div ng-if="order.Quality==31" class="" >
                <div ng-controller="OrderCtrl" ng-init="getOrderRejectHistory(selectedOrderId)" class="" style="clear:both;color:#6F6A6A;font-weight:bold">Մերժման պատճառ`</div>
                <div class="redStyle">&nbsp;&nbsp;&nbsp;{{ rejectHistory.ReasonDescription }}</div>
            </div>

        </div>
        <div style="clear:both;color:#6F6A6A;font-weight:bold; margin-left:10px" ng-if="$root.SessionProperties.IsCalledFromHB != true">Կատարվել է {{selectedSourceDescription}}-ի միջոցով</div>

</form>
    


    @*<div class=" col-md-10 ">
                <div>
                    <form ng-controller="CashOrderCtrl" ng-init="getCashOrder(selectedOrderId);getCashOrderTypes()" style="width:500px">
                        <loading-control class="col-sm-12"  scopevariable="cashTypes"></loading-control>
                        <div ng-show="cashTypes" class="popup_wrapper_inner">
                            <div class="row">
                                <div class="col-md-11 my_class">
                                    <div class="col-sm-5 my_label " style="clear:both">Հայտի համար</div><div class="col-sm-5 my_text1 ">{{order.Id}}</div>
                                    <div class="col-sm-5 my_label " style="clear:both">Մուտքագրման ա/թ</div><div class="col-sm-5 my_text1 ">{{order.RegistrationDateString}}</div>
                                    <div class="col-sm-5 my_label " style="clear:both">Գործառնական օր</div><div class="col-sm-5 my_text1 ">{{order.OperationDateString}}</div>
                                    <div class="col-sm-5 my_label " style="clear:both">Հայտի տեսակ</div><div class="col-sm-5 my_text1 "> {{cashTypes[order.SubType]}}</div>
                                    <div class="col-sm-5 my_label " style="clear:both">Գումար</div><div class="col-sm-5 my_text1 ">{{order.AmountString}} {{order.Currency}}</div>
                                    <div class="col-sm-5 my_label " style="clear:both">Գումարի ստացման մասնաճյուղ</div><div class="col-sm-5 my_text1 ">{{order.CashFillial}}</div>
                                    <div class="col-sm-5 my_label " style="clear:both">Գումարի ստացման օրը</div><div class="col-sm-5 my_text1 ">{{order.CashDateString}}</div>
                                    <p class="text-left"></p>


                                    <div class="col-sm-5 my_label " style="clear:both">Կարգավիճակ</div>
                                    <div class="col-sm-5 my_text1 ">
                                        <span ng-if="order.Quality==30" class="greenStyle">{{ order.QualityDescription }}</span>
                                        <span ng-if="order.Quality==31" class="redStyle">{{ order.QualityDescription }}</span>
                                        <span ng-if="order.Quality!=31 && order.Quality!=30">{{ order.QualityDescription }}</span>
                                    </div>
                                    <div ng-if="order.Quality==31" ng-controller="OrderCtrl" ng-init="getOrderRejectHistory(selectedOrderId)" class="col-sm-12 my_text1">Մերժման պատճառ` <span class="redStyle">{{ rejectHistory.ReasonDescription }}</span></div>
                                    <div class="col-sm-12 my_text1 ">Կատարվել է {{selectedSourceDescription}}-ի միջոցով</div>
                                </div>
                            </div>

                        </div>
                        <div>
                            <button ng-if="order.Quality !=31 && order.Quality !=30 && order.Quality !=32 && order.Quality !=40 && order.Quality !=41 && order.Quality !=6 && order.Quality !=50" type="button" class="btn btn-sm btn-primary" ng-controller="PopUpCtrl" ng-click="params={removableorder:order};openWindow('/RemovalOrder/RemovalOrder','Հրաժարման հայտ','removalOrder',callbackgetCashOrder)"> <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;Հրաժարման հայտ</button>
                        </div>
                        </form>
                    </div>
        </div>*@
