@{
    Layout = null;
}


<form style="width:620px" ng-controller="InsuranceOrderCtrl" ng-init="getInsuranceOrder(selectedOrderId)">
    <loading-control scopevariable="order.Id"></loading-control>
    <div id="transitPaymentOrder_menu" class="menu-bar dialog-menu light-green " style="margin-left:-5px;margin-top:0">
        <ul id="menu" class="dialog-menu">

            <li class="root-menu-item-5 " ng-if="order.Quality!=undefined && order.Quality !=31 && order.Quality !=30 && order.Quality !=32 && order.Quality !=40 && order.Quality !=41 && order.Quality !=6" ng-controller="PopUpCtrl" ng-click="params={removableorder:order};openWindow('/RemovalOrder/RemovalOrder','Հրաժարման հայտ','removalOrder',callbackgetTransitPaymentOrder)">
                <span id="h-menu-item-5"><img id="h-menu-icon-5" class="h-menu-icon closeAccountButton">Հրաժարման հայտ</span>
            </li>

        </ul>
    </div>
    <div class="product-details bhoechie-tab-content" style="min-width:620px;padding-left:10px">

        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Հայտի համար</div>
            <div class="product-detail-cell product-detail-value">{{order.Id}}</div>
        </div>

        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Մուտքագրման ա/թ</div>
            <div class="product-detail-cell product-detail-value">{{order.RegistrationDateString}}</div>
        </div>

        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Գործառնական օր</div>
            <div class="product-detail-cell product-detail-value">{{order.OperationDateString}}</div>
        </div>

        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Դեբետ հաշիվ</div>
            <div class="product-detail-cell product-detail-value">{{order.DebitAccount.AccountNumber}} {{order.DebitAccount.Currency}}</div>
        </div>

        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Ապահովագրության տեսակ</div>
            <div class="product-detail-cell product-detail-value">{{order.Insurance.InsuranceTypeDescription}}</div>
        </div>

        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Ապահովագրական ընկերություն</div>
            <div class="product-detail-cell product-detail-value">{{order.Insurance.CompanyName}}</div>
        </div>

        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Պայմանգրի սկիզբ</div>
            <div class="product-detail-cell product-detail-value">{{order.Insurance.StartDate | mydatetime }}</div>
        </div>

        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Պայմանգրի վերջ</div>
            <div class="product-detail-cell product-detail-value">{{order.Insurance.EndDate | mydatetime }}</div>
        </div>


        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Գումար</div>
            <div class="product-detail-cell product-detail-value">{{order.Amount | number:2}} {{order.Currency}}</div>
        </div>

        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Ապահովագրական գումար</div>
            <div class="product-detail-cell product-detail-value">{{order.Insurance.CompensationAmount | number:2}} {{order.Currency}}</div>
        </div>

        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Ներգրավող ՊԿ</div>
            <div class="product-detail-cell product-detail-value">{{order.Insurance.InvolvingSetNumber}}</div>
        </div>


        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Նկարագրություն</div>
            <div class="product-detail-cell product-detail-value">{{order.Description}}</div>
        </div>

        <orderoppersondetails opperson="order.OPPerson" ng-show="order.OPPerson"></orderoppersondetails>

        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Կարգավիճակ</div>
            <div ng-if="order.Quality==30" class="product-detail-cell product-detail-value greenStyle">{{order.QualityDescription}}</div>
            <div ng-if="order.Quality==31" class="product-detail-cell product-detail-value redStyle">{{order.QualityDescription}}</div>
            <div ng-if="order.Quality!=31 && order.Quality!=30" class="product-detail-cell product-detail-value">{{order.QualityDescription}}</div>
        </div>

        <div ng-if="order.Quality==31" class="">
            <div ng-controller="OrderCtrl" ng-init="getOrderRejectHistory(selectedOrderId)" class="" style="clear:both;color:#6F6A6A;font-weight:bold">Մերժման պատճառ`</div>
            <div class="redStyle">&nbsp;&nbsp;&nbsp;{{ rejectHistory.ReasonDescription }}</div>
        </div>
    </div>
    <div style="clear:both;color:#6F6A6A;font-weight:bold;margin-left:10px">Կատարվել է {{selectedSourceDescription}}-ի միջոցով</div>


</form>
