@{
    Layout = null;
}
<style>
    .radio-inline {
        margin-top: -22px;
        font-size: 14px
    }

    .ui-widget-content {
        color: #6d6d6d;
    }

    .form-control {
        color: #6d6d6d;
    }

    #CredentialOrderForm {
        min-width: 500px;
    }

    .selected li {
        background-color: red;
    }

    .scroll-div {
        height: 210px;
        overflow: auto;
        border: solid;
    }

    .panel-body {
        padding-left: 0px;
        padding-right: 0px;
    }

    thead tr {
        height: 50px
    }
</style>

<div id="credentialLoad" class="overlay hidden">
    <img class="loader-image non-selectable" src="../../Content/Images/invisible.png" />
</div>
<form ng-controller="LeasingCredentialCtrl" style="min-width:700px" ng-init="initCredentialParameters()" id="NewCredentialForm" name="NewCredentialForm" role="form" ng-submit="NewCredentialForm.$valid && saveCredentialOrder()" novalidate class="form-horizontal" labels-required>
    <div id="newCredential_menu" class="menu-bar dialog-menu light-green">
        <ul id="menu" class="dialog-menu">
            <li class="root-menu-item-4 " ng-click="NewCredentialForm.$setSubmitted();NewCredentialForm.$valid && saveNewAndEditedCredential();">
                <span id="h-menu-item-4"><img id="h-menu-icon-4" class="submitButton h-menu-icon">Պահպանել</span>
            </li>
            <li class="root-menu-item-5 " onclick="CloseBPDialog('newCredential')">
                <span id="h-menu-item-5"><img id="h-menu-icon-5" class="h-menu-icon cancelButton">Հրաժարվել</span>
            </li>
        </ul>
        <div id="right-menu" style="display:none;">
        </div>
    </div>

    <div style="max-width:550px">
        <errors></errors>
    </div>
    <div class="col-sm-12">
        <a style="color:red">
            {{alert}}
        </a>
    </div>
    <div class="col-sm-12">
        <div class="col-sm-6">
            <div class=" form-group">
                <label class="tab_title col-sm-6 " for="credentialNumber">Լիազորագրի համար</label>
                <div class="col-sm-6">
                    <div class="row">
                        <input ng-disabled="credential.ActionType == 2" type="text" class="form-control tab_title" style="text-align: left;" id="CredentialNumber" name="CredentialNumber" ng-model="credential.CredentialNumber">
                    </div>
                    <div ng-messages="NewCredentialForm.CredentialNumber.$dirty && NewCredentialForm.CredentialNumber.$error" class="errors">
                        <ng-messages ng-if="NewCredentialForm.$submitted || NewCredentialForm.CredentialNumber.$dirty"
                                     for="NewCredentialForm.CredentialNumber.$error">
                            <ng-message when="required" class="errors">
                                Համարը նշված չէ
                            </ng-message>
                        </ng-messages>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-6 tab_title">Լիազորված անձ</label>
                <div class="col-sm-6 ">
                    <div class="row" ng-init="customerNumber = (credential.ActionType == 2 ? credential.OwnerCustomerNumber : null)">
                        <div class="input-group">
                            <input type="text" ng-disabled="credential.ActionType == 2" ng-model="customerNumber" maxlength="12" 
                                   ng-style="(credential.ActionType == 2 || (credential.HasNotarAuthorization != 'true' && $root.SessionProperties.CustomerType != 6 && $root.SessionProperties.CustomerType != 2)) ? {'width' : '214px'} : {'width' : '241px'}" 
                                   class="form-control" id="customerNumber" name="customerNumber" onkeypress="return event.keyCode != 13;" ng-model-options="{updateOn: 'blur'}" data-update-model-on-enter-key-pressed>
                            <div class="input-group-btn" style="display:inline-block;" ng-show="credential.ActionType == 1">
                                <button type="button" title="Հաճախորդի որոնում" class="btn btn-primary searchButton" ng-click="searchCustomers()"><span class="glyphicon glyphicon-search greenStyle"></span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <div class=" form-group">
                    <label class="tab_title col-sm-6 " for="CredentialGivenDate">Լիազորագրի վավերացման ամսաթիվ</label>
                    <div class="col-sm-6">
                        <div class="row">
                            <input type="date" class="form-control tab_title" required style="text-align: left;" id="CredentialValidationDate" name="CredentialValidationDate" ng-model="credential.CredentialValidationDate">
                        </div>
                        <div class="row">
                            <div ng-messages="NewCredentialForm.CredentialValidationDate.$dirty && NewCredentialForm.CredentialValidationDate.$error" class="errors">
                                <ng-messages ng-if="NewCredentialForm.$submitted || NewCredentialForm.CredentialValidationDate.$dirty" for="NewCredentialForm.CredentialValidationDate.$error">
                                    <ng-message when="required" class="errors">
                                        Լիազորագրի վավերացման ամսաթիվը նշված չէ
                                    </ng-message>
                                </ng-messages>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group" ng-if="$root.SessionProperties.CustomerType != 6 && $root.SessionProperties.CustomerType != 2">
                    <label class="tab_title col-sm-6 " for="HasNotarAuthorization">Լիազորագիրը վավերացված է նոտարական կարգով</label>
                    <div class="col-sm-6">
                        <div class="row">
                            <select ng-model="credential.HasNotarAuthorization" ng-init="credential.HasNotarAuthorization = 'false'" required data-toggle="tooltip" data-trigger="hover" data-placement="top" style="width:80px" name="HasNotarAuthorization" id="HasNotarAuthorization" class="form-control">
                                <option value="false">Ոչ</option>
                                <option value="true">Այո</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div ng-if="$root.SessionProperties.CustomerType == 6 || $root.SessionProperties.CustomerType == 2 || credential.HasNotarAuthorization == 'true'">

                    <div class="form-group">
                        <label class="tab_title col-sm-6 control-label" for="NotaryTerritory">Նոտարական տարածք</label>
                        <div class="col-sm-6">
                            <div class="row">
                                <input type="text" required style="text-align:left" class="form-control tab_title" name="NotaryTerritory" id="NotaryTerritory" ng-model="credential.NotaryTerritory">
                                <span>
                                    <ng-messages ng-if="NewCredentialForm.$submitted" for="NewCredentialForm.NotaryTerritory.$error || NewCredentialForm.NotaryTerritory.$dirty">
                                        <ng-message when="required" class="errors">
                                            Նոտարական տարածքը լրացված չէ
                                        </ng-message>
                                    </ng-messages>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="tab_title col-sm-6 control-label" for="Notary">Նոտար</label>
                        <div class="col-sm-6">
                            <div class="row">
                                <input type="text" required style="text-align:left" class="form-control tab_title" name="Notary" id="Notary" ng-model="credential.Notary">
                                <span>
                                    <ng-messages ng-if="NewCredentialForm.$submitted" for="NewCredentialForm.Notary.$error || NewCredentialForm.Notary.$dirty">
                                        <ng-message when="required" class="errors">
                                            Նոտարը լրացված չէ
                                        </ng-message>
                                    </ng-messages>
                                </span>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="col-sm-12" style="margin-left: 3%;">
                <div class="row">
                    <div ng-if="OwnerCustomerNumber != null && OwnerCustomerNumber != 0">
                        <customerinfo customernumber="OwnerCustomerNumber" showfulldata="false"> </customerinfo>
                        <div class="customerInfo row additionalInfoLabel" style="margin-bottom: 5px;">Լիզինգի համար` <b>{{ credential.OwnerCustomerNumber}}</b></div>
                    </div>
                </div>
            </div>           

        </div>

        <div class="col-sm-6">
            <div class=" form-group">
                <label class="tab_title col-sm-6 " for="RegistrationDate">Մուտքագրման ա/թ</label>
                <div class="col-sm-6">
                    <div class="row">
                        <input disabled="disabled" ng-disabled="credential.ActionType == 2" type="date" class="form-control tab_title" style="text-align: left;" id="RegistrationDate" name="RegistrationDate" ng-model="credential.RegistrationDate" required>
                    </div>
                </div>
            </div>
            <div class=" form-group">
                <label class="tab_title col-sm-6 " for="RegistrationDate">Սկիզբ</label>
                <div class="col-sm-6">
                    <div class="row">
                        <input type="date" class="form-control tab_title" style="text-align: left;" id="CredentialStartDate" name="CredentialStartDate" ng-disabled="credential.CredentialType==2" ng-model="credential.StartDate" required>
                    </div>
                    <div class="row">
                        <div ng-messages="NewCredentialForm.CredentialStartDate.$dirty && NewCredentialForm.CredentialStartDate.$error" class="errors">
                            <ng-messages ng-if="NewCredentialForm.$submitted || NewCredentialForm.CredentialStartDate.$dirty"
                                         for="NewCredentialForm.CredentialStartDate.$error">
                                <ng-message when="required" class="errors">
                                    Սկիզբը նշված չէ
                                </ng-message>
                            </ng-messages>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" form-group">
                <label class="tab_title col-sm-6 " for="RegistrationDate">Վերջ</label>
                <div class="col-sm-6">
                    <div class="row">
                        <input type="date" class="form-control tab_title" style="text-align: left;" id="CredentialEndDate" name="CredentialEndDate" ng-disabled="credential.CredentialType==2" ng-model="credential.EndDate" ng-required="credential.CredentialType==0">
                    </div>
                    <div class="row">
                        <div ng-messages="NewCredentialForm.CredentialEndDate.$dirty && NewCredentialForm.CredentialEndDate.$error" class="errors">
                            <ng-messages ng-if="NewCredentialForm.$submitted || NewCredentialForm.CredentialEndDate.$dirty"
                                         for="NewCredentialForm.CredentialEndDate.$error">
                                <ng-message when="required" class="errors">
                                    Վերջը նշված չէ
                                </ng-message>
                            </ng-messages>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-if="$root.SessionProperties.CustomerType == 6 || $root.SessionProperties.CustomerType == 2 || credential.HasNotarAuthorization == 'true'">

                <div class="form-group">
                    <label class="tab_title col-sm-6" for="LedgerNumber">Սեղանամատյանի համար</label>
                    <div class="col-sm-6">
                        <div class="row">
                            <input type="text" required style="text-align:left" class="form-control tab_title" name="LedgerNumber" id="LedgerNumber" ng-model="credential.LedgerNumber">
                            <span>
                                <ng-messages ng-if="NewCredentialForm.$submitted" for="NewCredentialForm.LedgerNumber.$error || NewCredentialForm.LedgerNumber.$dirty">
                                    <ng-message when="required" class="errors">
                                        Սեղանամատյանի համարը լրացված չէ
                                    </ng-message>
                                </ng-messages>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="tab_title col-sm-6" for="TranslationValidationDate">Թարգմանության վավերացման ամսաթիվ</label>
                    <div class="col-sm-6">
                        <div class="row">
                            <input type="date" class="form-control tab_title" style="text-align: left;" id="TranslationValidationDate" name="TranslationValidationDate" ng-model="credential.TranslationValidationDate">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="tab_title col-sm-6" for="TranslationOfNotaryTerritory">Թարգմանությունը վավերացրած նոտարի Նոտարական տարածք</label>
                    <div class="col-sm-6">
                        <div class="row">
                            <input type="text" style="text-align:left" class="form-control tab_title" name="TranslationOfNotaryTerritory" id="TranslationOfNotaryTerritory" ng-model="credential.TranslationOfNotaryTerritory">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="tab_title col-sm-6" for="TranslationOfNotary">Թարգմանությունը վավերացրած Նոտար</label>
                    <div class="col-sm-6">
                        <div class="row">
                            <input type="text" style="text-align:left" class="form-control tab_title" name="TranslationOfNotary" id="TranslationOfNotary" ng-model="credential.TranslationOfNotary">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="tab_title col-sm-6" for="TranslationValidationLedgerNumber">Թարգմանության վավերացման սեղանամատյանի համար</label>
                    <div class="col-sm-6">
                        <div class="row">
                            <input type="text" style="text-align:left" class="form-control tab_title" name="TranslationValidationLedgerNumber" id="TranslationValidationLedgerNumber" ng-model="credential.TranslationValidationLedgerNumber">
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

</form>











