<style type="text/css">
    .tree-node {
        border: 1px solid #dae2ea;
        background: #f8faff;
        color: #7c9eb2;
    }
</style>

<link href="~/Content/awesome-bootstrap-checkbox.css" rel="stylesheet" />
<link href="~/Content/font-awesome.css" rel="stylesheet" />

<div class="product-container" id="AllCredentials" style="width:50%" ng-controller="LeasingCredentialCtrl" data-ng-init="getCredentials()">
    <div class="header-title">
        Լիազորագրեր
        <div class="product-collapse tipB fa fa-chevron-down" data-original-title="Թաքցնել" onclick="CollapseProductContainer(this)"></div>
    </div>
    <div class="product-collapsable-section">
        <div class="product-container-header">
            <div class="include-closed-products" ng-init="filter = 0">
                <input type="checkbox" class="css-square-checkbox lrg" id="include-closed-accounts" data-ng-model="filter" ng-true-value="1" ng-false-value="0" ng-change="QualityFilter()">
                <label for="include-closed-accounts" name="include-closed-accounts-checkbox_lbl" class="css-label lrg custom-square-checkbox">Դիտել փակվածները</label>
            </div>
            <div ng-controller="PopUpCtrl" ng-click="params={actionType:1}; openWindow('/LeasingCredential/AddNewCredential','Լիազորագրի մուտքագրում','newLeasingCredential',callbackgetCredentials)">
                <i class="add-new-product tipB" data-original-title="Նոր Լիազորագիր"></i>
            </div>
        </div>

        @*<div class="product-content-table custom-scroll" id="LeasingCredentialItemsContent" ng-class="{'product-content-table-full_height' : hideBlank!='true' }">
            <div ng-if="credential==undefined">
                <loading></loading>
            </div>
            <table class="table table-condensed table-hover" style::="background-color:white; margin-top:0px !important;">
                <tbody>
                    <tr ng-repeat="item in credentials" ng-if="filter==1 && credentials.length!=0" ng-class="{'selected':$index == selectedRow}" ng-click="setClickedRow($index,item); hideBlank!='true'" style="max-height:200px;cursor:pointer;" ng-dblclick="openLeasingCredentialsDetails();">
                        <td>
                            <span class="tab_text">Համար՝ </span><span> {{item.Id}}</span><br />
                            <span class="tab_text">Լիազորագրի համար՝ </span><span> {{item.CredentialNumber}}</span><br />
                            <span class="tab_text">Սկիզբ` </span><span> {{::item.StartDate | mydate | date: 'dd/MM/yyyy'}}</span><br />
                            <span class="tab_text">Վերջ` </span><span> {{::item.EndDate | mydate | date: 'dd/MM/yyyy'}}</span><br />
                            <span class="tab_text">Կարգավիճակ` </span><span> {{item.Status == 0?'Գործող':'Փակված'}}</span>
                        </td>
                        <td class="col-sm-1 click_toggle" context="contextleasingcredentials" id="contextMenu"><div id="contextMenu"></div> </td>
                    </tr>
                    <tr ng-if="filter==1 && credentials.length==0 ">
                        <td colspan="3" style="text-align:center;">
                            Առկա չեն գործող լիազորագրեր։
                        </td>
                    </tr>
                    <tr ng-if="filter!=1"><td style="color:red; border-width:3px" colspan="3">Փակված լիազորագրեր</td></tr>
                    <tr ng-repeat="close in closedCredentials" ng-if="closedCredentials.length!=0" ng-class="{'selected':$index == selectedRowClose}" ng-click="setClickedRow($index,close); hideBlank!='true'" style="max-height:200px;cursor:pointer;" ng-dblclick="openLeasingCredentialsDetails();">
                        <td>
                            <span class="tab_text">Համար՝ </span><span> {{item.Id}}</span><br />
                            <span class="tab_text">Լիազորագրի համար՝ </span><span> {{item.CredentialNumber}}</span><br />
                            <span class="tab_text">Սկիզբ` </span><span> {{::item.StartDate | mydate | date: 'dd/MM/yyyy'}}</span><br />
                            <span class="tab_text">Վերջ` </span><span> {{::item.EndDate | mydate | date: 'dd/MM/yyyy'}}</span><br />
                            <span class="tab_text">Կարգավիճակ` </span><span> {{item.Status == 0?'Գործող':'Փակված'}}</span>
                        </td>
                        <td class="col-sm-1 click_toggle" context="contextleasingcredentials" id="contextMenu"><div id="contextMenu"></div> </td>
                    </tr>
                    <tr ng-if="filter!=1 && closedCredentials.length==0">
                        <td colspan="3" style="text-align:center;">
                            Առկա չեն փակված լիազորագրեր։
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>*@
        <div class="product-content-table custom-scroll" id="LeasingCredentialItemsContent" ng-class="{'product-content-table-full_height' : hideBlank!='true' }">
            <div ng-if="credential==undefined">
                <loading></loading>
            </div>
            <table class="table table-condensed table-hover" style="background-color:white; margin-top:0px !important;">
                <tbody>
                    <tr ng-repeat="item in credentials | filter: { Status: filter!=undefined? filter:'' }" ng-if="credentials.length!=0"
                        ng-class="{'selected':$index == selectedRow}" ng-click="setClickedRow($index,item); hideBlank!='true'"
                        style="max-height:200px;cursor:pointer;" ng-dblclick="openLeasingCredentialsDetails();">
                        <td>
                            <span class="tab_text">Համար՝ </span><span> {{item.Id}}</span><br />
                            <span class="tab_text">Լիազորագրի համար՝ </span><span> {{item.CredentialNumber}}</span><br />
                            <span class="tab_text">Սկիզբ` </span><span> {{::item.StartDate | mydate | date: 'dd/MM/yyyy'}}</span><br />
                            <span class="tab_text">Վերջ` </span><span> {{::item.EndDate | mydate | date: 'dd/MM/yyyy'}}</span><br />
                            <span class="tab_text">Կարգավիճակ` </span><span> {{item.Status == 0?'Գործող':'Փակված'}}</span>
                        </td>
                        <td class="col-sm-1 click_toggle" context="contextleasingcredentials" id="contextMenu"><div id="contextMenu"></div> </td>
                    </tr>

                    <tr ng-if="filter==1 && credentials.length==0 ">
                        <td colspan="3" style="text-align:center;">
                            Առկա չեն լիազորագրեր։
                        </td>
                    </tr>
                    <tr ng-if="filter!=1 && credentials.length==0">
                        <td colspan="3" style="text-align:center;">
                            Առկա չեն փակված լիազորագրեր։
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <ul id="contextleasingcredentials" class="dropdown-menu">
            <li><a style="color: black;text-decoration:none!important;" ng-controller="PopUpCtrl" ng-click="params={credential:selectedLeasingCredential}; openWindow('/LeasingCredential/CredentialDetails','Լիազորագրի մանրամասներ','credentialDetails')">Մանրամասն դիտարկում</a></li>
            <li><a style="color: black;text-decoration:none!important;" ng-if="selectedLeasingCredential.Status == 0" ng-controller="PopUpCtrl" ng-click="params={credential:selectedLeasingCredential,actionType:2}; openWindow('/LeasingCredential/AddNewCredential','Լիազորագրի խմբագրում','newCredential',callbackgetCredentials)">Խմբագրել</a></li>
            <li><a style="color: black;text-decoration:none!important;" ng-click="saveCredentialDeleteOrder(selectedLeasingCredential);">Հեռացնել</a></li>
            <li><a style="color: black;text-decoration:none!important;" ng-controller="PopUpCtrl" ng-click="params={credential:selectedLeasingCredential}; openWindow('/LeasingCredential/CredentialTermination','Լիազորագրի դադարեցման հայտի մուտքագրում','credentialTermination',callbackgetCredentials)">Դադարեցնել</a></li>
        </ul>
    </div>
    @*<div class="product-collapsable-section">
        <div class="product-container-header">
            <div class="include-closed-products">
                <input type="checkbox" class="css-square-checkbox lrg" id="include-closed-accounts" data-ng-model="filter" ng-true-value="2" ng-false-value="1" ng-change="QualityFilter()">
                <label for="include-closed-accounts" name="include-closed-accounts-checkbox_lbl" class="css-label lrg custom-square-checkbox">Դիտել փակվածները</label>
            </div>
            <div ng-controller="PopUpCtrl" ng-click="params={actionType:1}; openWindow('/LeasingCredential/AddNewCredential','Լիազորագրի մուտքագրում','newCredential',callbackgetCredentials)">
                <i class="add-new-product tipB" data-original-title="Նոր Լիազորագիր"></i>
            </div>
        </div>
        <div class="tree-node tree-node-content" ng-if="credentials.length==0" ui-tree-node>
            <div colspan="3" style="text-align:center">Առկա չեն գործող լիազորագրեր</div>
        </div>
        <div ui-tree data-empty-placeholder-enabled="false">
            <ol ui-tree-nodes="" ng-model="credentials">
                <li style="margin-bottom:10px;border:2px solid #A6A6B1" ng-repeat="credential in credentials" data-collapsed="true" ui-tree-node>
                    <div class="tree-node tree-node-content">
                        <table>
                            <tr>
                                <td class="col-sm-3">
                                    <div>
                                        Համար
                                    </div>
                                    <div class="my_label line_height">
                                        {{credential.CredentialNumber || "-"}}
                                    </div>
                                </td>
                                <td class="col-sm-2">
                                    <div>
                                        Սկիզբ
                                    </div>
                                    <div class="my_label line_height">
                                        {{::credential.StartDate | mydate | date: 'dd/MM/yyyy'}}
                                    </div>
                                </td>
                                <td class="col-sm-2">
                                    <div>
                                        Վերջ
                                    </div>
                                    <div class="my_label line_height">
                                        {{::credential.EndDate | mydate | date: 'dd/MM/yyyy'}}
                                    </div>
                                </td>
                    <td class="col-sm-1" align="left">
                            <button class="btn btn-xs btn-primary glyphicon glyphicon-print" ng-if="credential.CredentialType == 0 && credential.Status == 10 && credential.AssigneeList[0].CustomerNumber" ng-click="printCustomerCredentialApplication($index)" title="Տպել լիազորագիրը"></button>
                        </td>
                    <td class="col-sm-1" align="left">
                            <button class="btn btn-xs btn-warning glyphicon glyphicon-user" ng-controller="PopUpCtrl" ng-click="params={currentCredential:credential}; openWindow('/CredentialOrder/AssigneeIdentificationOrder','Լիազորված անձի նույնականացում','assigneeIdentificationOrder')" ng-if="credential.Status == 10 && !credential.AssigneeList[0].CustomerNumber" title="Նույնականացնել լիազորված անձին"></button>
                        </td>
                    <td class="col-sm-1" align="right">
                        <button class="glyphicon glyphicon-info-sign" ng-controller="PopUpCtrl" ng-click="params={credential:credential}; openWindow('/LeasingCredential/CredentialDetails','Լիազորագրի մանրամասներ','credentialDetails')" title="Լիազորագրի մանրամասներ"></button>
                    </td>
                    <td class="col-sm-1" align="right">
                     սահմանափակել հասանելիությունը 
                    <button class="glyphicon glyphicon-pencil" ng-controller="PopUpCtrl" ng-click="params={credential:credential,actionType:2}; openWindow('/LeasingCredential/AddNewCredential','Լիազորագրի խմբագրում','newCredential',callbackgetCredentials)" title="Լիազորագրի խմբագրում"></button>
                </td>
                <td class="col-sm-1" align="left">
                    <button class="btn btn-xs btn-danger glyphicon glyphicon-remove" ng-click="saveCredentialDeleteOrder(credential);" title="Հեռացնել"></button>
                </td>
                <td class="col-sm-1" align="left">
                    <button class="btn btn-xs btn-soundcloud glyphicon glyphicon-remove" ng-controller="PopUpCtrl" ng-click="params={credential:credential}; openWindow('/LeasingCredential/CredentialTermination','Լիազորագրի դադարեցման հայտի մուտքագրում','credentialTermination',callbackgetCredentials)" title="Դադարեցում"></button>
                </td>
            </tr>
        </table>
    </div>
    <ol ui-tree-nodes="" ng-class="{hidden: collapsed}" ng-model="credential.AssigneeList">
            <li ng-repeat="assignee in credential.AssigneeList" data-collapsed="true" ui-tree-node>

                <div class="tree-node tree-node-content" style="background-color: #EDF7E4">

                    <table>
                        <tr>
                            <td class="col-sm-6">
                                <a style="cursor:pointer" ng-if="credential.AssigneeList && assignee.OperationList.length > 0" data-nodrag ng-click="toggle()">
                                    <span class="glyphicon" ng-class="{'glyphicon-plus': collapsed,'glyphicon-minus': !collapsed}"></span>
                                </a>
                                <span ng-if="assignee.CustomerNumber">
                                    {{::assignee.CustomerNumber}}
                                </span>

                                <span ng-if="!assignee.CustomerNumber">
                                    Հաճախորդի համար կցված չէ
                                </span>

                                <button ng-if="assignee.CustomerNumber" type="button" ng-controller="PopUpCtrl" title="Հաճախորդի տվյալներ" ng-click="params={customerNumber:assignee.CustomerNumber}; openWindow('/Customer/CustomerDetails','Հաճախորդի տվյալներ','customerdetails')">
                                    <span class="fa fa-info-circle"></span>

                                </button>

                                {{::assignee.AssigneeFirstName}} {{::assignee.AssigneeLastName}} {{::assignee.AssigneeMiddleName}}
                            </td>
                            <td class="col-sm-6">
                                <table>
                                    <tr>
                                        <td class="col-sm-6">
                                            <div style="text-align:center">Աշխատակից է</div>
                                        </td>
                                        <td class="col-sm-6" ng-show="credential.CredentialType == 1">
                                            Կարգ
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="checkbox checkbox-success" style="text-align:center">
                                                <input type="checkbox" disabled="disabled" class="styled" id="chkIsEmployee" ng-model="assignee.IsEmployee" value="option2" aria-label="Single checkbox One">
                                                <label></label>
                                            </div>
                                        </td>
                                        <td ng-show="credential.CredentialType == 1">
                                            <div class="my_label line_height">
                                                {{assignee.SignatureType == 1 ? "I կարգ" : (assignee.SignatureType == 2 ? "II կարգ" : "-")}}
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
                <ol ui-tree-nodes="" ng-class="{hidden: collapsed}" ng-model="assignee.GroupList">
                    <li ng-repeat="assigneeOperationGroup in assignee.GroupList" data-collapsed="true" ui-tree-node>
                        <div class="tree-node tree-node-content">

                            <table>
                                <tr>
                                    <td>
                                        <a style="cursor:pointer" ng-if="assignee.GroupList" data-nodrag ng-click="toggle(); ">
                                            <span class="glyphicon" ng-class="{'glyphicon-plus': collapsed,'glyphicon-minus': !collapsed}"></span>
                                        </a>{{::assigneeOperationGroup.Description}}
                                    </td>
                                    <td>
                                        <div style="text-align:center;" ng-class="{hidden: collapsed}">Բոլոր հաշիվները</div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <ol ui-tree-nodes="" ng-class="{hidden: collapsed}" ng-model="assignee.OperationList">
                            <li ng-repeat="assigneeOperation in assignee.OperationList" ng-if="assigneeOperation.GroupId==assigneeOperationGroup.GroupId" data-collapsed="true" ui-tree-node>
                                <div class="tree-node tree-node-content" style="background-color: #EDF7E4">

                                    <table>
                                        <tr>
                                            <td>
                                                <a style="cursor:pointer" ng-if="assignee.OperationList && assigneeOperation.AccountList.length > 0" data-nodrag ng-click="toggle()">
                                                    <span class="glyphicon" ng-class="{'glyphicon-plus': collapsed,'glyphicon-minus': !collapsed}"></span>
                                                </a>{{::assigneeOperation.OperationTypeDescription}}
                                            </td>
                                            <td>

                                                <div class="checkbox checkbox-success" style="text-align:center">
                                                    <input type="checkbox" disabled="disabled" class="styled" id="singleCheckbox1" ng-model="assigneeOperation.AllAccounts" value="option1" aria-label="Single checkbox One">
                                                    <label></label>
                                                </div>
                                            </td>

                                        </tr>
                                    </table>
                                </div>
                                <ol ui-tree-nodes="" ng-class="{hidden: collapsed}" ng-model="assigneeOperation.AccountList">
                                    <li ng-repeat="account in assigneeOperation.AccountList" data-collapsed="true" ui-tree-node>
                                        <div class="tree-node tree-node-content ">
                                            <table>
                                                <tr>
                                                    <td>
                                                        <div class=" line_height" ng-show="$index == 0">Հաշվեհամար </div>
                                                        <div class="line_height">{{account.AccountNumber}} {{account.Currency}}</div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </li>
                                </ol>
                            </li>
                        </ol>
                    </li>
                </ol>
            </li>
        </ol>
    </li>
            </ol>
        </div>


        <div ng-if="filter!=1" style="font-weight:bold; padding-top: 30px;">Փակված լիազորագրեր</div>
        <div ui-tree data-empty-placeholder-enabled="false">
            <ol ui-tree-nodes="" ng-model="credentials">
                <li ng-if="closingCredentials.length!=0" style="margin-bottom:15px;border:2px solid #A6A6B1" ng-repeat="credential in closingCredentials" data-collapsed="true" ui-tree-node>
                    <div class="tree-node tree-node-content">
                        <table>
                            <tr>
                                <td class="col-sm-4">
                                    <a style="cursor:pointer" ng-if="closingCredentials && credential.AssigneeList.length > 0" data-nodrag ng-click="toggle()" callrestservice(this)>
                                        <span class="glyphicon" ng-class="{'glyphicon-plus': collapsed,'glyphicon-minus': !collapsed}"></span>
                                    </a>{{credential.CredentialTypeDescription}}
                                </td>
                                <td class="col-sm-2">
                                    <div>
                                        Համար
                                    </div>
                                    <div class="my_label line_height">
                                        {{credential.CredentialNumber || "-"}}
                                    </div>
                                </td>
                                <td class="col-sm-2">
                                    <div>
                                        Սկիզբ
                                    </div>
                                    <div class="my_label line_height">
                                        {{credential.StartDate | mydate | date: 'dd/MM/yyyy'}}
                                    </div>
                                </td>
                                <td class="col-sm-2">
                                    <div>
                                        Վերջ
                                    </div>
                                    <div class="my_label line_height">
                                        {{credential.EndDate | mydate | date: 'dd/MM/yyyy'}}
                                    </div>
                                </td>
                                <td class="col-sm-2">
                                    <div>
                                        Փակման ա/թ
                                    </div>
                                    <div class="my_label line_height">
                                        {{credential.ClosingDate | mydate | date: 'dd/MM/yyyy'}}
                                    </div>
                                </td>

                            </tr>
                        </table>
                        <div>
                            <table>
                                <tr>
                                    <td class="col-sm-1"></td>
                                    <td class="col-sm-3">
                                        <div>
                                            Փակման Պատճառ՝
                                        </div>
                                    </td>
                                    <td class="col-sm-8">
                                        <div class="my_label line_height">
                                            {{credential.ClosingReason}}
                                        </div>
                                    </td>
                                </tr>
                            </table>

                        </div>
                    </div>
                    <ol ui-tree-nodes="" ng-class="{hidden: collapsed}" ng-model="credential.AssigneeList">
                        <li ng-repeat="assignee in credential.AssigneeList" data-collapsed="true" ui-tree-node>

                            <div class="tree-node tree-node-content" style="background-color: #EDF7E4">

                                <table>
                                    <tr>
                                        <td class="col-sm-4">
                                            <a style="cursor:pointer" ng-if="credential.AssigneeList && assignee.OperationList.length > 0" data-nodrag ng-click="toggle()">
                                                <span class="glyphicon" ng-class="{'glyphicon-plus': collapsed,'glyphicon-minus': !collapsed}"></span>
                                            </a>{{assignee.CustomerNumber}}
                                            <button type="button" ng-controller="PopUpCtrl" title="Հաճախորդի տվյալներ" ng-click="params={customerNumber:assignee.CustomerNumber}; openWindow('/Customer/CustomerDetails','Հաճախորդի տվյալներ','customerdetails')">
                                                <span class="fa fa-info-circle"></span>

                                            </button>
                                        </td>
                                        <td class="col-sm-8">
                                            <table>
                                                <tr>
                                                    <td class="col-sm-4">
                                                        <div style="text-align:center">Աշխատակից է</div>
                                                    </td>
                                                    <td class="col-sm-4" ng-show="credential.CredentialType == 1">
                                                        Կարգ
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="checkbox checkbox-success" style="text-align:center">
                                                            <input type="checkbox" disabled="disabled" class="styled" id="chkIsEmployee" ng-model="assignee.IsEmployee" value="option2" aria-label="Single checkbox One">
                                                            <label></label>
                                                        </div>
                                                    </td>
                                                    <td ng-show="credential.CredentialType == 1">
                                                        <div class="my_label line_height">
                                                            {{assignee.SignatureType == 1 ? "I կարգ" : (assignee.SignatureType == 2 ? "II կարգ" : "-")}}
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <ol ui-tree-nodes="" ng-class="{hidden: collapsed}" ng-model="assignee.GroupList">
                                <li ng-repeat="assigneeOperationGroup in assignee.GroupList" data-collapsed="true" ui-tree-node>
                                    <div class="tree-node tree-node-content">

                                        <table>
                                            <tr>
                                                <td>
                                                    <a style="cursor:pointer" ng-if="assignee.GroupList" data-nodrag ng-click="toggle()">
                                                        <span class="glyphicon" ng-class="{'glyphicon-plus': collapsed,'glyphicon-minus': !collapsed}"></span>
                                                    </a>{{assigneeOperationGroup.Description}}
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <ol ui-tree-nodes="" ng-class="{hidden: collapsed}" ng-model="assignee.OperationList">
                                        <li ng-repeat="assigneeOperation in assignee.OperationList" ng-if="assigneeOperation.GroupId==assigneeOperationGroup.GroupId" data-collapsed="true" ui-tree-node>
                                            <div class="tree-node tree-node-content" style="background-color: #EDF7E4">

                                                <table>
                                                    <tr>
                                                        <td>
                                                            <a style="cursor:pointer" ng-if="assignee.OperationList && assigneeOperation.AccountList.length > 0" data-nodrag ng-click="toggle()">
                                                                <span class="glyphicon" ng-class="{'glyphicon-plus': collapsed,'glyphicon-minus': !collapsed}"></span>
                                                            </a>{{assigneeOperation.OperationTypeDescription}}
                                                        </td>
                                                        <td>
                                                            <div style="text-align:center" ng-show="$index == 0">Բոլոր հաշիվները</div>
                                                            <div class="checkbox checkbox-success" style="text-align:center">
                                                                <input type="checkbox" disabled="disabled" class="styled" id="singleCheckbox1" ng-model="assigneeOperation.AllAccounts" value="option1" aria-label="Single checkbox One">
                                                                <label></label>
                                                            </div>
                                                        </td>

                                                    </tr>
                                                </table>
                                            </div>
                                            <ol ui-tree-nodes="" ng-class="{hidden: collapsed}" ng-model="assigneeOperation.AccountList">
                                                <li ng-repeat="account in assigneeOperation.AccountList" data-collapsed="true" ui-tree-node>
                                                    <div class="tree-node tree-node-content ">
                                                        <table>
                                                            <tr>
                                                                <td>
                                                                    <div class=" line_height" ng-show="$index == 0">Հաշվեհամար </div>
                                                                    <div class="line_height">{{account.AccountNumber}} {{account.Currency}}</div>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </li>
                                            </ol>
                                        </li>
                                    </ol>
                                </li>
                            </ol>
                        </li>
                    </ol>
                </li>
            </ol>
        </div>
    </div>*@
</div>
