@{
    Layout = null;
}

<form style="width:500px" ng-controller="InterestMarginChangeOrderCtrl" data-ng-init="getInterestMarginOrder(selectedOrderId)">
    <loading-control style="margin-left:20em" scopevariable="orderDetails"></loading-control>
    <div ng-show="orderDetails" class="product-details bhoechie-tab-content" style="min-width:500px;padding-left:10px">
        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Հայտի համար</div>
            <div class="product-detail-cell product-detail-value">{{orderDetails.Id}}</div>
        </div>

        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Մուտքագրման ա/թ</div>
            <div class="product-detail-cell product-detail-value">{{orderDetails.RegistrationDateString}}</div>
        </div>

        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Գործառնական օր</div>
            <div class="product-detail-cell product-detail-value">{{orderDetails.OperationDateString}}</div>
        </div>

        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Կարգավիճակ</div>
            <div ng-if="orderDetails.Quality==30" class="product-detail-cell product-detail-value greenStyle">{{orderDetails.QualityDescription}}</div>
            <div ng-if="orderDetails.Quality==31" class="product-detail-cell product-detail-value redStyle">{{orderDetails.QualityDescription}}</div>
            <div ng-if="orderDetails.Quality!=31 && orderDetails.Quality!=30" class="product-detail-cell product-detail-value">{{orderDetails.QualityDescription}}</div>
        </div>
        <br />



        @*<div class="product-detail-row">
                <div class="product-detail-cell product-detail-lable">Գործող ֆոնդ</div>
                <div class="product-detail-cell product-detail-value">{{orderDetails.Fond.IsActive==true?'Այո':'Ոչ'}}</div>
            </div>

            <div class="product-detail-row">
                <div class="product-detail-cell product-detail-lable">Սուբսիդավորում</div>
                <div class="product-detail-cell product-detail-value">{{orderDetails.Fond.IsSubsidia==true?'Այո':'Ոչ'}}</div>
            </div>*@
    </div>
    <div class="product-detail-row">
        <div class="product-detail-cell product-detail-lable">
            <span class="panel-title" style="font-size: 14px;" ng-show="orderDetails.InterestMargin.marginType ==1">Ընթացիկ (ցպահանջ) հաշիվների տեղաբաշխում</span>
            <span class="panel-title" style="font-size: 14px;" ng-show="orderDetails.InterestMargin.marginType ==2">Ժամկետային ավանդների տեղաբաշխում</span>
            <span class="panel-title" style="font-size: 14px;" ng-show="orderDetails.InterestMargin.marginType ==3">Բանկի կողմից թողարկված պարտատոմսերի դիմաց ներգրաված միջոցների տեղաբաշխում</span>
        </div>
    </div>
    <div class="product-details bhoechie-tab-content" style="min-width:500px;padding-left:10px">
        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable" style="vertical-align: middle;">
                <span class="panel-title" style="font-size: 14px;">Մարժայի ամսաթիվ</span>
            </div>
            <div class="product-detail-cell product-detail-value">
                <input type="month" class="form-control col-sm-12" id="MarginDate" ng-model="orderDetails.InterestMargin.marginDate" ng-disabled="true">
            </div>
        </div>
    </div>
    <table class="table table-condensed table-hover" style=" width:100%;">
        <thead>
            <tr class="product-container-header">
                <td class="text-center col-md-6" style="padding-right:0px; text-align:left;">Արժույթ</td>
                <td class="text-center col-md-6" style="padding-right:0px; text-align:left;">Տոկոսադրույք</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="rateDetail in orderDetails.InterestMargin.marginDetails" ng-if="orderDetails.InterestMargin.marginDetails!=0 " ng-class="{'selected':$index == selectedRow}" style="cursor: pointer;" ng-click="setClickedRow($index);">
                <td class="col-md-6">
                    {{::rateDetail.Currency}}
                </td>
                <td class="col-md-6">
                    {{::rateDetail.InterestRate*100}} <span> %</span>
                </td>
            </tr>
            <tr ng-if="orderDetails.InterestMargin.marginDetails.length==0 ">
                <td colspan="2" style="text-align:center;">
                    Առկա չեն տոկոսադրույքները
                </td>
            </tr>
        </tbody>
    </table>


    <div style="clear:both;color:#6F6A6A;font-weight:bold;margin-left:10px">Կատարվել է {{selectedSourceDescription}}-ի միջոցով</div>
</form>
