@{
    Layout = null;
}

<div id="InterestMarginChangeOrderSaveLoad" class="overlay hidden">
    <img class="loader-image non-selectable" src="../../Content/Images/invisible.png" />
</div>
<form ng-controller="InterestMarginChangeOrderCtrl" data-ng-init="getInterestMarginDetails(marginType); initInterestMarginChangeOrder()" name="InterestMarginChangeOrderForm" id="InterestMarginChangeOrderForm" role="form" style="min-width:600px;min-height:570px;" novalidate class="form-horizontal" labels-required>

    <div id="InterestMarginOrder_menu" class="menu-bar dialog-menu light-green">
        <ul id="menu" class="dialog-menu">
            <li class="root-menu-item-4 " ng-click="InterestMarginChangeOrderForm.$setSubmitted(); saveInterestMarginChangeOrder()">
                <span id="h-menu-item-4"><img id="h-menu-icon-4" class="submitButton h-menu-icon">Պահպանել</span>
            </li>
            <li class="root-menu-item-5 " onclick="CloseBPDialog('InterestMarginorder')">
                <span id="h-menu-item-5"><img id="h-menu-icon-5" class="h-menu-icon cancelButton">Հրաժարվել</span>
            </li>
        </ul>
    </div>


    <div class="col-sm-12" style="padding:0;padding-left:5px;">

        <div class="col-sm-12" style="max-width:1000px">

            @*<div style="max-width:630px">
                    <errors></errors>
                </div>


                <div class="product-details bhoechie-tab-content" style="min-width:210px;margin-left:10px;">
                    <div class="product-detail-row">
                        <div class="product-detail-cell product-detail-lable">Համար</div>
                        <div class="product-detail-cell product-detail-value">{{fond.ID}}</div>
                    </div>
                    <div class="product-detail-row">
                        <div class="product-detail-cell product-detail-lable">Անվանում</div>
                        <div class="product-detail-cell product-detail-value">{{::fond.Description}}</div>
                    </div>
                    <div class="product-detail-row">
                        <div class="product-detail-cell product-detail-lable">Սուբսիդավորում</div>
                        <div class="product-detail-cell product-detail-value">{{fond.IsSubsidia==true?'Այո':'Ոչ'}}</div>
                    </div>
                    <div class="product-detail-row">
                        <div class="product-detail-cell product-detail-lable">Գործող ֆոնդ</div>
                        <div class="product-detail-cell product-detail-value">{{fond.IsActive==true?'Այո':'Ոչ'}}</div>
                    </div>
                </div>*@


            <div class="form-group" data-ng-init="getCurrentAccountCurrencies()">

                <div class="col-sm-12">
                    <div class="row-no-margin">

                        <section class="panel panel-success" style="max-width: 520px">
                            <header class="panel-heading">
                                <span class="panel-title" style="font-size: 14px;" ng-show="marginType ==1">Ընթացիկ (ցպահանջ) հաշիվների տեղաբաշխում</span>
                                <span class="panel-title" style="font-size: 14px;" ng-show="marginType ==2">Ժամկետային ավանդների տեղաբաշխում</span>
                                <span class="panel-title" style="font-size: 14px;" ng-show="marginType ==3">Բանկի կողմից թողարկված պարտատոմսերի դիմաց ներգրաված միջոցների տեղաբաշխում</span>
                            </header>
                            <div class="panel-body">
                                <span style="display:inline-block ; ">
                                    <input type="month" class="form-control col-sm-12" id="MarginDate" ng-model="InterestMargin.marginDate" ng-change="getInterestMarginDetailsByDate()">
                                    @*<select ng-show="months" data-ng-model="InterestMargin.marginDate" name="MarginDate" id="MarginDate" class="form-control " required style="max-width:120px"
                                                data-ng-options="k as v for (k,v) in ::months">
                                            <option value="" hidden="hidden" style="margin-left:10px">Ընտրեք...</option>
                                        </select>*@
                                </span>
                                <div ng-repeat="InterestMarginDetail in InterestMargin.marginDetails">
                                    <div class="input-group col-sm-12">
                                        <span style="display:inline-block ; ">
                                            <select ng-show="currencies" ng-disabled="InterestMarginDetail.isDisable" data-ng-model="InterestMarginDetail.Currency" name="Currency" id="Currency" class="form-control " required style="max-width:120px"
                                                    data-ng-options="k as v for (k,v) in ::currencies">
                                                <option value="" hidden="hidden" style="margin-left:10px">Ընտրեք...</option>
                                            </select>
                                        </span>
                                        <span class="input-group" style="display:inline-block ; ">
                                            <input type="text" class="form-control" required fcsa-number onkeypress='return event.charCode >= 48 && event.charCode <= 57 || event.charCode==46' id="InterestRate" name="InterestRate"
                                                   ng-model="InterestMarginDetail.InterestRate" style="max-width:150px" aria-describedby="basic-addon2">
                                            <span class="input-group-addon" style="height:34px; ">%</span>
                                        </span>

                                        @*<span style="display:inline-block ;">
                                                <button type="button" style="background-color:white;height:34px;" class="btn" ng-hide="FTPRateDetail.isDisable" ng-click="delete($index)"><span style="color:red;" class="glyphicon glyphicon-remove"></span></button>
                                            </span>*@

                                    </div>

                                </div>


                            </div>
                        </section>

                    </div>

                </div>
            </div>

        </div>
    </div>
</form>
