@{
    Layout = null;
}

<div class="section"> 
    <div ng-if="$root.SessionProperties.IsTimeZoneValid == 1">
        <div>
            <leasings hide-blank="true"></leasings>
        </div>
    </div>
</div>
