
@{
    Layout = null;
}

<style type="text/css">
    .chosen-container-multi .chosen-choices {
        border-radius: 4px;
    }

    #TerminateCredentialForm .ui-widget input {
        font-family: 'webly_semibold';
    }

    #TerminateCredentialForm .chosen-container-multi {
        border-radius: 4px;
    }

    #TerminateCredentialForm .chosen-choices {
        border-radius: 4px;
    }

    #TerminateCredentialForm .chosen-container {
        position: fixed;
        z-index: 99;
        height: 35px;
    }

    #TerminateCredentialForm .form-group {
        margin-left: 15px;
    }
</style>


<form ng-controller="CredentialCtrl" name="TerminateCredentialForm" id="TerminateCredentialForm" style="min-width:550px;" ovalidate class="form-horizontal" labels-required prevent-enter-submit>

    <div id="credentialTermination_menu" class="menu-bar dialog-menu light-green">
        <ul id="menu" class="dialog-menu">
            @*<li class="root-menu-item-4 " ng-click="getPeriodicTransferClosingDetails(periodic.ProductId);">
                    <span id="h-menu-item-4"><img id="h-menu-icon-4" class="submitButton h-menu-icon">Դադարեցման դիմում</span>
                </li>*@
            <li class="root-menu-item-6 " ng-click="saveCredentialTerminationOrder();">
                <span id="h-menu-item-6"><img id="h-menu-icon-6" class="submitButton h-menu-icon">Պահպանել</span>
            </li>
            <li class="root-menu-item-5 " onclick="CloseBPDialog('credentialTermination')">
                <span id="h-menu-item-5"><img id="h-menu-icon-5" class="h-menu-icon cancelButton">Հրաժարվել</span>
            </li>
        </ul>
        <div id="right-menu" style="display:none;">
        </div>
    </div>    
  
    <div class="col-sm-12">
        <div class="form-group">
            <label class="tab_title col-sm-5" for="ClosingReasonType">Փակման պատճառ</label>
            <loading-control scopevariable="credentialClosingReasons"></loading-control>

            <div ng-show="credentialClosingReasons" class="col-sm-6" data-ng-init="getCredentialClosingReasons()">
                <div class="row">
                    <select chosen data-ng-model="credential.ClosingReasonType" name="ClosingReasonType" id="ClosingReasonType" class="form-control" required
                            data-ng-options="k as v for (k,v) in credentialClosingReasons" data-placeholder="Ընտրեք պատճառը..."></select>
                </div>
                <div class="row">
                    <ng-messages ng-if="TerminateCredentialForm.$submitted || TerminateCredentialForm.ClosingReasonType.$dirty"
                                 for="TerminateCredentialForm.ClosingReasonType.$error">
                        <ng-message when="required" class="errors">
                            Պատճառն ընտրված չէ
                        </ng-message>
                    </ng-messages>
                </div>
            </div>
        </div>
    </div>
    
    <div style="max-width:520px">
        <errors></errors>
    </div>

    <div ng-show="warnings.length>0" class="panel panel-warning" data-ng-init="getCredentialClosingWarnings()">
        <div class="panel-heading"><span class="glyphicon glyphicon-warning-sign"></span> Ուշադրություն</div>
        <div class="panel-body">
            <div ng-repeat="war in warnings">
                {{$index+1}}.{{::war}}
            </div>
        </div>
    </div>

</form>