<style type="text/css">
    .tree-node {
        border: 1px solid #dae2ea;
        background: #f8faff;
        color: #7c9eb2;
    }
</style>

<link href="~/Content/awesome-bootstrap-checkbox.css" rel="stylesheet" />
<link href="~/Content/font-awesome.css" rel="stylesheet" />

<div class="product-container" id="AllCredentials" style="width:50%" ng-controller="CredentialCtrl" data-ng-init="getCredentials()">
    <div class="header-title">
        Լիազորագրեր
        <div class="product-collapse tipB fa fa-chevron-down" data-original-title="Թաքցնել" onclick="CollapseProductContainer(this)"></div>
    </div>
    <div class="product-collapsable-section">
        <div class="product-container-header">
            <div class="include-closed-products">
                <input type="checkbox" class="css-square-checkbox lrg" id="include-closed-accounts" data-ng-model="filter" ng-true-value="2" ng-false-value="1" ng-change="QualityFilter()">
                <label for="include-closed-accounts" name="include-closed-accounts-checkbox_lbl" class="css-label lrg custom-square-checkbox">Դիտել փակվածները</label>
            </div>
            <div ng-if="$root.SessionProperties.SourceType == 2" ng-controller="PopUpCtrl" ng-click="openWindow('/CredentialOrder/PersonalCredentialOrder','Լիազորագրի հայտի մուտքագրում','newCredential',callbackgetCredentials)">
                <i class="add-new-product tipB" data-original-title="Նոր Լիազորագիր"></i>
            </div>
        </div>
        <div class="tree-node tree-node-content" ng-if="credentials.length==0" ui-tree-node>
            <div colspan="3" style="text-align:center">Առկա չեն գործող լիազորագրեր</div>
        </div>
        <div ui-tree data-empty-placeholder-enabled="false">
            <ol ui-tree-nodes="" ng-model="credentials">
                <li style="margin-bottom:10px;border:2px solid #A6A6B1" ng-repeat="credential in credentials" data-collapsed="true" ui-tree-node>
                    <div class="tree-node tree-node-content">
                        <table>
                            <tr>
                                <td class="col-sm-5">
                                    <a style="cursor:pointer" ng-if="credentials && credential.AssigneeList.length > 0" data-nodrag ng-click="toggle()" callrestservice(this)>
                                        <span class="glyphicon" ng-class="{'glyphicon-plus': collapsed,'glyphicon-minus': !collapsed}"></span>
                                    </a>{{::credential.CredentialTypeDescription}}
                                    <br /> {{credential.GivenByBank ? '(Բանկի կողմից տրված)' : '' }}
                                    <span ng-if="credential.Status==10"><br /> {{credential.Status==10 ? '(Պայմանագիր)' : '' }}</span>
                                </td>
                                <td class="col-sm-3">
                                    <div>
                                        Համար
                                    </div>
                                    <div class="my_label line_height">
                                        {{credential.CredentialNumber || "-"}}
                                    </div>
                                </td>
                                <td class="col-sm-2">
                                    <div>
                                        Սկիզբ
                                    </div>
                                    <div class="my_label line_height">
                                        {{::credential.StartDate | mydate | date: 'dd/MM/yyyy'}}
                                    </div>
                                </td>
                                <td class="col-sm-2">
                                    <div>
                                        Վերջ
                                    </div>
                                    <div class="my_label line_height">
                                        {{::credential.EndDateView | mydate | date: 'dd/MM/yyyy'}}
                                    </div>
                                </td>
                                <td class="col-sm-1" align="left">
                                    <button class="btn btn-xs btn-primary glyphicon glyphicon-print" ng-if="credential.CredentialType == 0 && credential.Status == 10 && credential.AssigneeList[0].CustomerNumber" ng-click="printCustomerCredentialApplication($index)" title="Տպել լիազորագիրը"></button>
                                </td>
                                <td class="col-sm-1" align="left">
                                    <button class="btn btn-xs btn-warning glyphicon glyphicon-user" ng-controller="PopUpCtrl" ng-click="params={currentCredential:credential}; openWindow('/CredentialOrder/AssigneeIdentificationOrder','Լիազորված անձի նույնականացում','assigneeIdentificationOrder')" ng-if="credential.Status == 10 && !credential.AssigneeList[0].CustomerNumber" title="Նույնականացնել լիազորված անձին"></button>
                                </td>
                                <td class="col-sm-1" align="left" ng-init="getUserFilialCode();getCustomerFilialCode()">
                                    <button ng-if="credential.Status == 10 && $root.SessionProperties.IsChiefAcc && customerFilialCode==userFilialCode && credential.AssigneeList[0].CustomerNumber" class="btn btn-xs btn-info glyphicon glyphicon-ok" ng-controller="PopUpCtrl" ng-click="params={currentCredential:credential}; openWindow('/CredentialOrder/PersonalCredentialActivationOrder','Լիազորագրի ակտիվացման հայտի մուտքագրում','credentialActivationOrder')" title="Ակտիվացնել"></button>
                                </td>
                                <td ng-if="credential.CredentialGivenDate != null" class="col-sm-1" align="right">
                                    <button class="glyphicon glyphicon-info-sign" ng-controller="PopUpCtrl" ng-click="params={credential:credential}; openWindow('/Credential/CredentialDetails','Լիազորագրի մանրամասներ','credentialDetails')" title="Լիազորագրի մանրամասներ"></button>
                                </td>
                                <td class="col-sm-1" align="left">
                                    <button class="btn btn-xs btn-danger glyphicon glyphicon-remove" ng-if="credential.Status == 10" ng-click="saveCredentialDeleteOrder(credential);" title="Հեռացնել"></button>
                                    <button class="btn btn-xs btn-soundcloud glyphicon glyphicon-remove" ng-controller="PopUpCtrl" ng-if="credential.Status != 10" ng-click="params={credential:credential}; openWindow('/Credential/CredentialTerminationOrder','Լիազորագրի դադարեցման հայտի մուտքագրում','credentialTermination',callbackgetCredentials)" title="Դադարեցում"></button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <ol ui-tree-nodes="" ng-class="{hidden: collapsed}" ng-model="credential.AssigneeList">
                        <li ng-repeat="assignee in credential.AssigneeList" data-collapsed="true" ui-tree-node>

                            <div class="tree-node tree-node-content" style="background-color: #EDF7E4">

                                <table>
                                    <tr>
                                        <td class="col-sm-6">
                                            <a style="cursor:pointer" ng-if="credential.AssigneeList && assignee.OperationList.length > 0" data-nodrag ng-click="toggle()">
                                                <span class="glyphicon" ng-class="{'glyphicon-plus': collapsed,'glyphicon-minus': !collapsed}"></span>
                                            </a>
                                            <span ng-if="assignee.CustomerNumber">
                                                {{::assignee.CustomerNumber}}
                                            </span>

                                            <span ng-if="!assignee.CustomerNumber">
                                                Հաճախորդի համար կցված չէ
                                            </span>

                                            <button ng-if="assignee.CustomerNumber" type="button" ng-controller="PopUpCtrl" title="Հաճախորդի տվյալներ" ng-click="params={customerNumber:assignee.CustomerNumber}; openWindow('/Customer/CustomerDetails','Հաճախորդի տվյալներ','customerdetails')">
                                                <span class="fa fa-info-circle"></span>

                                            </button>

                                            {{::assignee.AssigneeFirstName}} {{::assignee.AssigneeLastName}} {{::assignee.AssigneeMiddleName}}
                                        </td>
                                        <td class="col-sm-6">
                                            <table>
                                                <tr>
                                                    <td class="col-sm-6">
                                                        <div style="text-align:center">Աշխատակից է</div>
                                                    </td>
                                                    <td class="col-sm-6" ng-show="credential.CredentialType == 1">
                                                        Կարգ
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="checkbox checkbox-success" style="text-align:center">
                                                            <input type="checkbox" disabled="disabled" class="styled" id="chkIsEmployee" ng-model="assignee.IsEmployee" value="option2" aria-label="Single checkbox One">
                                                            <label></label>
                                                        </div>
                                                    </td>
                                                    <td ng-show="credential.CredentialType == 1">
                                                        <div class="my_label line_height">
                                                            {{assignee.SignatureType == 1 ? "I կարգ" : (assignee.SignatureType == 2 ? "II կարգ" : "-")}}
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <ol ui-tree-nodes="" ng-class="{hidden: collapsed}" ng-model="assignee.GroupList">
                                <li ng-repeat="assigneeOperationGroup in assignee.GroupList" data-collapsed="true" ui-tree-node>
                                    <div class="tree-node tree-node-content">

                                        <table>
                                            <tr>
                                                <td>
                                                    <a style="cursor:pointer" ng-if="assignee.GroupList" data-nodrag ng-click="toggle(); ">
                                                        <span class="glyphicon" ng-class="{'glyphicon-plus': collapsed,'glyphicon-minus': !collapsed}"></span>
                                                    </a>{{::assigneeOperationGroup.Description}}
                                                </td>
                                                <td>
                                                    <div style="text-align:center;" ng-class="{hidden: collapsed}">Բոլոր հաշիվները</div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <ol ui-tree-nodes="" ng-class="{hidden: collapsed}" ng-model="assignee.OperationList">
                                        <li ng-repeat="assigneeOperation in assignee.OperationList" ng-if="assigneeOperation.GroupId==assigneeOperationGroup.GroupId" data-collapsed="true" ui-tree-node>
                                            <div class="tree-node tree-node-content" style="background-color: #EDF7E4">

                                                <table>
                                                    <tr>
                                                        <td>
                                                            <a style="cursor:pointer" ng-if="assignee.OperationList && assigneeOperation.AccountList.length > 0" data-nodrag ng-click="toggle()">
                                                                <span class="glyphicon" ng-class="{'glyphicon-plus': collapsed,'glyphicon-minus': !collapsed}"></span>
                                                            </a>{{::assigneeOperation.OperationTypeDescription}}
                                                        </td>
                                                        <td>

                                                            <div class="checkbox checkbox-success" style="text-align:center">
                                                                <input type="checkbox" disabled="disabled" class="styled" id="singleCheckbox1" ng-model="assigneeOperation.AllAccounts" value="option1" aria-label="Single checkbox One">
                                                                <label></label>
                                                            </div>
                                                        </td>

                                                    </tr>
                                                </table>
                                            </div>
                                            <ol ui-tree-nodes="" ng-class="{hidden: collapsed}" ng-model="assigneeOperation.AccountList">
                                                <li ng-repeat="account in assigneeOperation.AccountList" data-collapsed="true" ui-tree-node>
                                                    <div class="tree-node tree-node-content ">
                                                        <table>
                                                            <tr>
                                                                <td>
                                                                    <div class=" line_height" ng-show="$index == 0">Հաշվեհամար </div>
                                                                    <div class="line_height">{{account.AccountNumber}} {{account.Currency}}</div>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </li>
                                            </ol>
                                        </li>
                                    </ol>
                                </li>
                            </ol>
                        </li>
                    </ol>
                </li>
            </ol>
        </div>


        <div ng-if="filter!=1" style="font-weight:bold; padding-top: 30px;">Փակված լիազորագրեր</div>
        <div ui-tree data-empty-placeholder-enabled="false">
            <ol ui-tree-nodes="" ng-model="credentials">
                <li ng-if="closingCredentials.length!=0" style="margin-bottom:15px;border:2px solid #A6A6B1" ng-repeat="credential in closingCredentials" data-collapsed="true" ui-tree-node>
                    <div class="tree-node tree-node-content">
                        <table>
                            <tr>
                                <td class="col-sm-4">
                                    <a style="cursor:pointer" ng-if="closingCredentials && credential.AssigneeList.length > 0" data-nodrag ng-click="toggle()" callrestservice(this)>
                                        <span class="glyphicon" ng-class="{'glyphicon-plus': collapsed,'glyphicon-minus': !collapsed}"></span>
                                    </a>{{credential.CredentialTypeDescription}}
                                </td>
                                <td class="col-sm-2">
                                    <div>
                                        Համար
                                    </div>
                                    <div class="my_label line_height">
                                        {{credential.CredentialNumber || "-"}}
                                    </div>
                                </td>
                                <td class="col-sm-2">
                                    <div>
                                        Սկիզբ
                                    </div>
                                    <div class="my_label line_height">
                                        {{credential.StartDate | mydate | date: 'dd/MM/yyyy'}}
                                    </div>
                                </td>
                                <td class="col-sm-2">
                                    <div>
                                        Վերջ
                                    </div>
                                    <div class="my_label line_height">
                                        {{credential.EndDate | mydate | date: 'dd/MM/yyyy'}}
                                    </div>
                                </td>
                                <td class="col-sm-2">
                                    <div>
                                        Փակման ա/թ
                                    </div>
                                    <div class="my_label line_height">
                                        {{credential.ClosingDate | mydate | date: 'dd/MM/yyyy'}}
                                    </div>
                                </td>

                            </tr>
                        </table>
                        <div>
                            <table>
                                <tr>
                                    <td class="col-sm-1"></td>
                                    <td class="col-sm-3">
                                        <div>
                                            Փակման Պատճառ՝
                                        </div>
                                    </td>
                                    <td class="col-sm-8">
                                        <div class="my_label line_height">
                                            {{credential.ClosingReason}}
                                        </div>
                                    </td>
                                </tr>
                            </table>

                        </div>
                    </div>
                    <ol ui-tree-nodes="" ng-class="{hidden: collapsed}" ng-model="credential.AssigneeList">
                        <li ng-repeat="assignee in credential.AssigneeList" data-collapsed="true" ui-tree-node>

                            <div class="tree-node tree-node-content" style="background-color: #EDF7E4">

                                <table>
                                    <tr>
                                        <td class="col-sm-4">
                                            <a style="cursor:pointer" ng-if="credential.AssigneeList && assignee.OperationList.length > 0" data-nodrag ng-click="toggle()">
                                                <span class="glyphicon" ng-class="{'glyphicon-plus': collapsed,'glyphicon-minus': !collapsed}"></span>
                                            </a>{{assignee.CustomerNumber}}
                                            <button type="button" ng-controller="PopUpCtrl" title="Հաճախորդի տվյալներ" ng-click="params={customerNumber:assignee.CustomerNumber}; openWindow('/Customer/CustomerDetails','Հաճախորդի տվյալներ','customerdetails')">
                                                <span class="fa fa-info-circle"></span>

                                            </button>
                                        </td>
                                        <td class="col-sm-8">
                                            <table>
                                                <tr>
                                                    <td class="col-sm-4">
                                                        <div style="text-align:center">Աշխատակից է</div>
                                                    </td>
                                                    <td class="col-sm-4" ng-show="credential.CredentialType == 1">
                                                        Կարգ
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="checkbox checkbox-success" style="text-align:center">
                                                            <input type="checkbox" disabled="disabled" class="styled" id="chkIsEmployee" ng-model="assignee.IsEmployee" value="option2" aria-label="Single checkbox One">
                                                            <label></label>
                                                        </div>
                                                    </td>
                                                    <td ng-show="credential.CredentialType == 1">
                                                        <div class="my_label line_height">
                                                            {{assignee.SignatureType == 1 ? "I կարգ" : (assignee.SignatureType == 2 ? "II կարգ" : "-")}}
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <ol ui-tree-nodes="" ng-class="{hidden: collapsed}" ng-model="assignee.GroupList">
                                <li ng-repeat="assigneeOperationGroup in assignee.GroupList" data-collapsed="true" ui-tree-node>
                                    <div class="tree-node tree-node-content">

                                        <table>
                                            <tr>
                                                <td>
                                                    <a style="cursor:pointer" ng-if="assignee.GroupList" data-nodrag ng-click="toggle()">
                                                        <span class="glyphicon" ng-class="{'glyphicon-plus': collapsed,'glyphicon-minus': !collapsed}"></span>
                                                    </a>{{assigneeOperationGroup.Description}}
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <ol ui-tree-nodes="" ng-class="{hidden: collapsed}" ng-model="assignee.OperationList">
                                        <li ng-repeat="assigneeOperation in assignee.OperationList" ng-if="assigneeOperation.GroupId==assigneeOperationGroup.GroupId" data-collapsed="true" ui-tree-node>
                                            <div class="tree-node tree-node-content" style="background-color: #EDF7E4">

                                                <table>
                                                    <tr>
                                                        <td>
                                                            <a style="cursor:pointer" ng-if="assignee.OperationList && assigneeOperation.AccountList.length > 0" data-nodrag ng-click="toggle()">
                                                                <span class="glyphicon" ng-class="{'glyphicon-plus': collapsed,'glyphicon-minus': !collapsed}"></span>
                                                            </a>{{assigneeOperation.OperationTypeDescription}}
                                                        </td>
                                                        <td>
                                                            <div style="text-align:center" ng-show="$index == 0">Բոլոր հաշիվները</div>
                                                            <div class="checkbox checkbox-success" style="text-align:center">
                                                                <input type="checkbox" disabled="disabled" class="styled" id="singleCheckbox1" ng-model="assigneeOperation.AllAccounts" value="option1" aria-label="Single checkbox One">
                                                                <label></label>
                                                            </div>
                                                        </td>

                                                    </tr>
                                                </table>
                                            </div>
                                            <ol ui-tree-nodes="" ng-class="{hidden: collapsed}" ng-model="assigneeOperation.AccountList">
                                                <li ng-repeat="account in assigneeOperation.AccountList" data-collapsed="true" ui-tree-node>
                                                    <div class="tree-node tree-node-content ">
                                                        <table>
                                                            <tr>
                                                                <td>
                                                                    <div class=" line_height" ng-show="$index == 0">Հաշվեհամար </div>
                                                                    <div class="line_height">{{account.AccountNumber}} {{account.Currency}}</div>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </li>
                                            </ol>
                                        </li>
                                    </ol>
                                </li>
                            </ol>
                        </li>
                    </ol>
                </li>
            </ol>
        </div>
    </div>
</div>
