<style type="text/css">
    #fastTransferPaymentOrderForm .ui-widget input {
        font-family: 'webly_semibold';
    }

    #fastTransferPaymentOrderForm {
        margin-right: 15px;
    }
</style>



<form ng-open="{{checkForDebitAccountFastPayment!=0?order.Type = 76 : order.Type =102}}" name="fastTransferPaymentOrderForm" role="form" class="form-horizontal col-sm-12" style="width: 1100px; padding: 0" ng-init="getCustomer()" novalidate prevent-enter-submit labels-required>
    <div id="interLoad" class="overlay hidden">
        <img class="loader-image non-selectable" src="../../Content/Images/invisible.png" />
    </div>
    <div id="fasttransferpaymentorder_menu" class="menu-bar dialog-menu light-green">
        <ul id="menu" class="dialog-menu">
            <li class="root-menu-item-4 " ng-click="fastTransferPaymentOrderForm.$setSubmitted();fastTransferPaymentOrderForm.$valid ? printFastTransferPaymentOrder(1) : showValidationMessage();" style="padding-right:0">
                <span id="h-menu-item-4"><img id="h-menu-icon-4" class="printButton h-menu-icon">Հանձնարարական</span>
            </li>

            <li ng-if="order.Type == 76" class="root-menu-item-2 " ng-controller="PopUpCtrl" ng-click="params={paymentOrder:order};openWindowWithTemplate('transitpaymentorder','Մուտք տարանցիկ հաշվին','transitpaymentorder');" style="padding-right:0">
                <span id="h-menu-item-2"><img id="h-menu-icon-2" class="cashInButton h-menu-icon">Կանխիկ մուտք</span>
            </li>
            <li ng-if="order.Type == 102" class="root-menu-item-2 " ng-controller="PopUpCtrl" ng-click="params={AccountNumber: order.DebitAccount.AccountNumber,checkForDebitAccount:1,checkForReciverAccount:0,checkForFeeAccount:0,orderType:51};openWindowWithTemplate('paymentorder','Մուտք հաշվին','paymentorder')" style="padding-right:0">
                <span id="h-menu-item-2"><img id="h-menu-icon-2" class="cashInButton h-menu-icon">Կանխիկ մուտք</span>
            </li>
            <li ng-if="order.Type == 76" class="root-menu-item-2 " ng-controller="PopUpCtrl" ng-click="params={paymentOrder:order, forFee:1};checkTransferFeeForTransitPaymentOrder() && openWindowWithTemplate('transitpaymentorder','Մուտք տարանցիկ հաշվին','transitpaymentorder');" style="padding-right:0" style="padding-right:0">
                <span id="h-menu-item-2"><img id="h-menu-icon-2" class="cashInButton h-menu-icon">Միջնորդավճար </span>
            </li>
            <li class="root-menu-item-4 " ng-click="fastTransferPaymentOrderForm.$setSubmitted();order.OnlySaveAndApprove=false;fastTransferPaymentOrderForm.$valid ? saveFastTransferPayment() : showValidationMessage();" style="padding-right:0">
                <span id="h-menu-item-4"><img id="h-menu-icon-4" class="submitButton h-menu-icon">Պահպանել</span>
            </li>
            <li ng-if="$root.SessionProperties.AdvancedOptions['withCashRegister']=='1'&& $root.SessionProperties.AdvancedOptions['canSendToCashier']=='1'" class="root-menu-item-4 " ng-click="fastTransferPaymentOrderForm.$setSubmitted();order.OnlySaveAndApprove=true;fastTransferPaymentOrderForm.$valid ? saveFastTransferPayment() : showValidationMessage();" style="padding-right:0">
                <span id="h-menu-item-4"><img id="h-menu-icon-4" class="submitButton h-menu-icon">Ուղարկել դրամարկղ</span>
            </li>
            <li class="root-menu-item-5 " onclick="CloseBPDialog('fasttransferpaymentorder')" style="padding-right:0">
                <span id="h-menu-item-5"><img id="h-menu-icon-5" class="h-menu-icon cancelButton">Հրաժարվել</span>
            </li>

            <li class="root-menu-item-5 " ng-click="openTransferAdditionalDetailsModal()" style="padding-right:0">
                <span id="h-menu-item-5"><img id="h-menu-icon-5" class="h-menu-icon transferAdditionalDataBtn">Լրաց. տվյալներ</span>
            </li>


        </ul>
        <div id="right-menu" style="display:none;">
        </div>
    </div>


    <div>
        <div class="col-sm-6" style="padding:0;padding-left:5px;">
            <div style="max-width:530px">
                <errors></errors>
            </div>
            <div class="form-group ">
                <div class="col-sm-12" style="max-width:530px">
                    <div class="row-no-margin">

                        <section class=" panel panel-info">
                            <header class="panel-heading">
                                <span class="panel-title" style=" font-size: 14px;"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp;Ուշադրություն</span>
                            </header>
                            <div class="panel-body">
                                <span>Բոլոր դաշտերը անհրաժեշտ է մուտքագրել UNICODE-ով</span>
                            </div>
                        </section>
                        <section ng-show="customerDocumentWarnings.length>0" class="panel panel-warning">
                            <header class="panel-heading">
                                <span class="panel-title" style=" font-size: 14px;"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp;Ուշադրություն</span>
                            </header>
                            <div class="panel-body">
                                <div ng-repeat="war in customerDocumentWarnings">
                                    {{$index+1}}.{{::war}}
                                </div>
                            </div>
                        </section>
                    </div>

                </div>
            </div>
            <div class="panel panel-success" style=" margin-bottom: 10px;">
                <div class="panel-heading">Վճարման հանձնարարական</div>
                <div class="panel-body" style="padding-bottom: 10px; padding-top: 10px ;">

                    <div class="form-group col-sm-5  " style="margin:0">
                        <div class="row" style="margin:0">
                            <label class="tab_title col-sm-6"> Համար</label>
                            <div class="col-sm-6" data-ng-init="getDebitAccounts(3,1)">
                                <div class="row">
                                    <input type="text" style="text-align:center " readonly="readonly" onkeypress='return event.charCode >= 48 && event.charCode <= 57' class="form-control tab_title" id="number" name="number" ng-init="generateNewOrderNumber();" data-ng-model="order.OrderNumber" required>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="form-group  col-sm-6" style="margin:0; padding:0">
                        <div class="row" style="margin:0">
                            <label class="tab_title col-sm-5" for="RegistrationDate">Ամսաթիվ</label>
                            <div class="col-sm-7">
                                <div class="row">
                                    <input type="date" readonly="readonly" ng-model="order.OperationDate" class="tab_title form-control" style="text-align:left; padding:0" name="RegistrationDate" required />
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="panel panel-success  " style="margin-bottom: 10px;">
                <div class="panel-heading">Փոխանցում </div>
                <div class="panel-body" style="padding-bottom: 5px; padding-top: 5px;padding-right: 15px;">

                    <div class="form-group" style="padding-right: 10px;">
                        <label class="tab_title col-sm-5">Համակարգ</label>
                        <div class="col-sm-6" data-ng-init="getTransferTypes(1)">
                            <div class="row">
                                <select data-ng-model="order.SubType" class="form-control" data-ng-options="k as v for (k,v) in transferTypes" id="SubType" name="SubType" required ng-change="getTransferSystemCurrency(); getFee(); order.TransferSystemDescription=transferTypes[order.SubType]">
                                    <option value="" hidden="hidden" style="margin-left:25px">Ընտրեք համակարգը</option>
                                </select>
                            </div>
                            <div class="row">
                                <ng-messages ng-if="internationalPaymentOrderForm.$submitted || internationalPaymentOrderForm.SubType.$dirty"
                                             for="internationalPaymentOrderForm.SubType.$error">
                                    <ng-message when="required" class="errors">
                                        Փոխանցման համակարգը ընտրված չէ
                                    </ng-message>
                                </ng-messages>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
            <div class="panel panel-success " style=" margin-bottom: 10px;" ng-if="checkForDebitAccountFastPayment==0">
                <div class="panel-heading"> <span ng-if="checkForDebitAccountFastPayment==0"> Դեբետագրվող հաշիվ </span><span ng-if="checkForDebitAccountFastPayment==1"> Դեբետագրվող արժույթ </span></div>
                <div class="panel-body" style="padding-bottom: 0; padding-top: 5px; padding-right:25px">

                    <paymentaccount data-ng-init="getDebitAccounts(1,2)"
                                    accountselectname="debitAccount"
                                    accountnumber="DebitAccountNumber"
                                    accounts="debitAccounts"
                                    account="order.DebitAccount"
                                    check="checkForDebitAccountFastPayment"
                                    nameforaccount="'Դեբետագրվող հաշիվ'"
                                    nameforcurrency="'Դեբետագրվող արժույթ'">
                    </paymentaccount>
                    <div class="col-sm-6"></div>
                    <div class="row ">
                        <ng-messages ng-if="fastTransferPaymentOrderForm.$submitted || fastTransferPaymentOrderForm.debitAccount.$dirty"
                                     for="fastTransferPaymentOrderForm.debitAccount.$error">
                            <ng-message when="required" class="errors">
                                <span ng-if="checkForDebitAccountFastPayment==0">Հաշիվը ընտրված չէ</span>
                                <span ng-if="checkForDebitAccountFastPayment==1">Արժույթը ընտրված չէ</span>
                            </ng-message>
                        </ng-messages>
                    </div>

                </div>
            </div>

            <div class="panel panel-success" style=" margin-bottom: 10px;">
                <div class="panel-heading">Գումար </div>
                <div class="panel-body" style="padding-bottom: 0px; padding-top: 5px;padding-right: 15px;">
                    <div class="form-group " style="margin-left :0; margin-right :0">

                        <label class="tab_title col-sm-5" for="amount">Գումար</label>
                        <div class="col-sm-3">
                            <div class="row">
                                <input type="text" ng-model="order.Amount" name="amount" onkeypress='return event.charCode >= 48 && event.charCode <= 57 || event.charCode==46' required class="tab_title form-control" ng-enter="" ng-blur="getFee(); getCardFee()" fcsa-number />
                            </div>
                            <div class="row ">
                                <ng-messages ng-if="fastTransferPaymentOrderForm.$submitted || fastTransferPaymentOrderForm.amount.$dirty || isAddDataFormOpening"
                                             for="fastTransferPaymentOrderForm.amount.$error">
                                    <ng-message when="required" class="errors">
                                        Գումարը լրացված չէ
                                    </ng-message>

                                    <ng-message when="min" class="errors">
                                        Գումարը պետք է լինի դրական
                                    </ng-message>
                                </ng-messages>
                            </div>
                        </div>
                        <div class="col-sm-3" data-ng-init="GetCurrencies()">
                            <div class="row">
                                <select data-ng-model="order.Currency" name="CurrencyMy" id="Currency" class="form-control" style="margin-left: 5px; padding-right: 0px; padding-left: 5px;" ng-change="changeCurrency();getCardFee()" ng-disabled="order.SubType==undefined || order.SubType==''" required
                                        data-ng-options="k as v for (k,v) in currencies">
                                    <option value="" hidden="hidden">Ընտրեք...</option>
                                </select>
                            </div>
                            <div class="row">
                                <ng-messages ng-if="fastTransferPaymentOrderForm.$submitted || fastTransferPaymentOrderForm.CurrencyMy.$dirty"
                                             for="fastTransferPaymentOrderForm.CurrencyMy.$error">
                                    <ng-message when="required" class="errors">
                                        Արժույթը ընտրված չէ
                                    </ng-message>
                                </ng-messages>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="panel panel-success" style=" margin-bottom: 10px;">
                <div class="panel-heading">Ուղարկող </div>
                <div class="panel-body" style="padding-bottom: 5px; padding-top: 5px;padding-right: 15px;">

                    <div class="form-group " style="padding-right: 10px;">
                        <label class="tab_title col-sm-5" for="Sender">Անուն ազգանուն </label>

                        <div class="col-sm-6">
                            <div class="row">
                                <textarea rows="2" ng-model="order.Sender" ng-readonly="order.Currency!='RUR'" name="SenderName" id="SenderName" ng-enter="" required class="tab_title form-control" style="text-align:left" />
                            </div>
                            <div class="row">
                                <ng-messages class="errors" ng-if="fastTransferPaymentOrderForm.$submitted && (order.Sender ==undefined || order.Sender =='' || order.Sender ==' ') ">
                                    Ուղարկողի անուն ազգանունը լրացված չէ
                                </ng-messages>
                            </div>
                            @*<div class="row">


                                    <ng-messages ng-if="fastTransferPaymentOrderForm.$submitted || fastTransferPaymentOrderForm.SenderName.$dirty"
                                                 for="fastTransferPaymentOrderForm.SenderName.$error">
                                        <ng-message when="required" class="errors">
                                            Ուղարկողի անուն ազգանունը լրացված չէ
                                        </ng-message>
                                    </ng-messages>
                                </div>*@
                        </div>
                    </div>


                    <div class="form-group " style="padding-right: 10px;">
                        <label class="tab_title col-sm-5" for="SenderAddress">Գրանցման հասցե </label>
                        <div class="col-sm-6">
                            <div class="row">
                                <textarea rows="2" ng-model="order.SenderAddress" name="SenderAddress" id="SenderAddress" ng-enter="" required class="tab_title form-control" style="text-align:left" />
                            </div>
                            <div class="row">
                                <ng-messages ng-if="fastTransferPaymentOrderForm.$submitted || fastTransferPaymentOrderForm.SenderAddkress.$dirty"
                                             for="fastTransferPaymentOrderForm.SenderAddress.$error">
                                    <ng-message when="required" class="errors">
                                        Գրանցման հասցեն լրացված չէ
                                    </ng-message>
                                </ng-messages>
                            </div>
                        </div>
                    </div>



                    <div class="form-group " style="padding-right: 10px;">
                        <label class="tab_title col-sm-5" for="SenderPassport">Անձնագիր</label>

                        <div class="col-sm-6">
                            <div class="row">
                                <input type="text" ng-model="order.SenderPassport" readonly name="SenderPassport" ng-enter="" required class="tab_title form-control" style="text-align:left" />
                            </div>

                            <div class="row">
                                <ng-messages ng-if="fastTransferPaymentOrderForm.$submitted || fastTransferPaymentOrderForm.SenderPassport.$dirty"
                                             for="fastTransferPaymentOrderForm.SenderPassport.$error">
                                    <ng-message when="required" class="errors">
                                        Անձնագիր դաշտը լրացված չէ
                                    </ng-message>
                                </ng-messages>
                            </div>
                        </div>
                    </div>
                    <div class="form-group " style="padding-right: 10px;">
                        <label class="tab_title col-sm-5" for="SenderDateOfBirth">Ծննդյան ամսաթիվ</label>
                        <div class="col-sm-6">
                            <div class="row">
                                <input type="date" ng-model="order.SenderDateOfBirth" readonly ng-enter="" id="SenderDateOfBirth" name="SenderDateOfBirth" class="tab_title form-control" style="text-align:left" required />
                            </div>
                            <div class="row">
                                <ng-messages ng-if="fastTransferPaymentOrderForm.$submitted || fastTransferPaymentOrderForm.SenderDateOfBirth.$dirty"
                                             for="fastTransferPaymentOrderForm.SenderDateOfBirth.$error">
                                    <ng-message when="required" class="errors">
                                        Ծննդյան ամսաթիվ դաշտը լրացված չէ
                                    </ng-message>
                                </ng-messages>
                            </div>
                        </div>
                    </div>
                    <div class="form-group " style="padding-right: 10px;">
                        <label class="tab_title col-sm-5" for="SenderEmail">Էլեկտրոնային հասցե</label>

                        <div class="col-sm-6">
                            <div class="row">
                                <input type="text" ng-model="order.SenderEmail" readonly ng-enter="" name="SenderEmail" class="tab_title form-control" style="text-align:left" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group " style="padding-right: 10px;">
                        <label class="tab_title col-sm-5" for="SenderPhone">Հեռախոսահամար</label>

                        <div class="col-sm-6">
                            <div class="row">
                                <input type="text" ng-enter="" ng-model="order.SenderPhone" name="SenderPhone" required class="tab_title form-control" style="text-align:left" />
                            </div>

                            <div class="row">
                                <ng-messages ng-if="fastTransferPaymentOrderForm.$submitted || fastTransferPaymentOrderForm.SenderPhone.$dirty"
                                             for="fastTransferPaymentOrderForm.SenderPhone.$error">
                                    <ng-message when="required" class="errors">
                                        Հեռախոսահամար դաշտը լրացված չէ
                                    </ng-message>
                                </ng-messages>
                            </div>
                        </div>
                    </div>

                </div>
            </div>



            <div class="panel panel-success" style="margin-bottom: 10px;">
                <div class="panel-heading">Ստացողի տվյալներ </div>
                <div class="panel-body" style="padding-bottom: 5px; padding-top: 5px;padding-right: 15px;">


                    <div class="form-group " style="padding-right: 10px;">
                        <label class="tab_title col-sm-5" for="Receiver">Անվանում</label>
                        <div class="col-sm-6">
                            <div class="row">
                                <textarea rows="2" ng-model="order.Receiver" name="Receiver" ng-enter="" ng-maxlength="140-order.ReceiverAddInf.length" required class="tab_title form-control" style="text-align:left" />
                            </div>
                            <div class="row">
                                <ng-messages ng-if="fastTransferPaymentOrderForm.$submitted || fastTransferPaymentOrderForm.Receiver.$dirty"
                                             for="fastTransferPaymentOrderForm.Receiver.$error">
                                    <ng-message when="required" class="errors">
                                        Ստացողի անվանում դաշտը լրացված չէ
                                    </ng-message>
                                </ng-messages>
                                <div ng-if="fastTransferPaymentOrderForm.Receiver.$error.maxlength" class="errors">
                                    Ստացողի տվյալները առավելագույնը 140 նիշ է:
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group " style="padding-right: 10px; ">
                        <label class="tab_title col-sm-5" for="ReceiverAddInf">Լրացուցիչ տվյալներ</label>
                        <div class="col-sm-6">
                            <div class="row">
                                <textarea rows="2" ng-model="order.ReceiverAddInf" ng-enter="" ng-maxlength="140-order.Receiver.length" name="ReceiverAddInf" class="tab_title form-control" style="text-align:left" />
                            </div>
                            <div class="row">
                                <div ng-if="fastTransferPaymentOrderForm.ReceiverAddInf.$error.maxlength" class="errors">
                                    Ստացողի տվյալները առավելագույնը 140 նիշ է:
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group " style="padding-right: 10px;">
                        <label class="tab_title col-sm-5" for="ReceiverPassport">Անձնագիր</label>
                        <div class="col-sm-6">
                            <div class="row">
                                <input ng-model="order.ReceiverPassport" ng-enter="" ng-maxlength="50" name="ReceiverPassport" class="tab_title form-control" style="text-align:left" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group " style="padding-right: 10px; margin-bottom: 0">
                        <label class="tab_title col-sm-5" for="Code">Փոխանցման կոդ</label>
                        <div class="col-sm-6">
                            <div class="row">
                                <input ng-model="order.Code" ng-enter="" name="Code" class="tab_title form-control" style="text-align:left" required />
                            </div>
                            <div class="row additionalInfoLabel">
                                <span style="color: green;">Նիշերի քանակ` <b>{{order.Code != null ? order.Code.length : 0 }} </b></span>
                            </div>
                            <div class="row">
                                <ng-messages ng-if="fastTransferPaymentOrderForm.$submitted || fastTransferPaymentOrderForm.Code.$dirty"
                                             for="fastTransferPaymentOrderForm.Code.$error">
                                    <ng-message when="required" class="errors">
                                        Փոխանցման կոդ դաշտը լրացված չէ
                                    </ng-message>
                                </ng-messages>
                            </div>
                        </div>
                    </div>

                </div>
            </div>



            <div class="panel panel-success" style="margin-bottom: 10px;">
                <div class="panel-heading"> Վճարման մանրամասներ</div>
                <div class="panel-body" style="padding-bottom: 5px; padding-top: 5px;padding-right: 15px;">
                    <div class="form-group " style="padding-right: 10px;margin-bottom:0">
                        <label class="tab_title col-sm-5" for="DescriptionForPayment">Վճարման մանրամասներ</label>
                        <div class="col-sm-6">
                            <div class="row">
                                <textarea rows="2" ng-model="order.DescriptionForPayment" name="DescriptionForPayment" ng-enter="" required maxlength="135" class="tab_title form-control" style="text-align:left" ng-blur=" description = order.DescriptionForPayment" />
                            </div>
                            <div class="row">
                                <ng-messages ng-if="fastTransferPaymentOrderForm.$submitted || fastTransferPaymentOrderForm.DescriptionForPayment.$dirty"
                                             for="fastTransferPaymentOrderForm.DescriptionForPayment.$error">
                                    <ng-message when="required" class="errors">
                                        Վճարման մանրամասներ դաշտը լրացված չէ
                                    </ng-message>
                                </ng-messages>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="panel panel-success" style="margin-bottom: 10px;">
                <div class="panel-heading">Գործարքի նկարագրություն</div>
                <div style="padding-right: 25px; padding-top: 5px;">
                    <orderdescription ordertype="order.Type" operations="operations"
                                      description="description" labeldescription="'Նկարագրություն'" formname="fastTransferPaymentOrderForm"></orderdescription>
                </div>
            </div>
            <div class="panel panel-success" style=" margin-bottom: 10px;">
                <div class="panel-heading">Ծախսեր</div>
                <div class="panel-body" style="padding-bottom: 0; padding-top: 5px;padding-right: 15px;">


                    <div style="padding-right: 10px; margin-bottom: 0px;">
                        <countrylist labeldescription="'Ուղարկվող երկիր'" country="order.Country" showriskquality="1" formname="fastTransferPaymentOrderForm"></countrylist>
                        <div class="row">
                            <div class="col-sm-6"></div>
                            <ng-messages class="errors" ng-if="fastTransferPaymentOrderForm.$submitted && order.Country==undefined">
                                Երկիրն ընտրված չէ
                            </ng-messages>

                        </div>
                    </div>




                    <div style="margin-right: 10px;">
                        <div ng-open="{{order.Type==102?checkForFeeAccount=0:checkForFeeAccount=1}};"></div>
                        <paymentaccount data-ng-init="getFeeAccounts(1,2)"
                                        accountselectname="feeAccount"
                                        accounts="feeAccounts"
                                        account="order.FeeAccount"
                                        onlyamd="true"
                                        check="checkForFeeAccount"
                                        nameforaccount="'Միջնորդավճարի հաշիվ'"
                                        nameforcurrency="'Միջնորդավճարի արժույթ'"
                                        tooltipdescription="{{checkForFeeAccount!=0?'Տարանցիկ հաշիվ փոխանցումների գծով':null}}">
                        </paymentaccount>
                        <div class="col-sm-6"></div>
                        <div class="row">
                            <ng-messages class="errors" ng-if="fastTransferPaymentOrderForm.$submitted && order.FeeAccount==undefined && checkForFeeAccount==0">
                                Հաշիվը ընտրված չէ
                            </ng-messages>
                            <ng-messages class="errors" ng-if="fastTransferPaymentOrderForm.$submitted && order.FeeAccount==undefined && checkForFeeAccount==1">
                                Արժույթն ընտրված չէ
                            </ng-messages>
                        </div>

                        @*<div class="col-sm-6"></div>
                            <div class="row">

                                <ng-messages class="errors" ng-if="fastTransferPaymentOrderForm.$submitted && order.FeeAccount==undefined">
                                    Արժույթն ընտրված չէ
                                </ng-messages>
                            </div>*@
                    </div>


                    <div class="form-group " style="padding-right: 10px;">
                        <label class="tab_title col-sm-5" for="TransferFee">Միջնորդավճար AMD</label>
                        <div class="col-sm-6">
                            <div class="row">
                                <input type="text" ng-model="order.TransferFee" ng-enter="" name="TransferFee" class="tab_title form-control" style="text-align:left" required readonly fcsa-number />
                            </div>
                        </div>
                    </div>

                    <div class="form-group " style="padding-right: 10px;">
                        <label class="tab_title col-sm-5" for="Fee">Միջնորդավճար արժ.</label>
                        <div class="col-sm-6">
                            <div class="row">
                                <input type="text" ng-model="order.Fee" ng-enter="" onkeypress='return event.charCode >= 48 && event.charCode <= 57 || event.charCode==46' name="Fee" class="tab_title form-control" style="text-align:left" ng-blur="setFees()" required fcsa-number />
                            </div>
                            <div class="row" style="margin-left:4px;margin-bottom:7px">
                                <ng-messages ng-if="fastTransferPaymentOrderForm.$submitted || fastTransferPaymentOrderForm.Fee.$dirty"
                                             for="fastTransferPaymentOrderForm.Fee.$error">
                                    <ng-message when="required" class="errors">
                                        Միջնորդավճար դաշտը լրացված չէ
                                    </ng-message>
                                </ng-messages>
                            </div>
                        </div>
                    </div>

                    <div class="form-group " style="padding-right: 10px;">
                        <label class="tab_title col-sm-5" for="FeeAcba">Միջնորդավճար ACBA արժ.</label>
                        <div class="col-sm-6">
                            <div class="row">
                                <input type="text" ng-model="order.FeeAcba" ng-enter="" onkeypress='return event.charCode >= 48 && event.charCode <= 57 || event.charCode==46' name="FeeAcba" class="tab_title form-control" style="text-align:left" required fcsa-number />
                            </div>
                            <div class="row">
                                <ng-messages ng-if="fastTransferPaymentOrderForm.$submitted || fastTransferPaymentOrderForm.FeeAcba.$dirty"
                                             for="fastTransferPaymentOrderForm.FeeAcba.$error">
                                    <ng-message when="required" class="errors">
                                        Միջնորդավճար ACBA դաշտը լրացված չէ
                                    </ng-message>
                                </ng-messages>
                            </div>
                        </div>
                    </div>
                    <div class="sub_inner" ng-if="order.DebitAccount.AccountType == 11 ">
                        <div class="col-sm-8" style="text-align: left; padding: 0; ">
                            <h5 style="margin-top:0">
                                Քարտային ելքագրման միջնորդավճար`
                            </h5>
                        </div>
                        <div class="col-sm-3" style="text-align: right; padding: 0; ">
                            <h5 style="margin-top:0">
                                {{order.CardFee != null ? (order.CardFee  | number:2)  : (0 | number:2) }}
                            </h5>
                        </div>
                        <div class="col-sm-1" style="text-align: right; padding: 0; ">
                            <h5 style="margin-top:0">
                                {{order.DebitAccount.Currency}}
                            </h5>
                        </div>
                    </div>

                </div>
            </div>


        </div>

        <div class="col-sm-5  ">
            @*<div style="position:fixed ">*@
            @* <cashopperson formname="fastTransferPaymentOrderForm" armbudget="true" opperson="order.OPPerson"></cashopperson>*@
            <paymentattachment arraybuffer="orderAttachment.attachmentArrayBuffer" attachment="orderAttachment.attachmentFile"></paymentattachment>

            @*</div>*@
            <br />
            <div ng-if="isHasAdditionalData">
                <transferadditionaldatadetails></transferadditionaldatadetails>
            </div>
        </div>
    </div>


</form>
