@{
    Layout = null;
}
<form id="addCardStatementSession" ng-controller="CardStatementSessionCtrl" ng-init="initStatement()" style="min-width:500px;min-height:175px;overflow-x:hidden" name="addCardStatementSession" role="form" class="form-horizontal" labels-required>

    <div id="cardStatementSessionLoad" class="overlay hidden">
        <img class="loader-image non-selectable" src="../../Content/Images/invisible.png" />
    </div>
    <div id="addCardStatementSession_menu" class="menu-bar dialog-menu light-green">
        <ul id="menu" class="dialog-menu">
            <li class="root-menu-item-4 " ng-click="addCardStatementSession.$setSubmitted();addCardStatementSession.$valid && createCardStatementSession()">
                <span id="h-menu-item-4"><img id="h-menu-icon-4" class="submitButton h-menu-icon">Պահպանել</span>
            </li>
            <li class="root-menu-item-5 " onclick="CloseBPDialog('addCardStatementSession')">
                <span id="h-menu-item-5"><img id="h-menu-icon-5" class="h-menu-icon cancelButton">Հրաժարվել</span>
            </li>
        </ul>
    </div>
    <div style="max-width:400px;margin-left:5px">
        <errors></errors>
    </div>
    <div class="form-group col-sm-12" ng-if="actionType == 3 || actionType == 4">
        <label class="tab_title col-sm-4">Պարբերականություն</label>
        <div class="col-sm-8">
            <div class="row">
                <select ng-model="statement.Frequency" name="frequency" id="frequency" class="form-control" required ng-change="setDates()">
                    <option value="" style="margin-left:25px">Ընտրեք տեսակը...</option>
                    <option value="1" style="margin-left:25px">Օրեկան</option>
                    <option value="2" style="margin-left:25px">Շաբաթական</option>
                    <option value="3" style="margin-left:25px">Ամսական</option>
                </select>
            </div>
            <div class="row">
                <ng-messages ng-if="addCardStatementSession.$submitted || addCardStatementSession.frequency.$dirty"
                             for="addCardStatementSession.frequency.$error">
                    <ng-message when="required" class="errors">
                        Պարբերականությունը ընտրված չէ
                    </ng-message>
                </ng-messages>
            </div>
        </div>
    </div>
    <div class="form-group col-sm-12">
        <label class="tab_title col-sm-4" for="startDate">Սկիզբ </label>
        <div class="col-sm-8">
            <div class="row">
                <input type="date" class="form-control " id="startDate" name="startDate" ng-model="startDate" required>
            </div>
            <div class="row">
                <ng-messages ng-if="addCardStatementSession.$submitted || addCardStatementSession.startDate.$dirty"
                             for="addCardStatementSession.startDate.$error">
                    <ng-message when="required" class="errors">
                        Սկիզբը բացակայում է
                    </ng-message>
                </ng-messages>
            </div>
        </div>
    </div>
    <div class="form-group col-sm-12">
        <label class="tab_title col-sm-4" for="endDate"> Վերջ </label>
        <div class="col-sm-8">
            <div class="row">
                <input type="date" class="form-control " id="endDate" name="endDate" ng-model="endDate" required>
            </div>
            <div class="row">
                <ng-messages ng-if="addCardStatementSession.$submitted || addCardStatementSession.endDate.$dirty"
                             for="addCardStatementSession.endDate.$error">
                    <ng-message when="required" class="errors">
                        Վերջը բացակայում է
                    </ng-message>
                </ng-messages>
            </div>
        </div>
    </div>


    @*<div class="form-group col-sm-12" style="padding-left:20px">
            <label class="tab_title col-sm-5 text-right" style="padding-left: 9px;">Նկարագրություն</label>
            <div class="col-sm-7">
                <input name="descr" type="text" class="form-control tab_title" style="text-align: left" data-ng-model="messagingSession.description" required />
                <ng-messages ng-if="addCardStatementSession.$submitted || addCardStatementSession.descr.$dirty"
                             for="addCardStatementSession.descr.$error">
                    <ng-message when="required" class="errors">
                        Նկարագրությունը բացակայում է
                    </ng-message>
                </ng-messages>
            </div>
        </div>*@
</form>