<style>
    #provisionLoanStatement_content {
        width:655px;
    }
</style>
<div style="min-height:400px!important;margin:15px;">
    <loanstatement accountnumber="selectedAccount" productid="productId"></loanstatement>
</div>














