@{
    Layout = null;
}
<style type="text/css">
    .redStyle {
        color: red;
    }

    .greenStyle {
        color: green;
    }
</style>

<form name="OrderForm" ng-app="app" ng-controller="OrderCtrl" id="AllOrders" data-ng-init="(nonauthorizedcustomer == 'true') ? getUserID() : getAuthorizedCustomerNumber();" ng-open="OrderForm.$setSubmitted()" ng-submit="OrderForm.$valid && getOrders()" novalidate>
    <div class="product-details bhoechie-tab-content" style="min-width:800px;margin-left:10px;">
        <div class="row">
            <div class="col-sm-12 ">
                <div class="col-sm-3  ">
                    <div class="product-detail-cell product-detail-lable">
                        Սկիզբ
                    </div>
                    <input type="date" ng-model="searchParams.DateFrom" name="DateFrom" class="form-control"
                           required>
                    <ng-messages ng-if="OrderForm.$submitted || OrderForm.DateFrom.$dirty"
                                 for="OrderForm.DateFrom.$error">
                        <ng-message when="required" class="errors">
                            Նշեք ա/թ
                        </ng-message>
                    </ng-messages>
                </div>
                <div class="col-sm-3  ">
                    <div class="product-detail-cell product-detail-lable">
                        Վերջ
                    </div>
                    <input type="date" ng-model="searchParams.DateTo" name="DateTo" class="form-control"
                           required>
                    <ng-messages ng-if="OrderForm.$submitted || OrderForm.DateTo.$dirty"
                                 for="OrderForm.DateTo.$error">
                        <ng-message when="required" class="errors">
                            Նշեք ա/թ
                        </ng-message>
                    </ng-messages>
                </div>
                <div class="col-sm-4  ">
                    <div class="product-detail-cell product-detail-lable">
                        Տեսակ
                    </div>
                    <div data-ng-init="getOrderTypes()">
                        <loading-control scopevariable="orderTypes"></loading-control>
                        <select ng-show="orderTypes" data-ng-model="searchParams.Type" name="OrderType" id="OrderType" class="form-control"
                                data-ng-options="a.id as a.desc for a in orderTypes">
                            <option selected="selected" value="" hidden>Բոլորը</option>
                        </select>

                    </div>
                </div>
                <br />
                <div class="col-sm-2  ">
                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span>&nbsp;Որոնել</button>
                </div>
                <br />
                <div ng-if="OrderForm.$submitted && searchParams.DateFrom>searchParams.DateTo" class="col-md-9  errors">Ժամկետի սկիզբը պետք է փոքր լինի վերջից</div>
                <br />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12 ">
                <div class="col-sm-3  ">
                    <div class="product-detail-cell product-detail-lable">
                        Հայտի համար
                    </div>
                    <div>
                        <input type="number" data-ng-model="searchParams.Id" class="form-control" />

                    </div>
                </div>
                <div class="col-sm-3  ">
                    <div class="product-detail-cell product-detail-lable">
                        Կարգավիճակ
                    </div>
                    <div data-ng-init="getOrderQualityTypes()">
                        <loading-control scopevariable="orderQualityTypes"></loading-control>
                        <select ng-show="orderQualityTypes" data-ng-model="searchParams.OrderQuality" name="OrderQualityType" id="OrderQualityType" class="form-control"
                                data-ng-options="k as v for (k,v) in ::orderQualityTypes">
                            <option selected="selected" value="">Բոլորը</option>
                        </select>
                        <br />
                    </div>
                </div>
                <div class="col-sm-4  ">
                    <div class="product-detail-cell product-detail-lable">
                        Աշխատակցի համար
                    </div>
                    <div>
                        <div class="input-group">
                            <input type="text" style="width:122px" class="form-control" id="setnumber" onkeypress='return event.charCode >= 48 && event.charCode <= 57' name="setnumber" ng-model="searchParams.RegisteredUserID">
                            <div class="input-group-btn" style="display:inline-block;">
                                <button type="button" title="ՊԿ-ի որոնում" class="btn btn-primary searchButton" ng-click="searchCashiers()"><span class="glyphicon glyphicon-search greenStyle"></span></button>
                            </div>
                        </div>
                        <br />
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12 ">
                <div class="col-sm-3" ng-if="nonauthorizedcustomer == 'true'">
                    <div class="product-detail-cell product-detail-lable">
                        Հաճախորդի համար
                    </div>
                    <div class="input-group">
                        <input type="text" ng-model="searchParams.CustomerNumber" style="width:122px" onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="12" class="form-control">
                        <div class="input-group-btn" style="display:inline-block;">
                            <button type="button" title="Հաճախորդի որոնոմ" class="btn btn-primary searchButton" ng-click="searchCustomers()"><span class="glyphicon glyphicon-search greenStyle"></span></button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3  ">
                    <div class="product-detail-cell product-detail-lable">
                        Գումար
                    </div>
                    <div>
                        <input type="text" data-ng-model="searchParams.Amount" fcsa-number onkeypress='return event.charCode >= 48 && event.charCode <= 57 || event.charCode==46' class="form-control" />

                    </div>
                </div>
                <div class="col-sm-3  " ng-if="$root.SessionProperties.HasFilialATSAccount==true">
                    <div class="product-detail-cell product-detail-lable">
                        ԱԳՍ հաշվով փոխանցումներ
                    </div>
                    <div>
                        <input type="checkbox" data-ng-model="searchParams.IsATSAccountOrders" class="checkbox-inline" ng-true-value="true" ng-false-value="false" />

                    </div>
                </div>
                <div class="col-sm-3  " ng-if="searchParams.Type == 206 || searchParams.Type ==207 || searchParams.Type ==225  || searchParams.Type ==226  || searchParams.Type ==227  || searchParams.Type ==129 || searchParams.Type == 210 || searchParams.Type == 211 || searchParams.Type == 212 || searchParams.Type == 243 || searchParams.Type == 125">
                    <div class="product-detail-cell product-detail-lable">
                        Քարտի համար
                    </div>
                    <div>
                        <input type="text" data-ng-model="searchParams.CardNumber" onkeypress='return event.charCode >= 48 && event.charCode <= 57 || event.charCode==46' class="form-control" />
                    </div>
                </div>

                <div class="col-sm-3" ng-if="searchParams.Type == 243">
                    <div class="product-detail-cell product-detail-lable">
                        Վերաթողարկման տեսակ
                    </div>
                    <div>
                        <loading-control scopevariable="CardRenewType"></loading-control>
                        <select ng-show="CardRenewType" data-ng-model="searchParams.CardRenewType" name="CardRenewType" id="CardRenewType" class="form-control"
                                data-ng-options="k as v for (k,v) in ::CardRenewType">
                            <option selected="selected" value="">Բոլորը</option>
                        </select>
                        <br />
                    </div>
                </div>

                <div class="col-sm-3  " ng-if="searchParams.Type == 206 || searchParams.Type == 210 || searchParams.Type == 211 || searchParams.Type == 212 || searchParams.Type == 74 || searchParams.Type==21 || searchParams.Type==199 || searchParams.Type==238">
                    <div class="product-detail-cell product-detail-lable">

                    </div>
                    <div>
                        <button class="btn btn-info" ng-click="getOrderReport()">Արտահանել Excel</button>
                    </div>
                </div>
            </div>
        </div>
        <loading></loading>
    </div>

    <br />

    <div class="product-container" style="min-width:800px;margin-left:10px;">
        <div class="header-title">
            <span style="float: left;">Քանակ՝ {{orders.length}}</span>
            <span>Գործարքների պատմություն</span>

            <div class="product-collapse tipB fa fa-chevron-down" data-original-title="Թաքցնել" onclick="CollapseProductContainer(this)"></div>
        </div>
        <div class="product-collapsable-section">
            <div class="product-container-header">
                <div class="col-sm-8">Գործարք</div>
                <div class="col-sm-4">Կարգավիճակ</div>
            </div>
            <div class="product-content-table custom-scroll" ng-class="{'product-content-table-full_height' : hideBlank!='true' }">
                <table class="table table-condensed table-hover" style="background-color:white; margin-top:0px !important;">
                    <tbody>
                        <tr ng-repeat="order in orders" ng-class="{'selected':$index == selectedRow}" ng-click="setClickedRow($index)" style="max-height:200px">
                            <td>
                                <div ng-if="order.Type==20 || order.Type==22 || order.Type==23 || order.Type==24 || order.Type==26 || order.Type==27 ||order.Type==30 ||order.Type==11">
                                    <span ng-if="order.Type==27">{{ ::order.Description}}</span>
                                    <span ng-if="order.Type!=27">{{ ::order.SubTypeDescription}}</span>

                                    <br /><span class="my_label" style="font-size:13px">Գործարքի համար` </span>{{ ::order.Id }}
                                    <span ng-if="order.CustomerNumber!=0"><br />Հաճախորդի համար` {{ ::order.CustomerNumber}}  <span ng-if="nonauthorizedcustomer == 'true'" title="Հաճախորդի տվյալներ" style="left:4pt; color: #337AB7; cursor:pointer;vertical-align:top;" class="glyphicon glyphicon-info-sign" /></span>
                                    <br /><span class="my_label" style="font-size:13px">Ա/թ` </span>{{ ::order.RegistrationDateString }}
                                </div>
                                <div ng-if="orders.length!=0 && order.Type!=20 && order.Type!=22 && order.Type!=23 && order.Type!=24 && order.Type!=26 && order.Type!=27 && order.Type!=30 && order.Type!=11">
                                    {{ ::order.SubTypeDescription}}
                                    <br /><span class="my_label" style="font-size:13px">Գործարքի համար` </span>{{ ::order.Id }}
                                    <span ng-if="order.CustomerNumber!=0"><br />Հաճախորդի համար` {{ ::order.CustomerNumber}} <span ng-if="nonauthorizedcustomer == 'true'" style="left:4pt; color: #337AB7; cursor:pointer;vertical-align:top;" title="Հաճախորդի տվյալներ" ng-controller="PopUpCtrl" ng-click="params={customerNumber:order.CustomerNumber}; openWindow('/Customer/CustomerDetails','Հաճախորդի տվյալներ','customerdetails')" class="glyphicon glyphicon-info-sign" /></span>

                                    <span ng-if="order.Description!=' ' && order.Type!=113 && order.Type!=123 && !(order.Type==134 && order.SubType==1) && order.Type!=225 && order.Type!=226 && order.Type!=227 && order.Type!=243 && order.Type!=125 && order.Type!= 233"><br />Նկարագրություն՝ {{order.Description}}</span>
                                    <span ng-if="order.Type!=7 && order.Type != 206 && order.Type!=17 && order.Type!=28  && order.Type!=12 && order.Type!=21 && order.Type!=50 && order.Type!=58 && order.Type!=59 && order.Type!=61 && order.Type!=62  && order.Type!=66 && order.Type!=67 && order.Type!=18 && order.Type!=19 && order.Type!=75 && order.Type!=103 && order.Type!=125 && order.Type!=129 && searchParams.IsCashBookOrder!=true && order.Type!=173 && order.Type!=191 && order.Type!=199 && order.Type!=203 && order.Type!=224 &&  order.Type!=225 && order.Type!=226 && order.Type!=227 && order.Type!=231 && order.Type!=232 && order.Type!=234 && order.Type!=112 && order.Type!=223&& order.Type!=243 && order.Type!=125 && order.Type!= 233 && order.Type!=244 && order.Type!= 253 && order.Type != 263">
                                        <br /><span class="my_label" style="font-size:13px">Գումար` </span>  {{ order.AmountString }} {{ order.Currency }}
                                    </span>
                                    <br /><span class="my_label" style="font-size:13px">Ա/թ` </span>{{ ::order.RegistrationDateString }}
                                </div>
                            </td>
                            <td class="col-sm-3">
                                <span ng-if="order.Quality==30" class="greenStyle">{{ ::order.QualityDescription }}</span>
                                <span ng-if="order.Quality==31" class="redStyle">{{ ::order.QualityDescription }}</span>
                                <span ng-if="order.Quality!=31 && order.Quality!=30">{{ ::order.QualityDescription }}</span>
                                <br /><img ng-src="~/Content/Images/SourceType/{{::order.Source}}.png" height="25" width="25" style="margin-top:20px;margin-left:40px" align="middle" title="Կատարվել է {{::order.SourceDescription}}-ի միջոցով" />
                            </td>
                            <td class="col-sm-1 click_toggle" context="contextOrders" id="contextMenu"><div id="contextMenu"></div> </td>
                        </tr>
                    </tbody>
                </table>
                <div ng-if="orders.length==0 && searchParams.DateFrom<=searchParams.DateTo" style="color:red;font-size:16px;text-align:center;">Նշված ժամանակահատվածում գործարքները բացակայում են</div>

            </div>
        </div>

    </div>

    <ul id="contextOrders" class="dropdown-menu">
        <li><a style="color: black;text-decoration:none!important ;" ng-if="orders[selectedRow].Type != 263" ng-controller="OrderCtrl" class="my_button" ng-click="showModalOrder(type, subType,selectedSubTypeDescription)">Դիտարկում</a></li>
        <li><a style="color: black;text-decoration:none!important ;" class="my_button" ng-controller="PopUpCtrl" ng-click="openWindow('/Orders/OrderHistory','Հայտի պատմություն','orderhistory')">Հայտի պատմություն</a></li>
        <li ng-if="canConfirmOrder==true"><a style="color: black;text-decoration:none!important ;" class="my_button" ng-controller="OrderCtrl" ng-click="confirmOrder(orders[selectedRow].Id)">Կատարել</a></li>
    </ul>

</form>