
<script type="text/javascript">
    (function ($) {
        $(window).on('load',function () {
            $("#smsMessagingContent").mCustomScrollbar({
                theme: "rounded-dark",
                scrollButtons: {
                    scrollAmount: 15,
                    enable: true
                },
                mouseWheel: {
                    scrollAmount: 50
                }
            });
        });
    })(jQuery);

</script>
<style>
    #summary tr {
        height: auto;
        max-width: 100%;
    }
</style>
<form name="smsMessagingForm" id="smsMessagingForm" ng-controller="SMSMessagingCtrl" ng-init="getUserID();" ng-submit="getSMSMessagingSessions()" novalidate style="margin-top:15px">
    <div class="product-details bhoechie-tab-content" style="min-width:730px;margin-left:10px;">
        <div class="row">
            <div class="col-sm-12 ">
                <div class="col-sm-3">
                    <div class="product-detail-cell product-detail-lable">
                        Ա/թ
                    </div>
                    <input type="date" ng-model="searchParams.RegistrationDate" name="registrationDate" class="form-control"
                           required>
                    <ng-messages ng-if="smsMessagingForm.$submitted || smsMessagingForm.registrationDate.$dirty"
                                 for="smsMessagingForm.registrationDate.$error">
                        <ng-message when="required" class="errors">
                            Նշեք ա/թ
                        </ng-message>
                    </ng-messages>
                </div>
                <div class="col-sm-4">
                    <div class="product-detail-cell product-detail-lable">
                        Կարգավիճակ
                    </div>
                    <div data-ng-init="GetSMSMessagingStatusTypes()">
                        <loading-control scopevariable="StatusTypes"></loading-control>
                        <select ng-if="StatusTypes" data-ng-model="searchParams.Status" name="StatusType" id="StatusType" class="form-control"
                                data-ng-options="StatusType.Key as StatusType.Value for StatusType in StatusTypes | arrayFilter: [1,2]">
                            <option selected="selected" value="" hidden>Բոլորը</option>
                        </select>
                    </div>
                </div>
                <br />
                <div class="col-sm-3">
                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span>&nbsp;Որոնել</button>

                    <br />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 ">
                <div class="col-sm-3">
                    <div class="product-detail-cell product-detail-lable">
                        Աշխատակցի համար
                    </div>
                    <div class="input-group">
                        <input type="text" style="width:111px" class="form-control" id="setnumber" onkeypress='return event.charCode >= 48 && event.charCode <= 57' name="setnumber" ng-model="searchParams.UserID">
                        <div class="input-group-btn" style="display:inline-block;">
                            <button type="button" title="ՊԿ-ի որոնում" class="btn btn-primary searchButton" ng-click="searchCashiers()"><span class="glyphicon glyphicon-search greenStyle"></span></button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="product-detail-cell product-detail-lable">
                        Նկարագրություն
                    </div>
                    <div class="input-group">
                        <input type="text" class="form-control" id="setnumber" name="setnumber" ng-model="searchParams.Description">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />
    <div class="col-sm-6" style="padding:0px">
        <div class="product-container col-sm-12" style="min-width:730px;margin-top:-5px;padding:0px">
            <div class="header-title">
                Գործարքների պատմություն
                <div class="product-collapse tipB fa fa-chevron-down" data-original-title="Թաքցնել" onclick="CollapseProductContainer(this)"></div>
            </div>
            <div class="product-collapsable-section">
                <div class="product-container-header" style="height:25px">
                    <div class="col-sm-11">
                        <div class="col-sm-3 text-center">Ա/թ</div>
                        <div class="col-sm-3">Նկարագրություն</div>
                        <div class="col-sm-3">Աշխատակից</div>
                        <div class="col-sm-3">Կարգավիճակ</div>
                    </div>
                    <div ng-controller="PopUpCtrl" ng-click="openWindow('/SMSMessaging/AddSMSMessagingSession','Նոր հաղորդագրություններ','addSMSMessagingSession')">
                        <i class="add-new-product tipB" style="margin-top:3px" data-original-title="Մուտքագրում"></i>
                    </div>
                </div>
                <div id="smsMessagingContent" class="product-content-table custom-scroll" style="height:220px">
                    <table class="table table-condensed table-hover" style="background-color:white; margin-top:0px !important;"> 
                        <tbody>
                            <tr ng-repeat="smsMessagingSession in smsMessagingSessions" ng-class="{'selected':$index == selectedRow}" ng-click="setClickedRow($index)" style="max-height:200px">
                                <td>
                                    <div>
                                        <span class="col-sm-3  text-center">{{ ::smsMessagingSession.RegistrationDate | mydate | date: 'dd/MM/yyyy HH:mm' }} </span>
                                        <span class="col-sm-3  text-center">{{ ::smsMessagingSession.Description}}</span>
                                        <span class="col-sm-3  text-center">{{ ::smsMessagingSession.UserID }}</span>
                                        <span class="col-sm-3  text-center">{{ ::smsMessagingSession.StatusDescription }}</span>
                                    </div>
                                </td>
                                <td class="col-sm-1 click_toggle" context="context"><div id="contextMenu"></div> </td>
                            </tr>
                        </tbody>
                    </table>
                    <div ng-if="smsMessagingSessions.length==0" style="color:red;font-size:16px;text-align:center;">Նշված ժամանակահատվածում գործարքները բացակայում են</div>
                </div>
            </div>
        </div>
    </div>
    <ul id="context" class="dropdown-menu">
        <li ng-if="smsMessagingSessions[selectedRow].Status==1"><a style="color: black;text-decoration:none!important ;" class="my_button" ng-click="changesmsMessagingStatus(smsMessagingSessions[selectedRow].ID,2,smsMessagingSessions[selectedRow])">Ուղարկել հաղորդագրությունները</a></li>
        <li ng-if="smsMessagingSessions[selectedRow].Status==1"><a style="color: black;text-decoration:none!important ;" class="my_button" ng-click="deleteMessagingSession(smsMessagingSessions[selectedRow].ID,selectedRow)">Հեռացնել</a></li>
        <li><a style="color: black;text-decoration:none!important ;" class="my_button" ng-click="SMSMessagingReport(smsMessagingSessions[selectedRow].ID)">Հաղորդագրությունների ցուցակ</a></li>
    </ul>
</form>
