@{
    Layout = null;
}
<div id="employeeWorkLoad" class="overlay hidden">
    <img class="loader-image non-selectable" src="../../Content/Images/invisible.png" />
</div>
<form ng-controller="EmployeeWorksCtrl" name="EmployeeWorkForm" id="EmployeeWorkForm" role="form" style="min-width:700px;" novalidate class="form-horizontal" labels-required>
    <div id="newaccount_menu" class="menu-bar dialog-menu light-green">
        <ul id="menu" class="dialog-menu">
            <li class="root-menu-item-4 " ng-click="EmployeeWorkForm.$setSubmitted();EmployeeWorkForm.$valid && saveEmployeeWork()">
                <span id="h-menu-item-4"><img id="h-menu-icon-4" class="submitButton h-menu-icon">Պահպանել</span>
            </li>
            <li class="root-menu-item-5 " onclick="CloseBPDialog('newemployeework')">
                <span id="h-menu-item-5"><img id="h-menu-icon-5" class="h-menu-icon cancelButton">Հրաժարվել</span>
            </li>
        </ul>
        <div id="right-menu" style="display:none;">
        </div>
    </div>


    <div>
        <div class="col-sm-12">
            <div style="max-width:530px">
                <errors></errors>
            </div>

            <div class="col-sm-12" ng-init="getUserID(true)">
                <div class="form-group">
                    <label class="tab_title col-sm-5 " for="RegistrationDate">Մուտքագրման ա/թ</label>
                    <div class="col-sm-6 row">
                        <div class="multiple_columns col-sm-8 ">
                            <input disabled="disabled" type="date" class="form-control tab_title unstyled" style="text-align: left;" id="RegistrationDate" name="RegistrationDate" ng-model="employeeWork.RegistrationDate" required>
                        </div>
                    </div>
                </div>

                <usersetnumber setnumber="employeeWork.SetNumber" disabled="true" isautofill="true" formname="EmployeeWorkForm" labelname="Մուտքագրող"></usersetnumber>


                <div ng-if="disableCustomerNumber" ng-init="getAuthorizedCustomerNumber()"></div>
                <div class="form-group" >
                    <label class="col-sm-5 tab_title">Հաճախորդ</label>
                    <div class="col-sm-6 ">
                        <div class="row">
                            <div class="input-group">
                                <input type="text" ng-model="customerNumber" style="width:122px" ng-disabled="disableCustomerNumber" onkeypress='return event.charCode >= 48 && event.charCode <= 57 && event.keyCode != 13' maxlength="12" class="form-control" id="customerNumber" name="customerNumber" required ng-model-options="{updateOn: 'blur'}" data-update-model-on-enter-key-pressed>
                                <div class="input-group-btn" style="display:inline-block;">
                                    <button type="button" title="Ավելացնել հաճախորդին" ng-disabled="disableCustomerNumber" class="btn btn-primary" ng-click="addCustomer(customerNumber)"><span class="glyphicon glyphicon-plus"></span></button>
                                    <button type="button" title="Հաճախորդի որոնոմ" ng-disabled="disableCustomerNumber" class="btn btn-primary searchButton" ng-click="searchCustomers()"><span class="glyphicon glyphicon-search greenStyle"></span></button>
                                </div>
                            </div>
                            <div class="row" ng-if="EmployeeWorkForm.$submitted && employeeWork.CustomerNumber.length!=12">
                               <span class="errors" style="margin-left: 15px;">Ընտրեք հաճախորդին</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group" ng-if="employeeWork.CustomerNumber.toString().length==12">
                    <div class="col-sm-6" >
                        <div class="row" style="margin-left:10px;">
                            <button type="button" class="btn btn-danger btn-xs" ng-click="deleteCustomer($index)"><span class="glyphicon glyphicon-remove"></span></button>
                            <customerinfo customernumber="employeeWork.CustomerNumber" showfulldata="false"> </customerinfo>
                        </div>
                    </div>
                </div>


                <div class="form-group" ng-init="getTypeOfEmployeeWorks()">
                    <label class="tab_title col-sm-5" for="Type">Տեսակ</label>
                    <div class="col-sm-6">
                        <div class="row">
                            <select data-ng-model="employeeWork.Type" name="Type" id="Type" class="form-control" required
                                    data-ng-options="k as v for (k,v) in typeOfEmployeeWorks">
                                <option value="" hidden="hidden" style="margin-left:25px">Ընտրեք տեսակը...</option>
                            </select>
                        </div>
                        <div class="row">
                            <ng-messages ng-if="EmployeeWorkForm.$submitted || EmployeeWorkForm.Type.$dirty"
                                         for="EmployeeWorkForm.Type.$error">
                                <ng-message when="required" class="errors">
                                    Տեսակը ընտրված չէ
                                </ng-message>
                            </ng-messages>
                        </div>

                    </div>
                </div>


                



                <div class="form-group" ng-init="getTypeOfEmployeeWorkImportances();employeeWork.Importance='2'">
                    <label class="tab_title col-sm-5" for="Importance">Կարևորություն</label>
                    <div class="col-sm-6">
                        <div class="row">
                            <select data-ng-model="employeeWork.Importance" name="Importance" id="Importance" class="form-control" required
                                    data-ng-options="k as v for (k,v) in typeOfEmployeeWorkImportances">
                                <option value="" hidden="hidden" style="margin-left:25px">Ընտրեք կարևորություն...</option>
                            </select>
                        </div>
                        <div class="row">
                            <ng-messages ng-if="EmployeeWorkForm.$submitted || EmployeeWorkForm.Importance.$dirty"
                                         for="EmployeeWorkForm.Importance.$error">
                                <ng-message when="required" class="errors">
                                    Կարևորությունը ընտրված չէ
                                </ng-message>
                            </ng-messages>
                        </div>

                    </div>
                </div>
                <div class="form-group" ng-init="getTypeOfEmployeeWorkQualities();disableQuality=true;employeeWork.Quality='10'">
                    <label class="tab_title col-sm-5" for="Importance">Կարգավիճակ</label>
                    <div class="col-sm-6">
                        <div class="row">
                            <select data-ng-model="employeeWork.Quality" ng-disabled="disableQuality" name="Quality" id="Quality" class="form-control" required
                                    data-ng-options="k as v for (k,v) in typeOfEmployeeWorkQualities">
                                <option value="" hidden="hidden" style="margin-left:25px">Ընտրեք կարգավիճակ...</option>
                            </select>
                        </div>
                        <div class="row">
                            <ng-messages ng-if="EmployeeWorkForm.$submitted || EmployeeWorkForm.Quality.$dirty"
                                         for="EmployeeWorkForm.Quality.$error">
                                <ng-message when="required" class="errors">
                                    Կարգավիճակը ընտրված չէ
                                </ng-message>
                            </ng-messages>
                        </div>

                    </div>
                </div>

                <usersetnumber setnumber="employeeWork.ExecutorSetNumber" formname="EmployeeWorkForm" labelname="Կատարող"></usersetnumber>
                <div class="form-group">
                    <label class="tab_title col-sm-5 " for="EndDate">Կատարման վերջնաժամկետ</label>
                    <div class="col-sm-6">
                        <div class="row">
                            <input type="date" class="form-control tab_title" style="text-align: left;" id="EndDate" ng-blur="checkWorkEndDate()" name="EndDate" ng-model="employeeWork.EndDate" required>
                        </div>
                        <div class="row">
                            <ng-messages ng-if="EmployeeWorkForm.$submitted || EmployeeWorkForm.EndDate.$dirty"
                                         for="EmployeeWorkForm.EndDate.$error">
                                <ng-message when="required" class="errors">
                                    Կատարման վերջնաժամկետը լրացված չէ
                                </ng-message>
                                <ng-message when="date" class="errors">
                                    Կատարման վերջնաժամկետը սխալ է
                                </ng-message>
                            </ng-messages>
                        </div>
                    </div>
                    
                </div>
                <div class="form-group" ng-init="getTypeOfEmployeeWorkDescriptions()">
                    <label class="tab_title col-sm-5" for="DescriptionType">Նկարագրություն</label>
                    <div class="col-sm-6">
                        <div class="row">
                            <select data-ng-model="employeeWork.DescriptionType" name="DescriptionType" id="DescriptionType" class="form-control" required
                                    data-ng-options="k as v for (k,v) in typeOfEmployeeWorkDescriptions" ng-change="employeeWork.OtherDescription=null">
                                <option value="" hidden="hidden" style="margin-left:25px">Ընտրեք նկարագրությունը...</option>
                            </select>
                        </div>
                        <div class="row">
                            <ng-messages ng-if="EmployeeWorkForm.$submitted || EmployeeWorkForm.DescriptionType.$dirty"
                                         for="EmployeeWorkForm.DescriptionType.$error">
                                <ng-message when="required" class="errors">
                                    Նկարագրությունը ընտրված չէ
                                </ng-message>
                            </ng-messages>
                        </div>

                    </div>
                </div>


                <div class="form-group" ng-if="employeeWork.DescriptionType==9">

                    <label class="tab_title col-sm-5" for="OtherDescription">Այլ նկարագրություն<span class="redStyle">*</span></label>
                    <div class="col-sm-6">
                        <div class="row">
                            <textarea rows="2" onkeypress="return isArmenianUnicode(event.keyCode)" 
                                      onpaste="return CheckPasteText(event)" ng-model="employeeWork.OtherDescription" 
                                      name="OtherDescription" id="OtherDescription" required class="form-control" style="text-align:left"></textarea>
                        </div>
                        <div class="row">
                            <ng-messages ng-if="EmployeeWorkForm.$submitted || EmployeeWorkForm.OtherDescription.$dirty"
                                         for="EmployeeWorkForm.OtherDescription.$error">
                                <ng-message when="required" class="errors">
                                    Այլ նկարագրությունը լրացված չէ
                                </ng-message>
                            </ng-messages>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</form>











