<style type="text/css">
    .redStyle {
        color: red;
    }

    .greenStyle {
        color: green;
    }

    .top {
        font-size: 13px;
    }
</style>
<form name="StatementForm" class="row" ng-controller="LoanStatementCtrl" ng-submit="!productid && StatementForm.$valid && printLoanStatement(accountnumber)" novalidate>

    <div class="row" style="width: 90%; margin-left: 15px;">
        <div class="col-sm-12">
            <div class="col-xs-4">
                <span class="product-detail-lable">Սկիզբ</span>
                <input type="date" ng-model="dateFrom" name="DateFrom" class="form-control"
                       required>
                <ng-messages ng-if="StatementForm.$submitted || StatementForm.DateFrom.$dirty"
                             for="StatementForm.DateFrom.$error">
                    <ng-message when="required" class="errors">
                        Նշեք ա/թ
                    </ng-message>
                </ng-messages>
            </div>
            <div class="col-xs-4">
                <span class="product-detail-lable">Վերջ</span>
                <input type="date" ng-model="dateTo" name="DateTo" class="form-control"
                       required>
                <ng-messages ng-if="StatementForm.$submitted || StatementForm.DateTo.$dirty"
                             for="StatementForm.DateTo.$error">
                    <ng-message when="required" class="errors">
                        Նշեք ա/թ
                    </ng-message>
                </ng-messages>
            </div>
            <div class="col-md-1" ng-if="!productid">

                <br />

               
                <button ng-if="!productid" type="submit" class="btn btn-primary dropdown-toggle">
                    Վարկային քաղվածք
                </button>

               
            </div>
            <div class="col-md-1" ng-if="productid">
                <br />
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Վարկային քաղվածք <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="" ng-click="dateFrom<=dateTo && printLoanStatementNew(accountnumber,productid,1,'pdf')">Տպել PDF(հայերեն)</a></li>
                    <li><a href="" ng-click="dateFrom<=dateTo && printLoanStatementNew(accountnumber,productid,2,'pdf')">Տպել PDF(անգլերեն)</a></li>
                    <li><a href="" ng-click="dateFrom<=dateTo && printLoanStatementNew(accountnumber,productid,1,'xls')">Տպել Excel(հայերեն)</a></li>
                    <li><a href="" ng-click="dateFrom<=dateTo && printLoanStatementNew(accountnumber,productid,2,'xls')">Տպել Excel(անգլերեն)</a></li>
                    <li><a href="" ng-click="dateFrom<=dateTo && printLoanStatement(accountnumber)">Տպել PDF(հին տարբերակ)</a></li>
                    <li ng-if="loantype==15"><a href="" ng-click="dateFrom<=dateTo && printHypotecLoanStatement(accountnumber, productid)">Տպել PDF(ՀՀ ՊԵԿ ներկայացվող)</a></li>
                </ul>
            </div>

            <br />
        </div>
        <div ng-if="dateFrom>dateTo" class="col-md-10  errors">Քաղվածքի ժամկետի սկիզբը պետք է փոքր լինի վերջից</div>
    </div>

</form>