@{
    Layout = null;
}


<style>

    #loan_details.bhoechie-tab-content {
        background-color: #f2f2f2 !important
    }
</style>


<head>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>

<div ng-controller="LoanCtrl" data-ng-init="getLoan(productId);showResetEarlyRepaymentFeeButton();getLoanRepaymentDelayDetails(productId);getLoanInterestRateConcessionDetails(productId);" id="loandetails">
    <div id="loandetails_menu" class="menu-bar dialog-menu light-green details-menu">
        <ul ng-controller="LoanProductActivationOrderCtrl" id="menu" class="dialog-menu">
            <li class="root-menu-item-4 " ng-if="loan!=undefined">
                <span id="h-menu-item-4" onclick="return false;">
                    <img id="h-menu-icon-4" class="h-menu-icon applicationButton">Վարկի գրաֆիկ
                    <img id="arrow-down" class="arrowButton">
                </span>
                <ul>
                    <li id="v-menuItem-3.1" class="" ng-if="loan.Quality!=10" ng-controller="PopUpCtrl" ng-click="openWindow('/Loan/LoanGrafik','Վարկի գրաֆիկ','loangrafik')" data-permission-selector="">
                        <span>Դիտել</span>
                    </li>
                    <li id="v-menuItem-3.2" ng-if="loan.Quality!=10" ng-click="getLoanGrafikApplication()" data-permission-selector="">
                        <span>Տպել</span>
                    </li>
                    <li id="v-menuItem-3.2" ng-controller="PopUpCtrl" ng-click="openWindow('/Loan/LoanInceptiveGrafik','Վարկի սկզբնական գրաֆիկ','loangrafik')" data-permission-selector="">
                        <span>Սկզբնական</span>
                    </li>
                </ul>
            </li>
            <li class="root-menu-item-2 " ng-class="{'my_disable':disabelButton==true}" ng-if="$root.SessionProperties.SourceType == 2 && loan.Quality==10 && loan.LoanType!=49" ng-controller="PopUpCtrl" ng-click="params={product:loan,orderType:73};openWindow('/LoanProductActivationOrder/PersonalLoanProductActivationOrder','Վարկի ակտիվացում','newLoanProductActivation')">
                <span id="h-menu-item-2"><img id="h-menu-icon-2" class="applicationButton h-menu-icon">Ակտիվացնել</span>
            </li>
            <li class="root-menu-item-3 " ng-class="{'my_disable':disabelButton==true}" ng-if="isClosed!=true && loan.Quality!=undefined && loan.Quality!=10 && loan.Quality!=40" ng-controller="PopUpCtrl" ng-click="openWindow('/MatureOrder/PersonalMatureOrder','Վարկի մարում','newMature')">
                <span id="h-menu-item-3"><img id="h-menu-icon-3" class="cashInButton h-menu-icon">Վարկի մարում</span>
            </li>

            <li class="root-menu-item-3 " ng-class="{'my_disable':disabelButton==true}" ng-if="($root.SessionProperties.AdvancedOptions['isOnlineAccChief']=='1' || $root.SessionProperties.AdvancedOptions['isOnlineAcc']=='1'  ) && loan.Quality!= 10" ng-controller="PopUpCtrl" ng-click="params={productId:loan.ProductId,loanType:loan.LoanType};openWindow('/CreditCommitmentForgivenessOrder/Index','Ներում','newMature')">
                <span id="h-menu-item-3"><img id="h-menu-icon-3" class="h-menu-icon" src="~/Content/Images/help.png" style="height: 30px;width:36px;margin-top: 6px;" />Ներումներ</span>
            </li>

            <li class="root-menu-item-5 " ng-class="{'my_disable':disabelButton==true}" ng-controller="PopUpCtrl" ng-if="isTransferToShop" ng-click="params={productId:loan.ProductId,amout:loan.StartCapital,currency:loan.Currency,loanSale:loan.Sale,loanProgram:loan.LoanProgram};openWindow('/TransferToShopOrder/PersonalTransferToShopOrder','Փոխանցում խանութի հաշվին','newTransferToShopOrder')">
                <span id="h-menu-item-5"><img id="h-menu-icon-2" class="closeAccountButton h-menu-icon">Փոխանցում խանութի հաշվին</span>
            </li>
            <li class="root-menu-item-5 " ng-class="{'my_disable':disabelButton==true}" ng-controller="PopUpCtrl" ng-if="loan.Quality<10 && isOnlineAcc==true && loan.LoanType != 49" ng-click="params={productId:loan.ProductId,actionType:2,includingSurcharge:0,productType:loan.ProductType};openWindow('/ClassifiedLoanActionOrder/PersonalClassifiedLoanActionOrder','Վարկի դուրսգրում','newClassifiedLoanActionOrder')">
                <span id="h-menu-item-5"><img id="h-menu-icon-2" class="closeAccountButton h-menu-icon">Դուրս գրել</span>
            </li>
            <li class="root-menu-item-5 " ng-class="{'my_disable':disabelButton==true}" ng-controller="PopUpCtrl" ng-if="loan.Quality==11 && isOnlineAcc==true && loan.LoanType != 49" ng-click="params={productId:loan.ProductId,actionType:1,includingSurcharge:0,productType:loan.ProductType};openWindow('/ClassifiedLoanActionOrder/PersonalClassifiedLoanActionOrder','Վարկի հետբերում','newClassifiedLoanActionOrder')">
                <span id="h-menu-item-5"><img id="h-menu-icon-2" class="closeAccountButton h-menu-icon">Հետ բերել </span>
            </li>
            <li class="root-menu-item-5 " ng-class="{'my_disable':disabelButton==true}" ng-controller="PopUpCtrl" ng-if="loan.Quality==11 && isOnlineAcc==true && loan.LoanType != 49" ng-click="params={productId:loan.ProductId,actionType:3,includingSurcharge:0,productType:loan.ProductType};openWindow('/ClassifiedLoanActionOrder/PersonalClassifiedLoanActionOrder','Արտաբալանսից հանում','newClassifiedLoanActionOrder')">
                <span id="h-menu-item-5"><img id="h-menu-icon-2" class="closeAccountButton h-menu-icon">Հանել արտաբալանսից </span>
            </li>
            <li class="root-menu-item-6" ng-if="loan.Quality == 10" ng-click="sendLoanDigitalContract(loan.ProductId)">
                <span id="h-menu-item-6"><img id="h-menu-icon" class="sendContract h-menu-icon">Ուղարկել փաստաթղթեր</span>
            </li>
            <li class="root-menu-item-3" ng-class="{'my_disable':disabelButton==true}" ng-if="$root.SessionProperties.AdvancedOptions['deleteLoanReason']=='1' && loan.Quality == 10 && loan.LoanType==29" ng-controller="PopUpCtrl" ng-click="params={productId:loan.ProductId};openWindow('/Loan/LoanDeleteReason','Հեռացման պատճառ','DeleteReason')">
                <span id="h-menu-item-3"><img id="h-menu-icon"><i class="glyphicon glyphicon-trash" style="font-size: 25px;"></i> Հեռացնել</span>
            </li>
            <li class="root-menu-item-4 " ng-if="loan.Quality!=10">
                <span id="h-menu-item-4" onclick="return false;">
                    <img id="h-menu-icon-4" class="h-menu-icon applicationButton">Այլ
                    <img id="arrow-down" class="arrowButton">
                </span>
                <ul>
                    <li id="v-menuItem-3.1" class="" ng-controller="PopUpCtrl" ng-click="params={productId:loan.ProductId};openWindow('/Overdue/OverdueDetails','Ժ/անց պատմություն')" data-permission-selector="">
                        <span>Ժ/անց պատմություն</span>
                    </li>
                    <li id="v-menuItem-3.2" ng-controller="PopUpCtrl" ng-click="params={productId:loan.ProductId};openWindow('/Loan/LoanProductProlongations','Վարկի երկարացման դիմումներ')" data-permission-selector="">
                        <span>Երկարաձգման դիմումներ</span>
                    </li>
                    <li id="v-menuItem-3.2" ng-if="$root.SessionProperties.IsChiefAcc == true && ((loan.Quality==0 || loan.Quality==1) || ( loan.Quality==11 && loan.OverdueLoanDate == null ) )" ng-controller="PopUpCtrl" ng-click="params={productid:loan.ProductId,currentLoan:loan};openWindow('/LoanDelayOrder/LoanDelayOrder','Վարկի հետաձգում','loanDelayOrder')">
                        <span>Վարկի հետաձգում</span>
                    </li>
                    @*<li id="v-menuItem-3.2" ng-if="$root.SessionProperties.IsChiefAcc == true" ng-controller="PopUpCtrl" ng-click="params={productId:loan.ProductId};openWindow('/LoanInterestRateConcession/LoanInterestRateConcession','Վարկի տոկոսագումարների զիջում','LoanInterestRateConcession')">
                            <span id="h-menu-item-6">Անտոկոս ժամանակահատված-Զորակոչ 2020</span>
                        </li>*@
                </ul>
            </li>
            <li class="root-menu-item-4 " ng-if="loan.LoanType==29">
                <span id="h-menu-item-4" onclick="return false;">
                    <img id="h-menu-icon-4" class="h-menu-icon cashInButton">Փաստաթղթեր
                    <img id="arrow-down" class="arrowButton">
                </span>
                <ul>
                    <li id="v-menuItem-4.1" ng-click="getDepositConsumeLoanContract(loan.ProductId, confirmationPerson);">
                        <span id="h-menu-item-2">Պայմանագիր</span>
                    </li>

                    <li id="v-menuItem-4.4" ng-click="getDepositLoanProvisionDetails(loan.ProductId,loan.FillialCode);">
                        <span id="h-menu-item-5">Գրավ</span>
                    </li>
                    <li id="v-menuItem-4.5" ng-click="getLoanTerms(loan.ProductId);">
                        <span id="h-menu-item-6">Էական պայմաններ</span>
                    </li>
                    <li id="v-menuItem-4.3" ng-click="getDepositLoanGrafik(loan.ProductId, confirmationPerson);">
                        <span id="h-menu-item-4">Գրաֆիկ</span>
                    </li>
                </ul>
            </li>

            <li class="root-menu-item-5 " ng-if="loan.LoanType==29">
                <span id="h-menu-item-5" onclick="return false;">
                    <select title="Ստորագրող անձ" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-ng-model="confirmationPerson" style="max-width:100px;height:30px;font-size:11px;" name="ConfirmationPerson" id="h-menu-item-5" ng-change="confirmationPersons(confirmationPerson)">
                        <option value="2">կառավարիչ</option>
                        <option value="3">կառավարչի տեղակալ</option>
                    </select>
                </span>
            </li>

        </ul>
        <div id="right-menu" style="display:none;">
        </div>
    </div>
    <section class="panel panel-info" style="max-width:800px;margin-left:10px">
        <header class="panel-heading">
            <span class="panel-title" style="font-size: 14px;"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></span>
        </header>
        <div class="panel-body">
            <div class="product-detail-row">
                <div class="product-detail-cell product-detail-lable redStyle">Ընդամենը պարտավորություն</div>
                <div class="product-detail-cell product-detail-value redStyle" style="font-weight:bold;">{{AdditionalDetails1 | number:2}} {{loan.Currency}}</div>
            </div>
            <div class="product-detail-row">
                <div class="product-detail-cell product-detail-lable greenStyle">Հաշվի հասանելի գումար</div>
                <div class="product-detail-cell product-detail-value greenStyle" style="font-weight:bold;">{{ConnectAccountAvailableBalance | number:2}} {{loan.ConnectAccount.Currency}}</div>
            </div>
            <div class="product-detail-row">
                <div class="product-detail-cell product-detail-lable redStyle">Ընդհանուր պարտավորության և հաշվի մնացորդի տարբերություն</div>
                <div class="product-detail-cell product-detail-value redStyle" style="font-weight:bold;">{{(AdditionalDetails2 - loan.NextPeriodRateAccountBalance) | number:2}} {{loan.Currency}}</div>
            </div>
            <div class="product-detail-row">
                <div class="product-detail-cell product-detail-lable" style="color:#19B978">Տոկոսագումարը AMD-ով</div>
                <div class="product-detail-cell product-detail-value" style="color:#19B978;font-weight:bold;">{{AdditionalDetails3 | number:2}} AMD</div>
            </div>
            <div class="product-detail-row" ng-if="loan.Quality!=10 && AdditionalDetails4>0">
                <div class="product-detail-cell product-detail-lable redStyle">Ժամկետանց մաս</div>
                <div class="product-detail-cell product-detail-value redStyle" style="font-weight:bold;">{{AdditionalDetails4 | number:2}} {{loan.Currency}}</div>
            </div>

        </div>
    </section>
    <div class="product-details bhoechie-tab-content" id="loan_details" style="min-width:800px;margin-left:10px;">

        <div style="display:table-row-group; box-shadow: 0 0 3px 4px #d6d3d3; background-color: white;">
            <div class="product-detail-row">
                <span style="margin-left: 5px;font-weight: bold;color: #504e4a;font-size: 15px;">Հիմնական</span>
                <div class="product-detail-cell product-detail-value">&nbsp;</div>
            </div>
            <loandigitalcontractdetails ng-if="loan.ProductId" source="1" productid="loan.ProductId"></loandigitalcontractdetails>
            <div class="product-detail-row" ng-if="loan.CreditCode!=''">
                <div class="product-detail-cell product-detail-lable">&nbsp;&nbsp;&nbsp;&nbsp;Կոդ</div>
                <div class="product-detail-cell product-detail-value" style="font-weight:bold;">
                    {{loan.CreditCode}}
                    <span style="left:4pt; color: #337AB7; cursor:pointer;vertical-align:top;" ng-controller="PopUpCtrl" ng-click="params={creditCode:loan.CreditCode,loanCurrency:loan.ConnectAccount.Currency};openWindow('/Loan/CreditCodeAccountDetails','Հաշվեհամարներ','creditCodeAccountDetails');" class="glyphicon glyphicon-info-sign" />
                </div>
            </div>
            <div class="product-detail-row" ng-show="loanRepaymentDelayDetails.Id">
                <div class="product-detail-cell product-detail-lable">&nbsp;&nbsp;&nbsp;&nbsp;Վարկը հետաձգված է մինչև (ներառյալ)</div>
                <div class="product-detail-cell product-detail-value" style="color:red;font-weight: bold;">
                    {{loanRepaymentDelayDetails.DelayDate | mydate | date: 'dd/MM/yyyy'}}
                    <span style="left:4pt; color: #337AB7; cursor:pointer;vertical-align:top;" ng-if="$root.SessionProperties.IsChiefAcc == true" ng-controller="PopUpCtrl" ng-click="params={productid:productId,currentLoan:loan};openWindow('/CancelLoanDelayOrder/CancelLoanDelayOrder','Վարկի հետաձգում','cancelLoanDelayOrder')" title="Խմբագրել" class="glyphicon glyphicon-pencil" />
                </div>

            </div>
            @*<div class="product-detail-row" ng-if="loanInterestRateConcessionDetails.Quality==30">
                    <div class="product-detail-cell product-detail-lable">&nbsp;&nbsp;&nbsp;&nbsp;Անտոկոս ժամանակահատված-Զորակոչ 2020</div>
                    <div class="product-detail-cell product-detail-value" style="color:red;font-weight: bold;">{{loanInterestRateConcessionDetails.ConcessionDate | mydate | date: 'dd/MM/yyyy'}}</div>
                </div>*@
            @*<div class="product-detail-row">
                    <div class="product-detail-cell product-detail-lable">&nbsp;&nbsp;&nbsp;&nbsp;Պայմանագրի համար</div>
                    <div class="product-detail-cell product-detail-value">{{loan.ContractNumber}}</div>
                </div>*@
            <div class="product-detail-row">
                <div class="product-detail-cell product-detail-lable">&nbsp;&nbsp;&nbsp;&nbsp;Տեսակ</div>
                <div class="product-detail-cell product-detail-value">{{loan.ProductTypeDescription}}</div>
            </div>
            <div class="product-detail-row">
                <div class="product-detail-cell product-detail-lable">&nbsp;&nbsp;&nbsp;&nbsp;Մասնաճյուղ</div>
                <div class="product-detail-cell product-detail-value">{{loan.FillialCode}}</div>
            </div>
            <div class="product-detail-row">
                <div class="product-detail-cell product-detail-lable">&nbsp;&nbsp;&nbsp;&nbsp;Կարգավիճակ</div>
                <div class="product-detail-cell product-detail-value" style="font-weight:bold;" ng-style="{ color: loan.Quality==5 ||  loan.Quality==11 || loan.Quality==12 || loan.Quality==2 ? 'red' : '' }">{{loan.QualityDescription}}</div>
            </div>
            <div class="product-detail-row">
                <div class="product-detail-cell product-detail-lable">&nbsp;&nbsp;&nbsp;&nbsp;Պայմանագրային գումար</div>
                <div class="product-detail-cell product-detail-value">{{loan.Is_24_7?loan.ContractAmountString:loan.StartCapitalString}} {{loan.Currency}}</div>
            </div>
            <div class="product-detail-row">
                <div class="product-detail-cell product-detail-lable">&nbsp;&nbsp;&nbsp;&nbsp;Մնացորդ</div>
                <div class="product-detail-cell product-detail-value">{{loan.CurrentCapital+ loan.OutCapital |number:2}} {{loan.Currency}}</div>
            </div>
            <div class="product-detail-row" ng-if="loan && loan.Quality!=0 && loan.Quality!=1 && loan.Quality!=10">
                <div class="product-detail-cell product-detail-lable redStyle">&nbsp;&nbsp;&nbsp;&nbsp;Ժամկետանց մաս</div>
                <div class="product-detail-cell product-detail-value redStyle">{{loan.OverdueCapital |number:2}} {{loan.Currency}}</div>
            </div>
            <div class="product-detail-row">
                <div class="product-detail-cell product-detail-lable">&nbsp;&nbsp;&nbsp;&nbsp;Սկիզբ</div>
                <div class="product-detail-cell product-detail-value">{{(loan.ContractDate!=undefined?loan.ContractDate:loan.StartDate) | mydate | date: 'dd/MM/yyyy'}}</div>
            </div>
            <div class="product-detail-row">
                <div class="product-detail-cell product-detail-lable">&nbsp;&nbsp;&nbsp;&nbsp;Վերջ</div>
                <div class="product-detail-cell product-detail-value">{{loan.EndDate | mydate | date: 'dd/MM/yyyy'}}</div>
            </div>

            <div class="product-detail-row">
                <div class="product-detail-cell product-detail-lable">&nbsp;&nbsp;&nbsp;&nbsp;Վարկային հաշիվ</div>
                <div class="product-detail-cell product-detail-value">{{loan.LoanAccount.AccountNumber}} {{loan.LoanAccount.Currency}}</div>
            </div>
            <div class="product-detail-row">
                <div class="product-detail-cell product-detail-lable">&nbsp;&nbsp;&nbsp;&nbsp;Ընթացիկ հաշիվ և մնացորդ</div>
                <div class="product-detail-cell product-detail-value">{{loan.ConnectAccount.AccountNumber}} &nbsp;<b>{{loan.ConnectAccount.AvailableBalance | number:2 }} {{loan.ConnectAccount.Currency}}</b> <span style="left:4pt; color: #337AB7; cursor:pointer;vertical-align:top;" ng-controller="PopUpCtrl" ng-click="params={accountNumber:loan.ConnectAccount.AccountNumber,accountCurrency:loan.ConnectAccount.Currency};openWindowWithTemplate('accountflowdetails','Հաշվի շարժ','accountflowdetails');" class="glyphicon glyphicon-info-sign" /></div>
            </div>
            <div class="product-detail-row">
                <div class="product-detail-cell product-detail-lable">&nbsp;&nbsp;&nbsp;&nbsp;Ապագա ժամանակաշրջանի տոկոսի կուտակման հաշվիվ և մնացորդ</div>
                <div class="product-detail-cell product-detail-value">{{loan.NextPeriodRateAccount}} &nbsp;<b>{{loan.NextPeriodRateAccountBalance | number:2 }} {{loan.ConnectAccount.Currency}}</b></div>
            </div>

        </div>
        <br />
        <div style="display:table-row-group; box-shadow: 0 0 3px 4px #d6d3d3; background-color: white;">
            <div class="product-detail-row">
                <span style="margin-left: 5px;font-weight: bold;color: #504e4a;font-size: 15px;">Տոկոսադրույք/Տոկոսագումարներ</span>
                <div class="product-detail-cell product-detail-value">&nbsp;</div>
            </div>
            <div class="product-detail-row">
                <div class="product-detail-cell product-detail-lable">&nbsp;&nbsp;&nbsp;&nbsp;Տոկոսադրույք</div>
                <div class="product-detail-cell product-detail-value">
                    {{loan.InterestRate*100|number:2 }}%
                    <span ng-if="loan.LoanType==15 && loan.LoanProgram==39" style="left:4pt; color: #337AB7; cursor:pointer;vertical-align:top;" ng-controller="PopUpCtrl" ng-click="params={productID:loan.ProductId};openWindow('/Loan/LoanInterestRateChangeHistory','Տոկոսադրույքի փոփոխման պատմություն','loanInterestRateChangeHistory');" class="glyphicon glyphicon-info-sign" />
                </div>
            </div>
            <div class="product-detail-row">
                <div class="product-detail-cell product-detail-lable">&nbsp;&nbsp;&nbsp;&nbsp;Փաստացի տոկոսադրույք(ծախսերով)</div>
                <div class="product-detail-cell product-detail-value">{{loan.InterestRateFull*100|number:2}}%</div>
            </div>
            <div class="product-detail-row">
                <div class="product-detail-cell product-detail-lable">&nbsp;&nbsp;&nbsp;&nbsp;Փաստացի(առանց ծախսերի)</div>
                <div class="product-detail-cell product-detail-value">{{loan.InterestRateEffective*100|number:2}}%</div>
            </div>
            <div class="product-detail-row">
                <div class="product-detail-cell product-detail-lable">&nbsp;&nbsp;&nbsp;&nbsp;Տոկոսագումարի հաշվարկի օր</div>
                <div class="product-detail-cell product-detail-value">{{loan.DayOfRateCalculation | mydate | date: 'dd/MM/yyyy'}}</div>
            </div>
            <div class="product-detail-row">
                <div class="product-detail-cell product-detail-lable">&nbsp;&nbsp;&nbsp;&nbsp;Կուտակված (չվճարված) տոկոսագումար</div>
                <div class="product-detail-cell product-detail-value" style="font-weight:bold;">{{loan.CurrentRateValueString}} {{loan.Currency}}</div>
            </div>


            <div class="product-detail-row">
                <div class="product-detail-cell product-detail-lable">&nbsp;&nbsp;&nbsp;&nbsp;Կուտակված (վճարված) տոկոսագումար</div>
                <div class="product-detail-cell product-detail-value">{{loan.MaturedCurrentRateValue | number:2}} {{loan.Currency}}</div>
            </div>

            <div class="product-detail-row">
                <div class="product-detail-cell product-detail-lable">&nbsp;&nbsp;&nbsp;&nbsp;Կուտակված (չվճարված + վճարված) տոկոսագումար</div>
                <div class="product-detail-cell product-detail-value">{{(loan.MaturedCurrentRateValue+loan.CurrentRateValue) | number:2}} {{loan.Currency}}</div>
            </div>

            <div class="product-detail-row" ng-if="loan && loan.Quality!=0 && loan.Quality!=1 && loan.Quality!=10">
                <div class="product-detail-cell product-detail-lable redStyle">&nbsp;&nbsp;&nbsp;&nbsp;Որից ժամկետանց տոկոս</div>
                <div class="product-detail-cell product-detail-value redStyle">{{loan.InpaiedRestOfRate | number:2}} {{loan.Currency}}</div>
            </div>

            <div class="product-detail-row">
                <div class="product-detail-cell product-detail-lable">&nbsp;&nbsp;&nbsp;&nbsp;Կուտակված (չվճարված) սպասարկման վճար</div>
                <div class="product-detail-cell product-detail-value" style="font-weight:bold;">{{loan.CurrentFee  |number:2}} {{loan.Currency}}</div>
            </div>

            <div class="product-detail-row">
                <div class="product-detail-cell product-detail-lable">&nbsp;&nbsp;&nbsp;&nbsp;Կուտակված (վճարված) սպասարկման վճար</div>
                <div class="product-detail-cell product-detail-value">{{loan.MaturedCurrentFee |number:2}} {{loan.Currency}}</div>
            </div>

            <div class="product-detail-row">
                <div class="product-detail-cell product-detail-lable">&nbsp;&nbsp;&nbsp;&nbsp;Կուտակված (չվճարված + վճարված) սպասարկման վճար</div>
                <div class="product-detail-cell product-detail-value">{{(loan.MaturedCurrentFee+loan.CurrentFee)  |number:2}} {{loan.Currency}}</div>
            </div>


            <div class="product-detail-row" ng-if="loan.Quality!=0 && loan.Quality!=1">
                <div class="product-detail-cell product-detail-lable redStyle">&nbsp;&nbsp;&nbsp;&nbsp;Կուտակված (չվճարված) տուգանային տոկոս</div>
                <div class="product-detail-cell product-detail-value redStyle" style="font-weight:bold;">{{loan.PenaltyRateString}} {{loan.Currency}}</div>
            </div>

            <div class="product-detail-row" ng-if="loan.Quality!=0 && loan.Quality!=1">
                <div class="product-detail-cell product-detail-lable redStyle">&nbsp;&nbsp;&nbsp;&nbsp;Որից՝</div>
                <div class="product-detail-cell product-detail-value redStyle">&nbsp;</div>
            </div>

            <div class="product-detail-row" ng-if="loan.Quality!=0 && loan.Quality!=1">
                <div class="product-detail-cell product-detail-lable redStyle">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Կուտակված (չվճարված) տուժանք</div>
                <div class="product-detail-cell product-detail-value redStyle" style="font-weight:bold;">{{loan.PenaltyAddString}} {{loan.Currency}}</div>
            </div>

            <div class="product-detail-row" ng-if="loan.Quality!=0 && loan.Quality!=1">
                <div class="product-detail-cell product-detail-lable redStyle">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Կուտակված (վճարված) տուժանք</div>
                <div class="product-detail-cell product-detail-value redStyle">{{loan.MaturedPenaltyRate | number:2}} {{loan.Currency}}</div>
            </div>
            <div class="product-detail-row" ng-if="loan.Quality!=0 && loan.Quality!=1">
                <div class="product-detail-cell product-detail-lable redStyle">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Կուտակված (չվճարված + վճարված) տուժանք</div>
                <div class="product-detail-cell product-detail-value redStyle">{{(loan.MaturedPenaltyRate+loan.PenaltyRate)  |number:2}} {{loan.Currency}}</div>
            </div>


            <div class="product-detail-row" ng-if="loan.InterestRateEffectiveWithOnlyBankProfit>0">
                <div class="product-detail-cell product-detail-lable">&nbsp;&nbsp;&nbsp;&nbsp;Արդյունավետ տոկոսադրույք</div>
                <div class="product-detail-cell product-detail-value">{{loan.InterestRateEffectiveWithOnlyBankProfit*100|number:2}}%</div>
            </div>
            <div class="product-detail-row" ng-if="loan.InterestRateEffectiveWithoutAccountServiceFee>0">
                <div class="product-detail-cell product-detail-lable">&nbsp;&nbsp;&nbsp;&nbsp;Էֆֆեկտիվ տոկոսադրույք առանց հաշվի սպասարկման միջնորդավճարի</div>
                <div class="product-detail-cell product-detail-value">{{loan.InterestRateEffectiveWithoutAccountServiceFee*100|number:2}}%</div>
            </div>

        </div>
        <br />
        <div style="display:table-row-group; box-shadow: 0 0 3px 4px #d6d3d3; background-color: white;">
            <div class="product-detail-row">
                <span style="margin-left: 5px;font-weight: bold;color: #504e4a;font-size: 15px;">Լրացուցիչ</span>
                <div class="product-detail-cell product-detail-value">&nbsp;</div>
            </div>


            <div class="product-detail-row" ng-if="loan.LastDateOfRateRepair!=null">
                <div class="product-detail-cell product-detail-lable">&nbsp;&nbsp;&nbsp;&nbsp;Վերջին վճարման օր</div>
                <div class="product-detail-cell product-detail-value">{{loan.LastDateOfRateRepair | mydate | date: 'dd/MM/yyyy'}}</div>
            </div>

            <div class="product-detail-row" ng-if="loan.Quality!=40">
                <div class="product-detail-cell product-detail-lable">&nbsp;&nbsp;&nbsp;&nbsp;Գրաֆիկով նախատեսված`</div>
                <div class="product-detail-cell product-detail-value">&nbsp;</div>
            </div>
            <div class="product-detail-row">
                <div class="product-detail-cell product-detail-lable">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;հերթական վճարման օր</div>
                <div class="product-detail-cell product-detail-value">{{loan.NextRepaymentDateString}}</div>
            </div>
            <div class="product-detail-row">
                <div class="product-detail-cell product-detail-lable">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;հերթական վճարման գումար</div>
                <div class="product-detail-cell product-detail-value">{{loan.NextRepayment.TotalRepayment  | number:2}} {{loan.Currency}}</div>
            </div>



            <div class="product-detail-row" ng-if="loan.OutLoanDate!=null && (loan.Quality==11 || loan.Quality==12 || loan.Quality==40)">
                <div class="product-detail-cell product-detail-lable">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Դուրսգրման ա/թ</div>
                <div class="product-detail-cell product-detail-value">{{loan.OutLoanDate| mydate | date: 'dd/MM/yyyy'}}</div>
            </div>
            <div class="product-detail-row" ng-if="loan.OutFromOutbalDate!=null && (loan.Quality==12 || loan.Quality==40)">
                <div class="product-detail-cell product-detail-lable">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Հետհաշվեկշռից հանելու ա/թ</div>
                <div class="product-detail-cell product-detail-value">{{loan.OutFromOutbalDate| mydate | date: 'dd/MM/yyyy'}}</div>
            </div>

            <div class="product-detail-row" ng-if="loan.OverdueLoanDate!=null">
                <div class="product-detail-cell product-detail-lable">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ժամկետանցի օր</div>
                <div class="product-detail-cell product-detail-value">{{loan.OverdueLoanDate | mydate | date: 'dd/MM/yyyy'}}</div>
            </div>
            <div class="product-detail-row" ng-if="loan.OverdueLoanDate!=null">
                <div class="product-detail-cell product-detail-lable redStyle">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ժամկետանց օրեր</div>
                <div class="product-detail-cell product-detail-value redStyle">{{loan.DayOfRateCalculation | datediff : loan.OverdueLoanDate}}</div>
            </div>
            <div class="product-detail-row" ng-if="loan.OverdueLoanDateForClassification!=null">
                <div class="product-detail-cell product-detail-lable redStyle">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ժամկետանցի օր դասակարգման համար</div>
                <div class="product-detail-cell product-detail-value redStyle">{{loan.OverdueLoanDateForClassification | mydate | date: 'dd/MM/yyyy'}}</div>
            </div>
            <div class="product-detail-row" ng-if="loan.OverdueLoanDateForClassification!=null">
                <div class="product-detail-cell product-detail-lable redStyle">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ժամկետանցի օրեր դասակարգման համար</div>
                <div class="product-detail-cell product-detail-value redStyle">{{loan.DayOfRateCalculation | datediff : loan.OverdueLoanDateForClassification}}</div>
            </div>
            <div class="product-detail-row" ng-if="loan.Quality==40">
                <div class="product-detail-cell product-detail-lable">&nbsp;&nbsp;&nbsp;&nbsp;Փակման ա/թ</div>
                <div class="product-detail-cell product-detail-value">{{loan.DayOfRateCalculation | mydate | date: 'dd/MM/yyyy'}}</div>
            </div>

            @*<div class="product-detail-row" ng-if="loan.DateOfStoppingCalculation!=null">
                    <div class="product-detail-cell product-detail-lable">&nbsp;&nbsp;&nbsp;&nbsp;Տոկոսի հաշվարկի դադարեցման օր</div>
                    <div class="product-detail-cell product-detail-value" style="color:red;">{{loan.DateOfStoppingCalculation | mydate | date: 'dd/MM/yyyy'}}</div>
                </div>
                <div class="product-detail-row" ng-if="loan.DateOfStoppingPenaltyCalculation!=null">
                    <div class="product-detail-cell product-detail-lable">&nbsp;&nbsp;&nbsp;&nbsp;Տուժանքի հաշվարկի դադարեցման օր</div>
                    <div class="product-detail-cell product-detail-value" style="color:red;">{{loan.DateOfStoppingPenaltyCalculation | mydate | date: 'dd/MM/yyyy'}}</div>
                </div>*@

        </div>
        <br />
        <div style="display:table-row-group; box-shadow: 0 0 3px 4px #d6d3d3; background-color: white;" ng-if="loan.JudgmentRate>0">

            <div class="product-detail-row">
                <span style="margin-left: 5px;font-weight: bold;color: #504e4a;font-size: 15px;">Պետ. տուրքի փոխանցումից հետո տուժանք</span>
                <div class="product-detail-cell product-detail-value">&nbsp;</div>
            </div>


            <div class="product-detail-row">
                <div class="product-detail-cell product-detail-lable redStyle">&nbsp;&nbsp;&nbsp;&nbsp;Կուտակված (չվճարված) տուժանք</div>
                <div class="product-detail-cell product-detail-value redStyle" style="font-weight:bold;">{{loan.JudgmentRate | number:2}} {{loan.Currency}}</div>
            </div>

            <div class="product-detail-row">
                <div class="product-detail-cell product-detail-lable redStyle">&nbsp;&nbsp;&nbsp;&nbsp;Կուտակված (վճարված) տուժանք</div>
                <div class="product-detail-cell product-detail-value redStyle">{{loan.MaturedJudgmentPenaltyRate | number:2}} {{loan.Currency}}</div>
            </div>

            <div class="product-detail-row">
                <div class="product-detail-cell product-detail-lable redStyle">&nbsp;&nbsp;&nbsp;&nbsp;Կուտակված (չվճարված + վճարված) տուժանք</div>
                <div class="product-detail-cell product-detail-value redStyle">{{loan.TotalJudgmentPenaltyRate | number:2}} {{loan.ConnectAccount.Currency}}</div>
            </div>
            <div class="product-detail-row">
                <div class="product-detail-cell product-detail-lable redStyle">&nbsp;&nbsp;&nbsp;&nbsp;Տուժանքի հաշվարկի սկիզբ</div>
                <div class="product-detail-cell product-detail-value redStyle" style="font-weight:bold;">{{loan.JudgmentStartDate | mydate | date: 'dd/MM/yyyy'}}</div>
            </div>
            <div class="product-detail-row">
                <div class="product-detail-cell product-detail-lable redStyle">&nbsp;&nbsp;&nbsp;&nbsp;Տուժանքի հաշվարկի վերջ</div>
                <div class="product-detail-cell product-detail-value redStyle" style="font-weight:bold;">{{loan.JudgmentEndDate | mydate | date: 'dd/MM/yyyy'}}</div>
            </div>
        </div>





    </div>
    <div ng-if="loan && isCreditHereAndNow" ng-init="loadLoanTabScript()"></div>
    <div class="bhoechie-tab-container" style="max-height:80%;" id="loanDetailsContainer">
        <div class="bhoechie-tab-menu" style="display:inline-block; vertical-align: top;">
            <div class="list-group">
                <div class="list-group-item text-center active">Պարտք</div>
                <div class="list-group-item text-center" ng-show="loan.LoanType==5 || loan.LoanType==14 || loan.LoanType==15"><span>Տեղ. փոխանցում ՊԵԿ</span></div>
                <div class="list-group-item text-center"><span>Լրացուցիչ տվյալներ</span></div>
                <div class="list-group-item text-center"><span>Կցված փաստաթղթեր</span></div>
                <div class="list-group-item text-center"><span>Միջ/վճար և այլ մուծ.</span></div>
                <div class="list-group-item text-center">Գրավ</div>
                <div class="list-group-item text-center" ng-show="GoodsDeatilsShow"><span>Ապրանքի տվյալներ</span></div>
                <div class="list-group-item text-center"><span>Գլխավոր պայմանագիր</span></div>
                <div class="list-group-item text-center" ng-show="loan.HasClaim==true"><span>Դատական գործընթաց</span></div>
                <div class="list-group-item text-center" ng-show="loan.LoanType==14 || loan.LoanType==15 || loan.LoanType==49"><span>Ապահովա գրություն</span></div>
                <div class="list-group-item text-center">Քաղվածք</div>
                <div class="list-group-item text-center">Դասակարգում</div>
                <div class="list-group-item text-center"><span>Մոնիթորինգի եզրակացություն</span></div>
                <div class="list-group-item text-center" ng-show="$root.SessionProperties.AdvancedOptions['isMonitoringDepartment']=='1'"><span>Վարկի մարում քարտից</span></div>

            </div>
        </div>
        <div class="bhoechie-tab" style="width: calc(100% - 140px); display: inline-block;">
            <div class="bhoechie-tab-content active">

                <loandebts loan="loan"></loandebts>

            </div>
            <div class="bhoechie-tab-content ">
                <taxrefundagreementdetails productid="loan.ProductId" ng-show="loan.LoanType==5 || loan.LoanType==14 || loan.LoanType==15"></taxrefundagreementdetails>
            </div>
            <div class="bhoechie-tab-content ">
                <div class="product-detail-row">
                    <div class="product-detail-cell product-detail-lable">Տուժանքի օրական տոկոս</div>
                    <div class="product-detail-cell product-detail-value">{{loan.DailyPenaltyInterestRate*100}}%</div>
                </div>
                <div class="product-detail-row">
                    <div class="product-detail-cell product-detail-lable">Տարեկան սուբսիդավորվող տոկոսադրույք</div>
                    <div class="product-detail-cell product-detail-value">{{loan.SubsidiaInterestRate*100}}%</div>
                </div>
                <div class="product-detail-row" ng-if="loan.CheckAdvancedRepaymentRate==true">
                    <div class="product-detail-cell product-detail-lable">Վաղաժամկետ մարման վճար</div>
                    <div class="product-detail-cell product-detail-value">{{loan.AdvancedRepaymentRate*100}}%</div>
                </div>
                <div class="product-detail-row">
                    <div class="product-detail-cell product-detail-lable">Փոփոխվող</div>
                    <div class="product-detail-cell product-detail-value">{{loan.ChangeRate==0?'Ոչ':'Այո'}}</div>
                </div>
                <div class="product-detail-row">
                    <div class="product-detail-cell product-detail-lable">1-ին փուլի գումար</div>
                    <div class="product-detail-cell product-detail-value">{{loan.FirstStartCapital}}</div>
                </div>
                <div class="product-detail-row" ng-if="loan.DateOfBeginningSecondPeriod!=null">
                    <div class="product-detail-cell product-detail-lable">2-րդ փուլի սկիզբ</div>
                    <div class="product-detail-cell product-detail-value">{{loan.DateOfBeginningSecondPeriod | mydate | date: 'dd/MM/yyyy'}}</div>
                </div>
                <div class="product-detail-row">
                    <div class="product-detail-cell product-detail-lable">Ֆոնդ</div>
                    <div class="product-detail-cell product-detail-value">{{loan.FondDescription}}</div>
                </div>
                <div class="product-detail-row">
                    <div class="product-detail-cell product-detail-lable">Ծրագիր</div>
                    <div class="product-detail-cell product-detail-value">{{loan.LoanProgramDescription}}</div>
                </div>
                <div class="product-detail-row">
                    <div class="product-detail-cell product-detail-lable">Ակցիա</div>
                    <div class="product-detail-cell product-detail-value">{{loan.SaleDescription}}</div>
                </div>
                <div ng-if="loan.ProductId" ng-controller="LoanProductDataChangeOrderCtrl" ng-init="existsLoanProductDataChange(loan.ProductId)">
                    <div id="loanDataChangeForLoanEarlyMature" ng-if="($root.SessionProperties.IsManager == true || $root.SessionProperties.AdvancedOptions['isOnlineAccChief']=='1' || isExistLoanEarlyMature==true) && ((loan.Quality==0 || loan.Quality==1) && (loan.LoanType==1 || loan.LoanType==3 || loan.LoanType==10 || loan.LoanType==11))" class="product-detail-row" ng-controller="LoanProductDataChangeOrderCtrl">
                        <div class="product-detail-cell product-detail-lable">Վաղաժամկետ մարման վճար</div>
                        <span style="margin-left: 100px">հերթական վճարման (մայր գումար+տոկոս) կրկնապատիկը գերազանցելու դեպքում<input type="checkbox" ng-disabled="isExistLoanEarlyMature" ng-model="isExistLoanEarlyMature" ng-click="saveLoanProductDataChangeOrder(loan.ProductId,1,'1')"></span>
                    </div>
                </div>

                <div class="product-detail-row" ng-if="($root.SessionProperties.AdvancedOptions['isOnlineAccChief']=='1'
                     || $root.SessionProperties.AdvancedOptions['isOnlineAcc']=='1') && (loan.LoanType==14 || loan.LoanType==15) && loan.AdvancedRepaymentRate != 0">
                    <button style="float: right !important" ng-controller="PopUpCtrl"
                            id="resetLoanEarlyRepaymentFeeButton"
                            name="resetLoanEarlyRepaymentFeeButton"
                            ng-click="params={loanProductId:productId, recovery:false};
                            openWindow('/Loan/ResetEarlyRepaymentFee','Վաղաժամկետ մարման վճարի զրոյացում','resetEarlyRepaymentFee')"
                            data-original-title="Վաղաժամկետ մարման վճարի զրոյացում" class="ng-scope">
                        Վաղաժամկետ մարման վճարի զրոյացում
                    </button>
                </div>

                <div class="product-detail-row" ng-if="($root.SessionProperties.AdvancedOptions['isOnlineAccChief']=='1'
                     || $root.SessionProperties.AdvancedOptions['isOnlineAcc']=='1') && (loan.LoanType==14 || loan.LoanType==15) && loan.AdvancedRepaymentRate == 0 && showRecovery == true">
                    <button style="float: right !important" ng-controller="PopUpCtrl"
                            id="resetLoanEarlyRepaymentFeeButton"
                            name="resetLoanEarlyRepaymentFeeButton"
                            ng-click="params={loanProductId:productId, recovery:true};
                            openWindow('/Loan/ResetEarlyRepaymentFee','Վաղաժամկետ մարման վճարի վերականգնում','resetEarlyRepaymentFee')"
                            data-original-title="Վաղաժամկետ մարման վճարի վերականգնում" class="ng-scope">
                        Վաղաժամկետ մարման վճարի վերականգնում
                    </button>
                </div>

            </div>
            <div class="bhoechie-tab-content ">
                <attachmentdocument productid="loan.ProductId"></attachmentdocument>
            </div>
            <div class="bhoechie-tab-content ">
                <productotherfees productid="productId"></productotherfees>
            </div>
            <div class="bhoechie-tab-content ">
                <provisions productid="productId"></provisions>
            </div>
            <div class="bhoechie-tab-content ">
                <goodsdetails ng-if="loan.ProductId && GoodsDeatilsShow" productid="productId"></goodsdetails>
            </div>

            <div class="bhoechie-tab-content ">
                <loanmaincontract productid="productId" type="1"></loanmaincontract>
            </div>
            <div class="bhoechie-tab-content " ng-show="loan.HasClaim==true">
                <loanjudgment ng-if="loan.HasClaim==true" loan="loan"></loanjudgment>
            </div>
            <div class="bhoechie-tab-content " ng-show="loan.LoanType==14 || loan.LoanType==15 || loan.LoanType==49">
                <insurances></insurances>
            </div>
            <div class="bhoechie-tab-content ">
                <loanstatement accountnumber="loan.LoanAccount.AccountNumber" productid="loan.ProductId" loantype="loan.LoanType"></loanstatement>
            </div>
            <div class="bhoechie-tab-content ">
                <loanproductclassifications products="[productId]"></loanproductclassifications>
            </div>
            <div class="bhoechie-tab-content ">
                <loanmonitoring ng-if="loan" loan="loan"></loanmonitoring>
            </div>
            <div class="bhoechie-tab-content ">
                <loanrepaymentfromcard ng-if="loan" appid="loan.ProductId"></loanrepaymentfromcard>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">

    $("#loandetails div.bhoechie-tab-menu>div.list-group>div").click(function (e) {
        e.preventDefault();
        $(this).siblings('#loandetails div.active').removeClass("active");
        $(this).addClass("active");
        var index = $(this).index();
        $("#loandetails div.bhoechie-tab>div.bhoechie-tab-content").removeClass("active");
        $("#loandetails div.bhoechie-tab>div.bhoechie-tab-content").eq(index).addClass("active");
    });


    $("#loanDetailsContainer").mCustomScrollbar({
        theme: "rounded-dark",
        scrollButtons: {
            scrollAmount: 200,
            enable: true
        },
        mouseWheel: {
            scrollAmount: 200
        }
    });

</script>

