@{
    Layout = null;
}
<style type="text/css">
    #cardLimitChangeOrderForm .ui-widget input {
        font-family: 'webly_semibold';
    }

    #cardLimitChangeOrderForm {
        padding: 10px;
    }

    .panel-info {
        margin-bottom: 20px;
    }

    .form-control {
        width: 75%;
    }
    .subType{
        margin-left:0px;
    }
    .limit {
        text-align: right !important;
    }
    .regDate {
        float: right;
        margin-right: 23px;
    }
</style>
<div id="cardLimitChangeOrderLoad" class="overlay hidden">
    <img class="loader-image non-selectable" src="../../Content/Images/invisible.png" />
</div>
<form ng-controller="CardLimitChangeOrderCtrl" name="CardLimitChangeOrderForm" style="min-width:580px;" id="cardLimitChangeOrderForm" role="form" class="form-horizontal" ng-init="GetCardLimits()" prevent-enter-submit novalidate labels-required>
    <div id="changeCardLimit_menu" class="menu-bar dialog-menu light-green">
        <ul id="menu" class="dialog-menu">
            <li class="root-menu-item-4 " ng-click="CardLimitChangeOrderForm.$setSubmitted();CardLimitChangeOrderForm.$valid && SaveCardLimitChangeOrder();">
                <span id="h-menu-item-4"><img id="h-menu-icon-4" class="submitButton h-menu-icon">Պահպանել</span>
            </li>
            <li class="root-menu-item-5 " onclick="CloseBPDialog('cardLimitChangeOrder')">
                <span id="h-menu-item-5"><img id="h-menu-icon-5" class="h-menu-icon cancelButton">Հրաժարվել</span>
            </li>
        </ul>
        <div id="right-menu" style="display:none;">
        </div>
    </div>
    <div class="col-sm-12">
        <div style="max-width:540px;">
            <errors></errors>
        </div>

        <div class="form-group">
            <div class="col-sm-6">
                <div class="row subType">
                    <select ng-model="order.SubType" name="SubType" id="SubType" class="form-control" ng-init="GetCardLimitChangeOrderActionTypes()" ng-change="ClearCheckedBoxes()" required>
                        <option value="" style="margin-left:25px">Տեսակ</option>
                        <option ng-repeat="(key, value)  in SubTypes" ng-value="{{key}}">{{value}}</option>
                    </select>
                </div>
                <ng-messages ng-if="CardLimitChangeOrderForm.$submitted || CardLimitChangeOrderForm.SubType.$dirty"
                             for="CardLimitChangeOrderForm.SubType.$error">
                    <ng-message when="required" class="errors">
                        Տարբերակը ընտրված չէ
                    </ng-message>
                </ng-messages>
            </div>
        </div>





        <div class="form-group">
            <label class="tab_title col-sm-9">Մուտքագրման ա/թ</label>
            <div class="col-sm-3">
                <div class="row">
                    <input type="date" disabled="disabled" class="form-control tab_title unstyled regDate" id="RegistrationDate" name="RegistrationDate" ng-model="order.OperationDate" required>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="tab_title col-sm-9">Մեկ օրվա ընթացքում կանխիկացման գործարքների քանակ</label>
            <div class="col-sm-3">
                <div class="row">
                    <input type="checkbox" ng-model="DailyCashingQuantityLimitChecked" ng-disabled="!order.SubType" ng-click="order.SubType == 1 && RemoveOtherCheckBoxes(2, DailyCashingQuantityLimitChecked)" />
                    <input type="text" name="DailyCashingQuantityLimit" ng-model="order.dailyCashingQuantityLimit" class="form-control tab_title limit" onkeypress='return event.charCode >= 48 && event.charCode <= 57 || event.charCode==46' required ng-disabled="!DailyCashingQuantityLimitChecked" />
                    <ng-messages ng-if="CardLimitChangeOrderForm.$submitted || CardLimitChangeOrderForm.DailyCashingQuantityLimit.$dirty"
                                 for="CardLimitChangeOrderForm.DailyCashingQuantityLimit.$error">
                        <br />
                        <ng-message when="required" class="errors">
                            Դաշտը լրացված չէ
                        </ng-message>
                    </ng-messages>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="tab_title col-sm-9">Մեկ օրվա ընթացքում կանխիկացման գործարքների գումար</label>
            <div class="col-sm-3">
                <div class="row">
                    <input type="checkbox" ng-model="DailyCashingAmountLimitChecked" ng-disabled="!order.SubType" ng-click="order.SubType == 1 && RemoveOtherCheckBoxes(1, DailyCashingAmountLimitChecked)" />
                    <input type="text" name="DailyCashingAmountLimit" ng-model="order.dailyCashingAmountLimit" class="form-control tab_title text-right limit" onkeypress='return event.charCode >= 48 && event.charCode <= 57 || event.charCode==46' fcsa-number required ng-disabled="!DailyCashingAmountLimitChecked" />
                    <ng-messages ng-if="CardLimitChangeOrderForm.$submitted || CardLimitChangeOrderForm.DailyCashingAmountLimit.$dirty"
                                 for="CardLimitChangeOrderForm.DailyCashingAmountLimit.$error">
                        <br />
                        <ng-message when="required" class="errors">
                            Դաշտը լրացված չէ
                        </ng-message>
                    </ng-messages>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="tab_title col-sm-9">Մեկ օրվա ընթացքում վճարային գործարքների գումար</label>
            <div class="col-sm-3">
                <div class="row">
                    <input type="checkbox" ng-model="DailyPaymentsAmountLimitChecked" ng-disabled="!order.SubType" ng-click="order.SubType == 1 && RemoveOtherCheckBoxes(3, DailyPaymentsAmountLimitChecked)" />
                    <input type="text" name="DailyPaymentsAmountLimit" ng-model="order.dailyPaymentsAmountLimit" class="form-control tab_title limit" onkeypress='return event.charCode >= 48 && event.charCode <= 57 || event.charCode==46' fcsa-number required ng-disabled="!DailyPaymentsAmountLimitChecked" />
                    <ng-messages ng-if="CardLimitChangeOrderForm.$submitted || CardLimitChangeOrderForm.DailyPaymentsAmountLimit.$dirty"
                                 for="CardLimitChangeOrderForm.DailyPaymentsAmountLimit.$error">
                        <br />
                        <ng-message when="required" class="errors">
                            Դաշտը լրացված չէ
                        </ng-message>
                    </ng-messages>
                </div>
            </div>
        </div>

        <div class="form-group" ng-show="Card.MainCardNumber && Card.MainCardNumber != Card.Number">
            <label class="tab_title col-sm-9">Կից քարտի գործարքների ամսական ընդհանուր գումար</label>
            <div class="col-sm-3">
                <div class="row">
                    <input type="checkbox" ng-model="MonthlyAggregateLimitChecked" ng-disabled="!order.SubType || (!monthlyAggregateLimitValue && order.SubType == 1)" ng-click="order.SubType == 1 && RemoveOtherCheckBoxes(4, MonthlyAggregateLimitChecked)" />
                    <input type="text" name="MonthlyAggregateLimit" ng-model="order.monthlyAggregateLimit" class="form-control tab_title limit" onkeypress='return event.charCode >= 48 && event.charCode <= 57 || event.charCode==46' fcsa-number ng-required="MonthlyAggregateLimitChecked" ng-disabled="!MonthlyAggregateLimitChecked" />
                    <ng-messages ng-if="MonthlyAggregateLimitChecked && (CardLimitChangeOrderForm.$submitted || CardLimitChangeOrderForm.MonthlyAggregateLimit.$dirty)"
                                 for="CardLimitChangeOrderForm.MonthlyAggregateLimit.$error">
                        <br />
                        <ng-message when="required" class="errors">
                            Դաշտը լրացված չէ
                        </ng-message>
                    </ng-messages>
                </div>
            </div>
        </div>
    </div>
</form>