
@{
    Layout = null;
}


<style type="text/css">
    #Reason .chosen-container-multi {
        border-radius: 4px;
    }

    #Reason .chosen-choices {
        border-radius: 4px;
    }

    #Reason .chosen-container {
        position: fixed;
        z-index: 99;
        height: 35px;
        width: 490px;
        max-width: 490px;
    }
</style>

<div id="cardAccountClosingLoad" class="overlay hidden">
    <img class="loader-image non-selectable" src="../../Content/Images/invisible.png" />
</div>

<form ng-controller="CardAccountClosingOrderCtrl" style="min-width:700px;" name="CardAccountClosingOrderForm" role="form" novalidate class="form-horizontal" prevent-enter-submit labels-required>
    <div id="cardAccountClosing_menu" class="menu-bar dialog-menu light-green">
        <ul id="menu" class="dialog-menu">
            <li class="root-menu-item-3 " ng-click="getCardAccountClosingApplication();">
                <span id="h-menu-item-3"><img id="h-menu-icon-3" class="h-menu-icon applicationButton">Հաշվի փակման դիմում</span>
            </li>
            <li class="root-menu-item-4 " ng-click="CardAccountClosingOrderForm.$setSubmitted();CardAccountClosingOrderForm.$valid && saveCardAccountClosingOrder();">
                <span id="h-menu-item-4"><img id="h-menu-icon-4" class="submitButton h-menu-icon">Պահպանել</span>
            </li>
            <li class="root-menu-item-5 " onclick="CloseBPDialog('cardaccountclosingorder')">
                <span id="h-menu-item-5"><img id="h-menu-icon-5" class="h-menu-icon cancelButton">Հրաժարվել</span>
            </li>
        </ul>
        <div id="right-menu" style="display:none;">
        </div>
    </div>
    <div>
        <div class="col-sm-12">            
            <div class="form-group">
                <div class="row">
                    <label class="tab_title col-sm-3 control-label" for="description">Քարտային հաշվի փակման պատճառ</label>
                    <div class="col-sm-9 ">
                        <textarea style="text-align:left" onkeypress="return isArmenianUnicode(event.keyCode)" onpaste="return CheckPasteText(event)" ng-model="CardAccountClosingOrder.ClosingReasonText" name="ClosingReasonText" class="form-control tab_title" required></textarea>
                       
                    </div>
                </div>
                <div class="row" style="padding-left: 200px;">
                    <ng-messages ng-if="CardAccountClosingOrderForm.$submitted || CardAccountClosingOrderForm.ClosingReasonText.$dirty"
                                 for="CardAccountClosingOrderForm.ClosingReasonText.$error">
                        <ng-message when="required" class="errors">
                            Քարտային հաշվի փակման պատճառը​ լրացված չէ
                        </ng-message>
                    </ng-messages>
                </div>
            </div>
            <div style="max-width:520px">
                <errors></errors>
            </div>
            <br />
        </div>
    </div>




</form>




