@{
    Layout = null;
}

<form style="width:500px" ng-controller="CardlessCashoutCancellationOrderCtrl" data-ng-init="getCardlessCashoutOrder(selectedOrderId)">
    <loading-control scopevariable="order.Id"></loading-control>
    <div id="interLoad" class="overlay hidden">
        <img class="loader-image non-selectable" src="../../Content/Images/invisible.png" />
    </div>
    <div ng-show="order" class="menu-bar dialog-menu light-green " style="margin-left:-5px;margin-top:0">
        <ul id="menu" class="dialog-menu">
            <li class="root-menu-item-5 " ng-controller="PopUpCtrl" ng-click="saveAndApproveCardlessCashoutCancellationOrder()">
                <span id="h-menu-item-5"><img id="h-menu-icon-5" class="h-menu-icon closeAccountButton">Հրաժարման հայտ</span>
            </li>
            <li class="root-menu-item-5 " onclick="CloseBPDialog('arusfasttransferorder')" style="padding-right:0">
                <span id="h-menu-item-5"><img id="h-menu-icon-5" class="h-menu-icon cancelButton">Հրաժարվել</span>
            </li>
        </ul>
    </div>

    <div style="max-width:530px">
        <errors></errors>
    </div>

    <div ng-show="order" class="product-details bhoechie-tab-content" style="min-width:500px;padding-left:10px">
        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Հայտի համար</div>
            <div class="product-detail-cell product-detail-value">{{order.Id}}</div>
        </div>

        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Մուտքագրման ա/թ</div>
            <div class="product-detail-cell product-detail-value">{{order.RegistrationDateString}}</div>
        </div>

        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Արժույթ</div>
            <div class="product-detail-cell product-detail-value">{{order.Currency}}</div>
        </div>
        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Կրեդիտագրվող հաշիվ</div>
            <div class="product-detail-cell product-detail-value">{{order.DebitAccount.AccountNumber}}</div>
        </div>

        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Գործարքի գումար (AMD)</div>
            <div class="product-detail-cell product-detail-value">
                <input type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57 || event.charCode==46' id="Amount" name="Amount" data-ng-model="order.Amount" required />
            </div>
        </div>

        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Գործարքի միջնորդավճար</div>
            <div class="product-detail-cell product-detail-value">
                <input type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57 || event.charCode==46' id="TransferFee" name="TransferFee" data-ng-model="order.TransferFee" required />
            </div>
        </div>


        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Գործարքի գումար դեբետագրվող հաշվի արժույթով (AMD/USD/EUR)</div>
            <div class="product-detail-cell product-detail-value">{{order.AmountInAMDNotConverted}}</div>
        </div>


        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Նկարագրության</div>
            <div class="product-detail-cell product-detail-value">
                <input type="text" id="Description" name="Description" data-ng-model="order.Description" required />
            </div>
        </div>

    </div>
    <div style="clear:both;color:#6F6A6A;font-weight:bold;margin-left:10px">Կատարվել է {{selectedSourceDescription}}-ի միջոցով</div>
</form>
