
<div id="loadMain" class="overlay hidden">
    <img class="loader-image non-selectable" src="../../Content/Images/invisible.png" />
</div>
<div style="margin-left:15px;margin-top:5px" ng-controller="BondIssueCtrl" id="BondIssue" data-ng-init="getBondIssuesList(filter)" class="container">
    <form class="form">
        <div class="col-sm-12" style="padding:0;margin-bottom:5px">
            <div class="col-sm-2" style="display:inline-block">
                <label class="tab_title">Տեղաբաշխման սկիզբ</label>
                <div>
                    <input type="date" ng-model="filter.StartDate" style="width: 155px;" class="form-control">
                </div>
            </div>
            <div class="col-sm-3" style="display:inline-block">
                <label class="tab_title">Տեղաբաշխման ավարտ</label>
                <div>
                    <input type="date" ng-model="filter.EndDate" style="width:155px" class="form-control">
                </div>
            </div>
            <div class="col-sm-2" style="display:inline-block;margin-left:-8.5%">
                <label class="tab_title">ԱՄՏԾ</label>
                <div>
                    <input type="text" ng-model="filter.ISIN" style="width: 155px" class="form-control">
                </div>
            </div>
            <div class="col-sm-2" style="display:inline-block">
                <label class="tab_title">Թողարկման սերիան</label>
                <div>
                    <input type="text" ng-model="filter.IssueSeria" style="width: 155px" class="form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                </div>
            </div>
        </div>

        <div class="col-sm-2" style="display:inline-block">
            <label class="tab_title">Թողարկող</label>
            <loading-control scopevariable="issuerTypes"></loading-control>
            <div data-ng-init="getBondIssuerTypes()">
                <select ng-show="issuerTypes" data-ng-model="filter.IssuerType" class="form-control"
                        data-ng-options="k as v for (k,v) in issuerTypes" style="width: 155px">
                    <option value="" style="margin-left:25px">-Ընտրեք-</option>
                </select>
            </div>
        </div>

        <div class="col-sm-2" style="display:inline-block">
            <label class="tab_title">Կարգավիճակ</label>
            <loading-control scopevariable="bondIssueQualities"></loading-control>
            <div data-ng-init="getBondIssueQualities()">
                <select ng-show="bondIssueQualities" data-ng-model="filter.Quality" class="form-control"
                        data-ng-options="k as v for (k,v) in bondIssueQualities" style="width: 155px">
                    <option value="" style="margin-left:25px">-Ընտրեք-</option>
                </select>
            </div>
        </div>

        <div class="col-sm-2" style="display:inline-block">
            <label class="col-sm-2 tab_title">Արժույթ</label>
            <loading-control scopevariable="currencies"></loading-control>
            <div data-ng-init="getCurrencies()">
                <select ng-show="currencies" data-ng-model="filter.Currency" class="form-control"
                        data-ng-options="k as v for (k,v) in currencies" style="width: 155px">
                    <option value="" style="margin-left:25px">-Ընտրեք-</option>
                </select>
            </div>
        </div>
        <div class="col-sm-2" style="display:inline-block">
            <label class="tab_title">Արժեթղթի տեսակ</label>
            <div>
                <select class="form-control" ng-model="filter.ShareType" name="BondType" id="BondType" style="width: 155px">
                    <option value="">-Ընտրեք-</option>
                    <option value="1">Պարտատոմս</option>
                    <option value="2">Բաժնետոմս</option>
                </select>
            </div>
        </div>
        <div class="col-sm-2" style="display:inline-block;margin-top: 26px;">
            <button type="button" class="btn-sm btn-primary" ng-click="getBondIssuesList(filter)"><span class="glyphicon glyphicon-search"></span> Որոնել</button>
        </div>
    </form>

    <div class="product-container" style="width: 840px;padding:0;margin-bottom:5px;margin-left: inherit">
        <div class="header-title">
            Արժեթղթերի թողարկում
            <div class="product-collapse tipB fa fa-chevron-down " data-original-title="Թաքցնել" onclick="CollapseProductContainer(this)"></div>
        </div>

        <div class="product-collapsable-section">
            <div class="product-container-header" style="height:30px">
                @*<div ng-controller="PopUpCtrl" ng-click="openWindow('/BondIssue/BondIssueSave','Պարտատոմսի թողարկում','newbondissue')">
                <i class="add-new-product tipB" data-original-title="Նոր պարտատոմս"></i>
            </div>*@
                <div class="add-new-product tipB" context="contextNewBondIssue" id="contextMenu"><div id="contextMenu"></div></div>
            </div>
            <div class="product-content-table custom-scroll" id="bondissueList" style="width:840px;min-height:545px;margin-left:0px;margin-top: 0px;border-top-width: 0px;border-right-width: 0px;border-left-width: 0px;">
                <div ng-if="bondsIssuesList==undefined">
                    <loading></loading>
                </div>
                <table class="table table-condensed table-hover" style="background-color:white; margin-top:0px !important;">
                    <tbody>
                        <tr ng-if="bondsIssuesList.length!=0" ng-repeat="bondissue in bondsIssuesList" ng-class="{'selected':$index == selectedRow}" ng-click="setClickedRow($index)">
                            <td class="col-sm-3">
                                <span class="tab_text">Թողարկող` </span> {{bondissue.IssuerTypeDescription}}
                                <br />
                                <span class="tab_text">ԱՄՏԾ` </span> {{bondissue.ISIN}}
                                <br />
                                <span class="tab_text">Թողարկման սերիան` </span> {{bondissue.IssueSeria}}
                            </td>
                            <td class="col-sm-4">
                                <span class="tab_text">Արժեթղթի տեսակ` </span> {{bondissue.ShareType == 1? 'Պարտատոմս':'Բաժնետոմս'}}
                                <br />
                            </td>
                            <td class="col-sm-2">
                                <span class="tab_text">Արժույթ` </span> {{bondissue.Currency}}
                                <br />
                                <span ng-if="bondissue.IssuerType == 3"><span class="tab_text">Քանակ` </span> {{bondissue.TotalCount}}</span>
                            </td>
                            <td class="col-sm1" style="text-align:right;">{{bondissue.QualityDescription}}</td>
                            <td class="click_toggle" style="padding-left:48px;" context="context" id="contextMenu"><div id="contextMenu"></div> </td>
                        </tr>
                        <tr ng-if="bondsIssuesList.length==0">
                            <td colspan="4" style="text-align:center">Արժեթղթերի թողարկումներ առկա չեն</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <ul id="context" class="dropdown-menu">
                <li>
                    <a style="color: black;text-decoration:none!important ;" class="my_button" ng-controller="PopUpCtrl"
                       ng-click="params={ProductId:currentBondIssue.ID}; openWindow('/BondIssue/BondIssueDetails','Մանրամասն դիտարկում ','oneBondIssueDetails')">Մանրամասն դիտարկում</a>
                </li>
            </ul>

            <ul id="contextNewBondIssue" class="dropdown-menu">
                <li><a href="" style="color: black;text-decoration:none!important ;" ng-controller="PopUpCtrl" ng-click="params={bondType:'Պարտատոմս'};openWindow('/BondIssue/BondIssueSave','Պարտատոմսի թողարկում','newbondissue')">Պարտատոմս</a></li>
                <li><a href="" style="color: black;text-decoration:none!important ;" ng-controller="PopUpCtrl" ng-click="params={bondType:'Բաժնետոմս'};openWindow('/BondIssue/StockIssueSave','Բաժնետոմսի թողարկում','newstockissue')">Բաժնետոմս</a></li>
            </ul>
        </div>

    </div>
</div>


<script>
    (function ($) {
        $(window).on('load', function () {

            $("#bondissueList").mCustomScrollbar({
                theme: "rounded-dark",
                scrollButtons: {
                    scrollAmount: 200,
                    enable: true
                },
                mouseWheel: {
                    scrollAmount: 200
                }
            });

        });
    })(jQuery);

</script>


