﻿
<style type="text/css">
    #renewedCardAccountRegOrderForm .ui-widget input {
        font-family: 'webly_semibold';
    }

    #renewedCardAccountRegOrderForm .panel-heading {
        background-color: #f3cd9f !important;
    }
</style>
<div id="renewedCardAccountRegOrderLoad" class="overlay hidden">
    <img class="loader-image non-selectable" src="../../Content/Images/invisible.png" />
</div>
<form ng-controller="RenewedCardAccountRegOrderCtrl" name="renewedCardAccountRegOrderForm" id="renewedCardAccountRegOrderForm" ng-init="getCard(productId)" role="form" style="min-width:550px;min-height:550px;" novalidate class="form-horizontal" labels-required>
    <div id="renewedCardAccountReg_menu" class="menu-bar dialog-menu light-green">
        <ul id="menu" class="dialog-menu">
            <li class="root-menu-item-4 " ng-click="renewedCardAccountRegOrderForm.$setSubmitted();renewedCardAccountRegOrderForm.$valid  && saveRenewedCardAccountRegOrder();">
                <span id="h-menu-item-4"><img id="h-menu-icon-4" class="submitButton h-menu-icon">Պահպանել</span>
            </li>
            <li class="root-menu-item-5 " onclick="CloseBPDialog('renewedCardAccountRegOrder')">
                <span id="h-menu-item-5"><img id="h-menu-icon-5" class="h-menu-icon cancelButton">Հրաժարվել</span>
            </li>
        </ul>
        <div id="right-menu" style="display:none;">
        </div>
    </div>

    <div style="max-width:530px">
        <errors></errors>
    </div>
    <div ng-show="plasticCard" class="form-group " style=" padding-left:10px">
        <div class="col-sm-12" style="max-width:530px">
            <div class="row-no-margin">
                <section ng-if="warnings.length>0" class=" panel panel-warning">
                    <header class="panel-heading">
                        <span class="panel-title" style=" font-size: 14px;"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp;Ուշադրություն</span>
                    </header>
                    <div class="panel-body">
                        <div ng-repeat="war in warnings">
                            {{$index+1}}.{{::war}}
                        </div>
                    </div>
                </section>
            </div>

        </div>
    </div>
    <div class="col-sm-10">
        <div class=" form-group">
            <label class="tab_title col-sm-6 " for="RegistrationDate">Մուտքագրման ա/թ</label>
            <div class="col-sm-6 row">
                <div class="multiple_columns col-sm-8 ">
                    <input disabled="disabled" type="date" class="form-control tab_title unstyled" style="text-align: left;" id="RegistrationDate" name="RegistrationDate" ng-model="order.OperationDate" required>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="tab_title col-sm-6 ">Քարտի համար</label>
            <div class="col-sm-6">
                <div class="row">
                    <label ng-show="card" class="tab_title">{{plasticCard.CardNumber}} </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="tab_title col-sm-6">Քարտի տեսակ</label>
            <div class="col-sm-6" ng-show="card">
                <div class="row">
                    <label ng-model="plasticCard.Currency" class="tab_title">
                        <img ng-if="plasticCard.CardSystem==3" src="~/Content/Images/Amex_icon.png" height="20" width="20" align="left" style="margin-right:3px" />
                        <img ng-if="plasticCard.CardSystem==4" src="~/Content/Images/Visa_icon.png" height="20" width="20" align="left" style="margin-right:3px" />
                        <img ng-if="plasticCard.CardSystem==5" src="~/Content/Images/MC_icon.png" height="20" width="20" align="left" style="margin-right:3px" />
                        <img ng-if="plasticCard.CardSystem==9" src="~/Content/Images/arca.png" height="20" width="20" align="left" style="margin-right:3px" />
                        {{plasticCard.CardTypeDescription}}, {{plasticCard.Currency}}, {{(plasticCard.SupplementaryType==1)?"Հիմնական":(plasticCard.SupplementaryType==2)?"Կից":"Լրացուցիչ"}}
                    </label>
                </div>
            </div>
        </div>
        <div class=" form-group" ng-init="GetCardHolderData(productId, renewedCardAccountRegOrder.CardHolderName)">
            <label class="tab_title col-sm-6 " for="FirstNameEng">Անուն(անգլերեն)</label>
            <div class="col-sm-6 row">
                <div class="multiple_columns col-sm-12 ">
                    <input disabled="disabled" class="form-control tab_title unstyled" style="text-align: left;" id="name" name="name" ng-model="name">
                </div>
            </div>
        </div>

        <div class=" form-group" ng-init="GetCardHolderData(productId, renewedCardAccountRegOrder.CardHolderLastName)">
            <label class="tab_title col-sm-6 " for="FirstNameEng">Ազգանուն(անգլերեն)</label>
            <div class="col-sm-6 row">
                <div class="multiple_columns col-sm-12 ">
                    <input disabled="disabled" class="form-control tab_title unstyled" style="text-align: left;" id="lastName" name="lastName" ng-model="lastName">
                </div>
            </div>
        </div>

        <div class="form-group" ng-show="card.SupplementaryType == 2 || card.SupplementaryType == 3">
            <label class="tab_title col-sm-6">Հիմնական քարտ</label>
            <div class="col-sm-6" ng-show="card">
                <div class="row">
                    <label class="tab_title" ng-model="card.MainCardNumber">
                        {{card.MainCardNumber}}
                    </label>
                </div>
            </div>
        </div>
        <div class=" form-group">
            <label class="tab_title col-sm-6 " for="ExpiryDate">Քարտի վերջ</label>
            <div class="col-sm-6 row">
                <div class="multiple_columns col-sm-12 ">
                    <input disabled="disabled" class="form-control tab_title unstyled" style="text-align: left;" id="cardExpiryDate" name="cardExpiryDate" ng-model="cardExpiryDate">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="tab_title col-sm-6" for="currency">Աշխատավարձային ծրագիր</label>
            <div class="col-sm-6" ng-init="getCardRelatedOfficeName(plasticCard.RelatedOfficeNumber)">
                <div class="row">
                    <label class="tab_title">
                        {{plasticCard.RelatedOfficeNumber + ' ('}}{{relOfficeDescription}}{{')'}}
                    </label>
                </div>
            </div>
        </div>
        <div class=" form-group">
            <label class="tab_title col-sm-6 " for="CardAccount">Քարտային հաշիվ</label>
            <div class="col-sm-6 row">
                <div class="multiple_columns col-sm-12 ">
                    <input disabled="disabled" class="form-control tab_title unstyled" style="text-align: left;" id="cardAccount" name="cardAccount" ng-model="card.CardAccount.AccountNumber">
                </div>
            </div>
        </div>
        <div class=" form-group">
            <label class="tab_title col-sm-6 " for="OverdraftAccount">Գերածախսի հաշիվ</label>
            <div class="col-sm-6 row">
                <div class="multiple_columns col-sm-12 ">
                    <input disabled="disabled" class="form-control tab_title unstyled" style="text-align: left;" id="overdraftAccount" name="overdraftAccount" ng-model="card.OverdraftAccount.AccountNumber">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="tab_title col-sm-6" for="addInf">Լրացուցիչ նկարագրություն</label>
            <div class="col-sm-6">
                <div class="row">
                    <textarea rows="2" type="text" name="addInf" id="addInf" ng-model="order.AddInf" class="form-control"></textarea>
                </div>
            </div>
        </div>
    </div>
</form>










