<style type="text/css">
    .redStyle {
        color: red;
    }

    .greenStyle {
        color: green;
    }

    .top {
        font-size: 13px;
    }


</style>
<form name="StatementForm" ng-app="app" class="row" id="accountStatement" ng-controller="AccountStatementCtrl" ng-init="getAccountStatement(accountnumber)" ng-submit="StatementForm.$valid && getAccountStatement(accountnumber)" novalidate>
    <div class="row">
        <div class="col-sm-11">
            <div class="col-xs-3">
                <span class="product-detail-lable">Սկիզբ</span>
                <input type="date" ng-model="dateFrom" name="DateFrom" class="form-control" style="width:150px;"
                       required>
                <ng-messages ng-if="StatementForm.$submitted || StatementForm.DateFrom.$dirty"
                             for="StatementForm.DateFrom.$error">
                    <ng-message when="required" class="errors">
                        Նշեք ա/թ
                    </ng-message>
                </ng-messages>
            </div>
            <div class="col-xs-3">
                <span class="product-detail-lable">Վերջ</span>
                <input type="date" ng-model="dateTo" name="DateTo" class="form-control" style="width:150px;"
                       required>
                <ng-messages ng-if="StatementForm.$submitted || StatementForm.DateTo.$dirty"
                             for="StatementForm.DateTo.$error">
                    <ng-message when="required" class="errors">
                        Նշեք ա/թ
                    </ng-message>
                </ng-messages>
            </div>
            <div class="col-md-3">

                <br />
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   Հաշվի քաղվածք <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li ng-if="withoutstatement!=true"><a href="" ng-click="dateFrom<=dateTo && getAccountStatement(accountnumber)">Դիտել</a></li>
                    <li ng-if="!productappid && !istransitaccount && canPrintCBStatements == 1"><a href="" ng-click="dateFrom<=dateTo && printAccountTransactions(accountnumber,'pdf')">Տպել ՀՀ ԿԲ քաղվածք PDF</a></li>
                    <li ng-if="!productappid && !istransitaccount && canPrintCBStatements == 1"><a href="" ng-click="dateFrom<=dateTo && printAccountTransactions(accountnumber,'xls')">Տպել ՀՀ ԿԲ քաղվածք Excel</a></li>
                    <li ng-if="!productappid && !istransitaccount"><a href="" ng-click="dateFrom<=dateTo && printStatementNew(accountnumber,1,'pdf')">Տպել PDF(հայերեն)</a></li>
                    <li ng-if="!productappid && !istransitaccount"><a href="" ng-click="dateFrom<=dateTo && printStatementNew(accountnumber,2,'pdf')">Տպել PDF(անգլերեն)</a></li>
                    <li ng-if="!productappid && !istransitaccount"><a href="" ng-click="dateFrom<=dateTo && printStatementNew(accountnumber,3,'pdf')">Տպել PDF(ֆրանսերեն)</a></li>
                    <li ng-if="!productappid && !istransitaccount"><a href="" ng-click="dateFrom<=dateTo && printStatementNew(accountnumber,1,'xls')">Տպել Excel(հայերեն)</a></li>
                    <li ng-if="!productappid && !istransitaccount"><a href="" ng-click="dateFrom<=dateTo && printStatementNew(accountnumber,2,'xls')">Տպել Excel(անգլերեն)</a></li>
                    <li ng-if="!productappid && !istransitaccount"><a href="" ng-click="dateFrom<=dateTo && printStatementNew(accountnumber,3,'xls')">Տպել Excel(ֆրանսերեն)</a></li>
                    <li><a href="" ng-click="dateFrom<=dateTo && printStatement(accountnumber,1,'pdf')">Տպել PDF(հայերեն) <span ng-if="!istransitaccount">հին տարբերակ</span></a></li>
                    <li><a href="" ng-click="dateFrom<=dateTo && printStatement(accountnumber,2,'pdf')">Տպել PDF(անգլերեն) <span ng-if="!istransitaccount">հին տարբերակ</span></a></li>
                    <li><a href="" ng-click="dateFrom<=dateTo && printStatement(accountnumber,3,'pdf')">Տպել PDF(ֆրանսերեն) <span ng-if="!istransitaccount">հին տարբերակ</span></a></li>
                    <li><a href="" ng-click="dateFrom<=dateTo && printStatement(accountnumber,1,'xls')">Տպել Excel(հայերեն) <span ng-if="!istransitaccount">հին տարբերակ</span></a></li>
                    <li><a href="" ng-click="dateFrom<=dateTo && printStatement(accountnumber,2,'xls')">Տպել Excel(անգլերեն) <span ng-if="!istransitaccount">հին տարբերակ</span></a></li>
                    <li><a href="" ng-click="dateFrom<=dateTo && printStatement(accountnumber,3,'xls')">Տպել Excel(ֆրանսերեն) <span ng-if="!istransitaccount">հին տարբերակ</span></a></li>

                </ul>

            </div>
            <div class="col-md-3" ng-if="productappid">
                <br />
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Ավանդի քաղվածք <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li ng-if="productappid"><a href="" ng-click="dateFrom<=dateTo && printDepositStatement(productappid,accountnumber,1,'pdf')">Տպել PDF(հայերեն)</a></li>
                    <li ng-if="productappid"><a href="" ng-click="dateFrom<=dateTo && printDepositStatement(productappid,accountnumber,2,'pdf')">Տպել PDF(անգլերեն)</a></li>
                    <li ng-if="productappid"><a href="" ng-click="dateFrom<=dateTo && printDepositStatement(productappid,accountnumber,3,'pdf')">Տպել PDF(ֆրանսերեն)</a></li>
                    <li ng-if="productappid"><a href="" ng-click="dateFrom<=dateTo && printDepositStatement(productappid,accountnumber,1,'xls')">Տպել Excel(հայերեն)</a></li>
                    <li ng-if="productappid"><a href="" ng-click="dateFrom<=dateTo && printDepositStatement(productappid,accountnumber,2,'xls')">Տպել Excel(անգլերեն)</a></li>
                    <li ng-if="productappid"><a href="" ng-click="dateFrom<=dateTo && printDepositStatement(productappid,accountnumber,3,'xls')">Տպել Excel(ֆրանսերեն)</a></li>
                </ul>
            </div>
                <br />
            </div>
        <div ng-if="dateFrom>dateTo" class="col-md-10  errors">Քաղվածքի ժամկետի սկիզբը պետք է փոքր լինի վերջից</div>
    </div>
    <div>
        <div class="col-xs-8">
            <div class="btn-group">
                <div class="line_height product-detail-lable" data-target="#printdetails"><a data-toggle="collapse" ng-click="isopen = !isopen" data-target="#printdetails" style="font-style:normal;font-weight:600;font-size:12px;text-decoration:none" href>Քաղվածքը տպելիս ներառել </a><span ng-click="isopen = !isopen" data-toggle="collapse" data-target="#printdetails" style="cursor:pointer" ng-class="isopen ? 'glyphicon glyphicon-chevron-up' : 'glyphicon glyphicon-chevron-down'"></span></div>
                <div id="printdetails" class="panel-collapse collapse">
                    <span class="product-detail-lable">
                        <input type="checkbox" ng-model="payerData" name="payerData" ng-true-value="2" ng-false-value="1">Նաև փոխանցողի տվյալները<br />
                        <input type="checkbox" ng-model="averageRest" name="averageRest" ng-true-value="2" ng-false-value="1">Նաև միջին մնացորդը<br />
                        <input type="checkbox" ng-model="currencyRegulation" name="currencyRegulation" ng-true-value="2" ng-false-value="1">Նաև արտարժույթի կարգավորումները<br />
                        <input type="checkbox" ng-model="additionalInformationByCB" name="additionalInformationByCB" ng-true-value="2" ng-false-value="1">Լրացուցիչ տվյալներ ըստ ԿԲ-ի<br />
                        <input type="checkbox" ng-model="memorial" name="memorial" ng-true-value="1" ng-false-value="0">Նաև մեմորիալ օրդերը<br />
                        <input type="checkbox" ng-model="includingExchangeRate" name="includingExchangeRate" ng-true-value="2" ng-false-value="1">Նաև փոխարժեքը
                    </span>
                </div>
            </div>
        </div>
    </div>


    <div ng-if="accountStatement.Transactions!=null  ">

        <div class="col-sm-12">
            <br />
            <div class="product-detail-row">
                <div class="product-detail-cell product-detail-lable">Սկզբնական մնացորդ</div>
                <div class="product-detail-cell product-detail-value">{{accountStatement.InitialBalanceString}} <span ng-if="account.currency==null">{{deposit.Currency}}</span><span ng-if="deposit.currency==null">{{account.Currency}}</span></div>
            </div>
            <div class="product-detail-row">
                <div class="product-detail-cell product-detail-lable">Ընդամենը ելքեր</div>
                <div class="product-detail-cell product-detail-value">{{accountStatement.TotalDebitAmountString}} <span ng-if="account.currency==null">{{deposit.Currency}}</span><span ng-if="deposit.currency==null">{{account.Currency}}</span></div>
            </div>
            <div class="product-detail-row">
                <div class="product-detail-cell product-detail-lable">Ընդամենը մուտքեր</div>
                <div class="product-detail-cell product-detail-value">{{accountStatement.TotalCreditAmountString}} <span ng-if="account.currency==null">{{deposit.Currency}}</span><span ng-if="deposit.currency==null">{{account.Currency}}</span></div>
            </div>
            <div class="product-detail-row">
                <div class="product-detail-cell product-detail-lable">Վերջնական մնացորդ</div>
                <div class="product-detail-cell product-detail-value">{{accountStatement.FinalBalanceString}} <span ng-if="account.currency==null">{{deposit.Currency}}</span><span ng-if="deposit.currency==null">{{account.Currency}}</span></div>
            </div>
        </div>


        <div class="product-container" style="width:90%">
            <div class="header-title">
                Քաղվածք
                <div class="product-collapse tipB fa fa-chevron-down" data-original-title="Թաքցնել" onclick="CollapseProductContainer(this)"></div>
            </div>
            <div class="product-collapsable-section">
                <div class="product-container-header" style="height:40px;">
                    <div class="col-sm-1">N</div>
                    <div class="col-sm-2">Ա/թ</div>
                    <div class="col-sm-3" style="text-align:center">Թղթակցային հաշիվ</div>
                    <div class="col-sm-2 grid-align-right">Ելք</div>
                    <div class="col-sm-2 grid-align-right">Մուտք </div>
                    <div class="col-sm-2" style="text-align:center;">ՊԿ</div>
                </div>
                <div class="product-content-table-full_height custom-scroll" id="statementContent" style="min-height:100px;overflow-y:visible" >
                    <div ng-if="accountStatement.Transactions==undefined">
                        <loading></loading>
                    </div>
                    <table class="table table-condensed table-hover" style="background-color:white; margin-top:0px !important;">
                        <tbody>
                            <tr ng-repeat="transaction in accountStatement.Transactions">
                                <td colspan="3">
                                    <div class="row">
                                        <div class="col-sm-1">{{ ::transaction.CashOperationNumber }}</div>
                                        <div class="col-sm-2">{{ ::transaction.TransactionDate | mydate | date: 'dd/MM/yyyy' }}</div>
                                        <div class="col-sm-3">{{ ::transaction.CorrespondentAccount }}</div>
                                        <div class="col-sm-2 grid-align-right"><span ng-show="transaction.DebitCredit==='d'" class="redStyle">{{::transaction.AmountString}}</span> </div>
                                        <div class="col-sm-2 grid-align-right"><span ng-show="transaction.DebitCredit==='c'" class="greenStyle">{{::transaction.AmountString}}</span> </div>
                                        <div class="col-sm-2" style="text-align:center;">{{ ::transaction.UserId }}</div>
                                    </div>
                                    <div colspan="3" style="font-family:'Arian AMU';margin-top:5px;">{{ ::transaction.Correspondent }} </div>
                                    <div colspan="3" style="font-family:'Arian AMU';margin-top:5px;">{{ ::transaction.Description }}</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div ng-if="accountStatement.Transactions.length==0 && dateFrom<=dateTo" style="color:red;font-size:16px;text-align:center;">Նշված ժամանակահատվածում գործարք չի կատարվել</div>
                </div>
            </div>
        </div>

    </div>
</form>
