<div style="margin-left:15px;margin-top:5px" ng-app="app"  class="container">
    <script type="text/javascript">

        var url = location.origin.toString();
        if (window.location.href == url + location.pathname) {
            window.location.href = url + location.pathname + '#!/Orders';
        }
        
    </script>
    
    <form class="form  ">
       
    </form>

    <div class="col-md-7">
    </div>
</div>
