<style type="text/css">
    #receivedFastTransferPaymentOrderForm .ui-widget input {
        font-family: 'webly_semibold';
    }

    #receivedFastTransferPaymentOrderForm {
        margin-right: 15px;
    }
</style>



<form  name="receivedFastTransferPaymentOrderForm" role="form" class="form-horizontal col-sm-12" style="max-width: 815px; padding: 0" ng-init="getCustomer()" novalidate prevent-enter-submit labels-required>
    <div id="interLoad" class="overlay hidden">
        <img class="loader-image non-selectable" src="../../Content/Images/invisible.png" />
    </div>
    <div id="fasttransferpaymentorder_menu" class="menu-bar dialog-menu light-green">
        <ul id="menu" class="dialog-menu" style="max-width:100%!important; width:100%!important">
            <li class="root-menu-item-4 " ng-click="receivedFastTransferPaymentOrderForm.$setSubmitted();receivedFastTransferPaymentOrderForm.$valid ? saveReceivedFastTransferPayment() : showValidationMessage();" ng-if="NewOrEditFromCallCenter!=2  && transferByCall == undefined">
                <span id="h-menu-item-4"><img id="h-menu-icon-4" class="submitButton h-menu-icon">Պահպանել</span>
            </li>
            <li class="root-menu-item-4 " ng-click="changeOrder.SubType=1;receivedFastTransferPaymentOrderForm.$setSubmitted();receivedFastTransferPaymentOrderForm.$valid ? saveReceivedFastTransferPayment() : showValidationMessage();" ng-if="NewOrEditFromCallCenter!=2 && transferByCall != undefined">
                <span id="h-menu-item-4"><img id="h-menu-icon-4" class="submitButton h-menu-icon">Խմբագրել</span>
            </li>

            <li class="root-menu-item-4 " ng-click="changeOrder.SubType=5; receivedFastTransferPaymentOrderForm.$setSubmitted();receivedFastTransferPaymentOrderForm.$valid ? saveReceivedFastTransferPayment() : showValidationMessage();" ng-if="NewOrEditFromCallCenter==2">
                <span id="h-menu-item-4"><img id="h-menu-icon-4" class="submitButton h-menu-icon">Հաստատել</span>
            </li>

            <li class="root-menu-item-4 " ng-click="showRejectTransfer();" ng-if="NewOrEditFromCallCenter==2">
                <span id="h-menu-item-4"><img id="h-menu-icon-4" class="submitButton h-menu-icon">Մերժել</span>
            </li>

            <li class="root-menu-item-2 " ng-click="searchReceivedTransfers();" style="padding:0px!important; display:inline-block ">
                <span id="h-menu-item-2"><img id="h-menu-icon-2" class="h-menu-icon searchMenuButton">Շաբլոն</span>
            </li>
            <li class="root-menu-item-5 " ng-click="openTransferAdditionalDetailsModal()" ng-if="isCallTransfer==0">
                <span id="h-menu-item-5"><img id="h-menu-icon-5" class="h-menu-icon transferAdditionalDataBtn">Լրացուցիչ տվյալներ </span>
            </li>
            <li class="root-menu-item-5 " onclick="CloseBPDialog('receivedfasttransferpaymentorder')">
                <span id="h-menu-item-5"><img id="h-menu-icon-5" class="h-menu-icon cancelButton">Հրաժարվել</span>
            </li>


        </ul>
        <div id="right-menu" style="display:none;">
        </div>
    </div>


    <div >
        <div class="" style="padding:0;padding-left:5px;">

            <div ng-class="(isHasAdditionalData || NewOrEditFromCallCenter==2 )?'col-sm-7':''">
                <div style="max-width:600px">
                    <errors></errors>
                </div>

                <div class="form-group ">
                    <div class="col-sm-12" style="max-width:600px">
                        <div class="row-no-margin">

                            <section class=" panel panel-info" ng-if="NewOrEditFromCallCenter!=1 && NewOrEditFromCallCenter!=2">
                                <header class="panel-heading">
                                    <span class="panel-title" style=" font-size: 14px;"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp;Ուշադրություն</span>
                                </header>
                                <div class="panel-body">
                                    <span>Բոլոր դաշտերը անհրաժեշտ է մուտքագրել UNICODE-ով</span>
                                </div>
                            </section>
                            <section ng-show="customerDocumentWarnings.length>0" class=" panel panel-warning">
                                <header class="panel-heading">
                                    <span class="panel-title" style=" font-size: 14px;"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp;Ուշադրություն</span>
                                </header>
                                <div class="panel-body">
                                    <div ng-repeat="war in customerDocumentWarnings">
                                        {{$index+1}}.{{::war}}
                                    </div>
                                </div>
                            </section>

                            <section ng-show="customerDahk.length>0" class=" panel panel-warning">
                                <header class="panel-heading">
                                    <span class="panel-title" style=" font-size: 14px;"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp;Արգելանք</span>
                                </header>
                                <div class="panel-body">
                                    <div class="panel-body">
                                        <div ng-if="customerDahk.length!=0"> <span class="errors">{{customerDahk}}</span></div>
                                    </div>
                                </div>
                            </section>




 


                        </div>

                    </div>
                </div>


                <div class="panel panel-success" style=" margin-bottom: 10px;">
                    <div class="panel-heading">Փաստաթուղթ</div>
                    <div class="panel-body" style="padding-bottom: 10px; padding-top: 10px;padding-right: 15px;">


                        <div class="form-group" style="padding-right: 10px;">
                            <label class="tab_title col-sm-5">Ամսաթիվ</label>
                            <div class="col-sm-3">
                                <div class="row">
                                    <input type="date" readonly="readonly" ng-model="order.OperationDate" class="tab_title form-control unstyled" style="text-align:left; padding:0" name="RegistrationDate" required />
                                </div>

                            </div>
                        </div>
                        <div class="form-group " style="padding-right: 10px;" ng-if="NewOrEditFromCallCenter==1" >

                            <label class="tab_title col-sm-5" for="CustomerAmount">Քարտի համար</label>
                            <div class="col-sm-6">
                                <div class="row">
                                    <input type="text" class="tab_title form-control unstyled" style="text-align:left; padding:0" name="CardNumber" />


                                </div>

                            </div>

                        </div>
                        <div class="form-group" style="padding-right: 10px;" ng-if="isCallTransfer==1 && transferByCall.Source != 1 && transferByCall.Source != 5" >
                            <label class="col-sm-5 tab_title">Համաձայնագիր</label>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div ng-if="transferContracts.length==0"><input type="text" class="form-control"></div>
                                    <select ng-show="transferContracts.length!=0" data-ng-model="transfer.Contract" class="form-control" data-ng-options="t.AccountDescription  + ' ' + t.AccountNumber + ' ' +t.Currency +' '+t.ContractFilialCode+' '+t.CardNumber+' '+t.RelatedOfficeNumber+' '+t.CardType+' '+t.StartCapitalString for t in transferContracts" id="contract" ng-change="getClientTransferAmount()" ng-disabled="NewOrEditFromCallCenter==2" name="contract" required>
                                        <option value="" hidden="hidden" style="margin-left:25px">-Ընտրեք-</option>
                                    </select>
                                </div>
                                <div class="row additionalInfoLabel">
                                    <span ng-show="transferContracts.length!=0">Գաղտնաբառ` <b>{{transfer.Contract.ContractPassword}}</b></span>
                                </div>
                                <div class="row additionalInfoLabel">
                                    <span ng-show="transferContracts.length!=0">Վերջ` <b>{{transfer.Contract.CardValidationDateString}}</b></span>
                                </div>
                                <div class="row additionalInfoLabel">
                                    <span ng-show="transferContracts.length!=0">Քարտի գաղտնաբառ` <b>{{transfer.Contract.MotherName}}</b></span>
                                </div>
                                <div class="row additionalInfoLabel">
                                    <div ng-if="transfer.Contract.CreditLineQuality ==11 || transfer.Contract.CreditLineQuality ==12"> <span class="errors">Վարկային գիծը/գերածախսը դուրս գրված է: </span></div>
                                </div>
                                <div class="row">
                                    <div ng-messages="(receivedFastTransferPaymentOrderForm.$submitted || receivedFastTransferPaymentOrderForm.contract.$dirty) && receivedFastTransferPaymentOrderForm.contract.$error && transferByCall.Source != 1 && transferByCall.Source != 5" class="errors">
                                        <ng-message when="required" class="errors">Համաձայնագիրը լրացված չէ</ng-message>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="form-group" style="padding-right: 10px;" ng-if="isCallTransfer==1 && (transferByCall.Source == 1 || transferByCall.Source == 5)">
                            <label class="col-sm-5 tab_title">Մուտքագրվող հաշիվ</label>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div ng-if="transferByCall!=undefined">
                                                               
                                        <input type="text"   data-ng-model="transferByCall.AccountNumber"  style="width: 160px"
                                               ng-disabled="true" class="form-control" id="receiverAccount"  name="receiverAccount" required> 
                                      {{transferByCall.AccountCurrency}}
                                    </div>
                                                                 
                                </div>
                              
                              
                                <div class="row">
                                    <div ng-messages="(receivedFastTransferPaymentOrderForm.$submitted || receivedFastTransferPaymentOrderForm.receiverAccount.$dirty) && receivedFastTransferPaymentOrderForm.receiverAccount.$error && (transferByCall.Source == 1 || transferByCall.Source == 5)" class="errors">
                                        <ng-message when="required" class="errors">Մուտքագրվող հաշիվը լրացված չէ</ng-message>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="form-group" style="padding-right: 10px;">
                            <label class="tab_title col-sm-5">Համակարգ</label>
                            <div class="col-sm-6" data-ng-init="getTransferTypes(1)">
                                <div class="row">
                                    <select data-ng-model="order.SubType" class="form-control" data-ng-options="k as v for (k,v) in transferTypes" id="SubType" name="SubType" required ng-disabled="NewOrEditFromCallCenter==2 && IsBankSourse" ng-change="getTransferSystemCurrency();setDescription(); getFeeAcbaType()">
                                        <option value="" hidden="hidden" style="margin-left:25px">Ընտրեք համակարգը</option>
                                    </select>
                                </div>
                                <div class="row">
                                    <ng-messages ng-if="internationalPaymentOrderForm.$submitted || internationalPaymentOrderForm.SubType.$dirty"
                                                 for="internationalPaymentOrderForm.SubType.$error">
                                        <ng-message when="required" class="errors">
                                            Փոխանցման համակարգը ընտրված չէ
                                        </ng-message>
                                    </ng-messages>
                                </div>
                            </div>
                        </div>

                        <div style="padding-right: 10px; margin-bottom: 0px;" ng-if="NewOrEditFromCallCenter!=1">
                            <countrylist labeldescription="'Երկիր'" country="order.Country" ng-blur="setFee()" showforrussia="1" formname="receivedFastTransferPaymentOrderForm" disabled1="((order.SubType== 16 || order.SubType== 17 || order.SubType== 12 || order.SubType== 22 || order.SubType== 15 || order.SubType== 21) && NewOrEditFromCallCenter!=1)?1:0" selectedcountry="selectedCountry" isrequired="NewOrEditFromCallCenter==1?0:1"></countrylist>
                            <div class="row">
                                <div class="col-sm-6"></div>
                                <ng-messages class="errors" ng-if="receivedFastTransferPaymentOrderForm.$submitted && order.Country==undefined && NewOrEditFromCallCenter!=1">
                                    Երկիրն ընտրված չէ
                                </ng-messages>

                            </div>
                        </div>

                        <div class="form-group " style="padding-right: 10px; margin-bottom: 0" ng-if="NewOrEditFromCallCenter==1 || NewOrEditFromCallCenter==2">
                            <label class="tab_title col-sm-5" for="Code">Փոխանցման կոդ</label>
                            <div class="col-sm-6">
                                <div class="row">
                                    <input ng-model="order.Code" ng-enter="" ng-change="getFeeAcbaType()" name="Code" class="tab_title form-control" style="text-align:left" ng-disabled=" NewOrEditFromCallCenter==2  || ((order.SubType==16 || order.SubType==17 || order.SubType==12 || order.SubType==22 || order.SubType==15)  && NewOrEditFromCallCenter!=1)" required />
                                </div>
                                <div class="row additionalInfoLabel">
                                    <span style="color: green;">Նիշերի քանակ` <b>{{order.Code != null ? order.Code.length : 0 }} </b></span>
                                </div>
                                <div class="row">
                                    <ng-messages ng-if="receivedFastTransferPaymentOrderForm.$submitted || receivedFastTransferPaymentOrderForm.Code.$dirty"
                                                 for="receivedFastTransferPaymentOrderForm.Code.$error">
                                        <ng-message when="required" class="errors">
                                            Փոխանցման կոդ դաշտը լրացված չէ
                                        </ng-message>
                                    </ng-messages>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

                <div class="panel panel-success" style=" margin-bottom: 10px;">
                    <div class="panel-heading">Գումար </div>
                    <div class="panel-body" style="padding-bottom: 0px; padding-top: 5px;padding-right: 15px;">
                        <div class="form-group " style="margin-left :0; margin-right :0">

                            <label class="tab_title col-sm-5" for="amount">Գումար</label>
                            <div class="col-sm-3">
                                <div class="row">
                                    <input type="text" ng-model="order.Amount" onkeypress='return event.charCode >= 48 && event.charCode <= 57 || event.charCode==46' name="amount" required class="tab_title form-control" ng-enter="" ng-change="getClientTransferAmount()" ng-blur="setFee()" ng-disabled=" (order.SubType== 16 || order.SubType== 17 || order.SubType== 12 || order.SubType== 22 || order.SubType== 15 || order.SubType== 21)  && NewOrEditFromCallCenter!=1" fcsa-number />
                                </div>
                                <div class="row ">
                                    <ng-messages ng-if="receivedFastTransferPaymentOrderForm.$submitted || receivedFastTransferPaymentOrderForm.amount.$dirty || isAddDataFormOpening "
                                                 for="receivedFastTransferPaymentOrderForm.amount.$error">
                                        <ng-message when="required" class="errors">
                                            Գումարը լրացված չէ
                                        </ng-message>

                                        <ng-message when="min" class="errors">
                                            Գումարը պետք է լինի դրական
                                        </ng-message>
                                    </ng-messages>
                                </div>
                            </div>
                            <div class="col-sm-3" data-ng-init="GetCurrencies()">
                                <div class="row">
                                    <select data-ng-model="order.Currency" name="CurrencyMy" id="Currency" class="form-control" style="margin-left: 5px; padding-right: 0px; padding-left: 5px;" ng-blur="setFee()" ng-change="getClientTransferAmount()" ng-disabled=" NewOrEditFromCallCenter==2 || disableCurrency || ((order.SubType==undefined || order.SubType=='' || order.SubType== 16 || order.SubType== 17 || order.SubType== 12 || order.SubType== 22 || order.SubType== 15 || order.SubType== 21)  && NewOrEditFromCallCenter!=1)" required
                                            data-ng-options="k as v for (k,v) in currencies">
                                        <option value="" hidden="hidden">Ընտրեք...</option>
                                    </select>
                                </div>
                                <div class="row">
                                    <ng-messages ng-if="receivedFastTransferPaymentOrderForm.$submitted || receivedFastTransferPaymentOrderForm.CurrencyMy.$dirty"
                                                 for="receivedFastTransferPaymentOrderForm.CurrencyMy.$error">
                                        <ng-message when="required" class="errors">
                                            Արժույթը ընտրված չէ
                                        </ng-message>
                                    </ng-messages>
                                </div>
                            </div>
                        </div>
                        <div class="form-group " style="margin-left :0; margin-right :0" ng-if="NewOrEditFromCallCenter==2">

                            <label class="tab_title col-sm-5" for="CustomerAmount">Հաճախորդի գումար</label>
                            <div class="col-sm-6">
                                <div class="row">
                                    <label class="tab_title " style="text-align:right ">{{order.CustomerAmount| number :2}} {{order.Currency}}</label>


                                </div>

                            </div>

                        </div>
                    </div>
                </div>

                <div class="panel panel-success" style=" margin-bottom: 10px;" ng-if="NewOrEditFromCallCenter!=1">
                    <div class="panel-heading">Փոխանցող </div>
                    <div class="panel-body" style="padding-bottom: 5px; padding-top: 5px;padding-right: 15px;">
                        <div class="form-group " style="padding-right: 10px;">
                            <label class="tab_title col-sm-5" for="Receiver">Փոխանցող </label>
                            <div class="col-sm-6">
                                <div class="row">
                                    <textarea rows="2" ng-model="order.Sender" name="SenderName" id="SenderName" ng-enter="" ng-required="NewOrEditFromCallCenter!=1" class="tab_title form-control" style="text-align:left" ng-disabled=" (order.SubType== 16 || order.SubType== 17 || order.SubType== 12 || order.SubType== 22 || order.SubType== 15 || order.SubType== 21) && NewOrEditFromCallCenter!=1" />
                                </div>
                                <div class="row">
                                    <ng-messages class="errors" ng-if="receivedFastTransferPaymentOrderForm.$submitted && (order.Sender ==undefined || order.Sender =='' || order.Sender ==' ') && NewOrEditFromCallCenter!=1">
                                        Ուղարկողի անուն ազգանունը լրացված չէ
                                    </ng-messages>
                                </div>
                            </div>
                        </div>


                        <div class="form-group " style="padding-right: 10px; margin-bottom: 0" ng-if="NewOrEditFromCallCenter!=2">
                            <label class="tab_title col-sm-5" for="Code">Փոխանցման կոդ</label>
                            <div class="col-sm-6">
                                <div class="row">
                                    <input ng-model="order.Code" ng-enter="" ng-change="getFeeAcbaType()" name="Code" class="tab_title form-control" style="text-align:left" ng-disabled=" NewOrEditFromCallCenter==2  || ((order.SubType==16 || order.SubType==17 || order.SubType==12 || order.SubType==22 || order.SubType==15)  && NewOrEditFromCallCenter!=1)" required />
                                </div>
                                <div class="row additionalInfoLabel">
                                    <span style="color: green;">Նիշերի քանակ` <b>{{order.Code != null ? order.Code.length : 0 }} </b></span>
                                </div>
                                <div class="row">
                                    <ng-messages ng-if="receivedFastTransferPaymentOrderForm.$submitted || receivedFastTransferPaymentOrderForm.Code.$dirty"
                                                 for="receivedFastTransferPaymentOrderForm.Code.$error">
                                        <ng-message when="required" class="errors">
                                            Փոխանցման կոդ դաշտը լրացված չէ
                                        </ng-message>
                                    </ng-messages>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="panel panel-success" style=" margin-bottom: 10px;" ng-if="NewOrEditFromCallCenter!=1">
                    <div class="panel-heading">Գործարքի նկարագրություն</div>
                    <div style="padding-right: 25px; padding-top: 5px;">
                        <orderdescription ordertype="order.Type" operations="operations"
                                          description="description" labeldescription="'Նկարագրություն'" formname="receivedFastTransferPaymentOrderForm"></orderdescription>
                    </div>
                </div>

                <div class="panel panel-success" style=" margin-bottom: 10px;" ng-if="NewOrEditFromCallCenter!=1">
                    <div class="panel-heading">Ծախսեր</div>
                    <div class="panel-body" style="padding-bottom: 0; padding-top: 5px;padding-right: 15px;">
                        <div class="form-group " style="padding-right: 10px;">
                            <label class="tab_title col-sm-5" for="Fee">Միջնորդավճար հաճախորդից</label>
                            <div class="col-sm-6">
                                <div class="row">
                                    <input type="text" ng-model="order.Fee" ng-enter="" onkeypress='return event.charCode >= 48 && event.charCode <= 57 || event.charCode==46' name="Fee" ng-disabled="FeeAcbaType !=3" class="tab_title form-control" style="text-align:left" ng-blur="getAcbaFee()" fcsa-number />
                                </div>

                            </div>
                        </div>

                        <div class="form-group " style="padding-right: 10px;">
                            <label class="tab_title col-sm-5" for="FeeAcba">Միջնորդավճար ACBA</label>
                            <div class="col-sm-6">
                                <div class="row">
                                    <input type="text" ng-model="order.FeeAcba" onkeypress='return event.charCode >= 48 && event.charCode <= 57 || event.charCode==46' ng-enter="" ng-disabled="(FeeAcbaType !=2 || order.SubType==16 || order.SubType==22 ||order.SubType==15 || order.SubType==21)  && NewOrEditFromCallCenter!=1" name="FeeAcba" class="tab_title form-control" style="text-align:left"   fcsa-number />
                                </div>
                                @*<div class="row">
                                    <ng-messages class="errors" ng-if="receivedFastTransferPaymentOrderForm.$submitted && (order.FeeAcba ==undefined || order.FeeAcba ==0) && NewOrEditFromCallCenter!=1 ">
                                        Միջնորդավճար ACBA դաշտը լրացված չէ
                                    </ng-messages>
                                </div>*@
                            </div>
                        </div>

                    </div>
                </div>

                <div class="form-group" ng-if="isCallTransfer==1 && ((order.ConvertationRate!=0 && order.ConvertationRate!=undefined) || (order.ConvertationRate1!=0 && order.ConvertationRate1!=undefined) || (ClientTransferAmount != 0 && ClientTransferAmount !=undefined))" style="margin-left:10px;margin-bottom:55px;">
                    <div class="panel panel-success">
                        <div class="panel-heading" style="font-size:11pt;padding:2px 2px;"><span class="glyphicon glyphicon-info-sign" style="margin-left:10px;"></span></div>
                        <div class="panel-body">
                            <div class="row" ng-show="order.ConvertationRate!=0">
                                <div class="col-sm-6 amountLabelDescription">
                                    Առքի փոխարժեք`
                                </div>
                                <div class="col-sm-5 amountLabel">
                                    {{order.ConvertationRate }}
                                </div>
                            </div>
                            <div class="row" ng-show="order.ConvertationRate1!=0">
                                <div class="col-sm-6 amountLabelDescription">
                                    Վաճառքի փոխարժեք`
                                </div>
                                <div class="col-sm-5 amountLabel">
                                    {{order.ConvertationRate1}}
                                </div>
                            </div>

                            <div class="row" ng-show="ClientTransferAmount != null">
                                <div class="col-sm-6 amountLabelDescription">
                                    Փոխանցվող գումար`
                                </div>
                                <div class="col-sm-5 amountLabel">
                                    {{ClientTransferAmount != null ? ClientTransferAmount : (0 | number : 2)}} {{transfer.Contract.Currency}}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div ng-class="(isHasAdditionalData|| NewOrEditFromCallCenter==2 )?'col-sm-5':''">
                <div ng-if="isHasAdditionalData">
                    <transferadditionaldatadetails></transferadditionaldatadetails>
                </div>
                <div ng-if=" NewOrEditFromCallCenter==2"  >
                    <div class="form-group" id="customerInfo" style="margin-left:20px;">
                        <customerinfoold customernumber="order.CustomerNumber"> </customerinfoold>
                    </div>
                </div>
            </div>
        </div>




    </div>


</form>
