<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FrontOffice.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <connectionStrings>
    <add name="NLogDb" connectionString="Server=dstd1001;Database=AppLog;Integrated Security=true;connection timeout=100;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
    <add name="ActionLogDb" connectionString="Server=DSM1003_1;Database=Permissions_Base;Integrated Security=true;connection timeout=100;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="CustomersURL" value="http://localhost:8970" />
    <add key="CustomersExternalSharePointURL" value="/Login/ExternalSharePoint/" />
    <add key="CustomersSearchURL" value="/Customers/SearchCustomer?showPreviousSearchData=true" />
    <add key="TestVersion" value="true" />
    <add key="ForDevelopment" value="false" />
    <add key="aspnet:MaxJsonDeserializerMembers" value="150000" />
    <add key="owin:AutomaticAppStartup" value="false" />
    <add key="LoanManagementSystemURL" value="https://frontoffice:8082" />
    <add key="LoanManagementSystemCollateralURL" value="https://frontoffice:8083" />
    <add key="LoanManagementSystemSharePoint" value="/Login/LoanManagementSystemSharePoint/" />
    <add key="EnabledOldMobileCompatibility" value="true" />
    <add key="VisaAliasBaseAddress" value="https://localhost:44349" />
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation targetFramework="4.5.1" debug="true" />
    <httpRuntime targetFramework="4.5.1" maxUrlLength="10999" maxQueryStringLength="2097151" />
    <sessionState timeout="300" />
    <caching>
      <outputCacheSettings>
        <outputCacheProfiles>
          <add name="AppViewCache" enabled="true" duration="3600" />
          <add name="AppInfoCache" enabled="true" duration="3600" />
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
    <httpModules>
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="FormsAuthentication" />
      <remove name="TelemetryCorrelationHttpModule" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="managedHandler" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
    <security>
      <requestFiltering>
        <requestLimits maxUrl="10999" maxQueryString="9999" />
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="IInfoService" maxBufferPoolSize="5242880" maxReceivedMessageSize="655360" />
        <binding name="ICustomerOperations" maxBufferPoolSize="5242880"
          maxBufferSize="6553600" maxReceivedMessageSize="655360">
          <readerQuotas maxArrayLength="2500000" />
        </binding>
        <binding name="IExternalOperations" maxBufferPoolSize="5242880"
          maxBufferSize="6553600">
          <readerQuotas maxArrayLength="2500000" />
        </binding>
        <binding name="ISMSMessagingService" maxBufferPoolSize="5242880"
          maxBufferSize="6553600">
          <readerQuotas maxArrayLength="2500000" />
        </binding>
        <binding name="IExternalOperationManagementService" maxBufferPoolSize="5242880"
          maxBufferSize="6553600" maxReceivedMessageSize="655360">
          <readerQuotas maxArrayLength="2500000" />
        </binding>
        <binding name="NetTcpBinding_IFinancialPlanningService" maxBufferPoolSize="5242880"
          maxBufferSize="6553600" maxReceivedMessageSize="655360">
          <readerQuotas maxArrayLength="2500000" />
        </binding>
        <binding name="NetTcpBinding_IEmployeeWorksManagementService"
          maxBufferPoolSize="5242880" maxBufferSize="6553600" maxReceivedMessageSize="655360">
          <readerQuotas maxArrayLength="2500000" />
        </binding>
        <binding name="NetTcpBinding_ICardStatementService" maxBufferPoolSize="5242880"
          maxBufferSize="6553600" maxReceivedMessageSize="655360">
          <readerQuotas maxArrayLength="2500000" />
        </binding>
        <binding name="NetTcpBinding_ICardStatementService1" />
        <binding name="IContractOperationService" maxBufferPoolSize="5242880"
          maxBufferSize="6553600" maxReceivedMessageSize="6553600">
          <readerQuotas maxArrayLength="250000" />
        </binding>
        <binding name="IExternalOperationService" sendTimeout="00:10:00"
          maxBufferPoolSize="5242880" maxBufferSize="6553600">
          <readerQuotas maxArrayLength="2500000" />
        </binding>
        <binding name="IACBAOperationService" />
        <binding name="IClassFactory" />
        <binding name="ILoginOperations" />
        <binding name="IDataService" />
        <binding name="IClassFactory1">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="ILoginOperations1">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="IDataService1">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="ILADigitalContractService">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="IInfoService1">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="IExternalOperations1">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_ILeasingStatementService">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="IExternalOperationService1">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="IExternalOperationInfoService">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="IContractOperationService1">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_ICardStatementService2">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="IExternalOperationManagementService1">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IEmployeeWorksManagementService1">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="IExternalOperationService2">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="IACBAOperationService1">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="IClassFactory2">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="IInfoService2">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="ILoginOperations2">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="IDataService2">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="IExternalOperations2">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://ws0004624.acbaca.local/FinancialPlanningService.svc/FinancialPlanningService"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IFinancialPlanningService"
        contract="FinancialPlanningService.IFinancialPlanningService"
        name="NetTcpBinding_IFinancialPlanningService">
        <identity>
          <userPrincipalName value="Diana.Martirosyan@acbaca.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://webc021.acbaca.local:8080/OperationService.svc/ClassFactory"
        binding="netTcpBinding" bindingConfiguration="IClassFactory"
        contract="ACBAServiceReference.IClassFactory" name="IClassFactory">
        <identity>
          <userPrincipalName value="acbaaccess_test@acbaca.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://webc021.acbaca.local:8080/OperationService.svc/InfoService"
        binding="netTcpBinding" bindingConfiguration="IInfoService"
        contract="ACBAServiceReference.IInfoService" name="IInfoService">
        <identity>
          <userPrincipalName value="acbaaccess_test@acbaca.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://webc021.acbaca.local:8080/OperationService.svc/CustomerOperations"
        binding="netTcpBinding" bindingConfiguration="ICustomerOperations"
        contract="ACBAServiceReference.ICustomerOperations" name="ICustomerOperations">
        <identity>
          <userPrincipalName value="acbaaccess_test@acbaca.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://webc021.acbaca.local:8080/OperationService.svc/LoginOperations"
        binding="netTcpBinding" bindingConfiguration="ILoginOperations"
        contract="ACBAServiceReference.ILoginOperations" name="ILoginOperations">
        <identity>
          <userPrincipalName value="acbaaccess_test@acbaca.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://webc021.acbaca.local:8080/OperationService.svc/DataService"
        binding="netTcpBinding" bindingConfiguration="IDataService"
        contract="ACBAServiceReference.IDataService" name="IDataService">
        <identity>
          <userPrincipalName value="acbaaccess_test@acbaca.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://webc021.acbaca.local:8080/OperationService.svc/ExternalOperations"
        binding="netTcpBinding" bindingConfiguration="IExternalOperations"
        contract="ACBAServiceReference.IExternalOperations" name="IExternalOperations">
        <identity>
          <userPrincipalName value="acbaaccess_test@acbaca.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://web1021.acbaca.local:9019/LADigitalContractService.svc/LADigitalContractService"
        binding="netTcpBinding" bindingConfiguration="ILADigitalContractService"
        contract="LADigitalContractService.ILADigitalContractService"
        name="ILADigitalContractService">
        <identity>
          <userPrincipalName value="acbaaccess_test@acbaca.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://web1021.acbaca.local:8080/LeasingStatementService.svc/LeasingStatementService"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ILeasingStatementService"
        contract="LeasingStatementService.ILeasingStatementService"
        name="NetTcpBinding_ILeasingStatementService">
        <identity>
          <userPrincipalName value="acbaaccess_test@acbaca.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://ws0004624.acbaca.local/ContractService/ContractOerationService.svc/ContractOperation"
        binding="netTcpBinding" bindingConfiguration="IContractOperationService1"
        contract="ContractServiceReference.IContractOerationService"
        name="IContractOperationService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://wcf1001-t.acbaca.local:8080/CardStatementService.svc/CardStatementService"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICardStatementService2"
        contract="CardStatementService.ICardStatementService" name="NetTcpBinding_ICardStatementService1">
        <identity>
          <userPrincipalName value="ACBAOperationtest@acbaca.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://ws0004624.acbaca.local/ExternalBankingService/XBManagementService.svc/ExternalOperationManagementService"
        binding="netTcpBinding" bindingConfiguration="IExternalOperationManagementService1"
        contract="XBManagement.IXBManagementService" name="IExternalOperationManagementService">
        <identity>
          <userPrincipalName value="Diana.Martirosyan@acbaca.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://ws0004624.acbaca.local/ACBAOperationService/EmployeeWorksManagementService.svc/EmployeeWorksManagementService"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IEmployeeWorksManagementService1"
        contract="EmployeeWorksManagementService.IEmployeeWorksManagementService"
        name="NetTcpBinding_IEmployeeWorksManagementService1">
        <identity>
          <userPrincipalName value="Diana.Martirosyan@acbaca.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://ws0004706.acbaca.local/ExternalBankingService/XBInfoService.svc/ExternalOperationInfoService"
        binding="netTcpBinding" bindingConfiguration="IExternalOperationInfoService"
        contract="XBSInfo.IXBInfoService" name="IExternalOperationInfoService">
        <identity>
          <userPrincipalName value="Davit.Jraghatspanyan@acbaca.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://webc021.acbaca.local:8080/OperationService.svc/AcbaOperation"
        binding="netTcpBinding" bindingConfiguration="IACBAOperationService"
        contract="ACBAServiceReference.IACBAOperationService" name="IACBAOperationService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://webc021.acbaca.local:8080/OperationService.svc/ClassFactory"
        binding="netTcpBinding" bindingConfiguration="IClassFactory2"
        contract="ACBAServiceReference.IClassFactory" name="IClassFactory1">
        <identity>
          <userPrincipalName value="acbaaccess_test@acbaca.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://webc021.acbaca.local:8080/OperationService.svc/InfoService"
        binding="netTcpBinding" bindingConfiguration="IInfoService2"
        contract="ACBAServiceReference.IInfoService" name="IInfoService1">
        <identity>
          <userPrincipalName value="acbaaccess_test@acbaca.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://webc021.acbaca.local:8080/OperationService.svc/LoginOperations"
        binding="netTcpBinding" bindingConfiguration="ILoginOperations2"
        contract="ACBAServiceReference.ILoginOperations" name="ILoginOperations1">
        <identity>
          <userPrincipalName value="acbaaccess_test@acbaca.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://webc021.acbaca.local:8080/OperationService.svc/DataService"
        binding="netTcpBinding" bindingConfiguration="IDataService2"
        contract="ACBAServiceReference.IDataService" name="IDataService1">
        <identity>
          <userPrincipalName value="acbaaccess_test@acbaca.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://webc021.acbaca.local:8080/OperationService.svc/ExternalOperations"
        binding="netTcpBinding" bindingConfiguration="IExternalOperations2"
        contract="ACBAServiceReference.IExternalOperations" name="IExternalOperations1">
        <identity>
          <userPrincipalName value="acbaaccess_test@acbaca.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://ws0004706.acbaca.local/ExternalBankingService/XBService.svc/ExternalOperationService"
        binding="netTcpBinding" bindingConfiguration="IExternalOperationService2"
        contract="XBS.IXBService" name="IExternalOperationService">
        <identity>
          <userPrincipalName value="Davit.Jraghatspanyan@acbaca.local" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <applicationSettings>
    <FrontOffice.Properties.Settings>
      <setting name="FrontOffice_ReportingRS1001_ReportExecutionService" serializeAs="String">
        <value>http://ReportService:80/ReportServer/ReportExecution2005.asmx</value>
      </setting>
    </FrontOffice.Properties.Settings>
  </applicationSettings>
  <nlog>
    <extensions>
      <add assembly="Microsoft.ApplicationInsights.NLogTarget" />
    </extensions>
    <targets>
      <target type="ApplicationInsightsTarget" name="aiTarget" />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="aiTarget" />
    </rules>
  </nlog>
</configuration>
