<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <appSettings>
    <add key="CustomersURL" value="http://frontoffice:91" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />​
    <add key="TestVersion" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ForDevelopment" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <sessionState xdt:Transform="Replace" mode="SQLServer" allowCustomSqlDatabase="true" sqlConnectionString="Server=DSMC08;Database=ASPState;Integrated Security=true;MultiSubnetFailover=True" timeout="600" />
    <machineKey xdt:Transform="Replace"  decryptionKey="C322C844551F5C481D45E2FF5400527B64C2DD0A8C603BE2" validationKey="C718C7657A1126271EB1C669B0B450F52EC5D46B8A9E83A965AD4FAC865D30274535C1221B550321D2FFF26DB5BB250FFA7A25F9B9B216FF8EE5645B8E6AAA4B" />
  </system.web>
  <system.serviceModel>
    <bindings xdt:Transform="Replace">
      <netTcpBinding>
        <binding name="IACBAOperationService" maxBufferPoolSize="5242880"
         maxReceivedMessageSize="655360" />
        <binding name="IClassFactory" />
        <binding name="IInfoService" maxBufferPoolSize="5242880" maxReceivedMessageSize="655360" />
        <binding name="ICustomerOperations" maxBufferPoolSize="5242880"
          maxBufferSize="6553600" maxReceivedMessageSize="655360">
          <readerQuotas maxArrayLength="2500000" />
        </binding>
        <binding name="ILoginOperations" />
        <binding name="IAccountingOperations" />
        <binding name="IDataService" />
        <binding name="IExternalOperations" maxBufferPoolSize="5242880"
          maxBufferSize="6553600">
          <readerQuotas maxArrayLength="2500000" />
        </binding>
        <binding name="IExternalOperationService" maxBufferPoolSize="5242880" sendTimeout="00:10:00"
          maxBufferSize="6553600">
          <readerQuotas maxArrayLength="2500000" />
        </binding>
        <binding name="IExternalOperationInfoService" maxBufferPoolSize="5242880"
          maxBufferSize="6553600">
          <readerQuotas maxArrayLength="2500000" />
        </binding>
        <binding name="IContractOperationService" maxBufferPoolSize="5242880"
         maxBufferSize="6553600" maxReceivedMessageSize="6553600">
          <readerQuotas maxArrayLength="2500000" />
        </binding>
        <binding name="ISMSMessagingService" maxBufferPoolSize="5242880"
          maxBufferSize="6553600">
          <readerQuotas maxArrayLength="2500000" />
        </binding>
        <binding name="IExternalOperationManagementService" maxBufferPoolSize="5242880"
          maxBufferSize="6553600" maxReceivedMessageSize="655360">
          <readerQuotas maxArrayLength="2500000" />
        </binding>
        <binding name="NetTcpBinding_IFinancialPlanningService" maxBufferPoolSize="5242880"
          maxBufferSize="6553600" maxReceivedMessageSize="655360">
          <readerQuotas maxArrayLength="2500000" />
        </binding>
        <binding name="NetTcpBinding_ICardStatementService" maxBufferPoolSize="5242880"
            maxBufferSize="6553600" maxReceivedMessageSize="655360">
          <readerQuotas maxArrayLength="2500000" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client xdt:Transform="Replace">
      <endpoint address="net.tcp://webc021.acbaca.local:8084/XBService.svc/ExternalOperationService"
        binding="netTcpBinding" bindingConfiguration="IExternalOperationService"
        contract="XBS.IXBService" name="IExternalOperationService">
        <identity>
          <userPrincipalName value="acbaAccess_test@acbaca.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://webc021.acbaca.local:8084/XBInfoService.svc/ExternalOperationInfoService"
      binding="netTcpBinding" bindingConfiguration="IExternalOperationInfoService"
      contract="XBSInfo.IXBInfoService" name="IExternalOperationInfoService">
        <identity>
          <userPrincipalName value="acbaAccess_test@acbaca.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://webc021.acbaca.local:8086/ContractOerationService.svc/ContractOperation"
         binding="netTcpBinding" bindingConfiguration="IContractOperationService"
         contract="ContractServiceReference.IContractOerationService"
         name="IContractOperationService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://webc021.acbaca.local:8083/OperationService.svc/AcbaOperation"
                 binding="netTcpBinding" bindingConfiguration="IACBAOperationService"
                 contract="ACBAServiceReference.IACBAOperationService" name="IACBAOperationService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://webc021.acbaca.local:8083/OperationService.svc/ClassFactory"
          binding="netTcpBinding" bindingConfiguration="IClassFactory"
          contract="ACBAServiceReference.IClassFactory" name="IClassFactory">
        <identity>
          <userPrincipalName value="acbaAccess_test@acbaca.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://webc021.acbaca.local:8083/OperationService.svc/InfoService"
          binding="netTcpBinding" bindingConfiguration="IInfoService"
          contract="ACBAServiceReference.IInfoService" name="IInfoService">
        <identity>
          <userPrincipalName value="acbaAccess_test@acbaca.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://webc021.acbaca.local:8083/OperationService.svc/CustomerOperations"
          binding="netTcpBinding" bindingConfiguration="ICustomerOperations"
          contract="ACBAServiceReference.ICustomerOperations" name="ICustomerOperations">
        <identity>
          <userPrincipalName value="acbaAccess_test@acbaca.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://webc021.acbaca.local:8083/OperationService.svc/LoginOperations"
          binding="netTcpBinding" bindingConfiguration="ILoginOperations"
          contract="ACBAServiceReference.ILoginOperations" name="ILoginOperations">
        <identity>
          <userPrincipalName value="acbaAccess_test@acbaca.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://webc021.acbaca.local:8083/OperationService.svc/AccountingOperations"
          binding="netTcpBinding" bindingConfiguration="IAccountingOperations"
          contract="ACBAServiceReference.IAccountingOperations" name="IAccountingOperations">
        <identity>
          <userPrincipalName value="acbaAccess_test@acbaca.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://webc021.acbaca.local:8083/OperationService.svc/DataService"
          binding="netTcpBinding" bindingConfiguration="IDataService"
          contract="ACBAServiceReference.IDataService" name="IDataService">
        <identity>
          <userPrincipalName value="acbaAccess_test@acbaca.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://webc021.acbaca.local:8083/SMSMessagingService.svc/SMSMessagingService"
              binding="netTcpBinding" bindingConfiguration="ISMSMessagingService"
        contract="SMSMessagingService.ISMSMessagingService" name="ISMSMessagingService">
        <identity>
          <userPrincipalName value="acbaAccess_test@acbaca.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://webc021.acbaca.local:8083/OperationService.svc/ExternalOperations"
            binding="netTcpBinding" bindingConfiguration="IExternalOperations"
            contract="ACBAServiceReference.IExternalOperations" name="IExternalOperations">
        <identity>
          <userPrincipalName value="acbaAccess_test@acbaca.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://webc021.acbaca.local:8084/XBManagementService.svc/ExternalOperationManagementService"
                binding="netTcpBinding" bindingConfiguration="IExternalOperationManagementService"
                contract="XBManagement.IXBManagementService" name="IExternalOperationManagementService">
        <identity>
          <userPrincipalName value="acbaAccess_test@acbaca.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://webc021.acbaca.local:8083/FinancialPlanningService.svc/FinancialPlanningService"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IFinancialPlanningService"
        contract="FinancialPlanningService.IFinancialPlanningService"
        name="NetTcpBinding_IFinancialPlanningService">
        <identity>
          <userPrincipalName value="acbaAccess_test@acbaca.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://webc021.acbaca.local:8083/CardStatementService.svc/CardStatementService"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICardStatementService"
        contract="CardStatementService.ICardStatementService" name="NetTcpBinding_ICardStatementService">
        <identity>
          <userPrincipalName value="acbaAccess_test@acbaca.local" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>
