<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="NLogDb"
       connectionString="Server=tcp:DSL1001,1433;Database=AppLog;Integrated Security=true;connection timeout=100;MultipleActiveResultSets=true;"
       providerName="System.Data.SqlClient" xdt:Transform="Replace"  xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="CustomersURL" value="http://acba-access" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />​
    <add key="CustomersExternalSharePointURL" value="/Login/ExternalSharePoint/"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="CustomersSearchURL" value="/Customers/SearchCustomer?showPreviousSearchData=true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="TestVersion" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ForDevelopment" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <system.serviceModel>
    <bindings xdt:Transform="Replace">
      <netTcpBinding>
        <binding name="IExternalOperationService" maxBufferPoolSize="5242880" maxBufferSize="6553600" maxReceivedMessageSize="655360" sendTimeout="00:10:00">
          <readerQuotas maxArrayLength="25000000" />
        </binding>
        <binding name="IExternalOperationInfoService" maxBufferPoolSize="5242880" maxBufferSize="6553600">
          <readerQuotas maxArrayLength="2500000" />
        </binding>
        <binding name="IContractOperationService" maxBufferPoolSize="5242880" maxBufferSize="6553600">
          <readerQuotas maxArrayLength="2500000" />
        </binding>
        <binding name="IACBAOperationService" maxBufferPoolSize="5242880" maxBufferSize="6553600">
          <readerQuotas maxArrayLength="2500000" />
        </binding>
        <binding name="IClassFactory" />
        <binding name="IInfoService" />
        <binding name="ICustomerOperations" maxBufferPoolSize="5242880" maxBufferSize="6553600">
          <readerQuotas maxArrayLength="2500000" />
        </binding>
        <binding name="ILoginOperations" />
        <binding name="IDataService" />
        <binding name="IExternalOperations"  maxBufferPoolSize="5242880" maxBufferSize="6553600">
          <readerQuotas maxArrayLength="2500000" />
        </binding>
        <binding name="ISMSMessagingService" maxBufferPoolSize="5242880" maxBufferSize="6553600">
          <readerQuotas maxArrayLength="2500000" />
        </binding>
        <binding name="IExternalOperationManagementService" maxBufferPoolSize="5242880" maxBufferSize="6553600" maxReceivedMessageSize="655360">
          <readerQuotas maxArrayLength="2500000" />
        </binding>
        <binding name="NetTcpBinding_IFinancialPlanningService" maxBufferPoolSize="5242880"
         maxBufferSize="6553600" maxReceivedMessageSize="655360">
          <readerQuotas maxArrayLength="2500000" />
        </binding>
        <binding name="NetTcpBinding_ICardStatementService" maxBufferPoolSize="5242880"
          maxBufferSize="6553600" maxReceivedMessageSize="655360">
          <readerQuotas maxArrayLength="2500000" />
        </binding>
        <binding name="NetTcpBinding_IEmployeeWorksManagementService" maxBufferPoolSize="5242880"
          maxBufferSize="6553600" maxReceivedMessageSize="655360">
          <readerQuotas maxArrayLength="2500000" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client xdt:Transform="Replace">
      <endpoint address="net.tcp://web1011.acbaca.local/XBService.svc/ExternalOperationService"
        binding="netTcpBinding" bindingConfiguration="IExternalOperationService"
        contract="XBS.IXBService" name="IExternalOperationService">
        <identity>
          <userPrincipalName value="externalBanking@acbaca.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://web1011.acbaca.local/XBInfoService.svc/ExternalOperationInfoService" binding="netTcpBinding"
       bindingConfiguration="IExternalOperationInfoService" contract="XBSInfo.IXBInfoService" name="IExternalOperationInfoService">
        <identity>
          <userPrincipalName value="externalBanking@acbaca.local"/>
        </identity>
      </endpoint>
      <endpoint address="net.tcp://web1011.acbaca.local:8083/ContractOerationService.svc/ContractOperation" binding="netTcpBinding"
       bindingConfiguration="IContractOperationService" contract="ContractServiceReference.IContractOerationService" name="IContractOperationService">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
      <endpoint address="net.tcp://web1011.acbaca.local:8080/OperationService.svc/AcbaOperation"
                  binding="netTcpBinding" bindingConfiguration="IACBAOperationService"
                  contract="ACBAServiceReference.IACBAOperationService" name="IACBAOperationService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://web1011.acbaca.local:8080/OperationService.svc/ClassFactory"
          binding="netTcpBinding" bindingConfiguration="IClassFactory"
          contract="ACBAServiceReference.IClassFactory" name="IClassFactory">
        <identity>
          <userPrincipalName value="file_manager@acbaca.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://web1011.acbaca.local:8080/OperationService.svc/InfoService"
          binding="netTcpBinding" bindingConfiguration="IInfoService"
          contract="ACBAServiceReference.IInfoService" name="IInfoService">
        <identity>
          <userPrincipalName value="file_manager@acbaca.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://web1011.acbaca.local:8080/OperationService.svc/CustomerOperations"
          binding="netTcpBinding" bindingConfiguration="ICustomerOperations"
          contract="ACBAServiceReference.ICustomerOperations" name="ICustomerOperations">
        <identity>
          <userPrincipalName value="file_manager@acbaca.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://web1011.acbaca.local:8080/OperationService.svc/LoginOperations"
          binding="netTcpBinding" bindingConfiguration="ILoginOperations"
          contract="ACBAServiceReference.ILoginOperations" name="ILoginOperations">
        <identity>
          <userPrincipalName value="file_manager@acbaca.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://web1011.acbaca.local:8080/OperationService.svc/DataService"
          binding="netTcpBinding" bindingConfiguration="IDataService"
          contract="ACBAServiceReference.IDataService" name="IDataService">
        <identity>
          <userPrincipalName value="file_manager@acbaca.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://web1011.acbaca.local:8080/SMSMessagingService.svc/SMSMessagingService"
              binding="netTcpBinding" bindingConfiguration="ISMSMessagingService"
        contract="SMSMessagingService.ISMSMessagingService" name="ISMSMessagingService">
        <identity>
          <userPrincipalName value="file_manager@acbaca.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://web1011.acbaca.local:8080/OperationService.svc/ExternalOperations"
          binding="netTcpBinding" bindingConfiguration="IExternalOperations"
          contract="ACBAServiceReference.IExternalOperations" name="IExternalOperations">
        <identity>
          <userPrincipalName value="file_manager@acbaca.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://web1011.acbaca.local/XBManagementService.svc/ExternalOperationManagementService"
               binding="netTcpBinding" bindingConfiguration="IExternalOperationManagementService"
               contract="XBManagement.IXBManagementService" name="IExternalOperationManagementService">
        <identity>
          <userPrincipalName value="externalBanking@acbaca.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://web1011.acbaca.local:8080/FinancialPlanningService.svc/FinancialPlanningService"
       binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IFinancialPlanningService"
       contract="FinancialPlanningService.IFinancialPlanningService"
       name="NetTcpBinding_IFinancialPlanningService">
        <identity>
          <userPrincipalName value="file_manager@acbaca.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://web1011.acbaca.local:8080/CardStatementService.svc/CardStatementService"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICardStatementService"
        contract="CardStatementService.ICardStatementService" name="NetTcpBinding_ICardStatementService">
        <identity>
          <userPrincipalName value="file_manager@acbaca.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://web1011.acbaca.local:8080/EmployeeWorksManagementService.svc/EmployeeWorksManagementService"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IEmployeeWorksManagementService"
        contract="EmployeeWorksManagementService.IEmployeeWorksManagementService"
        name="NetTcpBinding_IEmployeeWorksManagementService">
        <identity>
          <userPrincipalName value="file_manager@acbaca.local" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <applicationSettings xdt:Transform="Replace">
    <FrontOffice.Properties.Settings>
      <setting name="FrontOffice_ReportingRS1001_ReportExecutionService"
        serializeAs="String">
        <value>http://RS1002:80/Report/ReportExecution2005.asmx</value>
      </setting>
    </FrontOffice.Properties.Settings>
  </applicationSettings>
</configuration>
