@{
    Layout = null;
}
<div id="employeeWorkLoad" class="overlay hidden">
    <img class="loader-image non-selectable" src="../../Content/Images/invisible.png" />
</div>
<form ng-controller="EmployeePersonalPageCtrl" ng-init="getBranchDocumentSignatureSetting()" name="DocumentSignatureSettingForm" id="DocumentSignatureSettingForm" role="form" style="min-width:500px;" novalidate class="form-horizontal" labels-required>
    <div id="newaccount_menu" class="menu-bar dialog-menu light-green">
        <ul id="menu" class="dialog-menu">

            <li class="root-menu-item-4 " ng-if="isReject!=true" ng-click="DocumentSignatureSettingForm.$setSubmitted();DocumentSignatureSettingForm.$valid && saveBranchDocumentSignatureSetting()">
                <span id="h-menu-item-4"><img id="h-menu-icon-4" class="submitButton h-menu-icon">Պահպանել</span>
            </li>

            <li class="root-menu-item-5 " onclick="CloseBPDialog('documentSignatureSetting')">
                <span id="h-menu-item-5"><img id="h-menu-icon-5" class="h-menu-icon cancelButton">Հրաժարվել</span>
            </li>
        </ul>
        <div id="right-menu" style="display:none;">
        </div>
    </div>
    <div>
        <div class="col-sm-12">
            <div style="max-width:530px">
                <errors></errors>
            </div>
            <div class="col-sm-12" ng-if="documentSignatureSetting.SignatureType">
                <div class=" form-group">
                    <label class="tab_title col-sm-5 " for="RegistrationDate">Մուտքագրման ա/թ</label>
                    <div class="col-sm-6">
                        <div class="row">
                            <input disabled="disabled" type="date" class="form-control tab_title" style="text-align: left;" id="RegistrationDate" name="RegistrationDate" ng-model="documentSignatureSetting.RegistartionDate" required>
                        </div>

                    </div>
                </div>
                
                <div class="form-group"> 
                    <label class="tab_title col-sm-5" for="SignatureType">Ստորագրող անձ</label>
                    <div class="col-sm-6">
                        <div class="row" style="padding-top: 5px;">
                            <span class="tab_title">Կառավարիչ</span>
                            <input ng-model="documentSignatureSetting.SignatureType" ng-true-value="1" ng-false-value="2" type="checkbox" name="SignatureType" id="SignatureType" />
                        </div>
                        

                    </div>
                </div>
                
                


                


            </div>
        </div>

    </div>

</form>











