<style>
    .blueBold {
        font-weight: bold;
        color: blue;
    }
</style>
<script type="text/javascript">
    $("#factoringsContent").mCustomScrollbar({
        theme: "rounded-dark",
        scrollButtons: {
            scrollAmount: 200,
            enable: true
        },
        mouseWheel: {
            scrollAmount: 200
        }
    });
</script>
<div class="product-container" ng-controller="FactoringCtrl" data-ng-init="getFactorings()" ng-show="(hideBlank!='true' && factorings.length==0) || (factorings.length!=0 && factorings.length!=undefined)">
    <div class="header-title">
        <a ui-sref="factorings" style="color:black;">Ֆակտորինգներ</a>
        <div class="product-collapse tipB fa fa-chevron-down" data-original-title="Թաքցնել" onclick="CollapseProductContainer(this)"></div>
    </div>
    <div class="product-collapsable-section">
        <div class="product-container-header">
            <div class="include-closed-products">
                <input type="checkbox" class="css-square-checkbox lrg" id="include-closed-factorings" data-ng-model="filter" ng-true-value="2" ng-false-value="1" ng-change="QualityFilter()">
                <label for="include-closed-factorings" name="include-closed-factorings-checkbox_lbl" class="css-label lrg custom-square-checkbox">Դիտել փակվածները</label>
            </div>
        </div>
        <div class="product-content-table custom-scroll" id="factoringsContent" ng-class="{'product-content-table-full_height' : hideBlank!='true' }">
            <div ng-if="factorings==undefined">
                <loading></loading>
            </div>
            <table class="table table-condensed table-hover" style="background-color:white; margin-top:0px !important;">
                <tbody>
                    <tr ng-repeat="factoring in factorings" ng-if="filter==1 && factorings.length!=0" style="cursor:pointer;" ng-class="{'selected':$index==selectedRow}" ng-click="setClickedRow($index,factoring)" ng-dblclick="openFactoringDetails();">
                        <td class="col-sm-3">
                            {{ ::factoring.TypeDescription }} <br />
                                                              <span style="font-weight:bold;" ng-class="{'blueBold':factoring.Quality==10  }">{{ ::factoring.QualityDescription }}</span>
                            <br /> Վերջ`{{::factoring.EndDate | mydate | date: 'dd/MM/yyyy'}}
                        </td>
                        <td class="col-sm-2" style="text-align:right;">{{ ::factoring.StartCapital | number:2 }} {{ ::factoring.Currency }}</td>
                        <td class="col-sm-1 click_toggle" context="contextFactorings" id="contextMenu"><div id="contextMenu"></div> </td>

                    </tr>
                    <tr ng-if="filter==1 && factorings.length==0 ">
                        <td colspan="3" style="text-align:center;">
                            Առկա չեն գործող ֆակտորինգներ
                        </td>
                    </tr>
                    <tr ng-if="filter!=1"><td style="color:red; border-width:3px" colspan="3">Փակված ֆակտորինգներ </td></tr>
                    <tr ng-repeat="factoring in closingFactorings" ng-if="closingFactorings.length!=0" ng-class="{'selected':$index==selectedRowClose}" ng-click="setClickedRowClose($index)" ng-dblclick="openFactoringDetails();">
                        <td class="col-sm-3">
                            {{ ::factoring.TypeDescription }} <br />
                            {{ ::factoring.QualityDescription }}
                            <br /> Վերջ`{{::factoring.EndDate | mydate | date: 'dd/MM/yyyy'}}

                        </td>
                        <td class="col-sm-2" style="text-align:right;">{{ ::factoring.StartCapital | number:2 }} {{ ::factoring.Currency }}</td>
                        <td class="col-sm-1 click_toggle" context="contextFactorings" id="contextMenu"><div id="contextMenu"></div> </td>
                    </tr>

                </tbody>
            </table>
            <ul id="contextFactorings" class="dropdown-menu">
                <li><a style="color: black;text-decoration:none!important ;" ui-sref="factoringDetails({ productId : selectedProductId,closedFactoring:selectedClosedFactoring })">Մանրամասն դիտարկում</a></li>
                @*<li ng-if="$root.SessionProperties.SourceType == 2 && selectedFactoring.Quality==10 && (selectedFactoring.Type==31 || selectedFactoring.Type==42)  "><a href="" style="color: black;text-decoration:none!important ;" ng-controller="PopUpCtrl" ng-click="params={product:selectedFactoring,orderType:111};openWindow('/LoanProductActivationOrder/PersonalLoanProductActivationOrder','Ֆակտորինգի ակտիվացում','newLoanProductActivation')">Ֆակտորինգի ակտիվացում</a></li>*@

            </ul>
        </div>

    </div>

</div>