@{
    Layout = null;
}
<style>
    h4 {
        color: #247d46;
    }
</style>

                <div ng-if="periodic==1 || periodic==2 || periodic==3 || periodic==4 || periodic==5" >
                        <form>
                               <div>
                                        <periodicorder ng-controller="PeriodicOrderCtrl"></periodicorder>
                               </div>
                        </form>
                    </div>
             

