<form  style="height:100px">
    <div class="top-container">
        <div class="logo-container"></div>
        
        <div class="user-data" style="width:400px">
            Տարբերվում է SWIFT կոդից։Հարցերի դեպքում դիմել Թղթակցային հարաբերությունների կառավարման բաժին։
        </div>
    </div>

</form>