@{
    Layout = null;
}


<form style="width:620px" ng-controller="CardLessCashOutOrderCtrl" ng-init="getCardLessCashOutOrder(selectedOrderId)">


    <div ng-show="order" class="menu-bar dialog-menu light-green " style="margin-left:-5px;margin-top:0">
        <ul id="menu" class="dialog-menu">
            <li>
                <a ng-controller="PopUpCtrl" style="color: black" ng-click="params={selectedOrderId: order.Id};openWindowWithTemplate('cardlesscashoutcancellationorder','Բանկոմատին փոխանցման չեղարկում','cardlesscashoutcancellationorder')">
                    <i class="fa fa-credit-card"></i>
                    Բանկոմատին փոխանցման չեղարկում
                </a>
            </li>
        </ul>
    </div>


    <loading-control scopevariable="order.Id"></loading-control>

    <div class="product-details bhoechie-tab-content" style="min-width:620px;padding-left:10px">

        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Հայտի համար:</div>
            <div class="product-detail-cell product-detail-value">{{order.Id}}</div>
        </div>

        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Գործարքի կոդ:</div>
            <div class="product-detail-cell product-detail-value">{{order.OrderOTP}}</div>
        </div>

        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Մուտքագրման ա/թ:</div>
            <div class="product-detail-cell product-detail-value">{{order.RegistrationDateString}}</div>
        </div>

        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Գործառնական օր:</div>
            <div class="product-detail-cell product-detail-value">{{order.OperationDateString}}</div>
        </div>

        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Դեբետագրվող հաշիվ:</div>
            <div class="product-detail-cell product-detail-value">{{order.DebitAccount.AccountNumber}}</div>
        </div>

        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Կրեդիտագրվող հաշիվ:</div>
            <div class="product-detail-cell product-detail-value"></div>
        </div>

        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Գործարքի գումար (AMD):</div>
            <div class="product-detail-cell product-detail-value" style="word-break: break-word; word-wrap: break-word;">{{order.AmountInAmd }}</div>
        </div>

        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Գործարքի միջնորդավճար (AMD):</div>
            <div class="product-detail-cell product-detail-value" style="word-break: break-word; word-wrap: break-word;">{{order.TransferFee }}</div>
        </div>

        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Կարգավիճակ</div>
            <div ng-if="order.Quality==30" class="product-detail-cell product-detail-value greenStyle">{{order.QualityDescription}}</div>
            <div ng-if="order.Quality==31" class="product-detail-cell product-detail-value redStyle">{{order.QualityDescription}}</div>
            <div ng-if="order.Quality!=31 && order.Quality!=30" class="product-detail-cell product-detail-value">{{order.QualityDescription}}</div>
        </div>


        <div ng-if="order.Quality==31" class="">
            <div ng-controller="OrderCtrl" ng-init="getOrderRejectHistory(selectedOrderId)" class="" style="clear:both;color:#6F6A6A;font-weight:bold">Մերժման պատճառ`</div>
            <div class="redStyle">&nbsp;&nbsp;&nbsp;{{ rejectHistory.ReasonDescription }}</div>
        </div>

        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Կանխիկացման փորձ:</div>
            <div class="product-detail-cell product-detail-value" style="word-break: break-word; word-wrap: break-word;"> {{attemptStatusDescription}} {{ order.RejectionMessage }}</div>
        </div>

        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Կանխիկացման ա/թ:</div>
            <div class="product-detail-cell product-detail-value">{{order.CashoutAttemptDateString}}</div>
        </div>


    </div>
    <div style="clear:both;color:#6F6A6A;font-weight:bold;margin-left:10px">Կատարվել է {{selectedSourceDescription}}-ի միջոցով</div>


</form>
