<form id="paymentOrderForm" ng-controller="PaymentOrderCtrl" ng-init="details=true">
    <loading-control style="margin-left:260px" scopevariable="order"></loading-control>
    <div ng-if="type==1 || type==52 || type==51 || type==56 || type==83  || type==84 || type==85  || type==113 || type==121 || type==123 || type==133 || type==134 || type==145 || type==184 || type==249" ng-init="getPaymentOrder(selectedOrderId);"></div>
    <div ng-if="type==2 || type==53 || type==54 || type==55 || type==65 || type==80  || type==81 || type==82 || type==185" ng-init="getCurrencyExchangeOrder(selectedOrderId)"></div>
    <div ng-if="type==95 || type==122 || type==6" ng-init="getReestrTransferOrder(selectedOrderId)"></div>
    <div id="paymentOrderDetails_menu" class="menu-bar dialog-menu light-green " style="min-width:600px;" ng-if="(((order.Quality == 3 || order.Quality == 20) && $root.SessionProperties.IsCalledFromHB == true && order.Type != 6) && ($root.SessionProperties.AdvancedOptions.isOnlineAcc=='1')) || $root.SessionProperties.IsCalledFromHB != true">
        <ul id="menu" class="dialog-menu">
            <li class="root-menu-item-4 " ng-if="order.Quality!=undefined && (type!=122 || type!=6) &&  $root.SessionProperties.IsCalledFromHB != true" ng-click="getPersonalPaymentOrderDetails(true);">
                <span id="h-menu-item-4"><img id="h-menu-icon-4" class="printButton h-menu-icon">Հանձնարարական</span>
            </li>

            <li class="root-menu-item-5 " ng-if="order.Quality!=undefined && order.Quality ==30 && $root.SessionProperties.IsCalledFromHB != true && type!=249" ng-controller="PopUpCtrl" ng-click="params={removableorder:order};openWindow('../RemovalOrder/RemovalOrder','Հեռացման հայտ','removalOrder',callbackgetPaymentOrder)">
                <span id="h-menu-item-5"><img id="h-menu-icon-5" class="h-menu-icon cancelButton">Հեռացման հայտ</span>
            </li>

            <li class="root-menu-item-5 " ng-if="order.Quality!=undefined && order.Quality !=31 && order.Quality !=30 && order.Quality !=32 && order.Quality !=40 && order.Quality !=41 && order.Quality !=6 && order.Quality !=50 && $root.SessionProperties.IsCalledFromHB != true" ng-controller="PopUpCtrl" ng-click="params={removableorder:order};openWindow('/RemovalOrder/RemovalOrder','Հրաժարման հայտ','removalOrder',callbackgetPaymentOrder)">
                <span id="h-menu-item-5"><img id="h-menu-icon-5" class="h-menu-icon closeAccountButton">Հրաժարման հայտ</span>
            </li>
            <li class="root-menu-item-3 " ng-if="(order.Quality == 3 || order.Quality == 20) && $root.SessionProperties.IsCalledFromHB == true && order.Type != 6" ng-controller="OrderCtrl"
                ng-click="order.Type == 1 && order.SubType == 1 && order.CreditorHasDAHK == true? saveDAHKPaymentType(order.Id,order.ArmPaymentType):confirmOrder(order.Id);">
                <span id="h-menu-item-3"><img id="h-menu-icon-3" class="h-menu-icon" src="~/Content/Images/confirm.png" style="height: 30px;width:36px;margin-top: 6px;">Կատարել</span>
            </li>

        </ul>
    </div>
    <div class="product-details bhoechie-tab-content" style="padding-left:10px;min-width:600px;">

        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Հայտի համար</div>
            <div class="product-detail-cell product-detail-value">{{order.Id}}</div>
        </div>

        <div class="product-detail-row" ng-init="getTypeOfPaymentDescriptions()"
             ng-if="$root.SessionProperties.IsCalledFromHB == true && order.Type == 1 && order.SubType == 1 && order.CreditorHasDAHK == true">
            <div class="product-detail-cell product-detail-lable">Արգելադրման նպատակ</div>
            <div class="product-detail-cell product-detail-value">
                <select ng-init="$root.SessionProperties.IsCalledFromHB == true && order.ArmPaymentType != 0? '':order.ArmPaymentType=undefined"
                        ng-model="order.ArmPaymentType" ng-disabled="order.Quality != 3 && order.Quality != 20"
                        name="PaymentType" id="PaymentType" class="form-control" style="width: 260px;"
                        data-ng-options="k as v for (k,v) in typeOfPaymentDescriptions">
                    <option value="" hidden="hidden" style=" margin-left:25px">Ընտրեք...</option>
                </select>
            </div>
        </div>

        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Մուտքագրման ա/թ</div>
            <div class="product-detail-cell product-detail-value">{{order.RegistrationDateString}}</div>
        </div>

        <div class="product-detail-row" ng-if="$root.SessionProperties.IsCalledFromHB != true">
            <div class="product-detail-cell product-detail-lable">Գործառնական օր</div>
            <div class="product-detail-cell product-detail-value">{{order.OperationDateString}}</div>
        </div>

        <div ng-if="order.Type!=51 && order.Type!=54 && order.Type!=53 && order.Type!=113 && order.Type!=123" class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Դեբետագրվող հաշիվ</div>
            <div class="product-detail-cell product-detail-value">{{order.DebitAccount.AccountNumber}} {{order.DebitAccount.Currency}} {{ debetOldSintAccount }} {{ debetNewSintAccount }}</div>
        </div>

        <div ng-if="order.Type!=52 && order.Type!=55 && order.Type!=53 && order.Type!=113 &&  order.Type!=123 && order.Type!=6 && order.Type!=249" class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Կրեդիտագրվող հաշիվ</div>
            <div class="product-detail-cell product-detail-value">{{order.ReceiverAccount.AccountNumber}} {{order.ReceiverAccount.Currency}} {{ creditOldSintAccount }} {{ creditNewSintAccount }}</div>
        </div>

        <div class="product-detail-row" ng-if="order.Type!=249">
            <div class="product-detail-cell product-detail-lable">Գումար</div>
            <div class="product-detail-cell product-detail-value">{{order.AmountString}} {{ order.Currency }}</div>
        </div>

        <div ng-if="order.TransferFee>0" class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Միջնորդավճար</div>
            <div class="product-detail-cell product-detail-value">{{order.TransferFee}} AMD</div>
        </div>

        <div class="product-detail-row" ng-if="FeesString!=undefined">
            <div class="product-detail-cell product-detail-lable">Միջնորդավճար</div>
            <div class="product-detail-cell product-detail-value">{{FeesString}}</div>
        </div>

        <div ng-if="(order.ConvertationRate>0 && order.ConvertationCrossRate==0)||(order.ConvertationRate==0 && order.ConvertationCrossRate>0)" class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Փոխարժեք</div>
            <div class="product-detail-cell product-detail-value">{{order.ConvertationRate}}</div>
        </div>

        <div class="product-detail-row" ng-if="type!=95 && order.Type!=113 && order.Type!=123 || (order.Type == 6 && order.Description != '')">
            <div class="product-detail-cell product-detail-lable">Նկարագրություն</div>
            <div class="product-detail-cell product-detail-value">{{order.Description}}</div>
        </div>
        <div class="product-detail-row" ng-if="order.ReasonIdDescription != undefined || order.ReasonIdDescription != null">
            <div class="product-detail-cell product-detail-lable">Քարտից ելքագրման պատճառ</div>
            <div class="product-detail-cell product-detail-value">{{order.ReasonIdDescription}}</div>
        </div>
        <div class="product-detail-row" ng-if="type==95 || type==122">
            <div ng-init="type==95?forCashin=true:''" class="product-detail-cell product-detail-lable">Ռեեստրի տվյալներ՝</div>
            <div class="product-detail-cell product-detail-value"><div data-toggle="tooltip" data-trigger="hover" data-placement="top" title="Ռեեստրի տվյալներ"><button ng-controller="PopUpCtrl" ng-click="params={order:order,DebitAccount:order.DebitAccount,forCashin:forCashin,isOrderDetails:true}; openWindow('/PaymentOrder/ReestrDetails','Ռեեստրի տվյալներ','reestrDetails')" style="padding-left: 9px;padding-right: 9px;" type="button" class="btn btn-default" aria-label="Justify"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></button></div></div>
        </div>
        <div class="product-detail-row" ng-if="type==6">
            <div ng-init="type==95?forCashin=true:''" class="product-detail-cell product-detail-lable">Ռեեստրի տվյալներ՝</div>
            <div class="product-detail-cell product-detail-value"><div data-toggle="tooltip" data-trigger="hover" data-placement="top" title="Ռեեստրի տվյալներ"><button ng-controller="PopUpCtrl" ng-click="params={order:order,DebitAccount:order.DebitAccount,forCashin:forCashin,isOrderDetails:false}; openWindow('/PaymentOrder/ReestrDetails','Ռեեստրի տվյալներ','reestrDetails')" style="padding-left: 9px;padding-right: 9px;" type="button" class="btn btn-default" aria-label="Justify"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></button></div></div>
        </div>

        <orderoppersondetails opperson="order.OPPerson" ng-show="order.OPPerson" ng-if="$root.SessionProperties.IsCalledFromHB != true"></orderoppersondetails>

        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Կարգավիճակ</div>
            <div ng-if="order.Quality==30" class="product-detail-cell product-detail-value greenStyle">{{ order.QualityDescription }}</div>
            <div ng-if="order.Quality==31" class="product-detail-cell product-detail-value redStyle">{{ order.QualityDescription }}</div>
            <div ng-if="order.Quality!=31 && order.Quality!=30" class="product-detail-cell product-detail-value">{{ order.QualityDescription }}</div>
        </div>


        <div ng-if="order.Quality==31" ng-controller="OrderCtrl" ng-init="getOrderRejectHistory(selectedOrderId)" class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Մերժման պատճառ`</div>
            <div class="product-detail-cell product-detail-value"><span class="redStyle">{{ rejectHistory.ReasonDescription }}</span></div>
        </div>

    </div>
    <div style="clear:both;color:#6F6A6A;font-weight:bold;margin-left:10px" ng-if="$root.SessionProperties.IsCalledFromHB != true">Կատարվել է {{selectedSourceDescription}}-ի միջոցով</div>
</form>

