
@{
    Layout = null;
}

<style>
    #excelFillRule .product-content-table-full_height {
        min-height: 150px !important;
        width:auto;
    }
</style>
<div class="product-container" id="excelFillRule" style="margin:10px;">
    <div class="header-title">

        Լրացման կարգ
    </div>
    <div class="product-collapsable-section">
        <div class="product-content-table custom-scroll product-content-table-full_height">
            <div class="product-detail-row">
                <div class="product-detail-cell product-detail-lable">Դեբետ հաշիվ</div>
                <div class="product-detail-cell product-detail-value">G10</div>
            </div>
            <div class="product-detail-row">
                <div class="product-detail-cell product-detail-lable">Կրեդիտ հաշիվ</div>
                <div class="product-detail-cell product-detail-value">G14</div>
            </div>
            <div class="product-detail-row">
                <div class="product-detail-cell product-detail-lable">Ընդհանուր գումար</div>
                <div class="product-detail-cell product-detail-value">H10</div>
            </div>
            <div class="product-detail-row">
                <div class="product-detail-cell product-detail-lable">Նկարագրությունը լրացնել վերջին փոխանցման տողի հաջորդ տողից հաշված</div>
                <div class="product-detail-cell product-detail-value">10-րդ տողի A սյունակում</div>
            </div>
            <div class="product-detail-row">
                <div class="product-detail-cell product-detail-lable">Անունները լրացնելուց հետո դատարկ տող բաց թողնել,</div>
            </div>
            <div class="product-detail-row">
                <div class="product-detail-cell product-detail-lable">իսկ անունների տողերի միջև դատարկ տող բաց չթողնել</div>
            </div>
        </div>

    </div>
</div>
