@{
    Layout = null;
}
<style>
    #PlasticCardSMSServiceHistory {
        overflow-x: hidden;
        overflow-y: hidden;
        width: 850px;
    }


        #PlasticCardSMSServiceHistory td, th {
            border: 1px solid #cecece;
            font-size: 13px;
        }

        #PlasticCardSMSServiceHistory top th {
            font-size: 12px;
        }

    #historyTable table .top td {
        font-size: 12px;
    }

    .redBackground {
        background-color: rosybrown;
    }
</style> 


<div style="min-height:300px;min-width:985px" id="PlasticCardSMSServiceHistory" ng-controller="PlasticCardSMSServiceOrderCtrl" ng-init="getPlasticCardSMSServiceHistory(cardNumber)">
    <div class="product-container" style="width:auto;min-width:940px">

        <div class="header-title">
            Պատմություն
            <div class="product-collapse tipB fa fa-chevron-down" data-original-title="Թաքցնել" onclick="CollapseProductContainer(this)"></div>
        </div>

        <div class="product-collapsable-section " style="margin-bottom:15px;">

            <div id="historyTable" class="product-content-table custom-scroll">
                <table class="table table-condensed table-hover" style="background-color:white; margin-top:0px !important;">
                    <thead class="product-container-header">
                        <tr>
                            <td style="text-align:center;" class="col-sm-2">Գործողության տեսակ</td>
                            <td style="text-align:center;" class="col-sm-2">Կատարման ա/թ</td>
                            <td style="text-align:center;" class="col-sm-2">SMS-ի տեսակ և նվազագույն գումար</td>
                            <td style="text-align:center;" class="col-sm-5">Ուղարկված ֆայլ</td>
                            <td style="text-align:center;" class="col-sm-2">Հեռախոսահամար</td>
                            <td style="text-align:center;" class="col-sm-2">ԱրՔա-ի պատասխան</td>
                            <td style="text-align:center;" class="col-sm-1">ՊԿ</td>

                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="history in PlasticCardSMSServiceHistory">
                            <td style="text-align:center;" class="col-sm-2">{{::history.OperationTypeDescription}}</td>
                            <td style="text-align:center;" class="col-sm-2">{{::history.RegDate| mydate | date:'dd/MM/yyyy'}}</td>
                            <td style="text-align:center;" class="col-sm-3">{{::history.SmsTypeAndSum}}</td>
                            <td style="text-align:center;" class="col-sm-3">{{::history.FileName}}</td>
                            <td style="text-align:center;" class="col-sm-3">{{::history.MobilePhone}}</td>
                            @* <td style="text-align:center;" class="col-sm-2">{{::history.ArcaAnswer}}</td>*@
                            <td style="text-align:center;" class="col-sm-2">
                                <span ng-show="history.ArcaAnswer==0">OK</span>
                                <span ng-show="history.ArcaAnswer=='ERROR'">ERROR</span>
                            </td>
                            @*<td style="text-align:center;" class="col-sm-1">{{::history.SetNumber}}</td>*@
                            <td style="text-align:center;" class="col-sm-1">
                                <span ng-show="history.SetNumber!=0">{{::history.SetNumber}} </span>                                
                            </td>
                        </tr>
                        <tr ng-if="PlasticCardSMSServiceHistory.length==0">
                            <td colspan="7" style="text-align:center">Տվյալներ առկա չեն</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>


<script type="text/javascript">
    $("#historyTable").mCustomScrollbar({
        theme: "rounded-dark",
        scrollButtons: {
            scrollAmount: 200,
            enable: true
        },
        mouseWheel: {
            scrollAmount: 200
        }
    });
</script>

<script>
    $("[data-toggle=tooltip]").tooltip({
        placement: $(this).data("placement") || 'bottom'
    });
</script>





