@{
    Layout = null;
}


<form style="width:620px" ng-controller="PlasticCardSMSServiceOrderCtrl" ng-init="getPlasticCardSMSServiceOrder(selectedOrderId)">

    <loading-control style="margin-left:260px" scopevariable="order"></loading-control>
    <div ng-show="order" class="menu-bar dialog-menu light-green " style="margin-left:-5px;margin-top:0">
        <ul id="menu" class="dialog-menu">
            <li class="root-menu-item-5 " ng-if="order.Quality == 3"
                ng-controller="PopUpCtrl" ng-click="params={removableorder:order};openWindow('/RemovalOrder/RemovalOrder','Հեռացման հայտ','removalOrder',callbackgetPaymentOrder)">
                <span id="h-menu-item-5"><img id="h-menu-icon-5" class="h-menu-icon cancelButton" alt="">Հեռացման հայտ</span>
            </li>
        </ul>
    </div>
    <div class="product-details bhoechie-tab-content" style="min-width:620px;padding-left:10px">
        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Քարտի համար</div>
            <div class="product-detail-cell product-detail-value">{{order.CardNumber}}</div>
        </div>

        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Կատարման ա/թ</div>
            <div class="product-detail-cell product-detail-value">{{order.RegistrationDateString}}</div> 
        </div>
        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Գործողություն </div>
            <div class="product-detail-cell product-detail-value">{{order.OperationTypeDescription}}</div>
        </div>

        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">ՊԿ։</div>
            <div class="product-detail-cell product-detail-value">{{order.SetNumber}}</div>
        </div>

    </div>
    <div style="clear:both;color:#6F6A6A;font-weight:bold;margin-left:10px">Կատարվել է {{selectedSourceDescription}}-ի միջոցով</div>


</form>
