<form id="subjectiveClassificationDetailsForm" style="width:550px" ng-controller="LeasingCustomerClassificationCtrl" ng-init="GetCustomerSubjectiveClassificationGroundsByID(); ">
     

    <div class="product-details bhoechie-tab-content" style="min-width:550px;padding-left:10px">


        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Գրանցման ա/թ</div>
            <div class="product-detail-cell product-detail-value">{{subjectiveClassificationGroundsByID.RegistrationDateString}}</div>
        </div>
        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Գրանցող ՊԿ</div>
            <div class="product-detail-cell product-detail-value">{{subjectiveClassificationGroundsByID.SetNumber}}</div>
        </div>
        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Տեսակ</div>
            <div class="product-detail-cell product-detail-value">{{subjectiveClassificationGroundsByID.ClassificationType}}</div>
        </div>
        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Հիմք</div>
            <div class="product-detail-cell product-detail-value">{{subjectiveClassificationGroundsByID.Description}}</div>
        </div>
        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Դաս</div>
            <div class="product-detail-cell product-detail-value">{{subjectiveClassificationGroundsByID.RiskClassName}}</div>
        </div>
        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Զեկուցագրի համար</div>
            <div class="product-detail-cell product-detail-value">{{subjectiveClassificationGroundsByID.ReportNumber}}</div>
        </div>
        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Զեկուցագրի ա/թ</div>
            <div class="product-detail-cell product-detail-value">{{subjectiveClassificationGroundsByID.ReportDateString}}</div>
        </div>
        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Լրացուցիչ նկարագրություն</div>
            <div class="product-detail-cell product-detail-value">{{subjectiveClassificationGroundsByID.AdditionalDescription}}</div>
        </div>
        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Դասակարգման ա/թ</div>
            <div class="product-detail-cell product-detail-value">{{subjectiveClassificationGroundsByID.ClassificationDateString}}</div>
        </div>
        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Ժ/անց օրեր</div>
            <div class="product-detail-cell product-detail-value">{{subjectiveClassificationGroundsByID.OverdueDays}}</div>
        </div>

        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Կարգավիճակ</div>
            <div class="product-detail-cell product-detail-value">{{subjectiveClassificationGroundsByID.Status}}</div>
        </div>
        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Փակման ա/թ</div>
            <div class="product-detail-cell product-detail-value">{{subjectiveClassificationGroundsByID.ClosingReportDateString}}</div>
        </div>
        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Փակող ՊԿ</div>
            <div class="product-detail-cell product-detail-value">{{subjectiveClassificationGroundsByID.ClosedSetNumber}}</div>
        </div>
        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Ֆայլի անվանումը </div>
            <div class="product-detail-cell product-detail-value">{{subjectiveClassificationGroundsByID.FileName}}</div>
        </div>
    </div>


</form>



