<style>
  #CardTariff table,#CardTariff th,#CardTariff td {
        border: 1px solid #cecece;
        border-collapse: collapse;
    }

    .closed{
        color:red;
    }

</style>

<div ng-controller="CardCtrl" ng-init="getCardTariffContract()" style="width:800px;margin-left:15px;margin-right:15px;">
    <loading-control style="margin-left:260px" scopevariable="CardTariffContract"></loading-control>
    <br />
    <div>
        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Աշխ. ծրագրի համար</div>
            <div class="product-detail-cell product-detail-value">{{CardTariffContract.TariffID}}</div>
        </div>
        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Անվանում</div>
            <div class="product-detail-cell product-detail-value">{{CardTariffContract.Description}}</div>
        </div>
        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Հասցե</div>
            <div class="product-detail-cell product-detail-value">{{CardTariffContract.Address}}</div>
        </div>
        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Սկիզբ</div>
            <div class="product-detail-cell product-detail-value">{{CardTariffContract.StartDateString}}</div>
        </div>
        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Վերջ</div>
            <div class="product-detail-cell product-detail-value" ng-class="CardTariffContract.EndDateString == null ? '' : 'closed'">{{CardTariffContract.EndDateString == null ? '-' : CardTariffContract.EndDateString }}</div>
        </div>
    </div>
    <table id="CardTariff" >
        <thead>
            <tr class="product-container-header">
                <td rowspan="2" class="text-center col-xs-2">Քարտ</td>
                <td rowspan="2" class="text-center col-xs-1">Արժ.</td>
                <td colspan="3" class="text-center col-xs-3">Կանխիկացում</td>
                <td colspan="2" class="text-center col-xs-2">Տոկոսադրույք</td>
                <td rowspan="2" class="text-center col-xs-1">Ոչ տոկոսային ժ-ն</td>

            </tr>
            <tr class="product-container-header">
                <td class="text-center col-xs-1">ACBA</td>
                <td class="text-center col-xs-1">այլ բանկեր</td>
                <td class="text-center col-xs-1">արտերկիր</td>
                <td class="text-center col-xs-1">Դրական %</td>
                <td class="text-center col-xs-1">Բացաս. %</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="CardTariff in ::CardTariffContract.CardTariffs">
                <td class="col-xs-2">
                    <img ng-if="CardTariff.CardSystem==3" src="~/Content/Images/Amex_icon.png" height="20" width="20" align="left" style="margin-right:5px;margin-top:3px;" />
                    <img ng-if="CardTariff.CardSystem==4" src="~/Content/Images/Visa_icon.png" height="20" width="20" align="left" style="margin-right:5px;margin-top:3px;" />
                    <img ng-if="CardTariff.CardSystem==5" src="~/Content/Images/MC_icon.png" height="20" width="20" align="left" style="margin-right:5px;margin-top:3px;" />
                    <img ng-if="CardTariff.CardSystem==9" src="~/Content/Images/arca.png" height="20" width="20" align="left" style="margin-right:5px;margin-top:3px;" />
                    <span>{{::CardTariff.CardTypeDescription}}</span>
                </td>
                <td class="text-center col-xs-2">{{::CardTariff.Currency}}</td>
                <td class="text-center col-xs-2">{{::CardTariff.CashRateOur*100  | number:2}} %</td>
                <td class="text-center col-xs-2">{{::CardTariff.CashRateOther *100 | number:2}} %</td>
                <td class="text-center col-xs-2">{{::CardTariff.CashRateInternational*100 | number:2}} %</td>
                <td class="text-center col-xs-2">{{::CardTariff.PositiveRate*100 | number:2}} %</td>
                <td class="text-center col-xs-2">{{::CardTariff.NegativeRate*100 | number:2}} %</td>
                <td class="text-center col-xs-2">{{CardTariff.GracePeriod== 0 ? '-' : CardTariff.GracePeriod }}</td>
            </tr>
        </tbody>
    </table>
    <br />
</div>
