
@{
    Layout = null;
}

<div>
    <form style="min-width:600px" ng-controller="CardCtrl" ng-init="getVisaAliasOrder(selectedOrderId)">
        
        <div>
      
            <div class="product-details bhoechie-tab-content" style="min-width:600px;margin-right:10px;padding-left:10px">

                <div class="product-detail-row">
                    <div class="product-detail-cell product-detail-lable">Հայտի համար</div>
                    <div class="product-detail-cell product-detail-value">{{order.Id}}</div>
                </div>

                <div class="product-detail-row">
                    <div class="product-detail-cell product-detail-lable">Մուտքագրման ա/թ</div>
                    <div class="product-detail-cell product-detail-value">{{order.RegistrationDateString}}</div>
                </div>

                <div class="product-detail-row">
                    <div class="product-detail-cell product-detail-lable">Գործառնական օր</div>
                    <div class="product-detail-cell product-detail-value">{{order.OperationDateString}}</div>
                </div>

                <div class="product-detail-row">
                    <div class="product-detail-cell product-detail-lable">Կցված բջջ. հեռ.</div>
                    <div class="product-detail-cell product-detail-value">{{order.Alias}}</div>
                </div>

                <div class="product-detail-row">
                    <div class="product-detail-cell product-detail-lable">Նշումներ</div>
                    <div class="product-detail-cell product-detail-value">{{order.ReasonTypeDescription}}</div>
                </div>
                <div class="product-detail-row" ng-if="order.SubType==1">
                    <div class="product-detail-cell product-detail-lable">Գործողության ենթատեսակ</div>
                    <div class="product-detail-cell product-detail-value"> Visa Alias մուտքագրում</div>
                </div>
                <div class="product-detail-row" ng-if="order.SubType==2">
                    <div class="product-detail-cell product-detail-lable">Գործողության ենթատեսակ</div>
                    <div class="product-detail-cell product-detail-value"> Visa Alias Փոփոխություն</div>
                </div>
                <div class="product-detail-row" ng-if="order.SubType==3">
                    <div class="product-detail-cell product-detail-lable">Գործողության ենթատեսակ</div>
                    <div class="product-detail-cell product-detail-value"> Visa Alias հեռացում</div>
                </div>



                <div class="product-detail-row">
                    <div class="product-detail-cell product-detail-lable">Կարգավիճակ</div>
                    <div ng-if="order.Quality==30" class="product-detail-cell product-detail-value greenStyle">{{order.QualityDescription}}</div>
                    <div ng-if="order.Quality==31" class="product-detail-cell product-detail-value redStyle">{{order.QualityDescription}}</div>
                    <div ng-if="order.Quality!=31 && order.Quality!=30" class="product-detail-cell product-detail-value">{{order.QualityDescription}}</div>
                </div>

                <div ng-if="order.Quality==31" ng-controller="OrderCtrl" class="product-detail-row">
                    <div ng-init="getOrderRejectHistory(selectedOrderId)" class="product-detail-cell product-detail-lable" style="clear:both;color:#6F6A6A;font-weight:bold">Մերժման պատճառ`</div>
                    <div class="product-detail-cell product-detail-value redStyle">&nbsp;&nbsp;&nbsp;{{ rejectHistory.ReasonDescription }}</div>
                </div>

            </div>
            <div style="clear:both;color:#6F6A6A;font-weight:bold; margin-left:10px">Կատարվել է {{selectedSourceDescription}}-ի միջոցով</div>

            <br />

        </div>
    </form>
</div>

