@{
    Layout = null;
}
<form style="width:620px" ng-controller="CreditLineCardReplaceCtrl" ng-init="getCreditLineCardReplaceOrder(selectedOrderId)">
    <loading-control scopevariable="order.Id"></loading-control>
    <div ng-show="order" class="menu-bar dialog-menu light-green " style="margin-left:-5px;margin-top:0">
        <ul id="menu" class="dialog-menu">
            <li class="root-menu-item-5 " ng-if="order.Quality == 3"
                ng-controller="PopUpCtrl" ng-click="params={removableorder:order};openWindow('/RemovalOrder/RemovalOrder','Հեռացման հայտ','removalOrder',callbackgetPaymentOrder)">
                <span id="h-menu-item-5"><img id="h-menu-icon-5" class="h-menu-icon cancelButton" alt="">Հեռացման հայտ</span>
            </li>
        </ul>
    </div>
    <div class="product-details bhoechie-tab-content" style="min-width:620px;padding-left:10px">
        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Հայտի համար</div>
            <div class="product-detail-cell product-detail-value">{{order.Id}}</div>
        </div>
        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Քարտի համար</div>
            <div class="product-detail-cell product-detail-value">{{order.Card.CardNumber}}</div>
        </div>

        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Քարտի արժույթ</div>
            <div class="product-detail-cell product-detail-value">{{order.Currency}}</div>
        </div>

        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Քարտի տեսակ</div>
            <div class="product-detail-cell product-detail-value">{{order.Card.CardType}}</div>
        </div>

        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">SMS հեռախոսահամար</div>
            <div class="product-detail-cell product-detail-value">{{order.PhoneNumber}}</div>
        </div>

        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">PIN-ի ստացման եղանակ</div>
            <div class="product-detail-cell product-detail-value">{{(order.CardPINCodeReceivingType==1)?"PIN կոդի ծրարով":(order.CardPINCodeReceivingType==2)? "SMS-ի միջոցով":""}}</div>
        </div>

        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Մուտքագրման ա/թ</div>
            <div class="product-detail-cell product-detail-value">{{order.RegistrationDateString}}</div>
        </div>

        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Գործառնական օր</div>
            <div class="product-detail-cell product-detail-value">{{order.OperationDateString}}</div>
        </div>

        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Նկարագրություն</div>
            <div class="product-detail-cell product-detail-value">{{order.Description}}</div>
        </div>

        <orderoppersondetails opperson="order.OPPerson" ng-show="order.OPPerson"></orderoppersondetails>
        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Կարգավիճակ</div>
            <div ng-if="order.Quality==30" class="product-detail-cell product-detail-value greenStyle">{{order.QualityDescription}}</div>
            <div ng-if="order.Quality==31" class="product-detail-cell product-detail-value redStyle">{{order.QualityDescription}}</div>
            <div ng-if="order.Quality!=31 && order.Quality!=30" class="product-detail-cell product-detail-value">{{order.QualityDescription}}</div>
        </div>
        <div ng-if="order.Quality==31" class="">
            <div ng-controller="OrderCtrl" ng-init="getOrderRejectHistory(selectedOrderId)" class="" style="clear:both;color:#6F6A6A;font-weight:bold">Մերժման պատճառ`</div>
            <div class="redStyle">&nbsp;&nbsp;&nbsp;{{ rejectHistory.ReasonDescription }}</div>
        </div>
    </div>
    <div style="clear:both;color:#6F6A6A;font-weight:bold;margin-left:10px">Կատարվել է {{selectedSourceDescription}}-ի միջոցով</div>


</form>

