@{
    Layout = null;
}

<form style="width:500px" ng-controller="BondAmountChargeOrderCtrl" data-ng-init="getBondAmountChargeOrder(selectedOrderId)">
    <loading-control style="margin-left:20em" scopevariable="amountChargeOrderDetails"></loading-control>
    <div ng-if="amountChargeOrderDetails.Quality!=undefined && amountChargeOrderDetails.Quality !=31 && amountChargeOrderDetails.Quality !=30 && amountChargeOrderDetails.Quality !=32
                            && amountChargeOrderDetails.Quality !=40 && amountChargeOrderDetails.Quality !=41 && amountChargeOrderDetails.Quality !=6 && amountChargeOrderDetails.Quality !=50"
         ng-show="amountChargeOrderDetails" class="menu-bar dialog-menu light-green " style="margin-left:-5px;margin-top:0">
        <ul id="menu" class="dialog-menu">
            <li class="root-menu-item-5 " ng-controller="PopUpCtrl" ng-click="params={removableorder:amountChargeOrderDetails};openWindow('/RemovalOrder/RemovalOrder','Հրաժարման հայտ','removalOrder')">
                <span id="h-menu-item-5"><img id="h-menu-icon-5" class="h-menu-icon closeAccountButton">Հրաժարման հայտ</span>
            </li>
        </ul>
    </div>

	<div ng-show="amountChargeOrderDetails" class="product-details bhoechie-tab-content" style="min-width:500px;padding-left:10px">

		<div class="product-detail-row">
			<div class="product-detail-cell product-detail-lable">Հայտի համար</div>
			<div class="product-detail-cell product-detail-value">{{amountChargeOrderDetails.Id}}</div>
		</div>

		<div class="product-detail-row">
			<div class="product-detail-cell product-detail-lable">Մուտքագրման ա/թ</div>
			<div class="product-detail-cell product-detail-value">{{amountChargeOrderDetails.RegistrationDateString}}</div>
		</div>

		<div class="product-detail-row">
			<div class="product-detail-cell product-detail-lable">Գործառնական օր</div>
			<div class="product-detail-cell product-detail-value">{{amountChargeOrderDetails.OperationDateString}}</div>
		</div>

		<div class="product-detail-row">
			<div class="product-detail-cell product-detail-lable">Կարգավիճակ</div>
			<div ng-if="amountChargeOrderDetails.Quality==30" class="product-detail-cell product-detail-value greenStyle">{{amountChargeOrderDetails.QualityDescription}}</div>
			<div ng-if="amountChargeOrderDetails.Quality==31" class="product-detail-cell product-detail-value redStyle">{{amountChargeOrderDetails.QualityDescription}}</div>
			<div ng-if="amountChargeOrderDetails.Quality!=31 && amountChargeOrderDetails.Quality!=30" class="product-detail-cell product-detail-value">{{amountChargeOrderDetails.QualityDescription}}</div>
		</div>

		<div class="product-detail-row">
			<div class="product-detail-cell product-detail-lable">Դրամական միջոցների մուտքագրման ամսաթիվ</div>
			<div class="product-detail-cell product-detail-value">{{amountChargeOrderDetails.Bond.AmountChargeDateToString}}</div>
		</div>

		<div class="product-detail-row">
			<div class="product-detail-cell product-detail-lable">Դրամական միջոցների մուտքագրման ժամ</div>
			<div class="product-detail-cell product-detail-value">{{amountChargeOrderDetails.Bond.AmountChargeTimeToString}}</div>
		</div>

		<div class="product-detail-row" ng-if="amountChargeOrderDetails.IsCashInTransit !=  undefined">
			<div class="product-detail-cell product-detail-lable">Տարանցիկ հաշվին մուտքի տեսակ</div>
			<div class="product-detail-cell product-detail-value">
				{{amountChargeOrderDetails.IsCashInTransit == 1 ? 'Կանխիկ' : 'Անկանխիկ'}}</div>
		</div>


		<div ng-if="amountChargeOrderDetails.Quality==31" class="">
			<div ng-controller="OrderCtrl" ng-init="getOrderRejectHistory(selectedOrderId)" class="" style="clear:both;color:#6F6A6A;font-weight:bold">Մերժման պատճառ`</div>
			<div class="redStyle">&nbsp;&nbsp;&nbsp;{{ rejectHistory.ReasonDescription }}</div>
		</div>
	</div>

    <div style="clear:both;color:#6F6A6A;font-weight:bold;margin-left:10px">Կատարվել է {{selectedSourceDescription}}-ի միջոցով</div>
</form>
