@{
    Layout = null;
}


<div id="bondAmountChargeOrderLoad" class="overlay hidden">
    <img class="loader-image non-selectable" src="../../Content/Images/invisible.png" />
</div>
<form ng-controller="BondAmountChargeOrderCtrl"  name="BondAmountChargeOrderForm" style="min-width:670px" id="BondAmountChargeOrderForm" data-ng-init="initBondAmountChargeOrder()" role="form" class="form-horizontal" prevent-enter-submit novalidate labels-required>
    <div id="receivecheque_menu" class="menu-bar dialog-menu light-green">
        <ul id="menu" class="dialog-menu">
            <li class="root-menu-item-4 " ng-click="BondAmountChargeOrderForm.$setSubmitted();BondAmountChargeOrderForm.$valid && saveBondAmountChargeOrder(bondID);">
                <span id="h-menu-item-4"><img id="h-menu-icon-4" class="submitButton h-menu-icon">Պահպանել</span>
            </li>

            <li class="root-menu-item-6 ">
                <span id="h-menu-item-6" onclick="return false;">
                    <img id="h-menu-icon-6" class="h-menu-icon printButton">Փաստաթղթեր
                    <img id="arrow-down" class="arrowButton">
                </span>
                <ul>
                    <li id="v-menuItem-6.1" ng-click="getBondAcquirementApplication()">
                        <span>Պարտատոմսերի ձեռքբերման հայտ</span>
                    </li>

                </ul>
            </li>

            <li class="root-menu-item-2 " ng-if="1==2">
                <span id="h-menu-item-7"><i class="cashInButton h-menu-icon" data-toggle="tooltip" data-trigger="hover" data-placement="bottom" title=""></i></span>
                <span>
                    <a style="color:black" href="" ng-controller="PopUpCtrl" ng-click="openWindowWithTemplate('transitpaymentorder','Մուտք տարանցիկ հաշվին','transitpaymentorder')">
                        Մուտք տարանցիկ հաշվին
                    </a>
                </span>
            </li>

            <li class="root-menu-item-4 ">
                <span id="h-menu-item-4" onclick="return false;">
                    <img id="h-menu-icon-4" class="cashInButton h-menu-icon">Մուտք տարանցիկ հաշվին
                    <img id="arrow-down" class="arrowButton">
                </span>
                <ul>
                    <li id="v-menuItem-3.1" class="" ng-controller="PopUpCtrl" ng-click="params={bondAmountChargeOrder:order,checkAmount:1,forBond:true};openWindowWithTemplate('transitpaymentorder','Մուտք տարանցիկ հաշվին','transitpaymentorder')">
                        <span>Կանխիկ մուտք</span>
                    </li>
                    <li id="v-menuItem-3.2" ng-controller="PopUpCtrl" ng-click="params={bondAmountChargeOrder:order,forBond:true,checkForDebitAccount:1,checkForReciverAccount:1,forTransitTransfers:true,orderType:80};openWindowWithTemplate('currencyexchangeorder','Տարանցիկ հաշվին մուտք փոխարկումով','exchangeorder')">
                        <span>Կանխիկ մուտք (փոխարկում)</span>
                    </li>
                    <li id="v-menuItem-3.1" class="" ng-controller="PopUpCtrl" ng-click="params={bondAmountChargeOrder:order,checkAmount:1,forBond:true,nonCashPayment:true};openWindowWithTemplate('transitpaymentorder','Մուտք տարանցիկ հաշվին','transitpaymentorder')">
                        <span>Անկանխիկ մուտք</span>
                    </li>
                    <li id="v-menuItem-3.2" ng-controller="PopUpCtrl" ng-click="params={bondAmountChargeOrder:order,forBond:true,checkForDebitAccount:0,checkForReciverAccount:1,forTransitTransfers:true,orderType:185};openWindowWithTemplate('currencyexchangeorder','Տարանցիկ հաշվին մուտք փոխարկումով','exchangeorder')">
                        <span>Անկանխիկ մուտք (փոխարկում)</span>
                    </li>
                </ul>
            </li>


            <li class="root-menu-item-5 " onclick="CloseBPDialog('amountChargeOrderForBond')">
                <span id="h-menu-item-5"><img id="h-menu-icon-5" class="h-menu-icon cancelButton">Հրաժարվել</span>
            </li>
        </ul>
        <div id="right-menu" style="display:none;">
        </div>
    </div>

	<div class="col-sm-12" style="padding-left:10px">
		<div style="max-width:660px;">
			<errors></errors>
		</div>

		<div class="form-group">
			<label class="tab_title col-sm-6 " for="AmountChargeDate">Դրամական միջոցների մուտքագրման ամսաթիվ</label>
			<div class="col-sm-6">
				<div class="row">
					<div class="multiple_columns col-sm-12">
						<input type="date" class="form-control" style="text-align: left;" id="AmountChargeDate" name="AmountChargeDate" ng-model="order.Bond.AmountChargeDate" required />
					</div>
				</div>

				<div class="row">
					<ng-messages ng-if="BondAmountChargeOrderForm.$submitted || BondAmountChargeOrderForm.AmountChargeDate.$dirty"
								 for="BondAmountChargeOrderForm.AmountChargeDate.$error">
						<ng-message when="required" class="errors">
							Դրամական միջոցների մուտքագրման <br /> ամսաթիվը մուտքագրված չէ
						</ng-message>
					</ng-messages>
				</div>
			</div>
		</div>


		<div class="form-group">
			<label class="tab_title col-sm-6 " for="ChargeDateForTime">Դրամական միջոցների մուտքագրման ժամ</label>
			<div class="col-sm-6">
				<div class="row">
					<div class="multiple_columns col-sm-12">
						<input class="form-control tab_title unstyled" type="time" style="text-align: left;" id="ChargeDateForTime" name="ChargeDateForTime"
							   ng-model="ChargeDateForTime" required />
					</div>
				</div>

				<div class="row">
					<ng-messages ng-if="BondAmountChargeOrderForm.$submitted || BondAmountChargeOrderForm.ChargeDateForTime.$dirty"
								 for="BondAmountChargeOrderForm.ChargeDateForTime.$error">
						<ng-message when="required" class="errors">
							Դրամական միջոցների մուտքագրման <br /> ժամը մուտքագրված չէ
						</ng-message>

					</ng-messages>
				</div>
			</div>
		</div>

	
		<div class="form-group">
			<br />
			<span style="display:block; color:red; font-weight:bold;padding-left: 20px">ՈՒՇԱԴՐՈՒԹՅՈՒՆ. տարանցիկ հաշվի մուտքի տեսակը ընտրել խիստ ուշադիր:</span><br />
			<label class="tab_title col-sm-6">
				Տարանցիկ հաշվին մուտքի տեսակ

			</label>
			<div class="col-sm-6">
				<div class="row">
					<select class="form-control" ng-model="isCashOrNonCash" name="Cash_NonCash" required>
						<option value="" hidden>Ընտրեք...</option>
						<option value="1">Կանխիկ</option>
						<option value="0">Անկանխիկ</option>
					</select>
				</div>

				<div class="row">
					<ng-messages ng-if="BondAmountChargeOrderForm.$submitted || BondAmountChargeOrderForm.Cash_NonCash.$dirty"
								 for="BondAmountChargeOrderForm.Cash_NonCash.$error">
						<ng-message when="required" class="errors">
							Ընտրեք հաշիվը
						</ng-message>
					</ng-messages>
				</div>
			</div>
		</div>

		<br />
		<div class="panel panel-success" style="margin-bottom: 10px;max-width:650px;">
			<div class="panel-heading">
				Փաստաթղթերի կցում
			</div>
			<div class="panel-body" style="padding-bottom: 10px; padding-top: 10px;">
				<div class="product-container-header">
					&nbsp;&nbsp;&nbsp;
					<i class="add-new-product " data-toggle="tooltip" data-trigger="hover" data-placement="bottom" title="Նոր փաստաթուղթ"
					   ng-click="newFile();"></i>

				</div>
				<div class="form-group">
					<div ng-repeat="counter in attachmentsCounter">
						<div class="col-sm-4">

							<div>
								<label class="tab_title col-sm-5">Ֆայլ</label>
								<div flow-init="{singleFile:true}"
									 flow-files-submitted="$flow.upload()"
									 flow-files-added="convertfile($files, $event, $flow, $index)"
									 flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1,pdf:1}[$file.getExtension()]"
									 flow-file-success="$file.msg = $message"
									 flow-name="obj.flow">
									<div class="thumbnail ng-hide" ng-show="!$flow.files.length" style="margin-bottom:5px">
										<img src="~/Content/Images/blog-no-image.png" style="max-width:150px;max-height:150px;min-height:150px;min-width:150px;" />
									</div>
									<div class="thumbnail" ng-show="$flow.files.length" style="margin-bottom:5px">
										<img flow-img="$flow.files[0]" style="max-width:150px;max-height:150px;min-height:150px;min-width:150px;" ng-if="$flow.files[0].getExtension() != 'pdf' " />
										<img src="~/Content/Images/pdf.png" style="max-width:150px;max-height:150px;" ng-if="$flow.files[0].getExtension() == 'pdf' " />
										<div class="additionalInfoLabel">
											Ֆայլի անվանում` <b>{{$flow.files[0].name}}</b>
										</div>

										<div ng-if="$flow.files[0].size > 307200" style="color:red;">
											<span class="glyphicon glyphicon-warning-sign "> Կցված ֆայլի չափը մեծ է 300kb-ից:</span>
										</div>
									</div>
									<div>
										<span class="btn btn-sm btn-primary ng-hide" ng-show="!$flow.files.length" flow-btn="" style="min-width:110.78px;"><span class="glyphicon glyphicon-upload"></span>&nbsp;Կցել ֆայլ<input type="file" style="visibility: hidden; position: absolute;"></span>
										<span class="btn btn-sm btn-info" ng-show="$flow.files.length" flow-btn=""><span class="glyphicon glyphicon-refresh"></span>&nbsp;Փոխել ֆայլը<input type="file" style="visibility: hidden; position: absolute;"></span>
										<span class="btn btn-sm btn-danger" ng-show="$flow.files.length" ng-click="$flow.cancel();removeFile($index);" style="min-width:110.78px;">
											<span class="glyphicon glyphicon-trash"></span>&nbsp;
											Հեռացնել
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>

	</div>
</form>
