@{
    Layout = null;
}
<style>


    .selected li {
        background-color: red;
    }

    .scroll-div {
        height: 210px;
        overflow: auto;
        border: solid;
    }

    .panel-body {
        padding-left: 0px;
        padding-right: 0px;
    }

    thead tr {
        height: 50px;
    }
</style>
<form ng-controller="CredentialOrderCtrl" data-ng-init="getCredentialOrder(selectedOrderId)">
    <loading-control style="margin-left:20em" scopevariable="order"></loading-control>
    <div ng-show="order" class="menu-bar dialog-menu light-green " style="margin-left:-5px;margin-top:0" ng-if="$root.SessionProperties.IsCalledFromHB != true">
        <ul id="menu" class="dialog-menu">
            <li class="root-menu-item-5 " ng-show="order.Quality!=undefined && order.Quality !=31 && order.Quality !=30 && order.Quality !=32 && order.Quality !=40 && order.Quality !=41 && order.Quality !=6 && order.Quality !=50" ng-controller="PopUpCtrl" ng-click="params={removableorder:order};openWindow('/RemovalOrder/RemovalOrder','Հրաժարման հայտ','removalOrder')">
                <span id="h-menu-item-5"><img id="h-menu-icon-5" class="h-menu-icon closeAccountButton">Հրաժարման հայտ</span>
            </li>
        </ul>
    </div>

    <div ng-show="order" class="product-details bhoechie-tab-content" style="min-width:500px;padding-left:10px">


        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Հայտի համար</div>
            <div class="product-detail-cell product-detail-value">{{order.Id}}</div>
        </div>

        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Լիազորագրի տեսակ</div>
            <div class="product-detail-cell product-detail-value">{{order.Credential.CredentialTypeDescription}}</div>
        </div>

        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Համար</div>
            <div class="product-detail-cell product-detail-value">{{order.Credential.CredentialNumber}}</div>
        </div>

        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Մուտքագրման ա/թ</div>
            <div class="product-detail-cell product-detail-value">{{order.RegistrationDateString}}</div>
        </div>

        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Սկիզբ</div>
            <div class="product-detail-cell product-detail-value">{{order.Credential.StartDateToString}}</div>
        </div>

        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Վերջ</div>
            <div class="product-detail-cell product-detail-value">{{order.Credential.EndDateToString}}</div>
        </div>

        <div class="container">
            <div class="panel-body col-sm-4">
                <table>
                    <tr>
                        <td>
                            <table>
                                <thead>
                                    <tr class="top">
                                        <th class="col-sm-4" style="text-align:center">Հաճախորդի համար</th>
                                        <th class="col-sm-5" ng-show="order.Credential.CredentialType==0 || order.Credential.CredentialType==1" style="text-align:center">Աշխատակից է</th>
                                        <th class="col-sm-3" ng-show="order.Credential.CredentialType==1" style="text-align:center">Կարգ</th>
                                    </tr>
                                </thead>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="scroll-div">
                                <table class="table table-condensed table-hover" style="background-color:white">
                                    <tbody>
                                        <tr style="height: 40px" ng-repeat="assignee in order.Credential.AssigneeList" ng-class="{'selected':$index == selectedRowAssignee}" ng-click="setClickedRowAssignee($index)">
                                            <td class="col-sm-4" style="text-align:center">{{assignee.CustomerNumber}} {{assignee.AssigneeFirstName}} {{assignee.AssigneeLastName}} {{assignee.AssigneeMiddleName}}</td>
                                            <td class="col-sm-5" ng-show="order.Credential.CredentialType==0 || order.Credential.CredentialType==1" style="text-align:center">
                                                <div class="checkbox checkbox-success" style="text-align:center">
                                                    <input type="checkbox" disabled="disabled" ng-model="assignee.IsEmployee" ng-true-value="1" ng-false-value="0" id="opTypeAllAccount{{assignee.CustomerNumber}}" value="option2" aria-label="Single checkbox One">
                                                    <label for="opTypeAllAccount{{assignee.CustomerNumber}}"></label>
                                                </div>
                                            </td>
                                            <td class="col-sm-3" ng-show="order.Credential.CredentialType==1">
                                                {{assignee.SignatureType == 1 ? "I կարգ" : (assignee.SignatureType == 2 ? "II կարգ" : "-")}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="panel-body col-sm-2">
                <table>
                    <tr>
                        <td>
                            <table style="background-color:white">
                                <thead>
                                    <tr class="top">
                                        <th style="text-align:center">Գործողության խումբ</th>
                                    </tr>
                                </thead>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="scroll-div">
                                <table class="table table-condensed table-hover" style="background-color:white;border-color:#A6A6B1">
                                    <tbody>
                                        <tr ng-repeat="opGroup in order.Credential.AssigneeList[selectedRowAssignee].OperationGroupList" ng-class="{'selected':$index == selectedRowAssigneeOpGroup}" ng-click="setClickedRowAssigneeOpGroup($index)">
                                            <td style="text-align:left">
                                                <div>
                                                    <label>{{::opGroup.Description}}</label>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="panel-body col-sm-4">

                <table>
                    <tr>
                        <td>
                            <table>
                                <thead>
                                    <tr class="top">
                                        <th class="col-sm-8" style="text-align:center">Գործողության տեսակ</th>
                                        <th class="col-sm-4" style="text-align:center">Բոլոր հաշիվները</th>
                                    </tr>
                                </thead>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="scroll-div">
                                <table class="table table-condensed table-hover" style="background-color:white">
                                    <tbody>
                                        <tr ng-repeat="opType in order.Credential.AssigneeList[selectedRowAssignee].OperationList" ng-if="opType.GroupId==selectedGroupId" ng-class="{'selected':$index == selectedRowAssigneeOperation}" ng-click="setClickedRowAssigneeOperation($index)">
                                            <td class="col-sm-8" style=" text-align:left; vertical-align:middle">
                                                <div>
                                                    <label>{{::opType.OperationTypeDescription}}</label>
                                                </div>
                                            </td>
                                            <td class="col-sm-4" style="vertical-align:middle;text-align:center">
                                                <div class="checkbox checkbox-primary">
                                                    <input type="checkbox" ng-model="opType.AllAccounts" ng-change="ChangeAllAccount($index)" ng-disabled="!opType.Checked" id="opTypeAllAccount{{opType.OperationType}}" value="option2" aria-label="Single checkbox One">
                                                    <label for="opTypeAllAccount{{opType.OperationType}}"></label>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="panel-body col-sm-2">
                <table>
                    <tr>
                        <td>
                            <table>
                                <thead>
                                    <tr class="top">
                                        <th style="text-align:center">Հաշվի համար</th>
                                    </tr>
                                </thead>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="scroll-div">
                                <table class="table table-condensed table-hover" style="background-color:white">
                                    <tbody>
                                        <tr ng-repeat="account in order.Credential.AssigneeList[selectedRowAssignee].OperationList[selectedRowAssigneeOperation].AccountList">
                                            <td style="text-align:center">
                                                <div>
                                                    <label>{{::account.AccountNumber}} {{::account.Currency}}</label>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>

        </div>




        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Կարգավիճակ</div>
            <div ng-if="order.Quality==30" class="product-detail-cell product-detail-value greenStyle">{{order.QualityDescription}}</div>
            <div ng-if="order.Quality==31" class="product-detail-cell product-detail-value redStyle">{{order.QualityDescription}}</div>
            <div ng-if="order.Quality!=31 && order.Quality!=30" class="product-detail-cell product-detail-value">{{order.QualityDescription}}</div>
        </div>

        <div ng-if="order.Quality==31" class="">
            <div ng-controller="OrderCtrl" ng-init="getOrderRejectHistory(selectedOrderId)" class="" style="clear:both;color:#6F6A6A;font-weight:bold">Մերժման պատճառ`</div>
            <div class="redStyle">&nbsp;&nbsp;&nbsp;{{ rejectHistory.ReasonDescription }}</div>
        </div>
    </div>
    <div style="clear:both;color:#6F6A6A;font-weight:bold;margin-left:10px" ng-if="$root.SessionProperties.IsCalledFromHB != true">Կատարվել է {{selectedSourceDescription}}-ի միջոցով</div>
</form>













