<div>
    <style>
        .modal-content {
            width: 900px;
        }

        .form-group-search {
            margin-bottom: 5px;
        }



        .resultRow {
            font-size: 10pt;
            color: black;
            font-weight: normal;
        }

        .resultRowAddInf {
            font-size: 9pt;
        }

        .rowWithFullWidth {
            margin-left: 0 !important;
            margin-right: 0 !important;
        }

        .tableHeader {
            font-size: 9pt;
            height: 25px;
        }

        #serachIntTransfer .product-container-header > th {
            font-weight: inherit;
        }

        #serachIntTransfer .div-table-content {
            margin-top: -7px;
            border-color: #CFDAD0 !important;
        }


        #serachIntTransfer .popup_wrapper_top {
            margin-top: -10px !important;
        }
    </style>
    <div id="serachIntTransfer">
        <div class="col-sm-12 popup_wrapper_top" style="height:35px; margin-bottom:10px;">
            <div style="margin-top:-10px">Միջազգային փոխանցումների որոնում</div>
            <img src="/Content/images/close_pop.png " ng-click="closeInternationalTransfersModal()" style="margin-top:-10px;" alt="">
        </div>


        <div class="col-sm-12" style="padding:0;margin-bottom:15px">
            <div class="col-sm-3" style="display:inline-block; padding:5px">
                <label class="tab_title">Ամսաթիվ</label>
                <div>
                    <input type="date" ng-model="searchParams.DateOfTransfer" name="DateOfTransfer" class="form-control  " />
                </div>
            </div>
            <div class="col-sm-3" style="display:inline-block; padding:5px">
                <label class="tab_title">Փոխանցողի  տվյալներ</label>
                <div>
                    <input type="text" ng-model="searchParams.SenderName" name="SenderName" class="form-control  " />
                </div>
            </div>
            <div class="col-sm-3" style="display:inline-block; padding:5px">
                <label class="tab_title">Փոխանցողի հաշիվ</label>
                <div class="input-group">
                    <input type="text" style="max-width: 370px" ng-model="searchParams.SenderAccNumber" name="SenderAccNumber" class="form-control  " />
                </div>
            </div>
            <div class="col-sm-3" style="display:inline-block; padding:5px">
                <label class="tab_title">Ստացողի  տվյալներ</label>
                <div>
                    <input type="text" style="max-width :370px" ng-model="searchParams.ReceiverName" name="ReceiverName" class="form-control  " />
                </div>
            </div>
        </div>


        <div style="margin:5px">
            <button type="button" class="btn btn-primary" ng-click="btnFindClick();" title="Որոնել"><span class="glyphicon glyphicon-search"></span>&nbsp;Որոնել</button>
        </div>
        <div style="overflow:auto; margin:5px; margin-bottom:0px; margin-top:0px; ">
            <table class="table table-condensed" style="margin-bottom:0;">
                <thead>
                    <tr  class="product-container-header">
                        <th class="col-sm-2" style="text-align:center;">Փոխանցման ամսաթիվ</th>
                        <th class="col-sm-2" style="text-align:center;">Փոխանցողի  տվյալներ</th>
                        <th class="col-sm-2" style="text-align:center;">Ստացողի  տվյալներ</th>
                        <th class="col-sm-2" style="text-align:center;">Ստացողի հաշիվ</th>
                        <th class="col-sm-2" style="text-align:center;">Ստացող բանկ</th>
                        <th class="col-sm-2" style="text-align:center;">Փոխանցման նկարագրություն</th>


                    </tr>
                </thead>
            </table>
            <div class="div-table-content " style="max-height:200px; min-height:200px;border: grey 1px solid;  ">
                <table class="table table-condensed table-hover" style="background-color:white">
                    <tbody>
                        <tr ng-if="internationalTransfersList.length!=0" ng-repeat="transfer in internationalTransfersList" style="font-size:8pt; cursor:pointer;" ng-class="{'selected':$index == selectedRow} " ng-click="setClickedRow($index)" ng-dblclick="selectInternationalTransfer()">
                            <td>

                                <div class="col-sm-2" style="padding:1px!important">
                                    {{ ::transfer.DateOfTransfer | mydate | date: 'dd/MM/yyyy' }}
                                </div>
                                <div class="col-sm-2 " style="padding:1px!important">
                                    {{ ::transfer.SenderName.substring(0,17) }}
                                </div>
                                <div class="col-sm-2 " style="padding:1px!important">
                                    {{ ::transfer.ReceiverName.substring(0,17) }}
                                </div>
                                <div class="col-sm-2 " style="padding:1px!important">
                                    {{ ::transfer.ReceiverAccount.substring(0,17) }}
                                </div>
                                <div class="col-sm-2 " style="padding:0px!important">
                                    {{ ::transfer.ReceiverBank.substring(0,17) }}
                                </div>
                                <div class="col-sm-2 " style="padding:0px!important">
                                    {{ ::transfer.DescriptionForPayment.substring(0,17) }}
                                </div>

                            </td>
                        </tr>
                        <tr ng-if="internationalTransfersList.length==0">
                            <td colspan="5" style="text-align:center">Ցուցադրման ենթակա տվյալներ չկան</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div style="margin-left:12px;">
            Ընդամենը` {{totalRows}}
        </div>
        <div uib-pagination style="margin-left:10px;margin-top:5px;"
                    ng-model="currentPage"
                    items-per-page="numPerPage"
                    total-items="totalRows"
                    max-size="maxSize"
                    boundary-links="true"
                    previous-text="‹"
                    next-text="›"
                    first-text="«"
                    last-text="»">
        </div>
    </div>
</div>