@*Davit Pos*@

<style type="text/css">
    #newPosLocationForm .ui-widget input {
        font-family: 'webly_semibold';
    }

    #newPosLocationForm {
        min-width: 570px;
    }

    .form-group input, .form-group select {
        height: 34px;
    }

    .form-horizontal {
        max-width: 902px;
    }

    .font-weight-normal label {
        font-weight: normal !important;
    }
</style>

@*newPosLocationForm.$valid &&*@
<div id="plasticCardLoad" class="overlay hidden">
    <img class="loader-image non-selectable" src="../../Content/Images/invisible.png" />
</div>
<form ng-controller="PosLocationCtrl" name="newPosLocationForm" id="newPosLocationForm" ng-init="GetCustomer()" role="form" class="form-horizontal" novalidate prevent-enter-submit labels-required>
    <div id="cardorder_menu" class="menu-bar dialog-menu light-green">
        <ul id="menu" class="dialog-menu">
            <li class="root-menu-item-4 " ng-click="newPosLocationForm.$setSubmitted();newPosLocationForm.$valid && saveNewPosTerminalOrder()">
                <span id="h-menu-item-4"><img id="h-menu-icon-4" class="submitButton h-menu-icon">Պահպանել</span>
            </li>
            <li class="root-menu-item-5 " onclick="CloseBPDialog('NewPosApplication')">
                <span id="h-menu-item-5"><img id="h-menu-icon-5" class="h-menu-icon cancelButton">Հրաժարվել</span>
            </li>
        </ul>
        <div id="right-menu" style="display:none;">
        </div>
    </div>

    <div>
        <div class="col-sm-8">
            <div style="max-width:600px">
                <errors></errors>
            </div>

            <div class="sub_inner form-group">
                <label class="tab_title col-sm-4">Գրանցման ա/թ</label>
                <div class="col-sm-8">
                    <input disabled="disabled" type="date" class="form-control tab_title" style="text-align: left;" id="RegistrationDate" name="RegistrationDate" ng-model="newPosLocationOrder.OperDay" ng-required="">

                </div>
            </div>




            <div class=" form-group" ng-controller="AccountCtrl" ng-if="true">
                <label class="tab_title col-sm-4" for="otherBankAccount">Հաշվեհամար</label>
                <div class="col-sm-8">
                    <div class="row">
                        <div class="input-group" style="display: inline-flex; width: 100%" ng-init="getCurrentAccounts();text='Այլ բանկի հաշիվ';check=1; ">
                            <span id="AccountInit" class="input-group-addon" ng-click="!disable && (check==0?check=1:check=0);newPosLocationOrder.AccountNumber = ''" style="display: inline-block; padding-right: 20px; padding-top: 0px; padding-bottom: 0px;" ng-disabled="disable" title="" data-placement="left" data-toggle="tooltip" data-original-title="{{text}}">
                                <input type="checkbox" aria-label="..." ng-model="check" ng-change="check==0?check=1:check=0;check==1?text='Այլ բանկի հաշիվ':text='Ընթացիկ հաշիվներ';newPosLocationOrder.AccountNumber = ''" ng-disabled="disable" ng-true-value="1" ng-false-value="0">
                            </span>
                            <select ng-model="newPosLocationOrder.AccountNumber"
                                    name="account" id="account" class="form-control" ng-hide="check==0" required>
                                <option value="">Ընտրեք Հաշվեհամարը...</option>
                                <option class="select_options_style" ng-repeat='account in accounts' style="margin-left:25px" value='{{ account.AccountNumber }}'>{{ account.AccountNumber }}</option>
                            </select>
                            <input ng-hide="check==1" onkeypress='return event.charCode >= 48 && event.charCode <= 57 || event.charCode==46' type="text" class="form-control tab_title" style="text-align: left;" id="otherBankAccount" name="otherBankAccount" ng-model="newPosLocationOrder.AccountNumber" placeholder="Լրացրեք այլ բանկի հաշիվը" required>
                        </div>
                    </div>

                    <div class="row">
                        <ng-messages ng-if="newPosLocationForm.$submitted || newPosLocationForm.otherBankAccount.$dirty ||newPosLocationOrder.account.$dirty"
                                     for="newPosLocationForm.otherBankAccount.$error">
                            <ng-message when="required" class="errors">
                                Հաշվեհամարը ընտրված/լրացված չէ
                            </ng-message>
                        </ng-messages>
                    </div>

                </div>
            </div>

            <div class="form-group">
                <label class="tab_title col-sm-4">Հիմական բանկ</label>
                <div class="col-sm-8">
                    <input type="text" name="mainBank" id="mainBank" ng-model="newPosLocationOrder.mainBank" class="form-control" style="text-align:left" ng-maxlength="50" required>

                    <div class="row">
                        <ng-messages ng-if="newPosLocationForm.$submitted  || newPosLocationForm.mainBank.$dirty" for="newPosLocationForm.mainBank.$error">
                            <ng-message when="required" class="errors">
                                Հիմական բանկը ընտրված չէ
                            </ng-message>
                        </ng-messages>
                    </div>

                </div>
            </div>


            <div class="sub_inner form-group">
                <label class="tab_title col-sm-4">Գործ. ոլորտ</label>
                <div class="col-sm-8" ng-init="GetPosTerminalActivitySphere()">
                    @*<input type="text" name="activitySphere" id="activitySphere" ng-model="newPosLocationOrder.activitySphere" class="form-control" style="text-align:left" ng-maxlength="30" required>*@

                    <select ng-model="newPosLocationOrder.activitySphere" name="activitySphere" id="activitySphere" class="form-control" ng-hide="check==0" required>
                        <option value="">Ընտրեք գործ. ոլորտը</option>
                        <option class="select_options_style" ng-repeat='activitySphere in newPosLocationOrder.ActivitySphere' style="margin-left:25px" value='{{ activitySphere }}'>{{  activitySphere }}</option>
                    </select>

                    <div class="row">
                        <ng-messages ng-if="newPosLocationForm.$submitted  || newPosLocationForm.activitySphere.$dirty" for="newPosLocationForm.activitySphere.$error">
                            <ng-message when="required" class="errors">
                                Գործ. ոլորտ ընտրված չէ
                            </ng-message>
                        </ng-messages>
                    </div>

                </div>
            </div>

            <div class="sub_inner form-group" ng-if="newPosLocationOrder.posType == 0">
                <label class="tab_title col-sm-4">Նոր Սերնդ ՀԴՄ</label>
                <div class="col-sm-8">
                    <select class="form-control" ng-model="newPosLocationOrder.newHdm" id="newHdm" name="newHdm" required>
                        <option value="1" style=" margin-left:25px">Այո</option>
                        <option value="0" style=" margin-left:25px">Ոչ</option>
                    </select>

                    <div class="row">
                        <ng-messages ng-if="newPosLocationForm.$submitted  || newPosLocationForm.newHdm.$dirty" for="newPosLocationForm.newHdm.$error">
                            <ng-message when="required" class="errors">
                                Նոր Սերնդ ՀԴՄ ընտրված չէ
                            </ng-message>
                        </ng-messages>
                    </div>

                </div>
            </div>


            <div class="sub_inner form-group" ng-if="newPosLocationOrder.posType==0">
                <label class="tab_title col-sm-4">Տերմինալի տեսակը</label>
                <div class="col-sm-8">
                    <select class="form-control" ng-model="newPosLocationOrder.terminalType" id="terminalType" name="terminalType" required>
                        <option value="0" style=" margin-left:25px">ՀԴՄ</option>
                        <option value="1" style=" margin-left:25px">POS</option>
                        <option value="2" style=" margin-left:25px">softPOS</option>
                    </select>

                    <div class="row">
                        <ng-messages ng-if="newPosLocationForm.$submitted  || newPosLocationForm.terminalType.$dirty" for="newPosLocationForm.terminalType.$error">
                            <ng-message when="required" class="errors">
                                Տերմինալի տեսակը ընտրված չէ
                            </ng-message>
                        </ng-messages>
                    </div>

                </div>
            </div>

            <div class="sub_inner form-group" ng-if="newPosLocationOrder.posType==1">
                <label class="tab_title col-sm-4">Տերմինալի տեսակը</label>
                <div class="col-sm-8">
                    <select class="form-control">
                        <option value="3" style=" margin-left:25px" selected>vPOS</option>
                    </select>
                </div>
            </div>


            <div class="sub_inner form-group">
                <label class="tab_title col-sm-4">Քանակ</label>
                <div class="col-sm-8">
                    <input type="number" name="posCount" id="posCount" ng-model="newPosLocationOrder.posCount" required class="form-control" style="text-align:left" ng-maxlength="30">

                    <div class="row">
                        <ng-messages ng-if="newPosLocationForm.$submitted  || newPosLocationForm.posCount.$dirty" for="newPosLocationForm.posCount.$error">
                            <ng-message when="required" class="errors">
                                Քանակ դաշտը ընտրված չէ
                            </ng-message>
                        </ng-messages>
                    </div>

                </div>
            </div>

            <div class="sub_inner form-group">
                <label class="tab_title col-sm-4">ՀԴՄ սերիալ համ.</label>
                <div class="col-sm-8">
                    <input type="text" name="posSerialNumber" id="posSerialNumber" ng-model="newPosLocationOrder.posSerialNumber" required class="form-control" style="text-align:left" ng-maxlength="30">

                    <div class="row">
                        <ng-messages ng-if="newPosLocationForm.$submitted  || newPosLocationForm.posSerialNumber.$dirty" for="newPosLocationForm.posSerialNumber.$error">
                            <ng-message when="required" class="errors">
                                ՀԴՄ սերիալ համ.ընտրված չէ
                            </ng-message>
                        </ng-messages>
                    </div>

                </div>
            </div>


            <div class="sub_inner form-group" ng-if="newPosLocationOrder.posType == 0">
                <label class="tab_title col-sm-4">Վճարում առանց քարտի ներկ. </label>
                <div class="col-sm-8">
                    <select class="form-control" ng-model="newPosLocationOrder.payWithoutCard">
                        <option ng-value="1" style=" margin-left:25px">Այո</option>
                        <option ng-value="0" selected style=" margin-left:25px">Ոչ</option>
                    </select>
                </div>
            </div>

            <div class="sub_inner form-group" ng-if="newPosLocationOrder.payWithoutCard == 1">
                <label class="tab_title col-sm-4" for="currency">Անհրաժեշ. հիմնավորում</label>
                <div class="col-sm-8">
                    <textarea type="text" name="necessity" id="necessity" ng-model="newPosLocationOrder.necessity" required class="form-control" style="text-align:left" maxlength="100"></textarea>

                    <div class="row">
                        <ng-messages ng-if="newPosLocationForm.$submitted  || newPosLocationForm.necessity.$dirty" for="newPosLocationForm.necessity.$error">
                            <ng-message when="required" class="errors">
                                Անհրաժեշ. հիմնավորումը ընտրված չէ
                            </ng-message>
                        </ng-messages>
                    </div>

                </div>
            </div>

            <div class="form-group d-flex-align-center">
                <label class="tab_title col-sm-5" for="StockToolIds"> Քարտերի տեսակներ </label>
                <div class="col-sm-3 pl-0">
                    <div class="row" style="width:auto !important">

                        <span style="margin-left: 117%; margin-bottom: 50px; position: absolute !important "> Local</span> <span style="margin-left: 175% !important "> Int.</span>

                        <div class="input-group col-sm-12" ng-repeat="item in cardSystem" id="cardType" name="cardType" required>
                            <label class="tab_title col-md-10" style="font-family:'Arial Armenian'">{{ item.description }}</label>
                            <input type="checkbox" id="cardType" name="cardType" ng-true-value="true" ng-false-value="false" ng-model="isChecked" ng-click="selectCardSystem(item.id, isChecked, fee, feeInt)">
                            <input ng-value="item.fee" ng-model="fee" style="display: inline-block; height: 18px; width: 40px !important; margin-left: 20px; position: absolute; margin-top: 10px !important;" ng-disabled="isChecked == 1">
                            <input ng-value="item.feeInt" ng-model="feeInt" style="display: inline-block; height: 18px; width: 40px !important; margin-left: 80px; position: absolute; margin-top: 10px !important;" ng-disabled="isChecked == 1">
                        </div>

                    </div>
                </div>
            </div>

            <br />

        </div>

    </div>
</form>


