@{
    Layout = null;
}
<style type="text/css">
    #HBServletOrderForm .ui-widget input {
        font-family: 'webly_semibold';
    }
</style>

<div id="hbServletLoad" class="overlay hidden">
    <img class="loader-image non-selectable" src="../../Content/Images/invisible.png" />
</div>
<form ng-controller="hbServletOrderCtrl" name="HBServletOrderForm" style="min-width:550px" id="HBServletOrderForm" role="form" class="form-horizontal" prevent-enter-submit novalidate labels-required>
    <div id="receivecheque_menu" class="menu-bar dialog-menu light-green">
        <ul id="menu" class="dialog-menu">
            <li class="root-menu-item-4 " ng-click="HBServletOrderForm.$setSubmitted();HBServletOrderForm.$valid && saveHBServletOrder();">
                <span id="h-menu-item-4"><img id="h-menu-icon-4" class="submitButton h-menu-icon">Պահպանել</span>
            </li>
            <li class="root-menu-item-5 " ng-click="closeDialog()">
                <span id="h-menu-item-5"><img id="h-menu-icon-5" class="h-menu-icon cancelButton">Հրաժարվել</span>
            </li>
        </ul>
        <div id="right-menu" style="display:none;">
        </div>
    </div>
    <div class="col-sm-12" style="padding-left:10px">
        <div style="max-width:540px;">
            <errors></errors>
        </div>
        <div class="form-group">
            <label class="tab_title col-sm-5" for="RegistrationDate">Մուտքագրման ա/թ</label>
            <div class="col-sm-6 row ">
                <div class="row multiple_columns col-sm-8">
                    <input type="date" disabled="disabled" class="form-control tab_title unstyled" id="RegistrationDate" name="RegistrationDate" ng-model="order.RegistrationDate" style="text-align:left;" required>
                </div>
            </div>
        </div>  
        
        <section class="panel panel-warning" ng-show="order.Type==158">
            <header class="panel-heading">
                <span class="panel-title" style="font-size: 14px;"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp;Ուշադրություն</span>
            </header>
            <div class="panel-body">
                <span>Տվյալ PIN կոդը սկզբնական է և գործում է միայն այն դեպքում, երբ հաճախորդը չի փոխել այն։<br /> Խնդրում ենք ճշտել հաճախորդի հետ:</span>
            </div>
        </section>
    </div>
</form>
