
@{
    Layout = null;
}
<form ng-show="false">
    <div class="menu-bar dialog-menu light-green">
    </div>
    <div>
    </div>
</form>

<form ng-controller="LoanMonitoringConclusionCtrl" ng-init="getLoanMonitoringConclusion(monitoringId,false)" >
    <loading-control scopevariable="selectedConclusion.MonitoringId"></loading-control>
    
    <div ng-show="selectedConclusion"  class="product-details bhoechie-tab-content" style="max-width:800px;padding-left:10px">
        

        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Մոնիթորինգի ա/թ</div>
            <div class="product-detail-cell product-detail-value">{{selectedConclusion.MonitoringDate| mydate | date: 'dd/MM/yyyy'}}</div>
        </div>
       
        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Իրականացրած աշխատակից</div>
            <div class="product-detail-cell product-detail-value">{{selectedConclusion.MonitoringSetNumberDescription}}</div>
        </div>
       
        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Եզրակացություն</div>
            <div class="product-detail-cell product-detail-value">{{selectedConclusion.ConclusionDescription}}</div>
        </div>
       
        <div  class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Հիմնական գործոններ</div>
            <div class="product-detail-cell product-detail-value">{{selectedConclusion.MonitoringFactorsDescription}}</div>
        </div>
       
        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Մուտքագրման ա/թ</div>
            <div class="product-detail-cell product-detail-value">{{selectedConclusion.RegistrationDate| mydate | date: 'dd/MM/yyyy'}}</div>
        </div>
        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Հասույթները նվազել են կամ ակնկալվում է դրանց էական նվազում</div>
            <div class="product-detail-cell product-detail-value"><span ng-if="selectedConclusion.ProfitReduced==true">Այո</span><span ng-if="selectedConclusion.ProfitReduced==false">Ոչ</span></div>
        </div>
            <div ng-if="selectedConclusion.ProfitReduced==true" class="product-detail-row">
                <div class="product-detail-cell product-detail-lable">Հասույթների անկման տեսակ</div>
                <div class="product-detail-cell product-detail-value">{{selectedConclusion.ProfitReduceTypeDescritpion}}</div>
            </div>
            <div ng-if="selectedConclusion.ProfitReduced==true" class="product-detail-row">
                <div class="product-detail-cell product-detail-lable">Նվազման չափ</div>
                <div class="product-detail-cell product-detail-value">{{selectedConclusion.ProfitReductionSize*100}}%</div>
            </div>
        
        <div class="product-detail-row" ng-if="selectedConclusion.ProvisionQualityConclusionsDescription!=null">
            <div class="product-detail-cell product-detail-lable">Գրավի վիճակի վերաբերյալ եզրակացություն</div>
            <div class="product-detail-cell product-detail-value">{{selectedConclusion.ProvisionQualityConclusionsDescription}}</div>
        </div>
        <div class="product-detail-row" ng-if="selectedConclusion.ProvisionCostConclusionDescription!=null">
            <div class="product-detail-cell product-detail-lable">Գրավի շուկայական արժեքի վերաբերյալ եզրակացություն</div>
            <div class="product-detail-cell product-detail-value">{{selectedConclusion.ProvisionCostConclusionDescription}}</div>
        </div>
        <div class="product-detail-row" ng-if="selectedConclusion.ProvisionCoverCoefficient!=null">
            <div class="product-detail-cell product-detail-lable">Գրավի ծածկման գործակից</div>
            <div class="product-detail-cell product-detail-value">{{selectedConclusion.ProvisionCoverCoefficient}}%</div>
        </div>
        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Մեկնաբանություններ</div>
            <div class="product-detail-cell product-detail-value">{{selectedConclusion.Comments}}</div>
        </div>

        <div class="product-detail-row">
            <div class="product-detail-cell product-detail-lable">Ընդգրկվող պարտավորություններ</div>
            <div  class="product-detail-cell product-detail-value"> <span ng-if="linkedLoan.Linked==true" ng-repeat="linkedLoan in selectedConclusion.LinkedMonitoringLoans"> {{::linkedLoan.CustomerDescription}}  {{::linkedLoan.StartCapital}} {{::linkedLoan.Currency}}<br /></span></div>
        </div>
        
    </div>
</form>
